<script type="text/javascript">

$(document).ready(function () {
    // Setando as mascaras de DOB
    $('#subscriber_dob').mask('00/00/0000');

    // // Setando a mascara de CEP
    $('#subscriber_address_postalCode').mask('00000-000');

    // // Se estiver com algum estado selecionado 
    $("#next_due_date").mask('00-00-0000 00:00:00');

    getUFId($("#subscriber_address_state").val(), '{{ subscriber.address.city }}');
})


function getUFId(UF, localidade){
    var url = 'https://servicodados.ibge.gov.br/api/v1/localidades/estados'

    const request = new XMLHttpRequest();
    request.open('GET', url, true);

    request.onload = function() {
    if (request.status === 200) {
        const data = JSON.parse(request.responseText);
        let option;
        for (let i = 0; i < data.length; i++) {
            if(data[i].sigla === UF) {
                populateCityDropdown(data[i].id, localidade);
                break;
            }
        }
    } else {
        // Reached the server, but it returned an error
    }   
    }

    request.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + url);
    };

    request.send();
}

function populateCityDropdown(UFId, localidade) {
    let dropdown = document.getElementById('subscriber_address_city');

    const url = 'https://servicodados.ibge.gov.br/api/v1/localidades/estados/' + UFId + '/municipios';

    const request = new XMLHttpRequest();
    request.open('GET', url, true);

    request.onload = function() {
    if (request.status === 200) {
        const data = JSON.parse(request.responseText);
        let option;
        $('#subscriber_address_city').empty();
        for (let i = 0; i < data.length; i++) {
            option = document.createElement('option');
            option.text = data[i].nome;
            option.value = data[i].nome;
            dropdown.add(option);
        }
        $("#subscriber_address_city").val(localidade);
    } else {
        // Reached the server, but it returned an error
    }   
    }

    request.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + url);
    };

    request.send();
}
</script>