{% extends 'BackBundle::base.html.twig' %}

{% block assinaturas %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block assinaturasplanos %}
    <li class="active open">
{% endblock %}

{% block container %}
    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Assinaturas</a></li>
            <li class="active"><a href="javascript:;">Planos</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Planos</h2>
    </div>

    {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('list_plans', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <button type="submit" class="btn btn-warning">Atualizar</button> 
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar novo plano</h4>
                        <div class="panel-options">
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.name, "Nome do plano", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.name) }}
                            <div class="controls">
                                {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.charge, "Tipo de cobrança", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.charge) }}
                            <div class="controls">
                                {{ form_widget(edit_form.charge, { 'attr': {'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8" id="eduzz-code" style="display: none">
                            {{ form_label(edit_form.eduzzCode, "Código do Eduzz", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.eduzzCode) }}
                            <div class="controls">
                                {{ form_widget(edit_form.eduzzCode, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.period, "Periodicidade da cobrança", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.period) }}
                            <div class="controls">
                                {{ form_widget(edit_form.period, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.ammountPerPayment, "Preço por mês", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.ammountPerPayment) }}
                            <div class="controls">
                                {{ form_widget(edit_form.ammountPerPayment, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.expirationValue, "Unidades de expiração", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.expirationValue) }}
                            <div class="controls">
                                {{ form_widget(edit_form.expirationValue, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.unit, "Tempo das unidades", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.unit) }}
                            <div class="controls">
                                {{ form_widget(edit_form.unit, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.recommended, "Plano recomendado?", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.recommended) }}
                            <div class="controls">
                                {{ form_widget(edit_form.recommended, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(edit_form.details, "Detalhes sobre o plano", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.details) }}
                            <div class="controls">
                                {{ form_widget(edit_form.details, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}

    <div class="container-fluid-md"><br><br></div>

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function() {
                if($('#plan_charge').val() === 'EDUZZ')
                    $('#eduzz-code').show();
            })
        </script>
        <script>
            $('#plan_charge').change(function() {
                if($('#plan_charge').val() === 'EDUZZ')
                    $('#eduzz-code').show();
                else
                    $('#eduzz-code').hide();
            })
        </script>
    {% endblock %}
{% endblock %}

