{% extends 'BackBundle::base.html.twig' %}

{% block assinaturas %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block assinaturasassinantes %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Assinaturas</a></li>
            <li class="active"><a href="javascript:;">Assinantes</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Assinantes</h2>
    </div>

    {{ form_start(edit_form, {'action': path('subscriber_edit', { 'id': subscriber.id }) }) }}
    <div class="container-fluid-md">
        <a href="{{ path('list_subscribers', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <button type="submit" class="btn btn-warning">Atualizar</button>    
    </div>

    <div class="container-fluid-md"><br><br></div>

    
    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Informações de cadastro</h4>
                        <div class="panel-options">
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.name, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.name) }}
                            <div class="controls">
                                {{ form_widget(edit_form.name, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.email, "Email", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.email) }}
                            <div class="controls">
                                {{ form_widget(edit_form.email, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.cpf, "CPF", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.cpf) }}
                            <div class="controls">
                                {{ form_widget(edit_form.cpf, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.phone, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.phone) }}
                            <div class="controls">
                                {{ form_widget(edit_form.phone, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.gender, "Gênero", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.gender) }}
                            <div class="controls">
                                {{ form_widget(edit_form.gender, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.dob, "Data de nascimento", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.dob) }}
                            <div class="controls">
                                {{ form_widget(edit_form.dob, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(edit_form.address.street, "Rua", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address.street) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address.street, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            {{ form_label(edit_form.address.number, "Número", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address.number) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address.number, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            {{ form_label(edit_form.address.state, "Estado", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address.state) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address.state, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            {{ form_label(edit_form.address.complement, "Complemento", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address.complement) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address.complement, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            {{ form_label(edit_form.address.district, "Bairro", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address.district) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address.district, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            {{ form_label(edit_form.address.postalCode, "CEP", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address.postalCode) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address.postalCode, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            {{ form_label(edit_form.address.city, "Cidade", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address.city) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address.city, { 'attr': { 'class': 'form-control' }, 'value': subscriber.address.city }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.recoverPassCode, "Código de recuperação", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.recoverPassCode) }}
                            <div class="controls">
                                {{ form_widget(edit_form.recoverPassCode, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="plan">Plano Escolhido</label>
                            <div class="controls">
                                <select id="plan" name="plan" class="form-control">
                                    {% for plan in plans %}
                                        {% if plan.id == subscriber.getLastSubscription().getPlan().id %}
                                            <option value="{{ plan.id }}" selected="selected">{{ plan.name }}</option>
                                        {% else %}
                                            <option value="{{ plan.id }}">{{ plan.name }}</option>  
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for subscription in subscriber.subscriptions %}
        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Assinatura - {{ subscription.plan.name }}</h4>
                            <div class="panel-options">
                            </div>
                        </div>
                        <div class="panel-body">

                            <input type="hidden" value="{{ subscription.id }}" />

                            <div class="form-group col-md-4">
                                <label class="control-label" for="subscription-Active">Assinatura ativa?</label>
                                <div class="controls">
                                    {% if subscription.active %}
                                        <input type="text" class="form-control" id="subscription-Active" placeholder="Ativada" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" id="subscription-Active" placeholder="Desativada" disabled>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="controls">
                                    {% if subscription.nextDueDate != null %}
                                        <div class="controls">
                                            <label>Vencimento da assinatura</label>
                                            <input class="form-control" name="next_due_date{{ subscription.reference }}" type="text" id="next_due_date" 
                                                value="{{ subscription.nextDueDate|date('d/m/Y h:m:s') }}"/>
                                        </div>
                                    {% else %}
                                        <div class="controls">
                                            <label>Vencimento da assinatura</label>
                                            <input class="form-control" name="next_due_date{{ subscription.reference }}" type="text" id="next_due_date" placeholder="Não existe validade"/>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            {% if subscription.type == 'pagseguro_type' %}
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="subscription-pagSeguroSubCode">Código do PagSeguro</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="subscription-pagSeguroSubCode" placeholder="{{ subscription.pagSeguroSubCode }}" disabled>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group col-md-8">
                                    <div class="controls">
                                        <label>Código de fatura eduzz</label>
                                        <input class="form-control" name="eduzzFatCode" type="text" id="eduzzFatCode"
                                            value="{{ subscription.eduzzFatCode }}"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-8">
                                    <div class="controls">
                                        <label>Código de cliente eduzz</label>
                                        <input class="form-control" name="eduzzCusCode" type="text" id="eduzzCusCode"
                                            value="{{ subscription.eduzzCusCode }}"/>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="form-group col-md-4">
                                <label class="control-label" for="subscription-reference">Código de referência</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="subscription-reference" placeholder="{{ subscription.reference }}" disabled>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ form_end(edit_form) }}


    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('back/js/jquery.min.js') }}"></script>
        <script src="{{ asset('back/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('back/js/jquery.navgoco.js') }}"></script>
        <script src="{{ asset('back/js/main.js') }}"></script>
        <script src="{{ asset('back/js/jquery.sparkline.js') }}"></script>
        <script src="{{ asset('back/js/demo.js') }}"></script>
        <script src="{{ asset('front/scripts/jquery.mask.min.js') }}"></script>
        <script src="https://use.fontawesome.com/8ec6b22319.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {{ include('BackBundle:Subscriptions:_editUtils.html.twig') }}
    {% endblock %}
