{% extends 'BackBundle::base.html.twig' %}

{% block assinaturas %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block assinaturasplanos %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Assinaturas</a></li>
                <li class="active"><a href="javascript:;">Planos</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Planos</h2>
        </div>

        <div class="container-fluid-md">
            <a href="{{ path('new_plan') }}" class="btn btn-primary">Novo Plano</a>
        </div>

        <div class="container-fluid-md"><br><br></div>

        <div class="container-fluid-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Planos cadastrados</h4>
    
                    <div class="panel-options">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="20%">Nome</th>
                            <th width="30%">Detalhes</th>
                            <th width="20%">Periodicidade</th>
                            <th width="20%">Valor</th>
                            <th width="10%">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for plan in plans %}
                            <tr>
                                <td>{{ plan.name }}</td>
                                <td>{{ plan.details }}</td>
                                <td>{{ plan.getLabel() }}</td>
                                <td>R$ {{ plan.ammountPerPayment }}</td>
                                <td>
                                    <a href="{{ path('plan_show', { 'id': plan.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <div class="container-fluid-md">
            <div class="text-center">
                <ul class="pagination">
                    {% if hits > 1 %}
                        {% if hits <= 10 %}
                            {% for i in range(1,  hits ) %}
                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% if page <= 10 %}
                                {% for i in range(1,  10 ) %}
                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                {% endfor %}
                                <li><a id="paginador" href="#" onclick="paginar(event, 11)"> > </a></li>
                            {% else %}

                                {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                                <li><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"> < </a></li>

                                {% set inicio = voltar + 10 %}
                                {% set fim = voltar + 19 %}

                                {% set acabou = false %}
                                {% for i in range(inicio, fim) %}
                                    {% if i <= hits %}
                                        <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                    {% else %}
                                        {% set acabou = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if acabou == false %}
                                    {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                    <li><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"> > </a></li>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid-md"><br><br></div>
        </div>
    
        <div class="container-fluid-md"><br><br></div>

        {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function paginar(event, i) {
            event.preventDefault();
            var path = "{{ path('list_plans', { 'page': '0' } ) }}"
            var pathWithPage = path.replace('0', i);
            window.location = pathWithPage;
        }
    </script>
{% endblock %}