{% extends 'BackBundle::base.html.twig' %}

{% block assinaturas %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block assinaturasassinantes %}
        <li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Assinaturas</a></li>
                <li class="active"><a href="javascript:;">Assinantes</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Assinantes</h2>
        </div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Filtros</h4>
                            <div class="panel-options">
                                <a id="collapse" href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ form_start(filter_form, { 'attr': { 'role':'form' } }) }}
                                
                            <div class="form-group col-sm-6">
                                {{ form_label(filter_form.name, "Nome", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(filter_form.name) }}
                                <div class="controls">
                                    {{ form_widget(filter_form.name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                {{ form_label(filter_form.email, "E-mail", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(filter_form.email) }}
                                <div class="controls">
                                    {{ form_widget(filter_form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <button class="btn btn-success" type="submit" style="margin-top: 22px;">Filtrar</button>
                            </div>

                            {{ form_end(filter_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="container-fluid-md"><br><br></div>

        <div class="container-fluid-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Assinantes cadastrados</h4>
    
                    <div class="panel-options">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="20%">Nome</th>
                            <th width="30%">E-mail</th>
                            <th width="30%">CPF</th>
                            <th width="20%">Assinatura ativa?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subscriber in subscribers %}
                            <tr>
                                <td>{{ subscriber.name }}</td>
                                <td>{{ subscriber.email }}</td>
                                <td>{{ subscriber.cpf }}</td>
                                {% if subscriber.hasActiveSubscription() %}
                                    <td>
                                        <div class="activate-sub">Ativa</div>
                                    </td>
                                {% else %}
                                    <td>
                                        <div class="deactivate-sub">Desativada</div>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('show_subscriber', { 'id': subscriber.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <div class="container-fluid-md">
            <div class="text-center">
                <ul class="pagination">
                    {% if hits > 1 %}
                        {% if hits <= 10 %}
                            {% for i in range(1,  hits ) %}
                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% if page <= 10 %}
                                {% for i in range(1,  10 ) %}
                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                {% endfor %}
                                <li><a id="paginador" href="#" onclick="paginar(event, 11)"> > </a></li>
                            {% else %}

                                {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                                <li><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"> < </a></li>

                                {% set inicio = voltar + 10 %}
                                {% set fim = voltar + 19 %}

                                {% set acabou = false %}
                                {% for i in range(inicio, fim) %}
                                    {% if i <= hits %}
                                        <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                    {% else %}
                                        {% set acabou = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if acabou == false %}
                                    {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                    <li><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"> > </a></li>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid-md"><br><br></div>
        </div>
    
        <div class="container-fluid-md"><br><br></div>

        {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function paginar(event, i) {
            event.preventDefault();
            var path = "{{ path('list_subscribers', { 'page': '0' } ) }}"
            var pathWithPage = path.replace('0', i);
            window.location = pathWithPage;
        }
    </script>
{% endblock %}