{% extends 'BackBundle::base.html.twig' %}

{% block assinaturas %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block assinaturasplanos %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Assinaturas</a></li>
                <li class="active"><a href="javascript:;">Planos</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Planos</h2>
        </div>

        {{ form_start(form, { 'attr': {'role': 'form'} }) }}

        <div class="container-fluid-md">
            <a href="{{ path('list_plans', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
            <input type="submit" value="Adicionar" class="btn btn-primary" />
        </div>

        <div class="container-fluid-md"><br><br></div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Cadastrar novo plano</h4>
                            <div class="panel-options">
                            </div>
                        </div>
                        <div class="panel-body">
    
                            <div class="form-group col-lg-8">
                                {{ form_label(form.name, "Nome do plano", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.name) }}
                                <div class="controls">
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(form.charge, "Tipo de cobrança", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.charge) }}
                                <div class="controls">
                                    {{ form_widget(form.charge, { 'attr': {'class': 'form-control' } }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8" id="eduzz-code" style="display: none">
                                {{ form_label(form.eduzzCode, "Código do Eduzz", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.eduzzCode) }}
                                <div class="controls">
                                    {{ form_widget(form.eduzzCode, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(form.period, "Periodicidade da cobrança", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.period) }}
                                <div class="controls">
                                    {{ form_widget(form.period, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(form.ammountPerPayment, "Preço por mês", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.ammountPerPayment) }}
                                <div class="controls">
                                    {{ form_widget(form.ammountPerPayment, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(form.expirationValue, "Unidades de expiração", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.expirationValue) }}
                                <div class="controls">
                                    {{ form_widget(form.expirationValue, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(form.unit, "Tempo das unidades", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.unit) }}
                                <div class="controls">
                                    {{ form_widget(form.unit, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(form.recommended, "Plano recomendado?", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.recommended) }}
                                <div class="controls">
                                    {{ form_widget(form.recommended, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(form.details, "Detalhes sobre o plano", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(form.details) }}
                                <div class="controls">
                                    {{ form_widget(form.details, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

        <div class="container-fluid-md"><br><br></div>

        {% block javascripts %}
            {{ parent() }}
            <script>
                $('#plan_charge').change(function() {
                    if($('#plan_charge').val() === 'EDUZZ')
                        $('#eduzz-code').show();
                    else
                        $('#eduzz-code').hide();
                })
            </script>
        {% endblock %}

    {% endblock %}