{% extends 'BackBundle::base.html.twig' %}

{% block assinaturas %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block assinaturasassinantes %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Assinaturas</a></li>
            <li class="active"><a href="javascript:;">Assinantes</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Assinantes</h2>
    </div>

    <div class="container-fluid-md">
        <a href="{{ path('list_subscribers', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>    
        <a href="{{ path('subscriber_edit', { 'id': subscriber.id }) }}" class="btn btn-warning">Editar</a>
    </div>


    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Informações de cadastro</h4>
                        <div class="panel-options">
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-name">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-name" placeholder="{{ subscriber.name }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-email">Email</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-email" placeholder="{{ subscriber.email }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-cpf">CPF</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-cpf" placeholder="{{ subscriber.cpf }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-phoneNumber">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-phoneNumber" placeholder="{{ subscriber.phone }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-gender">Gênero</label>
                            <div class="controls">
                                {% if subscriber.gender == 'm' %}
                                    <input type="text" class="form-control" id="subscriber-gender" placeholder="Masculino" disabled>
                                {% endif %}
                                {% if subscriber.gender == 'f' %}
                                    <input type="text" class="form-control" id="subscriber-gender" placeholder="Feminino" disabled>
                                {% endif %}
                                {% if subscriber.gender == 'o' %}
                                    <input type="text" class="form-control" id="subscriber-gender" placeholder="Outro" disabled>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-dob">Data de nascimento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-dob" placeholder="{{ subscriber.dob|date('d/m/Y') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="subscriber-address">Rua</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.street|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="subscriber-address">Número</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.number|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="subscriber-address">Estado</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.state|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            <label class="control-label" for="subscriber-address">Complemento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.complement|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="subscriber-address">Bairro</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.district|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="subscriber-address">CEP</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.postalCode|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="subscriber-address">Cidade</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.city|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="subscriber-address">País</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-address" placeholder="{{ subscriber.address.country|default('Não informado') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-recoverPassCode">Código de recuperação</label>
                            <div class="controls">
                                {% if subscriber.recoverPassCode|length > 0 %}
                                    <input type="text" class="form-control" id="subscriber-recoverPassCode" placeholder="{{ subscriber.recoverPassCode }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" id="subscriber-recoverPassCode" placeholder="Usuário não solicitou recuperação de senha" disabled>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="subscriber-plan">Plano Ativo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subscriber-plangit" placeholder="{{ subscriber.getLastSubscription().getPlan().name }}" disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for subscription in subscriber.subscriptions %}
        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Assinatura - {{ subscription.plan.name }}</h4>
                            <div class="panel-options">
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-md-4">
                                <label class="control-label" for="subscription-Active">Assinatura ativa?</label>
                                <div class="controls">
                                    {% if subscription.active %}
                                        <input type="text" class="form-control" id="subscription-Active" placeholder="Ativada" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" id="subscription-Active" placeholder="Desativada" disabled>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="subscription-nextDueDate">Vencimento da assinatura</label>
                                <div class="controls">
                                    {% if subscription.nextDueDate != null %}
                                        <input type="text" class="form-control" id="subscription-nextDueDate" placeholder="{{ subscription.nextDueDate|date('d/m/Y h:m:s') }}" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" id="subscription-nextDueDate" placeholder="Sem cobrança ainda" disabled>
                                    {% endif %}
                                </div>
                            </div>

                            {% if subscription.type == 'pagseguro_type' %}
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="subscription-pagSeguroSubCode">Código do PagSeguro</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="subscription-pagSeguroSubCode" placeholder="{{ subscription.pagSeguroSubCode }}" disabled>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="subscription-eduzzCusCode">Código do cliente Eduzz</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="subscription-eduzzCusCode" placeholder="{{ subscription.eduzzCusCode }}" disabled>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label" for="subscription-eduzzFatCode">Código de fatura Eduzz</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="subscription-eduzzFatCode" placeholder="{{ subscription.eduzzFatCode }}" disabled>
                                    </div>
                                </div>
                            {% endif %}


                            <div class="form-group col-md-4">
                                <label class="control-label" for="subscription-reference">Código de referência</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="subscription-reference" placeholder="{{ subscription.reference }}" disabled>
                                </div>
                            </div>

                            {% for order in paymentOrders %}
                                <div class="form-group col-md-7">
                                    <div id="accordion" class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a href="#{{ order.code }}" data-parent="#accordion" data-toggle="collapse"
                                                    class="collapsed">
                                                       #{{ order.code }} - {{ order.status|trans({}, 'pagSeguroOrders') }} - {{ order.schedulingDate|date('d/m/Y h:m:s') }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse" id="{{ order.code }}" style="height: 0px;">
                                                <div class="panel-body">
                                                    {% for transa in order.transactions %}
                                                        <label class="control-label" for="subscription-reference">Data da movimentação</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" id="subscription-reference" placeholder="{{ transa.date|date('d/m/Y h:m:s') }}" disabled>
                                                        </div>

                                                        <label class="control-label" for="subscription-reference">Status</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" id="subscription-reference" placeholder="{{ transa.status|trans({}, 'pagSeguroTransactions') }}" disabled>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    {% endblock %}