{% extends 'BackBundle::base.html.twig' %}

{% block assinaturas %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block assinaturasplanos %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Assinaturas</a></li>
                <li class="active"><a href="javascript:;">Planos</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Planos</h2>
        </div>

        <div class="container-fluid-md">
            <a href="{{ path('list_plans', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
            <a href="{{ path('new_plan') }}" class="btn btn-primary">Novo Plano</a>
            <a href="{{ path('plan_edit', { 'id': plan.id }) }}" class="btn btn-warning">Editar</a>        
        </div>


        <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Plano cadastrado</h4>
                        <div class="panel-options">
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-8">
                            <label class="control-label" for="plan-name">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="plan-name" placeholder="{{ plan.name }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="cobranca">Tipo de cobrança</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="cobranca" placeholder="{{ plan.getChargeLabel() }}" disabled>
                            </div>
                        </div>

                        {% if plan.getCharge() == 'EDUZZ' %}
                            <div class="form-group col-md-8">
                                <label class="control-label" for="eduzz-code">Código do Eduzz</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="eduzz-code" placeholder="{{ plan.getEduzzCode() }}" disabled>
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group col-md-8">
                            <label class="control-label" for="period">Periodicidade</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="period" placeholder="{{ plan.getLabel() }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="ammountPerPayment">Valor por mês</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="ammountPerPayment" placeholder="R$ {{ plan.ammountPerPayment }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="expirationValue">Unidades de expiração</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="expirationValue" placeholder="{{ plan.expirationValue }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="units">Periodo da unidade</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="units" placeholder="{{ plan.getUnitLabel() }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="recommended">Recomendado</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="recommended" {% if plan.recommended %} checked {% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label" for="details">Detalhes</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="details" placeholder="{{ plan.details }}">
                            </div>
                        </div>

                        {% if plan.getCharge() == 'AUTO' %}
                            <div class="form-group col-md-8">
                                <label class="control-label" for="pagSeguroSubCode">Código no PagSeguro</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="pagSeguroSubCode" placeholder="{{ plan.pagSeguroCode }}" disabled>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}