{#{% extends 'DEXTicketBundle::baseadmin.html.twig' %}#}

{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}


