{% extends 'BackBundle::base.html.twig' %}

{% block comercial %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block comercialcompany %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Agências</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Agências</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('company_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editar a agência</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-6">
                            {{ form_label(edit_form.description, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.description) }}
                            <div class="controls">
                                {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(edit_form.address, "Endereço", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.address) }}
                            <div class="controls">
                                {{ form_widget(edit_form.address, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(edit_form.number, "Número", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.number) }}
                            <div class="controls">
                                {{ form_widget(edit_form.number, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-5">
                            {{ form_label(edit_form.complement, "Complemento", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.complement) }}
                            <div class="controls">
                                {{ form_widget(edit_form.complement, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-5">
                            {{ form_label(edit_form.neighborhood, "Bairro", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.neighborhood) }}
                            <div class="controls">
                                {{ form_widget(edit_form.neighborhood, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.city, "Cidade", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.city) }}
                            <div class="controls">
                                {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(edit_form.state, "Estado", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.state) }}
                            <div class="controls">
                                {{ form_widget(edit_form.state, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(edit_form.zip, "CEP", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.zip) }}
                            <div class="controls">
                                {{ form_widget(edit_form.zip, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.email, "E-mail", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.email) }}
                            <div class="controls">
                                {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(edit_form.phone1, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.phone1) }}
                            <div class="controls">
                                {{ form_widget(edit_form.phone1, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(edit_form.phone2, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.phone2) }}
                            <div class="controls">
                                {{ form_widget(edit_form.phone2, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(edit_form.phone3, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.phone3) }}
                            <div class="controls">
                                {{ form_widget(edit_form.phone3, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        {#{{ form_widget(edit_form.submit, { 'label': 'Atualizar', 'attr': {'class': 'btn btn-warning'} }) }}#}
                        <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
{% endblock %}