{% extends 'BackBundle::base.html.twig' %}

{% block comercial %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block comercialcompany %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Agências</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Agências</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('company_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('company_edit', { 'id': company.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('company_new') }}" class="btn btn-primary">Nova agência</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Agência cadastrada - Código: {{ company.id }}</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-6">
                            <label class="control-label" for="descricao">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ company.description }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label" for="endereco">Endereço</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="endereco" placeholder="{{ company.address }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label" for="numero">Número</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="numero" placeholder="{{ company.number }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-5">
                            <label class="control-label" for="complemento">Complemento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="complemento" placeholder="{{ company.complement }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-5">
                            <label class="control-label" for="bairro">Bairro</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="bairro" placeholder="{{ company.neighborhood }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="control-label" for="cidade">Cidade</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="cidade" placeholder="{{ company.city }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label" for="estado">Estado</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="estado" placeholder="{{ company.state }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label" for="cep">CEP</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="cep" placeholder="{{ company.zip }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="email" placeholder="{{ company.email }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label" for="telefone1">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="telefone1" placeholder="{{ company.phone1 }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label" for="telefone2">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="telefone2" placeholder="{{ company.phone2 }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label" for="telefone3">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="telefone3" placeholder="{{ company.phone3 }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}
