{% extends 'base.html.twig' %}

{% block financeiro %}
<li class="nav-dropdown active open">
{% endblock %}

{% block financeirorecebimento %}
<li class="active open">
{% endblock %}

{% block container %}


    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Operacional</a></li>
            <li class="active"><a href="javascript:;">Recebimentos</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Recebimentos</h2>
    </div>

    {{ form_start(filter_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Filtrar recebimentos</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-4">
                            {{ form_label(filter_form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.status) }}
                            <div class="controls">
                                {{ form_widget(filter_form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(filter_form.datavencimentoinicio, "Vencimento - Data Inicial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.datavencimentoinicio) }}
                            <div class="controls">
                                {{ form_widget(filter_form.datavencimentoinicio, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(filter_form.datavencimentofim, "Vencimento - Data Final", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.datavencimentofim) }}
                            <div class="controls">
                                {{ form_widget(filter_form.datavencimentofim, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(filter_form.contrato, "Contrato", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.contrato) }}
                            <div class="controls">
                                {{ form_widget(filter_form.contrato, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(filter_form.cliente, "Cliente", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.cliente) }}
                            <div class="controls">
                                {{ form_widget(filter_form.cliente, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-1" style="display: none;">
                            {{ form_label(filter_form.page, "Página", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.page) }}
                            <div class="controls">
                                {{ form_widget(filter_form.page, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>


                        <div class="form-group col-lg-1" style="margin-top: 23px;">
                            <input type="submit" value="Filtrar" class="btn btn-success" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(filter_form) }}

    <div><br></div>


    <div class="container-fluid-md">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-mobile fa-fw"></i> Mês Atual </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesGerado']|number_format(2,',','.') }} </div>
                                <div>Volume gerado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-check-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesPago']|number_format(2,',','.') }} </div>
                                <div>Volume pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-times-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesNaoPago']|number_format(2,',','.') }} </div>
                                <div>Volume não pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesRecebido']|number_format(2,',','.') }} </div>
                                <div>Volume recebido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesPendente']|number_format(2,',','.') }} </div>
                                <div>Volume pendente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ban fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesCancelado']|number_format(2,',','.') }} </div>
                                <div>Volume cancelado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesParcial']|number_format(2,',','.') }} </div>
                                <div>Volume pago parcialmente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-minus-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesReembolsado']|number_format(2,',','.') }} </div>
                                <div>Volume reembolsado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-trash-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesExpirado']|number_format(2,',','.') }} </div>
                                <div>Volume expirado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-unlock-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesAutorizado']|number_format(2,',','.') }} </div>
                                <div>Volume autorizado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesTarifaGerada']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa gerada</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorEsteMesTarifaPaga']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa paga</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-mobile fa-fw"></i> Mês Passado </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesGerado']|number_format(2,',','.') }} </div>
                                <div>Volume gerado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-check-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesPago']|number_format(2,',','.') }} </div>
                                <div>Volume pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-times-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesNaoPago']|number_format(2,',','.') }} </div>
                                <div>Volume não pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesRecebido']|number_format(2,',','.') }} </div>
                                <div>Volume recebido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesPendente']|number_format(2,',','.') }} </div>
                                <div>Volume pendente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ban fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesCancelado']|number_format(2,',','.') }} </div>
                                <div>Volume cancelado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesParcial']|number_format(2,',','.') }} </div>
                                <div>Volume pago parcialmente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-minus-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesReembolsado']|number_format(2,',','.') }} </div>
                                <div>Volume reembolsado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-trash-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesExpirado']|number_format(2,',','.') }} </div>
                                <div>Volume expirado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-unlock-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesAutorizado']|number_format(2,',','.') }} </div>
                                <div>Volume autorizado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesTarifaGerada']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa gerada</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorUltimoMesTarifaPaga']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa paga</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-mobile fa-fw"></i> Total </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalGerado']|number_format(2,',','.') }} </div>
                                <div>Volume gerado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-check-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalPago']|number_format(2,',','.') }} </div>
                                <div>Volume pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-times-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalNaoPago']|number_format(2,',','.') }} </div>
                                <div>Volume não pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalRecebido']|number_format(2,',','.') }} </div>
                                <div>Volume recebido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalPendente']|number_format(2,',','.') }} </div>
                                <div>Volume pendente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ban fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalCancelado']|number_format(2,',','.') }} </div>
                                <div>Volume cancelado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalParcial']|number_format(2,',','.') }} </div>
                                <div>Volume pago parcialmente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-minus-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalReembolsado']|number_format(2,',','.') }} </div>
                                <div>Volume reembolsado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-trash-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalExpirado']|number_format(2,',','.') }} </div>
                                <div>Volume expirado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-unlock-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalAutorizado']|number_format(2,',','.') }} </div>
                                <div>Volume autorizado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalTarifaGerada']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa gerada</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorTotalTarifaPaga']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa paga</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-mobile fa-fw"></i> Filtro </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroGerado']|number_format(2,',','.') }} </div>
                                <div>Volume gerado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-check-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroPago']|number_format(2,',','.') }} </div>
                                <div>Volume pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-times-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroNaoPago']|number_format(2,',','.') }} </div>
                                <div>Volume não pago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroRecebido']|number_format(2,',','.') }} </div>
                                <div>Volume recebido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroPendente']|number_format(2,',','.') }} </div>
                                <div>Volume pendente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ban fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroCancelado']|number_format(2,',','.') }} </div>
                                <div>Volume cancelado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroParcial']|number_format(2,',','.') }} </div>
                                <div>Volume pago parcialmente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-minus-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroReembolsado']|number_format(2,',','.') }} </div>
                                <div>Volume reembolsado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-trash-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroExpirado']|number_format(2,',','.') }} </div>
                                <div>Volume expirado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-unlock-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroAutorizado']|number_format(2,',','.') }} </div>
                                <div>Volume autorizado</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroTarifaGerada']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa gerada</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ estatisticas['valorFiltroTarifaPaga']|number_format(2,',','.') }} </div>
                                <div>Volume tarifa paga</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid-md">
        <div class="table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Próximos meses</h4>

                    <div class="panel-options">
                        <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                        <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                        <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Mês</th>
                            <th>Volume gerado</th>
                            <th>Volume pendente</th>
                            <th>Volume pago</th>
                            <th>Volume recebido</th>
                            <th>Volume tarifa paga</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in 1..24 %}
                            {% if estatisticas[i~'Gerado'] != 0 %}
                                <tr>
                                    <td>{{ estatisticas['m'~i] }}</td>
                                    <td>{{ estatisticas[i~'Gerado']|number_format(2,',','.') }}</td>
                                    <td>{{ estatisticas[i~'Pendente']|number_format(2,',','.') }}</td>
                                    <td>{{ estatisticas[i~'Pago']|number_format(2,',','.') }}</td>
                                    <td>{{ estatisticas[i~'Recebido']|number_format(2,',','.') }}</td>
                                    <td>{{ estatisticas[i~'TarifaPaga']|number_format(2,',','.') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid-md">
        <div class="table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Recebimentos cadastrados</h4>

                    <div class="panel-options">
                        <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                        <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                        <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Data de Vencimento</th>
                            <th>Contrato - Cliente</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Pago Em</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fatura in filtros %}
                            <tr>
                                <td>{{ fatura['data_vencimento'] }}</td>
                                <td>{{ fatura['id_origem'] }} - {{ fatura['cliente'] }}</td>
                                <td>{{ fatura['valor_total'] }}</td>
                                <td>
                                    {% if fatura['status_pagamento'] == 'draft' %}Rascunho{% endif %}
                                    {% if fatura['status_pagamento'] == 'pending' %}Pendente{% endif %}
                                    {% if fatura['status_pagamento'] == 'expired' %}Expirada{% endif %}
                                    {% if fatura['status_pagamento'] == 'partially_paid' %}Pago parcialmente{% endif %}
                                    {% if fatura['status_pagamento'] == 'canceled' %}Cancelada{% endif %}
                                    {% if fatura['status_pagamento'] == 'refunded' %}Reembolsada{% endif %}
                                    {% if fatura['status_pagamento'] == 'paid' %}Pago{% endif %}
                                </td>
                                <td>{% if fatura['pago_em'] != null %}{{ fatura['pago_em']['date']|date('d/m/y') }}{% endif %}</td>
                                <td>
                                    {% for item in fatura['itens'] %}
                                        {{ item['descricao'] }}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('gateway_show', { 'id': fatura.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <a href="{{ path('draw_slip', { 'id': fatura.id, 'destino' : 'visualizar' }) }}" title="Imprimir"><i class="fa fa-fw fa-print"></i></a>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <a href="{{ path('gateway_cancel', { 'id': fatura.id }) }}" onclick="return confirm('Tem certeza que deseja cancelar a fatura?')" title="Cancelar"><i class="fa fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="container-fluid-md">
            <br><br>
            <div class="row">
                <div class="col-lg-12">
                    <form action="{{ path('gateway_report') }}" method="post">
                        {{ form_start(form2) }}
                        <div class="form-group" style="display:none;">
                            {{ form_label(form2.message, "Relatorio") }}
                            {{ form_errors(form2.message) }}
                            {{ form_widget(form2.message, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_rest(form2) }}
                        <input type="submit" class="btn btn-primary" value="Imprimir | Pdf" />
                        {{ form_end(form2) }}
                    </form>
                    <br><br><br>
                </div>
            </div>
        </div>

        {#<nav class="text-center">
            <ul class="pagination">
                {% if hits > 1 %}
                    {% for i in range(1,  hits ) %}
                        <li class="{% if page == i %} active {% endif %}"><a href="{{ path('cabine_index', { 'page': i }) }}">{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>#}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        jQuery(document).ready(function() {
            $("#gateway_filter_datavencimentoinicio").mask("99/99/9999");
            $('#gateway_filter_datavencimentoinicio').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                changeMonth: true,
                changeYear: true
            });

            $("#gateway_filter_datavencimentofim").mask("99/99/9999");
            $('#gateway_filter_datavencimentofim').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                changeMonth: true,
                changeYear: true
            });
        });

    </script>
{% endblock %}
