{% extends 'base.html.twig' %}

{% block financeiro %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block financeirorecebimento %}
    <li class="active open">
{% endblock %}

{% block container %}


    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Operacional</a></li>
            <li class="active"><a href="javascript:;">Recebimentos</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Recebimentos</h2>
    </div>

    <div class="container-fluid-md">
        <a href="{{ path('gateway_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Recebimento cadastrado - Código: {{ fatura.id }}</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        {#<div class="form-group col-lg-2">
                            <label class="control-label" for="tipo">Tipo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="tipo" placeholder="{{ cabine.tipo }}" disabled>
                            </div>
                        </div>#}

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="sala">Data de Vencimento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="sala" placeholder="{{ fatura.data_vencimento }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label class="control-label" for="descricao">Invoice</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.id_iugu }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Transação</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.numero_transacao }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Valor</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.valor_total }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Status</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{% if fatura.status_pagamento == 'draft' %}Rascunho{% elseif fatura.status_pagamento == 'pending' %}Pendente{% elseif fatura.status_pagamento == 'expired' %}Expirada{% elseif fatura.status_pagamento == 'partially_paid' %}Pago parcialmente{% elseif fatura.status_pagamento == 'canceled' %}Cancelada{% elseif fatura.status_pagamento == 'refunded' %}Reembolsada{% elseif fatura.status_pagamento == 'paid' %}Pago{% endif %}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Pago Em</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{% if fatura.pago_em != null %}{{ fatura.pago_em.date|date('d/m/y') }}{% endif %}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Valor do Pagamento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.valor_pagamento }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Cobra Multa</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{% if fatura.cobra_multa == true %}SIM{% else %}NÃO{% endif %}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Taxa da Multa</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.taxa_multa }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Valor da Multa</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.valor_multa }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Cobra Juros</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{% if fatura.cobra_juros == true %}SIM{% else %}NÃO{% endif %}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Valor dos juros</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.valor_juros }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Valor do Recebimento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.valor_repasse }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Previsão do Pagamento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.previsao_repasse_dex }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Taxa Recebimento</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.taxa_pagamento_dex }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="descricao">Contrato</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ fatura.id_origem }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-9">
                            <label class="control-label" for="descricao">Descrição</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{% for item in fatura['itens'] %}{{ item['descricao'] }}{% endfor %}" disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid-md"><br><br></div>

{% endblock %}
