{% extends 'base.html.twig' %}

{% block body %}
    <h1>Metrics list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Acessowebsite</th>
                <th>Acessoapp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metric in metrics %}
            <tr>
                <td><a href="{{ path('metric_show', { 'id': metric.id }) }}">{{ metric.id }}</a></td>
                <td>{{ metric.acessowebsite }}</td>
                <td>{{ metric.acessoapp }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('metric_show', { 'id': metric.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('metric_edit', { 'id': metric.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('metric_new') }}">Create a new metric</a>
        </li>
    </ul>
{% endblock %}
