{% extends 'base.html.twig' %}

{% block body %}
    <h1>Metric</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metric.id }}</td>
            </tr>
            <tr>
                <th>Acessowebsite</th>
                <td>{{ metric.acessowebsite }}</td>
            </tr>
            <tr>
                <th>Acessoapp</th>
                <td>{{ metric.acessoapp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('metric_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('metric_edit', { 'id': metric.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
