<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- Pagseguro Script -->
{% if environment == 'production' %}
    {% set pagseguroUrl = "https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js" %}
{% else %}
    {% set pagseguroUrl = "https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js" %}
{% endif %}

<script type="text/javascript" src="{{ pagseguroUrl }}"></script>
<script type="text/javascript" src="{{ asset('front/scripts/pagseguro.helper.js') }}"></script>
<script type="text/javascript">
    PagSeguroDirectPayment.setSessionId('{{ pagseguroSessionId }}');

    var erro_span = "<span style='color: #FD1669;' id='credit-error'>*Não foi possivel cobrar este cartão, \
                        verifique as informações</span>";
    
    $(function () {
        var $form = $('.js-checkout-form');

        $("input[name='card_number']").mask("0000 0000 0000 0000");
        $("input[name='card_date']").mask("MY / 0000", { 'translation': {
            'M': { pattern: /[0-1]/ },
            'Y': { pattern: /[0-9]/ }
        } });

        $form.submit(function (event) {
            // Evitando o formulário ser submetido para o server
            event.preventDefault();
            
            if($('#card_date').val().length < 8){
                // Modificando a data para adicionar 20 na frente da data
                var cardDate = $('#card_date').val();
                cardYear = '20'+ cardDate.substr(cardDate.length - 2);
                cardDate = cardDate.split('/')[0] + '/ ' + cardYear;
                $('#card_date').val(cardDate);
            }

            var buttonSubmit = document.querySelector("button[type=submit]")
            var loading = document.getElementById('loading-dots');
            document.getElementById('button-submit-text').setAttribute('style', 'display: none;');
            loading.removeAttribute('style');
            buttonSubmit.disabled = true;

            // Disabilitando o botão enquanto está sendo processada a criação do token no pagseguro
            $form.find('#client_submit').prop('disabled', true);

            // Recuperando o limite
            var element = document.getElementById('card_number');

            // Retirando os espaços em branco da formatação
            var cardNumber = element.value.replace(/\s/g,'')

            generateSendersHash(cardNumber);
        });
    });

    function getCardBrand(cardBin, senderHash) {
        var brand = null;
        PagSeguroDirectPayment.getBrand({
            cardBin: cardBin,
            success: function(response) {
                brand = response.brand;
                createCardToken(cardBin, senderHash, brand.name);
            },
            error: function(response) {

            },
            complete: function(response) {
                // Chamada que é executada sempre
            }
        });
        return brand;
    }

    function generateSendersHash(cardNumber) {
        var hash = null;
        PagSeguroDirectPayment.onSenderHashReady(function(response){
            if(response.status == 'error') {
                return false;
            }
            hash = response.senderHash; //Hash estará disponível nesta variável.
            getCardBrand(cardNumber, hash);
        });
    }

    function createCardToken(cardNumber, senderHash, cardBrand){
        // Recuperando a referência ao formulário
        var $form = $('.js-checkout-form');
        
        // Tratando a data do cartão, separando em mês e ano
        var date = $('#card_date');
        var month = date.val().split('/')[0].replace(/\s/g,'');
        var year = date.val().split('/')[1].replace(/\s/g,'');

        PagSeguroDirectPayment.createCardToken({
            cardNumber: cardNumber, // Número do cartão de crédito
            brand: cardBrand, // Bandeira do cartão
            cvv: $('#card_cvc').val(), // CVV do cartão
            expirationMonth: month, // Mês da expiração do cartão
            expirationYear: year, // Ano da expiração do cartão, é necessário os 4 dígitos.
            success: function(response) {
                console.log(response.card.token);
                submit(response.card.token, cardNumber, senderHash, cardBrand)
            },
            error: function(response) {
                // Checando se já possui um span de erro
                if(document.getElementById('credit-error') === null) {
                    // Recuperando a referência da div dos dados financeiros
                    var ccDiv = document.getElementById('credit-card-info');

                    // Inserindo a menssagem de erro na página
                    ccDiv.insertAdjacentHTML('beforebegin', erro_span);
                }            

                // Movendo a página até o erro
                window.scroll({
                    left: 0,
                    top: findPos(document.getElementById("credit-error")),
                    behavior: 'smooth'
                });

                // Voltando o botão de enviar ao estado normal
                var loading = document.getElementById('loading-dots');
                document.getElementById('button-submit-text').removeAttribute('style');
                loading.setAttribute('style', 'display: none;');
                var buttonSubmit = document.querySelector("button[type=submit]")
                buttonSubmit.disabled = false;
            },
            complete: function(response) {
                // Chamada que é executada sempre
            }
        });
    }

    function submit(cardToken, cardNumber, sendersHash, cardBrand) {
        var $form = $('.js-checkout-form');
        
        // Inserindo os tokens no formulário para que eles possam ser enviados para o servidor
        $form.append($('<input type="hidden" name="pagseguroCToken">').val(cardToken));
        $form.append($('<input type="hidden" name="pagseguroSHash">').val(sendersHash));

        // Inserindo os ultimos 4 digitos do cartão
        $form.append($('<input type="hidden" name="cardLast4">').val(cardNumber.slice(-4)));

        // Inserindo a bandeira do cartão
        $form.append($('<input type="hidden" name="cardBrand">').val(cardBrand));

        // Retirando do formulário dados do cartão (REMOVENDO O NAME DELES)
        $('#card_number').removeAttr('name');
        $('#card_cvc').removeAttr('name');
        $('#card_date').removeAttr('name');

        // Substituindo o formato do telefone
        if($('#client_phone').length) {
            console.log('Passou');
            let phoneInput = $('#client_phone');
            let phoneValue = phoneInput.val().replace(/\(|\)|\s|-/g, '')
            phoneInput.removeAttr('name');
            $form.append($('<input type="hidden" name="phoneNumber">').val(phoneValue));
        }

        // Substituindo o formato do cpf do cliente
        if($('#client_cpf').length) {
            var cpfValue = $('#client_cpf').val().replace(/\.|\-/g, '');
            $('#client_cpf').removeAttr('name');
            $form.append($('<input type="hidden" name="client[cpf]">').val(cpfValue));
        }

        // Substituindo o formato do cpf do dono do cartão
        if($('#card_holders_cpf').length) {
            var cpfValue = $('#card_holders_cpf').val().replace(/\.|\-/g, '');
            $('#card_holders_cpf').removeAttr('name');
            $form.append($('<input type="hidden" name="card_holders_cpf">').val(cpfValue));
        }
        
        $form.get(0).submit();
    }

    //Finds y value of given object
    function findPos(obj) {
        var curtop = -500;
        if (obj.offsetParent) {
            do {
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
        return [curtop];
        }
    }

    // Function to bind with virtual dom
    var bindForm = function(){
        var $form = $('.js-checkout-form');

        $form.submit(function (event) {
            // Evitando o formulário ser submetido para o server
            event.preventDefault();

            // Disabilitando o botão enquanto está sendo processada a criação do token no pagseguro
            $form.find('#client_submit').prop('disabled', true);

            // Recuperando o limite
            var element = document.getElementById('card_number');

            // Retirando os espaços em branco da formatação
            var cardNumber = element.value.replace(/\s/g,'')

            generateSendersHash(cardNumber);
        });
    }
</script>