<!doctype html>
<html lang="pt-BR">
   
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1190">#}
    {% block title %}<title>Portal AZ - Informação de verdade</title>{% endblock %}
    {% block description %}<meta name="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">{% endblock %}
    {% block keywords %}<meta name="keywords" content="Teresina, Portal AZ, portal, az, notícias, Piauí, internet, colunas, Arimateia, Azevedo, blog, politica, esportes, jornal, entrevista, entretenimento, concursos, policia, promoção, festas">{% endblock %}

    {% block facebook_opengraph %}
        <meta property="fb:app_id" content="436298566450701">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.portalaz.com.br/">
        <meta property="og:title" content="Portal AZ - Informação de verdade">
        <meta property="og:image" content="{{ asset('front/images/portalaz-logo.png') }}">
        <meta property="og:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
        <meta property="og:site_name" content="Portal AZ">
        <meta property="og:locale" content="pt_BR">
    {% endblock %}
    {% block twitter_card %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@portalaz">
        <meta name="twitter:title" content="Portal AZ - Informação de verdade">
        <meta name="twitter:image" content="{{ asset('front/images/portalaz-logo.png') }}">
        <meta name="twitter:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
    {% endblock %}
    {% block google_plus %}
        <meta itemprop="name" content="Portal AZ - Informação de verdade">
        <meta itemprop="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
        <meta itemprop="image" content="{{ asset('front/images/portalaz-logo.png') }}">
    {% endblock %}

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">
    <!-- Homescreen on Chrome <39 no Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Portal AZ">
    <link rel="icon" sizes="192x192" href="{{ asset('front/images/touch/chrome-touch-icon-192x192.png') }}">
    <!-- Safari homepage on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Portal AZ">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <!-- Tile icon to Win8 (144x144 + cor) -->
    <meta name="msapplication-TileImage" content="{{ asset('front/images/touch/ms-touch-icon-144x144-precomposed.png') }}">
    <meta name="msapplication-TileColor" content="#007AFF">
    <meta name="theme-color" content="#007AFF">
    <!-- Styles -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('front/styles/main.css') }}">
    {#<link rel="stylesheet" href="{{ asset('front/styles/mod.css') }}">#}
    <link rel="stylesheet" href="{{ asset('front/styles/dex.css') }}">
    <link rel="stylesheet" href="{{ asset('front/styles/client.css') }}">

    {% block styles %}
    {% endblock %}
    <!-- Scripts -->
    <script src="{{ asset('front/scripts/modernizr.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pt-br.js"></script>
</head>
    <body>

            <nav class="navbar fixed-top navbar-expand-lg navbar-dark {#bg-dark#} justify-content-between" style="background-color: rgba(0,0,0,.78);">
                <a class="d-none d-sm-none d-md-block d-lg-block d-xl-block navbar-brand mx-2 mx-lg-2" href="{{ path('home') }}">
                    <img class="img-responsive" src="{{ asset('front/images/portalaz-logo.png') }}" style="max-height: 60px;">
                </a>
                <a class="d-block d-sm-block d-md-none d-lg-none d-xl-none navbar-brand mx-2 mx-lg-2" href="{{ path('home') }}">
                    <img class="img-responsive" src="{{ asset('front/images/portalaz-logo2.png') }}" style="max-height: 60px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {#<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>#}
                    </ul>
                    <ul class="navbar-nav mx-5 mx-lg-5">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('editorials') }}">Notícias</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('newsgroups_blogs', {'kind': 'blogs'}) }}">Blogs</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('newsgroups_colunas', {'kind': 'colunas'}) }}">Colunas</a>
                        </li>
                    </ul>
                    <div class="left-container">
                        <div class="search-container" id="search-bar">
                            {{
                                render(controller(
                                    'FrontBundle:Default:SearchBar'
                                ))
                            }}
                        </div>
                        <a class="btn btn-primary subscribe-button" href="{{ path('new_client') }}">
                                Assine
                        </a>
                        {% if is_granted('ROLE_USER') %}
                            {% set url = path('client_profile') %}
                        {% else %}
                            {% set url = path('client_login') %}
                        {% endif %}
                        <a class="btn btn-outline-primary signin-button" href="{{ url }}">
                            {% if is_granted('ROLE_USER') %}
                                {{ app.user.name|slice(0,10) }}
                                {% if app.user.name|length > 10 %}
                                ...
                                {% endif %}
                                <i class="fa fa-user"></i>
                            {% else %}
                                Entrar
                                <i class="fa fa-sign-in"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </nav>
        

        {% block container %}{% endblock %}

        <div class="container-fluid" style="margin-top: 100px;">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('map')}}" title="Conheça o portal de 'A' a 'Z'">Conheça o portal de 'A' a 'Z'</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('commercial')}}" title="Anuncie no Portal AZ">Anuncie no Portal AZ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contato')}}" title="Contato">Contato</a>
                </li>
            </ul>
            <div class="row paz-footer--main">
                <div class="col-md-5">
                    <div align="center">
                        <img class="img-responsive" src="{{ asset('front/images/portalaz.svg') }}" style="max-height: 95px; max-width: 300px;">
                    </div>
                    <ul class="nav justify-content-center" style="margin-top: 20px;">
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-fb" href="https://www.facebook.com/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-tw" href="https://twitter.com/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-ig" href="http://instagr.am/portalaz/"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled paz-icon--social-yt" href="https://www.youtube.com/user/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled paz-icon--social-wa paz-tooltip--left paz-tooltip--icon" data-paz-tooltip="86 99981-8563" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 paz-rights">© Portal AZ 2000 - 2019 Todos os direitos reservados</div>
            </div>
        </div>

        {% block scripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/8ec6b22319.js"></script>
        <script src="{{ asset('front/scripts/slider.js') }}"></script>
        <script src="{{ asset('front/scripts/carousel.js') }}"></script>
        <script src="{{ asset('front/scripts/main.js') }}"></script>
        <script src="{{ asset('front/scripts/utils.js') }}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147080192-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147080192-1');
        </script>


         <!-- Script que controla a animação da barra de busca -->
        <script>
            function showSearch(){
                // Capturando a div da search bar
                var searchBar = document.getElementById('search-bar');
                // Checando se a barra já está visivel
                if(searchBar.classList.contains('hide-search')){
                    searchBar.classList.remove('hide-search');
                    searchBar.classList.add('fade-in-right');
                } else {
                    searchBar.classList.remove('fade-in-right');
                    searchBar.classList.add('fade-in-right');
                    searchBar.classList.add('hide-search');
                }
            }
        </script>
    </body>

</html>
