{% extends 'ClientBundle:Auth:base.html.twig' %}


{% block styles %}
    <link rel="stylesheet" href="{{ asset('front/styles/profile-login.css') }}">
{% endblock %}


{% block container %}
    {% set context = {
        form_action: path('send_recovery_code'),
        forgot_password_path: path('forgot_password'),
        code_send: codeSended|default(false),
        error: error|default(''),
        _client_email: _client_email|default('')
    } 
    %}

    <div class="container-fluid justify-content-center" style="margin-top: 120px;">
        <div id="root-vue" class="profile-base-wrapper login-subscribe-wrapper">
            <login-subscribe :context="{{ context|json_encode }}"/>
        </div>
    </div>
{% endblock %}


{% block scripts %}

<!-- Change for vue.min.js for production mode -->
<script src="{{ asset('front/scripts/vue.js') }}"></script>
<script src="{{ asset('front/scripts/profile.components.vue.js') }}" ></script>
<script>
  {% verbatim %}

    Vue.component('Login', {
        data: function(){
            return {
                styleDiv: {
                    color: '#292929',
                    textAlign: 'center',
                    marginTop: '0.8rem',
                    fontSize: '0.9rem'
               }
            }
        },
        methods: {
            showEmail: function() {
                return !this.code_send
            },
            showRecover: function() {
                return this.code_send
            },
            buttonText: function() {
                return this.code_send ? 'Trocar senha' : 'Enviar código'
            },
            formAction: function() {
                return this.code_send ? this.forgot_password_path : this.form_action
            }
        },
        mounted() {
            console.log('Code Sended >> ', this.code_send);
        },
        props: {
            form_action: { type: String },
            code_send: { type: Boolean },
            error: { type: String },
            forgot_password_path: { type: String },
            _client_email: { type: String }
        },
        template: " \
            <form class='profile-login' :action='formAction()' method='POST'> \
                <Title> Vamos criar uma nova senha para você.</Title> \
                <div :style='styleDiv'>Coloque seu e-mail abaixo para que possamos enviar um código de recuperação </div>\
                <Error :message='error'/> \
                <Input v-if='showEmail()' name='_email' label='E-mail' /> \
                <Input v-if='showRecover()' label='Código de recuperação' name='_verify_code' />\
                <Input v-if='showRecover()' label='Nova senha' name='_new_password' />\
                <input v-if='showRecover()' name='_email' type='hidden' :value='_client_email'/> \
                <Button>{{ buttonText() }}</Button> \
            </form> \
        "
    });

    Vue.component('login-subscribe', {
        props: {
            context: { type: Object },
        },
        template: " \
            <div class='profile-login-subscribe-container'> \
                <Login :form_action='context.form_action' :error='context.error' \
                 :code_send='context.code_send' :forgot_password_path='context.forgot_password_path' \
                 :_client_email='context._client_email' />\
                <Separator /> \
            </div> \
        "
    });

    Vue.component('Error', {
        props: ['message'],
        template: "\
            <div class='login-error-label'> \
            <span style='color: #FD1669;'>{{ message }}</span> \
            </div> \
        "
    })

    new Vue({ el: '#root-vue'});

  {% endverbatim %}
</script>

{% endblock %}