{% extends 'ClientBundle:Auth:base.html.twig' %}


{% block styles %}
    <link rel="stylesheet" href="{{ asset('front/styles/profile-login.css') }}">
{% endblock %}


{% block container %}
    {% set context = {
        message: message|default(''),
        redirect_link: path('client_login')
    } 
    %}

    <div class="container-fluid justify-content-center" style="margin-top: 120px;">
        <div id="root-vue" class="profile-base-wrapper login-subscribe-wrapper">
            <forgot-success :context="{{ context|json_encode }}"/>
        </div>
    </div>
{% endblock %}


{% block scripts %}

<!-- Change for vue.min.js for production mode -->
<script src="{{ asset('front/scripts/vue.js') }}"></script>
<script src="{{ asset('front/scripts/profile.components.vue.js') }}" ></script>
<script>
  {% verbatim %}

    Vue.component('Message', {
        data: function(){
            return {
                styleDiv: {
                    color: '#292929',
                    textAlign: 'center',
                    marginTop: '0.8rem',
                    fontSize: '0.9rem'
               }
            }
        },
        mounted(){
            // Redirecionando o usuário após 10 segundos
            setTimeout(function(){
                window.location.href = this.props.redirect_link
            }, 10000);
        },
        props: {
           redirect_link: { type: String },
           message: { type: String }
        },
        template: " \
            <form class='profile-login' :action='formAction' method='POST'> \
                <Title> Sua senha foi trocada com sucesso!.</Title> \
                <div :style='styleDiv'>Você já pode acessar o Portal AZ usando sua nova senha. Você será redirecionado em pouco segundos, caso isso não aconteça <a :href='redirect_link'>Clique aqui</a></div>\
            </form> \
        "
    });

    Vue.component('forgot-success', {
        props: {
            context: { type: Object },
        },
        template: " \
            <div class='profile-login-subscribe-container'> \
                <Message :message='context.message' :error='context.redirect_link' /> \
                <Separator /> \
            </div> \
        "
    });

    new Vue({ el: '#root-vue'});

  {% endverbatim %}
</script>

{% endblock %}