{% extends 'ClientBundle:Auth:base.html.twig' %}


{% block styles %}
    <link rel="stylesheet" href="{{ asset('front/styles/profile-login.css') }}">
{% endblock %}


{% block container %}
    {% set context = {
        login_form: {
            action: path('client_security_login_check', { 'redirectUrl': app.request.query.get('redirectUrl') }),
            error_message: error != null ? error.messageKey|trans(error.messageData, 'security') : ''
        },
        subscribe_path: path('new_client'),
        forgot_pass_path: path('forgot_password')
    } 
    %}

    <div class="container-fluid justify-content-center" style="margin-top: 120px;">
        <div id="root-vue" class="profile-base-wrapper login-subscribe-wrapper">
            <login-subscribe :context="{{ context|json_encode }}"/>
        </div>
    </div>
{% endblock %}


{% block scripts %}

<!-- Change for vue.min.js for production mode -->
<script src="{{ asset('front/scripts/vue.js') }}"></script>
<script src="{{ asset('front/scripts/profile.components.vue.js') }}" ></script>
<script>
  {% verbatim %}

    Vue.component('Login', {
        props: {
            form_action: { type: String },
            error: { type: String },
            forgot_pass_path: { type: String }
        },
        template: " \
            <form class='profile-login' :action='form_action' method='POST'> \
                <Title> Entre com e-mail e senha </Title> \
                <Error :message='error'/> \
                <Input name='_email' label='E-mail' /> \
                <Input name='_password' label='Senha' type='password'/> \
                <Link :link='forgot_pass_path' > Esqueci minha senha </Link> \
                <Button> Entrar </Button> \
            </form> \
        "
    });

    Vue.component('login-subscribe', {
        props: {
            context: { type: Object },
        },
        template: " \
            <div class='profile-login-subscribe-container'> \
                <Login :form_action='context.login_form.action' :error='context.login_form.error_message' :forgot_pass_path='context.forgot_pass_path'/> \
            </div> \
        "
    });

    Vue.component('Error', {
        props: ['message'],
        template: "\
            <div class='login-error-label'> \
            <span style='color: #FD1669;'>{{ message }}</span> \
            </div> \
        "
    })

    new Vue({ el: '#root-vue'});

  {% endverbatim %}
</script>

{% endblock %}