{% extends 'ClientBundle:Auth:base.html.twig' %}


{% block styles %}
<link rel="stylesheet" href="{{ asset('front/styles/profile-login.css') }}">
<link rel="stylesheet" href="{{ asset('front/styles/card.css') }}">
{% endblock %}


{% block container %}
    {% set context = {
        personal: {
            name: app.user.name|default(''),
            cpf: app.user.cpf|default(''),
            email: app.user.email|default(''),
            type: app.user.getLastSubscription().getType()
        },
        plan: {
            label: app.user.getLastSubscription().getPlan().getLabel(),
            price: app.user.getLastSubscription().getPlan().getAmmountPerPayment(),
            detail: app.user.getLastSubscription().getPlan().getDetails(),
            fullyActive: app.user.hasFullyActiveSubscription(),
            active: app.user.hasActiveSubscription(),
            endsAt: app.user.getLastSubscription().getEndsAt().format('d/m/Y'),
            nextDueData: app.user.getLastSubscription().getNextDueDate().format('d/m/Y')|default(''),
            invoices_order: orders|json_encode, 
            creditCard: {
                number: '53454546465634',
                name: 'Pedro Henrique',
                expire: '05/21',
                cvv: '239'
            }
        },
        edit_info_form: {
            action: path('update_profile')
        },
        edit_plan_actions: {
            cancel_action: path('cancel_subscription'),
            card_update_action: path('update_card')
        },
        logout: {
            action: path('client_logout'),
        },
        subscribe_path: path('subscribe_plan'),
        pagseguroSessionId: pagseguroSessionId|default(''),  
      }
     %}
    <div class="container-fluid justify-content-center" style="margin-top: 120px;">
        <div id="root-vue" class="profile-base-wrapper client-profile-wrapper">
            <client-profile
                :context="{{ context|json_encode }}"
            />
        </div>
    </div>
{% endblock %}


{% block scripts %}

<!-- Change for vue.min.js for production mode -->
<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
<script src="{{ asset('front/scripts/vue.js') }}"></script>
<script src="{{ asset('front/scripts/profile.components.vue.js') }}" ></script>
<script src="{{ asset('front/scripts/card.js') }}"></script>
{% if app.user.getLastSubscription().getType() == 'pagseguro_type' %}
    {{ include('ClientBundle:Auth:_creditCardFormJavascript.html.twig') }}
{% endif %}
<script>
  {% verbatim %}

    Vue.component('MenuLink', {
        props: {
            isRed: { type: Boolean, default: false }
        },
        computed: {
            img: function(){
                var color = this.isRed ? "red" : "blue";
                return "/front/images/profile/arrow-" + color + ".png";
            },
            redstyle: function(){
                return this.isRed ? "color: #FD1669;" : "";
            }
        },
        template: "\
            <div class='profile-menu-link' :style='redstyle'> \
                <span> <slot/> </span> <img :src='img' /> \
            </div> \
        "
    })

    Vue.component('PlanOptionsMenu', {
        props: ['plan', 'type'],
        computed: {
            eduzzNotRender: function() {
                console.log('This::PlanOptionsMenu >> ', this);
                return !(this.type === 'eduzz_type');
            }
        },
        template: " \
            <div class='profile-menu-container'> \
                <MenuLink @click.native='$root.setPlanInvoices'> \
                    Ver recibos \
                </MenuLink> \
                <MenuLink @click.native='$root.setPlanCreditEdit' v-if='eduzzNotRender'>\
                    Alterar dados de cobrança\
                </MenuLink> \
                <MenuLink :isRed='true' @click.native='$root.setPlanCancel' v-if='plan.fullyActive'> \
                    Cancelar assinatura \
                </MenuLink> \
            </div> \
        "
    })

    Vue.component('CancelSubscription', {
        props: ['action'],
        methods: {
            back: function(){
                this.$root.setPlanShow();
            },
            unsubscribe: function() {
                this.$refs.form.$el.submit();
                this.$root.setPlanNone();
            }
        },
        template: " \
            <div class='profile-plan-cancel-container'> \
                <p> \
                    Você está prestes a cancelar sua assinatura atual, ao cancelar, \
                    você não poderá mais ter acesso aos conteúdos exclusivos do Portal AZ. \
                    <span>Você confirma o cancelamento?</span> \
                </p> \
                <div class='profile-plan-cancel-buttons-container'> \
                    <form :action='action' ref='form' method='POST'> \
                        <Button :isSmall='true' @click.native='back'> Voltar </Button> \
                        <Button :isSmall='true' kind='danger' @click.native='unsubscribe'> \
                            Confirmar \
                        </Button> \
                    </form> \
                </div> \
            </div> \
        "
    })

    Vue.component('PlanOptions', {
        props: ['state', 'edit_plan_actions', 'plan', 'type'],
        computed: {
            isCancel: function(){
                return this.$root.store.PLAN_STATE === 'CANCEL';
            }
        },
        template: " \
            <CancelSubscription \
                v-if='isCancel' \
                :action='edit_plan_actions.cancel_action'\
            /> \
            <PlanOptionsMenu \
                v-else \
                :plan='plan' \
                :type='type' \
            /> \
        "
    })

    Vue.component('PlanCard', {
        props: ['plan'],
        computed: {
            bottomClass: function(){
                return 'profile-plan-card-bottom-' + (1)
            }
        },
        template: " \
            <div class='profile-plan-card-container'> \
                <div class='profile-plan-card-hint'> Plano Escolhido </div> \
                <h5 class='profile-plan-card-title'> {{ plan.label }} </h5> \
                <div class='profile-plan-card-price'> \
                    <span>R$</span> {{ plan.price }} \
                </div> \
                <div class='profile-plan-card-note'> {{ plan.detail }} </div> \
                <div :class='bottomClass' style='height: 4px;'></div> \
            </div> \
        "
    });

    Vue.component('PlanInfo', {
        props: ['plan', 'edit_plan_actions', 'type'],
        template: "\
            <div class='profile-plan-info'>\
                <Title> Minha Assinatura </Title>\
                <PlanCard :plan='plan' />\
                <PlanOptions :edit_plan_actions='edit_plan_actions' :plan='plan' :type='type'/>\
            </div>\
        "
    });

    Vue.component('Invoices', {
        props: ['invoices', 'invoices_json'],
        methods: {
            redStyle: function(invoiceStatus){
                if(invoiceStatus === 6) return 'color: #FD1669;';
                return 'color: #79D997;';
            },
            treatValue: function(invoiceValue){
                var value = invoiceValue.toString();
                var sz = value.length;
                var d = value.substr(0, sz - 2);
                var c = value.substr(sz - 2, 22);
                return ('R$ ' + d + ',' + c);
            },
            treatStatus: function(status){
                if(status === 6) return 'Não pago';
                else return 'Pago'
            },
            treatDate: function(invoice) {
                return moment(invoice.lastEventDate).format('LL');
            }
        },
        computed: {
            payment_orders: function() {
                var object = JSON.parse(this.invoices_json);
                return object;
            }
        },
        template: "\
            <div class='profile-plan-invoices'>\
                <Title> Meus Recibos </Title>\
                <div class='profile-plan-invoices-head'>\
                    <div>Mês</div>\
                    <div>Valor</div>\
                    <div>Status</div>\
                </div>\
                <div\
                    class='profile-plan-invoices-row'\
                    v-for='(invoice, key) in payment_orders'\
                    :key='key'\
                >\
                    <div> {{ treatDate(invoice) }} </div>\
                    <div> {{ treatValue(invoice.amount) }} </div>\
                    <div :style='redStyle(invoice.status)'>\
                        {{ treatStatus(invoice.status) }}\
                    </div>\
                </div>\
                <div class='profile-plan-invoices-button'>\
                    <Button\
                        :isSmall='true'\
                        kind='secondary'\
                        @click.native='$root.setPlanShow()'\
                    >\
                        Voltar\
                    </Button>\
                </div>\
            </div>\
        "
    });

    Vue.component('CreditCardForm', {
        props: ['data', 'action'],
        mounted: function(){
            var card = new Card({
                form: 'form[name="creditCard"]', // *required*
                container: '.credit-card-wrapper', // *required*
                formSelectors: {
                    numberInput: 'input[name="card_number"]',
                    expiryInput: 'input[name="card_expire"]',
                    cvcInput: 'input[name="card_cvv"]',
                    nameInput: 'input[name="card_name"]'
                },
                width: 240, // optional — default 350px
                formatting: true, // optional - default true
                messages: {
                    validDate: 'valid\ndate', // optional - default 'valid\nthru'
                    monthYear: 'mm/yyyy', // optional - default 'month/year'
                },
                placeholders: {
                    number: '•••• •••• •••• ••••',
                    name: 'Full Name',
                    expiry: '••/••',
                    cvc: '•••'
                },
                masks: {
                    cardNumber: '•' // optional - mask card number
                },
                debug: false // optional - default false
            });
            bindForm();
            bindCardUtil();
        },
        template: "\
            <form class='profile-credit-form js-checkout-form' name='creditCard' id='update_card' ref='update_card' :action='action' method='POST'>\
                <div class='credit-card-wrapper'></div>\
                <Input label='Numero do cartão' name='card_number' id='card_number' />\
                <Input label='Nome completo' name='card_name' />\
                <Input label='Data de nascimento' name='card_holders_dob' id='card_holders_dob' placeholder='_ _ / _ _ / _ _ _ _'/>\
                <InputCPF name='card_holders_cpf' label='CPF' id='card_holders_cpf' />\
                <Input label='Data de validade' name='card_expire' id='card_date' placeholder='_ _ / _ _ _ _'/>\
                <Input label='Código de segurança (cvv)' name='card_cvv' id='card_cvc'/>\
                <div class='action-container'>\
                    <Button :isSmall='true' kind='secondary' @click.native='$root.setPlanShow'>\
                        Voltar\
                    </Button>\
                    <Button :isSmall='true' id='client_submit'>\
                        Salvar\
                    </Button>\
                </div>\
            </form>\
        "
    });

    Vue.component('CreditCardEdit', {
        props: ['creditCard', 'action', 'pagId'],
        template: "\
            <div class='profile-credit-container'>\
                <Title> Dados de cobrança </Title>\
                <CreditCardForm :data='creditCard' :action='action' :pagId='pagId'/>\
            </div>\
        "
    })

    Vue.component('PlanSwitch', {
        props: ['plan', 'edit_plan_actions', 'pagId', 'subscribe_path', 'type'],
        computed: {
            isPlanNone: function(){
                return !this.plan.active;
            },
            isPlanInvoices: function(){
                return this.$root.store.PLAN_STATE === 'INVOICES';
            },
            isPlanCreditEdit: function(){
                return this.$root.store.PLAN_STATE === 'CREDIT_EDIT';
            }
        },
        template: "\
            <Subscribe v-if='isPlanNone' class='profile-plan-info' :url='subscribe_path'/>\
            <Invoices\
                v-else-if='isPlanInvoices'\
                class='profile-plan-info'\
                :invoices='plan.invoices'\
                :invoices_json='plan.invoices_order'\
            />\
            <CreditCardEdit\
                v-else-if='isPlanCreditEdit'\
                class='profile-plan-info'\
                :creditCard='plan.creditCard'\
                :action='edit_plan_actions.card_update_action'\
                :pagId='pagId'\
            />\
            <PlanInfo v-else :plan='plan' :edit_plan_actions='edit_plan_actions' :type='type'/>\
        "
    });


    Vue.component('SeparatorVertical', {
        template: "<div class='profile-separator-vertical'></div>"
    });


    Vue.component('PersonalInfoEdit', {
        props: {
            info: { type: Object },
            edit_form: { type: Object }
        },
        computed: {
            renderCpf: function() {
                return !(this.info.type === 'eduzz_type');
            }
        },
        methods: {
            back: function(){
                this.$root.setPersonalShow();
            },
            save: function(){
                this.$refs.form.$el.submit();
                this.$root.setPersonalShow();
            }
        },
        template: "\
            <form class='profile-personal-info' :action='edit_form.action' ref='form' method='POST'>\
                <Title> Meus Dados Pessoais </Title>\
                <Input\
                    name='client[name]'\
                    label='Nome Completo'\
                    :value='info.name'\
                />\
                <Input\
                    name='client[email]'\
                    label='E-mail'\
                    :value='info.email'\
                />\
                <InputCPF\
                    name='client[cpf]'\
                    label='CPF'\
                    :value='info.cpf'\
                    v-if='renderCpf'\
                />\
                <Input\
                    name='client[plainPassword]'\
                    label='Senha'\
                    type='password'\
                />\
                <div class='profile-personal-info-buttons-container'>\
                    <Button :isSmall='true' kind='secondary' @click.native='back'>\
                        Voltar\
                    </Button>\
                    <Button :isSmall='true' @click.native='save'> Salvar </Button>\
                </div>\
            </form>\
        "
    });


    Vue.component('PersonalInfo', {
        props: {
            info: { type: Object },
            logout_action: { type: String }
        },
        methods: {
            logout: function(){ location.href = this.logout_action; }
        },
        computed: {
            renderCpf: function() {
                return !(this.info.type === 'eduzz_type');
            }
        },
        template: "\
            <form class='profile-personal-info' v-on:submit.prevent>\
                <Title> Meus dados Pessoais </Title>\
                <Input\
                    name='client[name]'\
                    label='Nome Completo'\
                    isDisabled\
                    :value='info.name'\
                />\
                <Input\
                    name='client[email]'\
                    label='E-mail'\
                    isDisabled\
                    :value='info.email'\
                />\
                <InputCPF\
                    name='client[cpf]'\
                    label='CPF'\
                    isDisabled\
                    :value='info.cpf'\
                    v-if='renderCpf'\
                />\
                <div class='action-container'>\
                    <Button :isSmall='true' @click.native='$root.setPersonalEdit'>\
                        Editar\
                    </Button>\
                    <Button :isSmall='true' kind='danger' @click.native='logout'>\
                        Sair\
                    </Button>\
                </div>\
            </form>\
        "
    });


    Vue.component('PersonalInfoSwitch', {
        props: ['info', 'edit_form', 'logout_action'],
        computed: {
            isShowInfo: function(){
                return this.$root.store.PERSONAL_STATE === 'SHOW';
            }
        },
        template: "\
            <PersonalInfo :info='info' v-if='isShowInfo' :logout_action='logout_action'/>\
            <PersonalInfoEdit :info='info' :edit_form='edit_form' v-else />\
        "
    })


    Vue.component('client-profile', {
        props: {
            context: { type: Object }
        },
        created: function(){
            if(this.context.plan === 'NONE'){
                this.$root.setPlanNone();
            }else{

            }
        },
        template: "\
            <div class='client-profile-container'>\
                <PersonalInfoSwitch :info='context.personal' :edit_form='context.edit_info_form' :logout_action='context.logout.action'/>\
                <SeparatorVertical />\
                <PlanSwitch :plan='context.plan' :edit_plan_actions='context.edit_plan_actions' \
                    :pagId='context.pagseguroSessionId' :subscribe_path='context.subscribe_path' \
                    :type='context.personal.type' /> \
            </div>\
        "
    });


    var store = Vue.observable({
        PERSONAL_STATE: 'SHOW', // [SHOW, EDIT]
        PLAN_STATE: 'SHOW', // [ CANCEL, INVOICES, EDIT, SWAP, NONE ]
    });

    var mutations = {
        /* PLAN STATE */
        setPlanNone: function(){
            store.PLAN_STATE = 'NONE';
        },
        setPlanCancel: function(){
            store.PLAN_STATE = 'CANCEL';
        },
        setPlanCreditEdit: function(){
            store.PLAN_STATE = 'CREDIT_EDIT';
        },
        setPlanShow: function(){
            store.PLAN_STATE = 'SHOW';
        },
        setPlanSwap: function(){
            store.PLAN_STATE = 'SWAP';
        },
        setPlanInvoices: function(){
            store.PLAN_STATE = 'INVOICES';
        },

        /* PERSONAL STATE */
        setPersonalShow: function(){
            store.PERSONAL_STATE = 'SHOW';
        },
        setPersonalEdit: function(){
            store.PERSONAL_STATE = 'EDIT';
        }
    };

    new Vue({
        el: '#root-vue',
        methods: mutations,
        data: {
            store: store
        }
    });

  {% endverbatim %}
</script>
{% endblock %}
