{% extends 'ClientBundle:Auth:register.html.twig' %}


{% block formsElements %}

<div class="d-inline-block register-form-wrapper my-4 register-checkout-wrapper">
    <div class="register-title">
        <div>
            <h5 style="color: #F7CE5B;">Compra em análise</h5>
        </div>
    </div>
    {% set plan_index = 0 %}
    <div class="register-plan-card">
        <input name="plan" type="radio" value="plan-{{ plan.pagSeguroCode }}" id="plan-{{ plan.id }}" >
        <label for="plan-{{ plan.id }}">
            <div class="register-plan-recomended">
                <span> PLANO ESCOLHIDO </span>
            </div>
            <div class="register-plan-card-label"> {{ plan.getLabel() }} </div>
            <div class="register-plan-card-price"> R$ <span> {{ plan.ammountPerPayment|replace({ '.':',' }) }} </span><span class='plan-apostrophe'>/{{ plan.getPeriodicity() }}</span> </div>
            <div class="register-plan-card-note"> {{ plan.details }} </div>
            <div class="register-plan-card-bottom card-bottom-gradient-{{ plan_index + 1 }} "> </div>
        </label>
    </div>

    <div class="register-checkout-congrats">
        <p>
            Muito obrigado por se cadastrar no Portal AZ! Assim que a sua compra for aprovada você poderá acessar o conteúdo exclusivo do Portal. 
            Você será redirecionado automaticamente, se isso não acontecer <a href="{{ redirectUrl|default(path('client_login')) }}">clique aqui</a>.
        </p>
    </div>
</div>


{% endblock %}


{% block scripts %}
<script>
var registerStepElems = Array.from(document.getElementsByClassName('register-step'));
var stepStates = [1, 1, 1, 0];

function applyStylesOnStepBar(states, stepElems){
    var activedIndex = stepStates.length;
    for(var i = 0; i < stepStates.length; i++){
        if(stepStates[i] == 0){
            stepElems[i].classList.add('register-step-active');
            stepElems[i].innerHTML = "" + (i + 1);
            activedIndex = i;
            break;
        }
        else{
            stepElems[i].classList.add('register-step-active');
            stepElems[i].innerHTML = "&#10004;";
        }
    }
    for(var i = activedIndex + 1; i < stepStates.length; i++){
       stepElems[i].classList.remove('register-step-active');
       stepElems[i].innerHTML = "" + (i + 1);
    }
}

applyStylesOnStepBar(stepStates, registerStepElems)

// Redirecionando o usuário após 8 segundos
setTimeout(function(){
    window.location.href = "{{ redirectUrl|default(path('client_login')) }}"
}, 30000);
</script>
{% endblock %}
