{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block redacaoslide %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Slides</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Slides</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('slide_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editar o slide</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.dateInitial, "Data inicial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.dateInitial) }}
                            <div class="controls">
                                {{ form_widget(edit_form.dateInitial, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.dateFinal, "Data final", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.dateFinal) }}
                            <div class="controls">
                                {{ form_widget(edit_form.dateFinal, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2" style="display: none;">
                            {{ form_label(edit_form.ordem, "Ordem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.ordem) }}
                            <div class="controls">
                                {{ form_widget(edit_form.ordem, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.title) }}
                            <div class="controls">
                                {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.subtitle) }}
                            <div class="controls">
                                {{ form_widget(edit_form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.article, "Artigo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.article) }}
                            <div class="controls">
                                {{ form_widget(edit_form.article, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6" style="display: none;">
                            {{ form_label(edit_form.ariArticle, "Artigo do Ari", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.ariArticle) }}
                            <div class="controls">
                                {{ form_widget(edit_form.ariArticle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.link, "Link", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.link) }}
                            <div class="controls">
                                {{ form_widget(edit_form.link, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(edit_form.imageFile) }}
                            </div>
                        </div>
                        {% if slide.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(slide,'imageFile') }}" class="img-responsive" alt="" align="middle" width="400px" height="300px" />
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
    {{ form_end(edit_form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
{% endblock %}