{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block redacaoslide %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Slides</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Slides</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('slide_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar novo slide</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        {#<div class="form-group col-lg-2">
                            {{ form_label(form.botao, "Tipo do botão", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.botao) }}
                            <div class="controls">
                                {{ form_widget(form.botao, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>#}

                        <div class="form-group col-lg-4">
                            {{ form_label(form.dateInitial, "Data inicial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.dateInitial) }}
                            <div class="controls">
                                {{ form_widget(form.dateInitial, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.dateFinal, "Data final", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.dateFinal) }}
                            <div class="controls">
                                {{ form_widget(form.dateFinal, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2" style="display: none;">
                            {{ form_label(form.ordem, "Ordem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.ordem) }}
                            <div class="controls">
                                {{ form_widget(form.ordem, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.title) }}
                            <div class="controls">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.subtitle) }}
                            <div class="controls">
                                {{ form_widget(form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.article, "Artigo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.article) }}
                            <div class="controls">
                                {{ form_widget(form.article, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6" style="display: none;">
                            {{ form_label(form.ariArticle, "Artigo do Ari", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.ariArticle) }}
                            <div class="controls">
                                {{ form_widget(form.ariArticle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.link, "Link", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.link) }}
                            <div class="controls">
                                {{ form_widget(form.link, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}