{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block redacaoslide %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Slides</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Slides</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('slide_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('slide_edit', { 'id': slide.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('slide_new') }}" class="btn btn-primary">Novo Slide</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Slide cadastrado</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-2" style="display: none;">
                            <label class="control-label" for="ordem">Ordem</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="ordem" placeholder="{{ slide.ordem }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="dateInitial">Data inicial</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="dateInitial" placeholder="{% if slide.dateInitial %}{{ slide.dateInitial|date('d/m/Y H:i:s') }}{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="dateFinal">Data final</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="dateFinal" placeholder="{% if slide.dateFinal %}{{ slide.dateFinal|date('d/m/Y H:i:s') }}{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="title">Título</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="title" placeholder="{{ slide.title }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="subtitle">Subtítulo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subtitle" placeholder="{{ slide.subtitle }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="article">Artigo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="article" placeholder="{{ slide.article }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-6" style="display: none;">
                            <label class="control-label" for="ariArticle">Artigo do Ari</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="ariArticle" placeholder="{{ slide.ariArticle }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="link">Link</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="link" placeholder="{{ slide.link }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4"></div>
                        {% if slide.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(slide,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}