{% extends 'base.html.twig' %}

{% block app %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block appusuarios %}
    <li class="active open">
{% endblock %}


{% block container %}


    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Aplicativo</a></li>
            <li class="active"><a href="javascript:;">Usuários</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Usuários</h2>
    </div>

    <div class="container-fluid-md">
        <a href="{{ path('usuario_new_app') }}" class="btn btn-primary">
            Novo Usuário
        </a>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Usuários cadastrados</h4>

                <div class="panel-options">
                    <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                    <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                    <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {#<th width="20%">ID</th>#}
                        <th width="60%">NOME</th>
                        <th width="30%">USUÁRIO</th>
                        <th width="10%">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        {% if entity.username != 'rootadmin' %}
                        <tr>
                            {#<td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                            <td>{{ entity.nome }}</td>
                            <td>{{ entity.username }}</td>
                            <td>
                                <a href="{{ path('usuario_show_app', { 'id': entity.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                &nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="{{ path('usuario_edit_app', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center">
        <ul class="pagination">
            {% if hits > 1 %}
                {% for i in range(1,  hits ) %}
                    <li class="{% if page == i %} active {% endif %}"><a href="{{ path('usuario_index_app', { 'page': i }) }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}