{% extends 'base.html.twig' %}

{% block app %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block appusuarios %}
    <li class="active open">
{% endblock %}


{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Aplicativo</a></li>
            <li class="active"><a href="javascript:;">Usuários</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Usuários</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('usuario_index_app', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>
    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar novo usuário</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-8">
                            {{ form_label(form.nome, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.nome) }}
                            <div class="controls">
                                {{ form_widget(form.nome, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.username, "Usuário", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.username) }}
                            <div class="controls">
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.email, "E-mail", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.email) }}
                            <div class="controls">
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.password.first, "Senha", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.password.first) }}
                            <div class="controls">
                                {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.password.second, "Confirmar Senha", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.password.second) }}
                            <div class="controls">
                                {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.cpf, "CPF", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.cpf) }}
                            <div class="controls">
                                {{ form_widget(form.cpf, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.rg, "RG", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.rg) }}
                            <div class="controls">
                                {{ form_widget(form.rg, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.orgaoemissor, "Orgão Emissor", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.orgaoemissor) }}
                            <div class="controls">
                                {{ form_widget(form.orgaoemissor, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.telefone1, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.telefone1) }}
                            <div class="controls">
                                {{ form_widget(form.telefone1, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.telefone2, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.telefone2) }}
                            <div class="controls">
                                {{ form_widget(form.telefone2, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.telefone3, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.telefone3) }}
                            <div class="controls">
                                {{ form_widget(form.telefone3, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.tipousuario, "Tipo de Usuário", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.tipousuario) }}
                            <div class="controls">
                                {{ form_widget(form.tipousuario, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(form.empresa, "Empresa", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.empresa) }}
                            <div class="controls">
                                {{ form_widget(form.empresa, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#usuario_tipousuario").empty();
        var resultado = "<option value=\'Comum\'>Comum</option>";
        $("#usuario_tipousuario").html(resultado);
    </script>
{% endblock %}