{% extends 'BackBundle::base.html.twig' %}

{% block seguranca %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block segurancausuarios %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Acesso</a></li>
            <li class="active"><a href="javascript:;">Usuários</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Usuários</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('usuario_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editar o usuário</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-8">
                            {{ form_label(edit_form.nome, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.nome) }}
                            <div class="controls">
                                {{ form_widget(edit_form.nome, { 'attr': {'class': 'form-control'}, 'value' :  usuario.nome }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(edit_form.username, "Usuário", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.username) }}
                            <div class="controls">
                                {{ form_widget(edit_form.username, { 'attr': {'class': 'form-control'}, 'value' :  usuario.username }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(edit_form.email, "E-mail", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.email) }}
                            <div class="controls">
                                {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'}, 'value' :  usuario.email }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(edit_form.password.first, "Senha", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.password.first) }}
                            <div class="controls">
                                {{ form_widget(edit_form.password.first, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(edit_form.password.second, "Confirmar Senha", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.password.second) }}
                            <div class="controls">
                                {{ form_widget(edit_form.password.second, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            {{ form_label(edit_form.cpf, "CPF", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.cpf) }}
                            <div class="controls">
                                {{ form_widget(edit_form.cpf, { 'attr': {'class': 'form-control'}, 'value' :  usuario.cpf }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            {{ form_label(edit_form.rg, "RG", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.rg) }}
                            <div class="controls">
                                {{ form_widget(edit_form.rg, { 'attr': {'class': 'form-control'}, 'value' :  usuario.rg }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            {{ form_label(edit_form.orgaoemissor, "Orgão Emissor", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.orgaoemissor) }}
                            <div class="controls">
                                {{ form_widget(edit_form.orgaoemissor, { 'attr': {'class': 'form-control'}, 'value' :  usuario.orgaoemissor }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            {{ form_label(edit_form.telefone1, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.telefone1) }}
                            <div class="controls">
                                {{ form_widget(edit_form.telefone1, { 'attr': {'class': 'form-control'}, 'value' :  usuario.telefone1 }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            {{ form_label(edit_form.telefone2, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.telefone2) }}
                            <div class="controls">
                                {{ form_widget(edit_form.telefone2, { 'attr': {'class': 'form-control'}, 'value' :  usuario.telefone2 }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            {{ form_label(edit_form.telefone3, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.telefone3) }}
                            <div class="controls">
                                {{ form_widget(edit_form.telefone3, { 'attr': {'class': 'form-control'}, 'value' :  usuario.telefone3 }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.tipousuario, "Tipo de Usuário", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.tipousuario) }}
                            <div class="controls">
                                {{ form_widget(edit_form.tipousuario, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2" style="display: none;">
                            {{ form_label(edit_form.company, "Empresa", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.company) }}
                            <div class="controls">
                                {{ form_widget(edit_form.company, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Observação</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-12">
                            Deixar o campo de senha em branco para não alterar.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        {#{{ form_widget(edit_form.submit, { 'label': 'Atualizar', 'attr': {'class': 'btn btn-warning'} }) }}#}
        <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
        {{ form_end(edit_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        //$("#usuario_tipousuario").empty();
        //var resultado = "<option value=\'Administrador\'>Administrador</option><option value=\'Super Administrador\'>Super Administrador</option>";
        //$("#usuario_tipousuario").html(resultado);

        function submeter() {
            $('#submit').click();
        }
    </script>
{% endblock %}