{% extends 'BackBundle::base.html.twig' %}

{% block seguranca %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block segurancausuarios %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Acesso</a></li>
            <li class="active"><a href="javascript:;">Usuários</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Usuários</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('usuario_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('usuario_new') }}" class="btn btn-primary">Novo Usuário</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Usuário cadastrado {#- Código: {{ usuario.id }}#}</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="nome" placeholder="{{ usuario.nome }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label" for="username">Usuário</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="username" placeholder="{{ usuario.username }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="email" placeholder="{{ usuario.email }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            <label class="control-label" for="cpf">CPF</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="cpf" placeholder="{{ usuario.cpf }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            <label class="control-label" for="rg">RG</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="rg" placeholder="{{ usuario.rg }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            <label class="control-label" for="orgaoemissor">Orgão Emissor</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="orgaoemissor" placeholder="{{ usuario.orgaoemissor }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            <label class="control-label" for="telefone1">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="telefone1" placeholder="{{ usuario.telefone1 }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            <label class="control-label" for="telefone2">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="telefone2" placeholder="{{ usuario.telefone2 }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="display: none;">
                            <label class="control-label" for="telefone3">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="telefone3" placeholder="{{ usuario.telefone3 }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="tipousuario">Tipo de Usuário</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="tipousuario" placeholder="{{ usuario.tipousuario }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}