.signin-button {
    color: white !important;
}

.signin-button i {
    margin-left: 0.5rem;
}

.subscribe-button {
    color: white !important;
    margin-right: 0.8rem; 
}

.left-container {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.search-button {
    color: white;
    margin-left: 2rem;
    margin-right: 1rem;
    cursor: pointer;
 
}

.search-container {
  margin-right: 2rem;
}

/* -------------------------------------------------
                    SCREENS <= 992px
* ------------------------------------------------- */


@media (max-width: 992px) {
  
  .left-container > * {
      margin-top: 1rem;   
  }

  .hide-search {
       opacity: 1;
  }
  
  .search-button {
    display: none
  }

  .left-container {
      flex-direction: column-reverse;
      align-items: baseline;
      margin-left: 3rem;
      margin-right: 3rem;
  }

  .subscribe-button {
    width: 85px;
  }

}


/* -------------------------------------------------
                    ANIMATIONS
* ------------------------------------------------- */

.fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-right {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-1 20:39:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  