.paz-ad--billboard,
.paz-ad--large-leaderboard,
.paz-ad--leaderboard,
.paz-ad--super-billboard,
.paz-hglt--widescreen {
    width: auto
}

.mobile_menu {
    display: none
}

.inline-block {
    display: inline-block!important
}

@media (max-width:1249px) {
    .paz-main-header {
        height: auto
    }
    .paz-st-2,
    .paz-st-3,
    .paz-st-4 {
        width: 50%
    }
    .paz-search input {
        width: 100%
    }
}

@media (max-width:991px) {
    .paz-logo a {
        width: 170px
    }
    .paz-st-2,
    .paz-st-3,
    .paz-st-4 {
        width: 50%
    }
    .paz-footer-col {
        width: 48%;
        margin-right: 4%
    }
    .paz-footer-col:nth-of-type(2n+0) {
        margin-right: 0
    }
}

@media (max-width:767px) {
    .paz-search input {
        font-size: 2.2rem
    }
    .paz-st-2,
    .paz-st-3,
    .paz-st-4,
    .paz-st-6,
    .paz-st-7 {
        width: 100%
    }
    .ds-none,
    nav.paz-nav {
        display: none
    }
    nav.paz-nav,
    nav.paz-nav ul {
        width: 100%
    }
    .paz-main-header {
        min-height: 80px
    }
    .paz-primary-nav {
        position: relative
    }
    .mobile_menu {
        display: inline-block;
        color: #fff;
        float: right;
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 25px;
        font-size: 1.6em
    }
    .mobile_menu:hover {
        color: #b4e123;
        cursor: pointer
    }
    .paz-nav-gallery,
    .paz-nav-icons,
    .paz-secondary-nav {
        overflow-y: scroll!important;
        height: 730px!important
    }
    .paz-primary-nav .paz-nav-gallery li,
    .paz-primary-nav .paz-nav-icons li {
        width: 47%;
        margin: 0 3% 0 0
    }
    .paz-primary-nav .paz-secondary-nav li {
        width: 100%;
        margin: 0
    }
    .paz-primary-nav .paz-nav-gallery>.see-all,
    .paz-primary-nav .paz-nav-icons>.see-all,
    .paz-primary-nav .paz-secondary-nav>.see-all {
        position: relative
    }
    .paz-primary-nav .paz-nav-icons .paz-nav-item:before {
        position: relative;
        margin-top: 0
    }
    .paz-primary-nav .paz-nav-icons .paz-nav-item {
        padding: 10px
    }
    .paz-hglt--comp-lg,
    .paz-hglt--comp-tall {
        width: 100%
    }
    .paz-hglt--portrait-md {
        width: auto
    }
    .paz-callOut--box .paz-hglt--comp-md,
    .paz-callOut--box .paz-hglt--landscape-md,
    .paz-highlight .paz-hglt--landscape-md,
    .paz-highlight .paz-hglt--square,
    .paz-highlight a {
        width: 100%
    }
    .paz-hglt--landscape-md img {
        height: auto
    }
    .paz-callOut--box a {
        width: 100%
    }
    .paz-hglt--portrait-sm img {
        height: auto
    }
    .paz-status--social a {
        width: 24px;
        height: 24px
    }
    .paz-news--prev {
        padding-left: 35px
    }
    .paz-news--next {
        padding-right: 35px
    }
    .paz-editorial--header {
        font-size: 4em
    }
}

@media (max-width:559px) {
    .paz-nav-gallery,
    .paz-nav-icons,
    .paz-secondary-nav {
        height: 550px!important
    }
    .paz-logo a {
        width: 170px
    }
    .paz-st-5,
    .paz-st-8 {
        width: 100%
    }
    .paz-st-offset-1 {
        margin-left: 0
    }
    .paz-article--text div.paz-st-8.paz-st-offset-1 {
        padding-left: 15px
    }
    .paz-footer-col,
    .paz-hglt--comp-short,
    .paz-hglt--portrait-sm {
        width: 100%
    }
    .paz-headline--internal {
        font-size: 2em;
        line-height: 1.2em
    }
    .paz-headline--internal-summary {
        font-size: 1.1em
    }
}


/*# sourceMappingURL=mod.css.map */