/* ========================================================================== */
/* **** TITLE **** */
.profile-title {
    font-family: "Adelle", serif;
    text-align: center;
    color: #168DFD;
    font-size: 1.1rem;
    font-weight: 600;
}

/* ========================================================================== */
/* **** INPUT **** */
.profile-login-input input {
    width: 100%;
    font-family: "Adelle", sans-serif;
    line-height: 1.3rem;
    font-size: 1.1rem;
    color: #616161;
    padding: 0.5rem 0.25rem;
}

/* ========================================================================== */
/* **** LABEL **** */
.profile-login-input label {
    font-size: 1.1rem;
    color: #616161;
}

.login-error-label {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    border-radius: 4px;
    background-color: #FAFAFA;
}

/* ========================================================================== */
/* **** SEPARATOR **** */
.profile-separator {
    width: 100%;
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: #168DFD;
    opacity: 0.3;
}


/* ========================================================================== */
/* **** BUTTONS **** */
.profile-button {
    border: none;
    width: 100%;
    padding: 1rem 0;
    color: white;
    border-radius: 4px;
    line-height: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #168DFD;
    border-bottom: 4px solid #054F97;
}
.profile-button:hover{
    background-color: #164DFD;
}

/* **** BUTTON SMALL **** */
.profile-button-small {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    display: inline-block;
    width: auto;
}

/* **** BUTTON SECONDARY **** */
.profile-button-secondary {
    background-color: white;
    border: 1px solid #168DFD;
    color: #168DFD;
}

/* **** BUTTON DANGER **** */
.profile-button-danger {
    background-color: white;
    border: 1px solid #FD1669;
    color: #FD1669;
}

.profile-button-secondary:hover, 
.profile-button-danger:hover {
    background-color: #eeeeee;
}


/* ========================================================================== */
/* **** LOGIN **** */
.profile-login .profile-login-input {
    margin-top: 1rem;
}

.profile-login .profile-link {
    margin: 1rem 0;
    float: right;
    display: inline-block;
}

.profile-login .profile-button {
    margin-top: 1rem;
}


/* ========================================================================== */
/* **** SUBSCRIBE **** */
.profile-subscribe {
    text-align: center;
}

.profile-subscribe img {
    width: 280px;
    display: inline-block;
}

.profile-subscribe p {
    color: #6F6F6F;
    font-family: "Adelle", serif;
    line-height: 1.5rem;
    font-size: 1rem;
}

.profile-subscribe p span {
    color: #168DFD;
}

.profile-subscribe .profile-button {
    margin-top: 1rem;
}


/* ========================================================================== */
/* ===================== LOGIN + SUBSCRIBER CONTAINER ======================= */
.profile-login-subscribe-container .profile-separator {
    margin: 3rem 0;
}

/* ========================================================================== */
/* ======================== WRAPPER LOGIN + SUBSCRIBE======================== */
.profile-base-wrapper.login-subscribe-wrapper {
    padding: 3rem 6rem;
}

@media screen and (max-width: 640px){
    .profile-base-wrapper.login-subscribe-wrapper {
        width: 100%;
        padding: 3rem 2rem;
    }
}

/* ========================================================================== */
/* ========================== BASE WRAPPER ================================== */
.profile-base-wrapper {
    border: 1px solid #168DFD;
    padding: 3rem;
    box-sizing: border-box;
    display: block;
    margin: auto;
    width: 588px;
    border-radius: 4px;
}

/* ========================================================================== */
/* ====================== CLIENT PROFILE CONTAINER ========================== */
.client-profile-container {
    display: flex;
    justify-content: space-between;
}

.client-profile-wrapper {
    padding: 3rem;
    width: 858px;
}

@media screen and (max-width: 923px){
    .client-profile-container {
        flex-direction: column;
        width: 100%;
    }
    .client-profile-container .profile-separator-vertical {
        height: 2px;
        margin: 2rem 0;
        min-width: 100%;
    }
    .client-profile-wrapper {
        width: 428px;
    }
}

@media screen and (max-width: 460px){
    .client-profile-wrapper {
        width: 100%;
        padding: 2rem;
    }


    .client-profile-container > div {
        min-width: 100%;
        width: auto;
    }

}

/* ========================================================================== */
/* =============================== PERSONAL INFO ============================ */
.profile-personal-info {
    min-width: 300px;
    width: 332px;
}

.profile-personal-info .profile-login-input {
    margin: 1rem 0;
}

.profile-personal-info .profile-login-input:first-of-type{
    margin-top: 2rem;
}

.profile-personal-info .profile-button {
    margin: 1rem 0 0 0;
}

.profile-personal-info-buttons-container{
  display: flex;
  justify-content: space-between;
}

.action-container {
    display: flex;
    justify-content: space-between;
}

/* ========================================================================== */
/* ========================== SEPARATOR VERTICAL ============================ */
.profile-separator-vertical {
    flex-grow: 1;
    background-color: #808080;
    opacity: 0.4;
    max-width: 2px;
    border-radius: 1px;
}

/* ========================================================================== */
/* ==========================  PLAN INFO CONTAINER ========================== */
.profile-plan-info {
    min-width: 300px;
    width: 332px;
}

.profile-plan-info .profile-plan-card-container {
    margin: 1.75rem 0 0 0;
}

.profile-plan-info .profile-menu-container {
    margin: 1.75rem 0 0 0;
}

/* ========================================================================== */
/* ============================ PLAN CANCEL ================================= */
.profile-plan-cancel-container p {
    margin: 2rem 0;
    color: #6F6F6F;
    font-family: "Adelle", serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.profile-plan-cancel-container p span {
    color: #FD1669;
}

.profile-plan-cancel-buttons-container{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.profile-plan-cancel-buttons-container .profile-button{
    margin: 0 0.5rem;
}

/* ========================================================================== */
/* ================================ PLAN CARD =============================== */
.profile-plan-card-container {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
    font-family: "Adelle", sans-serif;
    text-align: center;
    border-radius: 4px;
    color: #168DFD;
}

.profile-plan-card-hint {
    border-radius: 4px 4px 0 0;
    padding: 0.25rem 0;
    background-color: #168DFD;
    color: white;
    font-size: 0.8rem;
}

.profile-plan-card-title {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.profile-plan-card-price {
    font-size: 1.6rem;
    font-weight: bold;
}

.profile-plan-card-price span {
    font-size: 1rem;
}

.profile-plan-card-note {
    font-size: 0.7rem;
    padding: 0.7rem;
    box-sizing: border-box;
}

.profile-plan-card-bottom-1 {
  background: linear-gradient(183.78deg, #93E8FB 0%, #B8E8C7 100%);
}

.profile-plan-card-bottom-2 {
  background: linear-gradient(183.78deg, #AE93FB 0%, #E8B8D2 100%);
}

.profile-plan-card-bottom-3 {
  background: linear-gradient(183.78deg, #FB939F 0%, #E8E2B8 100%);
}

/* ========================================================================== */
/* ============================== MENU  ===================================== */
.profile-menu-container {
    width: 100%;
    color: #168DFD;
    font-family: 'Adelle', serif;
}

.profile-menu-container .profile-menu-link {
    border: 0.5px solid rgba(128,128,128,0.5);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0.5rem 0;
    display: block;
    cursor: pointer;
}

.profile-menu-container .profile-menu-link:hover {
    background-color: #eeeeee;
}

.profile-menu-container .profile-menu-link img {
    display: inline-block;
    float: right;
    width: 16px;
}

/* ========================================================================== */
/* ================================ INVOICES ================================ */
.profile-plan-invoices {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}
.profile-plan-invoices > div {
    border-bottom: 0.7px solid rgba(62,62,62,0.12);
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    font-family: 'Adelle', serif;
}
.profile-plan-invoices div div:nth-of-type(1) {
    width: 50%;
}
.profile-plan-invoices div div:nth-of-type(2) {
    width: 30%;
}
.profile-plan-invoices div div:nth-of-type(3) {
    width: 20%;
}
.profile-plan-invoices-row div:nth-of-type(1) {
    color: #168DFD;
}

.profile-plan-invoices .profile-plan-invoices-head {
    font-weight: 600;
    margin-top: 2rem;
}

.profile-plan-invoices .profile-plan-invoices-button {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border: none;
    margin-top: 2rem;
}

/* ========================================================================== */
/* ============================ CREDIT CARD VIEW ============================ */
.profile-credit-container .profile-button {
    margin-top: 1rem;
}
