.register-progress-wrapper{
  background-color: white;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.16);
  border-radius: 5px;
  width: 400px;
  margin: auto;
  padding: 1rem;
  display: fixed;
  position: sticky;
  top: 1rem;
  z-index: 10;
}

.register-progress-wrapper a.register-step {
    background-color: white;
    color: #168DFD;
}


.register-progress-wrapper a.register-step:hover {
    cursor: pointer;
    color: #168DFD;
}

a.register-step.register-step-active {
    background-color: #168DFD;
    color: white;
}


a.register-step.register-step-active:hover {
    color: white;
}

.register-form-wrapper{
  border: 0.5px solid #168DFD;
  padding: 1rem;
  width: 400px;
  border-radius: 5px;
  box-sizing: border-box;
}


@media screen and (max-width: 400px) {
    .register-progress-wrapper, .register-form-wrapper{
        width: 310px;
    }
    .card-wrapper .jp-card{
        min-width: 200px;
    }
}



.register-form-wrapper .form-group{
  width: 100%;
  margin: 2rem 0;
}

.register-form-wrapper .form-group > div{
  width: 100%;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
}

.register-form-wrapper .form-group input {
  width: 100%;
  display: inline-block;
}

.register-form-wrapper .form-group label {
  text-align: left;
  justify-content: start;
  color: #616161;
  font-family: "Open sans", sans-serif;
  line-height: 2.5rem;
}

.register-form-wrapper .form-group select {
  width: 100%;
}

.register-title {
  text-align: center;
  padding: 1rem 0 0.5rem;
  color: #383838;
}

.register-title h5 {
  font-family: "Open sans", sans-serif;
}

.register-title::after {
  margin: 1rem 0 0;
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  background-color: rgba(56,56,56,0.2);
  content: '';
  display: block;
}

.register-plan-card {
  font-family: "Open sans", sans-serif;
  border-radius: 4px;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
  margin: 1.5rem 0;
  box-sizing: border-box;
  text-align: center;
  color:#168DFD;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
}

.register-plan-card label:hover {
  background-color: #168DFD;
  transition: background-color 0.5s ease,
              transform 0.5s ease;
  transform: scale(1.04);
  border-radius: 4px;
}

.plan-apostrophe {
  font-size: 1rem !important;
}

.register-plan-card label:hover > #plan-label {
  color: white;
}

.register-plan-card label:hover > #plan-ammount {
  color: white;
}

.register-plan-card label:hover > #plan-details {
  color: white;
}

.register-plan-card input {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    opacity: 0;
}


.register-plan-card input.plan-disabled + label{
    opacity: 0.3;
}

.register-plan-card label {
    background-color: white;
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}

.register-plan-recomended {
  display: block;
  color: white;
  width: 100%;
  padding: 0.2rem;
  font-size: .8rem;
  background-color: #168DFD;
  border-radius: 4px 4px 0 0;
}

.register-plan-no-recomended{
  display: none;
}

.register-plan-card-label {
  padding: 1rem 0;
  font-size: 1rem;
}

.register-plan-card-price span {
  font-size: 2rem;
  display: inline-block;
}

.register-plan-card-note {
  font-size: 0.7rem;
  padding: 1rem;
  box-sizing: border-box;
}

.register-plan-card-bottom {
  width: 100%;
  height: 4px;
}

.card-bottom-gradient-1{
  background: linear-gradient(183.78deg, #93E8FB 0%, #B8E8C7 100%);
}

.card-bottom-gradient-2{
  background: linear-gradient(183.78deg, #AE93FB 0%, #E8B8D2 100%);
}

.card-bottom-gradient-3{
  background: linear-gradient(183.78deg, #FB939F 0%, #E8E2B8 100%);
}

.register-separator {
   margin: 1.5rem 0;
   height: 2px;
   width: 100%;
   background-color: #bfbfbf;
}

.register-submit {
    width: 100%;
}

.register-submit button {
    width: 100%;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    background-color: #168DFD;
    border: none;
    border-bottom: #054F97 4px solid;
}

.register-submit button:hover {
    background-color: #1376D4;
    opacity: 1;
}

.register-submit button:disabled {
    opacity: 0.4;
}

#card_name {
  text-transform: uppercase;
}

/* -------------------------------------------------
                    SPINNER LOADER 
* ------------------------------------------------- */

.icon-container {
  position: relative;
  left: 90%;
  top: -27px;
  padding: 0 !important;
}

.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #333 #333 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

/* CHECKOUT */

.register-checkout-wrapper {
  border: 0.5px solid #03a678;
}

.register-checkout-wrapper .register-title h5 {
    color: #03a678;
}

.disabled-button {
  opacity: 0.4;
}

.register-checkout-congrats {
    color: #424242;
    font-family: "Open sans", sans-serif;
    font-size: 0.9rem;
    line-height: 1.1rem;
    text-align: center;
    padding: 1.25rem 0.2rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
