{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastronewsgroup %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Cadastro</a></li>
                <li class="active"><a href="javascript:;">Grupos de Notícias</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Grupos de Notícias</h2>
        </div>

        <div class="container-fluid-md">
            {{ form_start(delete_form) }}
            <a href="{{ path('newsgroup_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
            <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
            <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
            {{ form_end(delete_form) }}
        </div>

        <div class="container-fluid-md"><br><br></div>

        {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Editar o grupo</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">


                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.owner, "Dono", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.owner) }}
                            <div class="controls">
                                {{ form_widget(edit_form.owner, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        
                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.groupName, "Nome do Grupo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.groupName) }}
                            <div class="controls">
                                {{ form_widget(edit_form.groupName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.ownerName, "Dono do Grupo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.ownerName) }}
                            <div class="controls">
                                {{ form_widget(edit_form.ownerName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.description, "Descrição", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.description) }}
                            <div class="controls">
                                {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(edit_form.canComment, "Permitir comentários", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.canComment) }}
                            <div class="controls">
                                {{ form_widget(edit_form.canComment, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(edit_form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.status) }}
                            <div class="controls">
                                {{ form_widget(edit_form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(edit_form.featured, "Destaque", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.featured) }}
                            <div class="controls">
                                {{ form_widget(edit_form.featured, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.mailTo, "Email", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.mailTo) }}
                            <div class="controls">
                                {{ form_widget(edit_form.mailTo, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.kind, "Tipo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.kind) }}
                            <div class="controls">
                                {{ form_widget(edit_form.kind, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.imageFile, "Imagem da capa") }}
                            {{ form_errors(edit_form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(edit_form.imageFile, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        {% if newsGroup.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(newsGroup,'imageFile') }}" class="img-responsive" alt="" align="middle" width="400px" height="300px" />
                            </div>
                        {% endif %}

                        <div class="form-group col-lg-12"><br><br></div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.imageFile2, "Imagem da listagem") }}
                            {{ form_errors(edit_form.imageFile2) }}
                            <div class="controls">
                                {{ form_widget(edit_form.imageFile2, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        {% if newsGroup.imageName2 %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(newsGroup,'imageFile2') }}" class="img-responsive" alt="" align="middle" width="400px" height="300px" />
                            </div>
                        {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
        {{ form_end(edit_form) }}

        <div class="container-fluid-md"><br><br></div>

    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
{% endblock %}