{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastronewsgroup %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Grupos de Notícias</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Grupos de Notícias</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('newsgroup_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar novo grupo</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-12">
                            {{ form_label(form.owner, "Dono", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.owner) }}
                            <div class="controls">
                                {{ form_widget(form.owner, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        
                        <div class="form-group col-lg-12">
                            {{ form_label(form.groupName, "Nome do Grupo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.groupName) }}
                            <div class="controls">
                                {{ form_widget(form.groupName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.ownerName, "Dono do Grupo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.ownerName) }}
                            <div class="controls">
                                {{ form_widget(form.ownerName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.description, "Descrição", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.description) }}
                            <div class="controls">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(form.canComment, "Permitir comentários", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.canComment) }}
                            <div class="controls">
                                {{ form_widget(form.canComment, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.status) }}
                            <div class="controls">
                                {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(form.featured, "Destaque", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.featured) }}
                            <div class="controls">
                                {{ form_widget(form.featured, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.mailTo, "Email", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.mailTo) }}
                            <div class="controls">
                                {{ form_widget(form.mailTo, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.kind, "Tipo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.kind) }}
                            <div class="controls">
                                {{ form_widget(form.kind, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem da capa") }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile2, "Imagem da listagem") }}
                            {{ form_errors(form.imageFile2) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile2, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}