{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastronewsgroup %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Grupos de Notícias</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Grupos de Notícias</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('newsgroup_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('newsgroup_edit', { 'id': newsGroup.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('newsgroup_new') }}" class="btn btn-primary">Novo Grupo de Notícias</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Grupo</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-12">
                            <label class="control-label" for="owner">Dono</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="owner" placeholder="{{ newsGroup.owner }}" disabled>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12">
                            <label class="control-label" for="groupName">Nome do Grupo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="link" placeholder="{{ newsGroup.groupName }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="ownerName">Dono do Grupo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="ownerName" placeholder="{{ newsGroup.ownerName }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="description">Descrição</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="social" placeholder="{{ newsGroup.description }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="canComment">Permitir Comentários</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="canComment" placeholder="{% if newsGroup.canComment == true %}SIM{% else %}NÃO{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="status">Status</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="status" placeholder="{% if newsGroup.status == true %}ATIVO{% else %}INATIVO{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="featured">Destaque</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="featured" placeholder="{% if newsGroup.featured == true %}ATIVO{% else %}INATIVO{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="mailTo">Email</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="mailTo" placeholder="{{ newsGroup.mailTo }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="kind">Tipo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="kind" placeholder="{{ newsGroup.kind }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12"></div>

                        {% if newsGroup.imageName %}
                            <div class="col-lg-12">
                                <label class="control-label" for="imageFile">Imagem da capa</label>
                                <br>
                                <a href="{{ path('corta_imagem_newsgroup', { 'id': newsGroup.id, 'imagem' : 1 }) }}" class="btn btn-success">Cortar</a>
                                <br><br>
                                <img src="{{ vich_uploader_asset(newsGroup,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}
                        <div class="form-group col-md-12"></div>

                        {% if newsGroup.imageName2 %}
                            <div class="col-lg-12">
                                <label class="control-label" for="imageFile2">Imagem da listagem</label>
                                <br>
                                <a href="{{ path('corta_imagem_newsgroup', { 'id': newsGroup.id, 'imagem' : 2 }) }}" class="btn btn-success">Cortar</a>
                                <br><br>
                                <img src="{{ vich_uploader_asset(newsGroup,'imageFile2') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}

                        <div class="col-lg-12"><br><br></div>

                        <div class="form-group col-md-2">
                            <label class="control-label" for="visitorNumberWeb">Número de Visitantes do Site</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="visitorNumberWeb" placeholder="{{ newsGroup.visitorNumberWeb }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label class="control-label" for="visitorNumberApp">Número de Visitantes do App</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="visitorNumberApp" placeholder="{{ newsGroup.visitorNumberApp }}" disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}