{% extends 'BackBundle::base.html.twig' %}

{% block comercial %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block comercialbanner %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Banners</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Banners</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('banner_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editar o banner</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-2" style="display: none;">
                            {{ form_label(edit_form.ordem, "Ordem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.ordem) }}
                            <div class="controls">
                                {{ form_widget(edit_form.ordem, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(edit_form.company, "Agência", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.company) }}
                            <div class="controls">
                                {{ form_widget(edit_form.company, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(edit_form.customer, "Cliente", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.customer) }}
                            <div class="controls">
                                {{ form_widget(edit_form.customer, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.location, "Localização", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.location) }}
                            <div class="controls">
                                {{ form_widget(edit_form.location, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.marketing, "Campanha", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.marketing) }}
                            <div class="controls">
                                {{ form_widget(edit_form.marketing, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.dateInitial, "Data inicial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.dateInitial) }}
                            <div class="controls">
                                {{ form_widget(edit_form.dateInitial, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.dateFinal, "Data final", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.dateFinal) }}
                            <div class="controls">
                                {{ form_widget(edit_form.dateFinal, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(edit_form.type, "Tipo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.type) }}
                            <div class="controls">
                                {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.link, "Link", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.link) }}
                            <div class="controls">
                                {{ form_widget(edit_form.link, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(edit_form.imageFile) }}
                            </div>
                        </div>
                        {% if banner.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(banner,'imageFile') }}" class="img-responsive" alt="" align="middle" width="400px" height="300px" />
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelTodos, "Todos", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelTodos) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelTodos, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelPrincipal, "Página principal", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelPrincipal) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelPrincipal, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelArtigos, "Publicações", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelArtigos) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelArtigos, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelEditorias, "Lista de Editorias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelEditorias) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelEditorias, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelMunicipios, "Feed de Municípios", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelMunicipios) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelMunicipios, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelBlogs, "Lista de Blogs", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelBlogs) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelBlogs, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelColunas, "Lista de Colunas", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelColunas) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelColunas, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(edit_form.visivelConsultas, "Resultado de Consultas", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.visivelConsultas) }}
                            <div class="controls">
                                {{ form_widget(edit_form.visivelConsultas, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editorias para visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">


                        {#<div class="form-group col-lg-6">
                            {{ form_label(edit_form.editorials, "Editorias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.editorials) }}
                            <div class="controls">
                                {{ form_widget(edit_form.editorials, { 'attr': {'class': 'form-control', 'size' : countEditorials} }) }}
                            </div>
                        </div>#}

                        {% for editorial in edit_form.editorials %}
                            <div class="form-group col-lg-3 text-center">
                                {{ form_label(edit_form.editorials, editorial.vars.label, {'label_attr': {'class':'control-label'}}) }}
                                <div class="controls">
                                    {{ form_widget(editorial, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Grupos de notícias para visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">


                        {#<div class="form-group col-lg-6">
                            {{ form_label(form.editorials, "Editorias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.editorials) }}
                            <div class="controls">
                                {{ form_widget(form.editorials, { 'attr': {'class': 'form-control', 'size' : countEditorials} }) }}
                            </div>
                        </div>#}

                        {% for newsgroup in edit_form.newsgroups %}
                            <div class="form-group col-lg-3 text-center">
                                {{ form_label(edit_form.newsgroups, newsgroup.vars.label, {'label_attr': {'class':'control-label'}}) }}
                                <div class="controls">
                                    {{ form_widget(newsgroup, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
    {{ form_end(edit_form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
{% endblock %}