{% extends 'BackBundle::base.html.twig' %}

{% block comercial %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block comercialbanner %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Banners</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Banners</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('banner_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar novo banner</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        {#<div class="form-group col-lg-2">
                            {{ form_label(form.botao, "Tipo do botão", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.botao) }}
                            <div class="controls">
                                {{ form_widget(form.botao, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>#}

                        <div class="form-group col-lg-2" style="display: none;">
                            {{ form_label(form.ordem, "Ordem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.ordem) }}
                            <div class="controls">
                                {{ form_widget(form.ordem, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(form.company, "Agência", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.company) }}
                            <div class="controls">
                                {{ form_widget(form.company, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(form.customer, "Cliente", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.customer) }}
                            <div class="controls">
                                {{ form_widget(form.customer, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.location, "Localização", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.location) }}
                            <div class="controls">
                                {{ form_widget(form.location, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.marketing, "Campanha", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.marketing) }}
                            <div class="controls">
                                {{ form_widget(form.marketing, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.dateInitial, "Data inicial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.dateInitial) }}
                            <div class="controls">
                                {{ form_widget(form.dateInitial, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.dateFinal, "Data final", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.dateFinal) }}
                            <div class="controls">
                                {{ form_widget(form.dateFinal, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.type, "Tipo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.type) }}
                            <div class="controls">
                                {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.link, "Link", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.link) }}
                            <div class="controls">
                                {{ form_widget(form.link, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelTodos, "Todos", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelTodos) }}
                            <div class="controls">
                                {{ form_widget(form.visivelTodos, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelPrincipal, "Página principal", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelPrincipal) }}
                            <div class="controls">
                                {{ form_widget(form.visivelPrincipal, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelArtigos, "Publicações", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelArtigos) }}
                            <div class="controls">
                                {{ form_widget(form.visivelArtigos, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelEditorias, "Lista de Editorias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelEditorias) }}
                            <div class="controls">
                                {{ form_widget(form.visivelEditorias, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelMunicipios, "Feed de Municípios", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelMunicipios) }}
                            <div class="controls">
                                {{ form_widget(form.visivelMunicipios, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelBlogs, "Lista de Blogs", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelBlogs) }}
                            <div class="controls">
                                {{ form_widget(form.visivelBlogs, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelColunas, "Lista de Colunas", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelColunas) }}
                            <div class="controls">
                                {{ form_widget(form.visivelColunas, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3 text-center">
                            {{ form_label(form.visivelConsultas, "Resultado de Consultas", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.visivelConsultas) }}
                            <div class="controls">
                                {{ form_widget(form.visivelConsultas, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editorias para visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">


                        {#<div class="form-group col-lg-6">
                            {{ form_label(form.editorials, "Editorias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.editorials) }}
                            <div class="controls">
                                {{ form_widget(form.editorials, { 'attr': {'class': 'form-control', 'size' : countEditorials} }) }}
                            </div>
                        </div>#}

                        {% for editorial in form.editorials %}
                            <div class="form-group col-lg-3 text-center">
                                {{ form_label(form.editorials, editorial.vars.label, {'label_attr': {'class':'control-label'}}) }}
                                <div class="controls">
                                    {{ form_widget(editorial, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Grupos de notícias para visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">


                        {#<div class="form-group col-lg-6">
                            {{ form_label(form.editorials, "Editorias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.editorials) }}
                            <div class="controls">
                                {{ form_widget(form.editorials, { 'attr': {'class': 'form-control', 'size' : countEditorials} }) }}
                            </div>
                        </div>#}

                        {% for newsgroup in form.newsgroups %}
                            <div class="form-group col-lg-3 text-center">
                                {{ form_label(form.newsgroups, newsgroup.vars.label, {'label_attr': {'class':'control-label'}}) }}
                                <div class="controls">
                                    {{ form_widget(newsgroup, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}