{% extends 'BackBundle::base.html.twig' %}

{% block comercial %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block comercialbanner %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Banners</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Banners</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('banner_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('banner_edit', { 'id': banner.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('banner_new') }}" class="btn btn-primary">Novo Banner</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Banner cadastrado</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-2" style="display: none;">
                            <label class="control-label" for="ordem">Ordem</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="ordem" placeholder="{{ banner.ordem }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="company">Agência</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="company" placeholder="{{ banner.company }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="customer">Cliente</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="customer" placeholder="{{ banner.customer }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="location">Localização</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="location" placeholder="{{ banner.location }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="marketing">Campanha</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="marketing" placeholder="{{ banner.marketing }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="dateInitial">Data inicial</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="dateInitial" placeholder="{% if banner.dateInitial %}{{ banner.dateInitial|date('d/m/Y H:i:s') }}{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="dateFinal">Data final</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="dateFinal" placeholder="{% if banner.dateFinal %}{{ banner.dateFinal|date('d/m/Y H:i:s') }}{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="type">Tipo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="type" placeholder="{{ banner.type }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="link">Link</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="link" placeholder="{{ banner.link }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4"></div>
                        {% if banner.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(banner,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelTodos }}">Todos</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelTodos }}" placeholder="" {% if banner.visivelTodos %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelPrincipal }}">Página principal</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelPrincipal }}" placeholder="" {% if banner.visivelPrincipal %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelArtigos }}">Publicações</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelArtigos }}" placeholder="" {% if banner.visivelArtigos %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelEditorias }}">Lista de Editorias</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelEditorias }}" placeholder="" {% if banner.visivelEditorias %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelMunicipios }}">Lista de Municípios</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelMunicipios }}" placeholder="" {% if banner.visivelMunicipios %}checked{% endif %} disabled>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelBlogs }}">Lista de Blogs</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelBlogs }}" placeholder="" {% if banner.visivelBlogs %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelColunas }}">Lista de Colunas</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelColunas }}" placeholder="" {% if banner.visivelColunas %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3 text-center">
                            <label class="control-label" for="{{ banner.visivelConsultas }}">Resultado de Consultas</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="{{ banner.visivelConsultas }}" placeholder="" {% if banner.visivelConsultas %}checked{% endif %} disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editorias para visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">


                        {% for editorial in banner.editorials %}
                            <div class="form-group col-md-6">
                                <div class="controls">
                                    <input type="text" class="form-control" id="{{ editorial.name }}" placeholder="{{ editorial.name }}" disabled>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Grupos de notícias para visualização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">


                        {% for newsgroup in banner.newsgroups %}
                            <div class="form-group col-md-6">
                                <div class="controls">
                                    <input type="text" class="form-control" id="{{ newsgroup.groupName }}" placeholder="{{ newsgroup.groupName }}" disabled>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="container-fluid-md"><br><br></div>

{% endblock %}