{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaoculture %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Agenda Cultural</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Agenda Cultural</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('culture_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('culture_edit', { 'id': culture.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('culture_new') }}" class="btn btn-primary">Novo Evento</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Agenda Cultural</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="title">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="link" placeholder="{{ culture.title }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="description">Descrição</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="description" placeholder="{{ culture.description }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="description">Data</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="date" placeholder="{{ culture.date |date('d/m/Y') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="place">Local</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="place" placeholder="{{ culture.place }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="phone">Telefone</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="place" placeholder="{{ culture.phone }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="status">Status</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="status" placeholder="{% if culture.status == true %}Aprovado{% else %}Não{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="link">Link</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="link" placeholder="{{ culture.link }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="mailTo">Email</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="mailTo" placeholder="{{ culture.mailTo }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12"></div>

                        {% if culture.imageName %}
                            <div class="col-lg-12">
                                <label class="control-label" for="imageFile">Imagem</label>
                                <img src="{{ vich_uploader_asset(culture,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}
                        <div class="form-group col-md-12"></div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="visitorNumberWeb">Número de Visitantes do Site</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="visitorNumberWeb" placeholder="{{ culture.visitorNumberWeb }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="visitorNumberApp">Número de Visitantes do App</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="visitorNumberApp" placeholder="{{ culture.visitorNumberApp }}" disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}