{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastronewsgroup %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Grupos de Notícias</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Grupos de Notícias</h2>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://jcrop-cdn.tapmodo.com/v2.0.0-RC1/js/Jcrop.js"></script>
    <link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v2.0.0-RC1/css/Jcrop.css" type="text/css">

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cortar foto</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12" align="center" style="margin-top: 50px;">
                            {% if imagem == 1 %} <img src="{{ vich_uploader_asset(newsgroup,'imageFile') }}" class="img-resposive" id="target" style="max-width: 800px;"/> {% endif %}
                            {% if imagem == 2 %} <img src="{{ vich_uploader_asset(newsgroup,'imageFile2') }}" class="img-resposive" id="target" style="max-width: 800px;"/> {% endif %}
                        </div>


                        <div class="form-group col-lg-12" align="center" style="margin-top: 20px;">
                            <form action="{{ path('corta_imagem_newsgroup', { 'id': newsgroup.id, 'imagem' : imagem }) }}" id="myform" method="post" onsubmit="return checkCoords();">
                                <input type="hidden" name="cropx" id="cropx" value="0" />
                                <input type="hidden" name="cropy" id="cropy" value="0" />
                                <input type="hidden" name="cropw" id="cropw" value="0" />
                                <input type="hidden" name="croph" id="croph" value="0" />
                                <input type="submit" value="Cortar" class="btn-dark-2" />
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        var width2  = jQuery('#target').prop('naturalWidth');
        var height2 = jQuery('#target').prop('naturalHeight');

        jQuery(function($){
            {% if imagem == 1 %}
                $('#target').Jcrop({
                    setSelect: [ 0,0,600,300 ],
                    aspectRatio: 2,
                    boxWidth: 600,
                    boxHeight: 600,
                    onSelect: updateCoords,
                    trueSize: [width2,height2],
                });
            {% endif %}

            {% if imagem == 2 %}
                $('#target').Jcrop({
                    setSelect: [ 0,0,600,600 ],
                    aspectRatio: 1,
                    boxWidth: 600,
                    boxHeight: 600,
                    onSelect: updateCoords,
                    trueSize: [width2,height2],
                });
            {% endif %}

            $('#target').on('cropmove cropend',function(e,s,c){

            });
        });

        function updateCoords(c)
        {
            jQuery('#cropx').val(c.x);
            jQuery('#cropy').val(c.y);
            jQuery('#cropw').val(c.w);
            jQuery('#croph').val(c.h);
        };

        function checkCoords()
        {
            if (parseInt($('#cropw').val())) return true;
            alert('Por favor, selecione uma região depois aperte cortar.');
            return false;
        };
    </script>

{% endblock %}