{% extends 'BackBundle::base.html.twig' %}

{% block estatisticas %}
    <li class="nav-dropdown active open">
{% endblock %}


{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li class="active"><a href="javascript:;">Estatísticas</a></li>
        </ol>
    </div>

    <div class="page-heading page-heading-md">
        <h2>Estatísticas</h2>
    </div>

    <div class="container-fluid-md">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Acesso </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-globe fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ acessowebsite }} </div>
                                <div>Website</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-mobile fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ acessoapp }} </div>
                                <div>Aplicativo</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ acessogeral }} </div>
                                <div>Geral</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            {% if yesterdayMostReadArticle != null %}
                <a href="{{ path('article_show', { 'id': yesterdayMostReadArticle.id }) }}">
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-brown">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-newspaper-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Top Matéria - Ontem</div>
                                        <div class="huge"> {{ yesterdayMostReadArticle.visitorNumberWeb }} </div>
                                        <div class="huge"><strong>{{ yesterdayMostReadArticle.title|slice(0,50) }}</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
            <div class="col-lg-2 col-md-6">
            </div>
            <div class="col-lg-2 col-md-6">
            </div>
            <div class="col-lg-2 col-md-6">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-mobile fa-fw"></i> Aplicativo </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['usersapp'] }} </div>
                                <div>Usuários</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-level-down fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['installs'] }} </div>
                                <div>Instalações</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comment fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['pushes'] }} </div>
                                <div>Pushes</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cogs fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['companys'] }} </div>
                                <div>Empresas</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['clientes'] }} </div>
                                <div>Clientes</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ticket fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> 0 </div>
                                <div>----</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bars fa-fw"></i> Totais </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-star fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ count }} </div>
                                <div>----</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-search fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['acesso'] }} </div>
                                <div>----</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ticket fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['emitidas'] }} </div>
                                <div>----</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['pagas'] }} </div>
                                <div>----</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> R$ {{ geral['total']|number_format(2,',','.') }} </div>
                                <div>----</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-list fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ geral['ativas'] }} </div>
                                <div>----</div>
                            </div>
                        </div>
                    </div>
                    {#<a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

