{% extends 'base.html.twig' %}

{% block app %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block appinstalacoess %}
    <li class="active open">
{% endblock %}

{% block container %}


    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Aplicativo</a></li>
            <li class="active"><a href="javascript:;">Instalações</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Instalações</h2>
    </div>

    {#<div class="container-fluid-md">
        <a href="{{ path('frota_new') }}" class="btn btn-primary">
            Nova Instalações
        </a>
    </div>#}

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Instalações cadastradas</h4>

                <div class="panel-options">
                    <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                    <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                    <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {#<th width="20%">ID</th>#}
                        <th width="10%">DISPOSITIVO</th>
                        <th width="10%">VERSÃO</th>
                        <th width="40%">INSTALAÇÃO</th>
                        <th width="20%">USUÁRIO</th>
                        <th width="10%">VERSÃO APP</th>
                        <th width="10%">CRIADO EM</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for installation in installations %}
                        <tr>
                            {#<td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                            <td>{{ installation.tipoDispositivo }}</td>
                            <td>{{ installation.versaoDispositivo }}</td>
                            <td>{{ installation.idInstalacao }}</td>
                            <td>{{ installation.usuario }}</td>
                            <td>{{ installation.versaoApp }}</td>
                            <td>{{ installation.criadoEm|date('d-m-Y') }}</td>

{#                            <td>
                                <a href="{{ path('installation_show', { 'id': installation.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                &nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="{{ path('installation_edit', { 'id': installation.id }) }}" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
                            </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center">
        <ul class="pagination">
            {% if hits > 1 %}
                {% for i in range(1,  hits ) %}
                    <li class="{% if page == i %} active {% endif %}"><a href="{{ path('installation_index', { 'page': i }) }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}
