{% extends 'base.html.twig' %}

{% block body %}
    <h1>Installation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ installation.id }}</td>
            </tr>
            <tr>
                <th>Tokendispositivo</th>
                <td>{{ installation.tokenDispositivo }}</td>
            </tr>
            <tr>
                <th>Tipodispositivo</th>
                <td>{{ installation.tipoDispositivo }}</td>
            </tr>
            <tr>
                <th>Versaodispositivo</th>
                <td>{{ installation.versaoDispositivo }}</td>
            </tr>
            <tr>
                <th>Idinstalacao</th>
                <td>{{ installation.idInstalacao }}</td>
            </tr>
            <tr>
                <th>Timezone</th>
                <td>{{ installation.timezone }}</td>
            </tr>
            <tr>
                <th>Identificadorapp</th>
                <td>{{ installation.identificadorApp }}</td>
            </tr>
            <tr>
                <th>Versaoapp</th>
                <td>{{ installation.versaoApp }}</td>
            </tr>
            <tr>
                <th>Nomeapp</th>
                <td>{{ installation.nomeApp }}</td>
            </tr>
            <tr>
                <th>Canal</th>
                <td>{{ installation.canal }}</td>
            </tr>
            <tr>
                <th>Criadoem</th>
                <td>{{ installation.criadoEm }}</td>
            </tr>
            <tr>
                <th>Atualizadoem</th>
                <td>{{ installation.atualizadoEm }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('installation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('installation_edit', { 'id': installation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
