{% extends 'BackBundle::base.html.twig' %}

{% block comercial %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block comercialadvertising %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Comercial</a></li>
            <li class="active"><a href="javascript:;">Veiculações</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Veiculações</h2>
    </div>
    {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('advertising_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar nova veiculação</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-6">
                            {{ form_label(edit_form.date, "Data", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.date) }}
                            <div class="controls">
                                {{ form_widget(edit_form.date, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(edit_form.banner, "Cliente / Campanha", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.banner) }}
                            <div class="controls">
                                {{ form_widget(edit_form.banner, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(edit_form.imageFile, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}