{% extends 'FrontBundle::base.html.twig' %}

{% block container %}

    <div class="paz-main-content">
        <!-- Main content -->
        <div class="paz-grid--container">
            <!-- Header -->
            <header class="paz-line paz-mgt--60">
                <div class="paz-st-7">
                    <h2 class="paz-blog--header">Municípios</h2>
                </div>
                <div class="paz-st-3"></div>
                <div class="paz-st-10">
                    <hr class="paz-editorial--bar">
                </div>
            </header>
            <main class="paz-line">
                <ul class="paz-blog--list">
                    <li class="paz-st-2">
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>A</span>
                                </div>
                            </li>
                            {% for cidA in cidadesA %}
                            <li>
                                <a href={{ path('municipios_feed', {'id' : cidA.id, 'friendlyCity': cidA.friendlyCity}) }} title="mu">{{ cidA.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>F</span>
                                </div>
                            </li>
                            {% for cidF in cidadesF %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidF.id, 'friendlyCity': cidF.friendlyCity}) }} title="mu">{{ cidF.name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>K</span>
                                </div>
                            </li>
                            {% for cidK in cidadesK %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidK.id, 'friendlyCity': cidK.friendlyCity}) }} title="mu">{{ cidK.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>P</span>
                                </div>
                            </li>
                            {% for cidP in cidadesP %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidP.id, 'friendlyCity': cidP.friendlyCity}) }} title="mu">{{ cidP.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>U</span>
                                </div>
                                {% for cidU in cidadesU %}
                                    <li>
                                        <a href={{ path('municipios_feed', {'id' : cidU.id, 'friendlyCity': cidU.friendlyCity}) }} title="mu">{{ cidU.name }}</a>
                                    </li>
                                {% endfor %}
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>Z</span>
                                </div>
                            </li>
                            {% for cidZ in cidadesZ %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidZ.id, 'friendlyCity': cidZ.friendlyCity}) }} title="mu">{{ cidZ.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="paz-st-2">
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>B</span>
                                </div>
                            </li>
                            {% for cidB in cidadesB %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidB.id, 'friendlyCity': cidB.friendlyCity}) }} title="mu">{{ cidB.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>G</span>
                                </div>
                            </li>
                            {% for cidG in cidadesG %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidG.id, 'friendlyCity': cidG.friendlyCity}) }} title="mu">{{ cidG.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>L</span>
                                </div>
                            </li>
                            {% for cidL in cidadesL %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidL.id, 'friendlyCity': cidL.friendlyCity}) }} title="mu">{{ cidL.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>Q</span>
                                </div>
                            </li>
                            {% for cidQ in cidadesQ %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidQ.id, 'friendlyCity': cidQ.friendlyCity}) }} title="mu">{{ cidQ.name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>V</span>
                                </div>
                            </li>
                            {% for cidV in cidadesV %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidV.id, 'friendlyCity': cidV.friendlyCity}) }} title="mu">{{ cidV.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="paz-st-2">
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>C</span>
                                </div>
                            </li>
                            {% for cidC in cidadesC %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidC.id, 'friendlyCity': cidC.friendlyCity}) }} title="mu">{{ cidC.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>H</span>
                                </div>
                            </li>
                            {% for cidH in cidadesH %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidH.id, 'friendlyCity': cidH.friendlyCity}) }} title="mu">{{ cidH.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>M</span>
                                </div>
                            </li>
                            {% for cidM in cidadesM %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidM.id, 'friendlyCity': cidM.friendlyCity}) }} title="mu">{{ cidM.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>R</span>
                                </div>
                            </li>
                            {% for cidR in cidadesR %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidR.id, 'friendlyCity': cidR.friendlyCity}) }} title="mu">{{ cidR.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>W</span>
                                </div>
                            </li>
                            {% for cidW in cidadesW %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidW.id, 'friendlyCity': cidW.friendlyCity}) }} title="mu">{{ cidW.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="paz-st-2">
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>D</span>
                                </div>
                            </li>
                            {% for cidD in cidadesD %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidD.id, 'friendlyCity': cidD.friendlyCity}) }} title="mu">{{ cidD.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>I</span>
                                </div>
                            </li>
                            {% for cidI in cidadesI %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidI.id, 'friendlyCity': cidI.friendlyCity}) }} title="mu">{{ cidI.name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>N</span>
                                </div>
                            </li>
                            {% for cidN in cidadesN %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidN.id, 'friendlyCity': cidN.friendlyCity}) }} title="mu">{{ cidN.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>S</span>
                                </div>
                            </li>
                            {% for cidS in cidadesS %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidS.id, 'friendlyCity': cidS.friendlyCity}) }} title="mu">{{ cidS.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>X</span>
                                </div>
                            </li>
                            {% for cidX in cidadesX %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidX.id, 'friendlyCity': cidX.friendlyCity}) }} title="mu">{{ cidX.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="paz-st-2">
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>E</span>
                                </div>
                            </li>
                            {% for cidE in cidadesE %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidE.id, 'friendlyCity': cidE.friendlyCity}) }} title={{ cidE.name }}>{{ cidE.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>J</span>
                                </div>
                            </li>
                            {% for cidJ in cidadesJ %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidJ.id, 'friendlyCity': cidJ.friendlyCity}) }} title="mu">{{ cidJ.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>O</span>
                                </div>
                            </li>
                            {% for cidO in cidadesO %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidO.id, 'friendlyCity': cidO.friendlyCity}) }} title="mu">{{ cidO.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>T</span>
                                </div>
                            </li>
                            {% for cidT in cidadesT %}
                                <li>
                                    <a href={{ path('municipios_feed', {'id' : cidT.id, 'friendlyCity': cidT.friendlyCity}) }} title="mu">{{ cidT.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li>
                                <div class="paz--top-list">
                                    <span>Y</span>
                                </div>
                            </li>
                        </ul>
                        {% for cidY in cidadesY %}
                            <li>
                                <a href={{ path('municipios_feed', {'id' : cidY.id, 'friendlyCity': cidY.friendlyCity}) }} title="mu">{{ cidY.name }}</a>
                            </li>
                        {% endfor %}
                    </li>
                </ul>
                <!-- Bar -->
                <div class="paz-st-10">
                    <hr class="paz-edt--bar">
                </div>
            </main>
        </div>
    </div>
    <!-- Overlay -->
    <div class="paz-overlay"></div>
    </nav>
    <!-- Main search -->
    <div id="paz-search" class="paz-search">
        <form>
            <input type="search" placeholder="Busque no Portal AZ">
        </form>
    </div>
    <!-- Scripts -->
    <script src="{{ asset('front/scripts/jquery.js')}}"></script>
    <script src="{{ asset('front/scripts/jquery.mobile.custom.min.js')}}"></script>
    <script src="{{ asset('front/scripts/slider.js')}}"></script>
    <script src="{{ asset('front/scripts/main.js')}}"></script>

{% endblock %}