{% extends 'FrontBundle::base.html.twig' %}

{% block container %}

    <div class="paz-main-content">
        <!-- Main content -->
        <div class="paz-grid--container">
            <main class="paz-line">
                <header class="paz-st-10">
                    <div class="paz-line paz-mgt--60">
                        <div class="paz-st-7">
                            <h2 class="paz-blog--header">Publicidade<span>Conheça nossos formatos</span></h2>
                        </div>
                        <div class="paz-st-3">
                            <a href="{{ path('contato')}}"" class="paz-btn--coverage paz-mg-0" title="Entre em contato conosco">Entre em contato conosco</a>
                        </div>
                        <div class="paz-st-10">
                            <hr class="paz-editorial--bar">
                        </div>
                    </div>
                </header>
                <!-- Widget bar -->
                <div class="paz-st-2">
                    <input type="radio" id="filter-all" name="ads" checked="checked">
                    <label class="paz-btn--select filter" data-filter="all" for="filter-all">Todos os tipos</label>
                    <input type="radio" id="leaderboard" name="ads">
                    <label class="paz-btn--select filter" data-filter=".leaderboard" for="leaderboard">Cabeçalho</label>
                    <input type="radio" id="large-leaderboard" name="ads">
                    <label class="paz-btn--select filter" data-filter=".large-leaderboard" for="large-leaderboard">Cabeçalho Grande</label>
                    <input type="radio" id="billboard" name="ads">
                    <label class="paz-btn--select filter" data-filter=".billboard" for="billboard">Outdoor</label>
                    <input type="radio" id="super-billboard" name="ads">
                    <label class="paz-btn--select filter" data-filter=".super-billboard" for="super-billboard">Super Outdoor</label>
                    <input type="radio" id="medium-rectangle" name="ads">
                    <label class="paz-btn--select filter" data-filter=".medium-rectangle" for="medium-rectangle">Retângulo Médio</label>
                    <input type="radio" id="large-rectangle" name="ads">
                    <label class="paz-btn--select filter" data-filter=".large-rectangle" for="large-rectangle">Retângulo Grande</label>
                    <input type="radio" id="vertical-rectangle" name="ads">
                    <label class="paz-btn--select filter" data-filter=".vertical-rectangle" for="vertical-rectangle">Retângulo Vertical</label>
                    <input type="radio" id="half-page" name="ads">
                    <label class="paz-btn--select filter" data-filter=".half-page" for="half-page">Meia Página</label>
                    <input type="radio" id="materia-patrocinada" name="ads">
                    <label class="paz-btn--select filter" data-filter=".materia-patrocinada" for="materia-patrocinada">Matéria Patrocinada</label>
                </div>
                <!-- Content -->
                <section class="paz-st-8 paz-list">
                    <h2 class="hidden">Tipos de mídia</h2>
                    <div id="container" class="paz-line">
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix leaderboard">
                                <h5>Cabeçalho<small>Leaderboard</small></h5>
                                <dl>
                                    <dt>Nome antigo: </dt>
                                    <dd>Master Banner</dd>
                                    <dt>Área:</dt>
                                    <dd>728x90 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (70KB) HTML5 (500KB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Topo de página e rodapé</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix large-leaderboard">
                                <h5>Cabeçalho Grande<small>Large Leaderboard</small></h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>970x250 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (130KB) HTML5 (500KB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Topo de página, meio e rodapé</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix billboard">
                                <h5>Outdoor<small>Billboard</small></h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>970x250 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (100KB) HTML5 (1MB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Topo de página, meio e rodapé</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix super-billboard">
                                <h5>Super Outdoor<small>Super Billboard</small></h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>1140x380 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (150KB) HTML5 (1MB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Meio da página e rodapé</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix medium-rectangle">
                                <h5>Retângulo Médio<small>Medium Rectangle</small></h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>300x250 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (50KB) HTML5 (500KB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Destaques e barra lateral</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix large-rectangle">
                                <h5>Retângulo Grande<small>Large Rectangle</small></h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>336x280 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (70KB) HTML5 (500KB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Destaques e barra lateral</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix vertical-rectangle">
                                <h5>Retângulo Vertical<small>Vertical Rectangle</small></h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>200x446 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (70KB) HTML5 (500KB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Barra lateral da capa</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix half-page">
                                <h5>Meia Página<small>Half Page</small></h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>300x600 pixels</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, JPG, PNG, GIF</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Stático (70KB) HTML5 (500KB)</dd>
                                    <dt>Posição:</dt>
                                    <dd>Barra lateral das páginas internas</dd>
                                </dl>
                            </article>
                        </div>
                        <div class="paz-st-5">
                            <article class="paz-box--wrapper paz-mix materia-patrocinada">
                                <h5>Matéria Patrocinada</h5>
                                <dl>
                                    <dt>Área:</dt>
                                    <dd>Página web inteira</dd>
                                    <dt>Formato:</dt>
                                    <dd>HTML5, foto e vídeo</dd>
                                    <dt>Tamanho max:</dt>
                                    <dd>Até 10MB com carregamento</dd>
                                </dl>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="paz-st-10">
                    <hr class="paz-edt--bar">
                </div>
            </main>
        </div>
    </div>
    <!-- Scripts -->
    <script src="{{ asset('front/scripts/jquery.js')}}"></script>
    <script src="{{ asset('front/scripts/filter.js')}}"></script>
    <!-- Filter -->
    <script>
        $('#container').mixItUp({
            animation: {
                enable: true,
                effects: 'fade scale',
                duration: 520,
                easing: 'ease'
            }
        });
    </script>

{% endblock %}