{% extends 'FrontBundle::base.html.twig' %}

{% block container %}


        <!-- Main content -->
        <div class="container">
            <header class="row" style="margin-top: 70px;">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-top: 30px;">
                        <h2 class="paz-blog--header">Contato</h2>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 30px;">
                        <a href="{{ path('home') }}" class="paz-btn--coverage paz-mg-0" title="Volte a homepage">
                            Volte a homepage
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr class="paz-editorial--bar">
                    </div>
            </header>
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <article class="paz-box--wrapper-wp">
                                <h5>Diretoria geral</h5>
                                <h6>Arimatéia Azevedo</h6>
                                <a href="tel:+558699228012" title="Arimatéia Azevedo">86 99922-8012</a>
                                <a href="mailto:arimateia@portalaz.com.br" title="Arimatéia Azevedo">arimateia@portalaz.com.br</a>
                            </article>
                            <article class="paz-box--wrapper-wp">
                                <h5>Redação</h5>
                                <h6></h6>
                                <a href="tel:+558699818563" title="Redação">86 99981-8563</a>
                                <a href="mailto:redacao@portalaz.com.br" title="Redação">redacao@portalaz.com.br</a>
                            </article>
                            <article class="paz-box--wrapper-wp">
                                <h5>Data AZ</h5>
                                <h6>Maria Tereza Azevedo</h6>
                                <a href="tel:+558699344587" title="Data AZ">86 99934-4587</a>
                                <a href="tel:+558632223111" title="Portal AZ">86 3222-3111</a>
                                <a href="mailto:institutodataaz@hotmail.com" title="Data AZ">institutodataaz@hotmail.com</a>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <article class="paz-box--wrapper-wp">
                                <h5>Diretoria executiva</h5>
                                <h6>Maria Tereza Azevedo</h6>
                                <a href="tel:+558699344587" title="Diretoria executiva">86 99934-4587</a>
                                <a href="mailto:mariatereza@portalaz.com.br" title="Diretoria executiva">mariatereza@portalaz.com.br</a>
                            </article>
                            <article class="paz-box--wrapper-wp">
                                <h5>Comercial e municípios</h5>
                                <h6>Maria Tereza Azevedo</h6>
                                <a href="tel:+558699212961" title="Comercial e municípios">86 99921-2961</a>
                                <a href="mailto:comercial@portalaz.com.br" title="Comercial e municípios">comercial@portalaz.com.br</a>
                            </article>
                            <article class="paz-box--wrapper-wp">
                                <h5>Faça uma visita ou nos ligue</h5>
                                <p>Rua Monsenhor Gil, 2698 <br>Ilhotas 64001-140 - Teresina PI</p>
                                <a href="tel:+558632223111" title="Portal AZ">86 3222-3111</a>
                                <a href="tel:+558633036777" title="Portal AZ">86 3303-6777</a>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- Widget bar -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 paz-widgetCol">
                    <aside class="paz-widgetCol--box paz-widgetCol--th1">
                        <header class="paz-widgetCol--header">
                            <h3><span>Links</span><br>Úteis</h3>
                        </header>
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content">
                                <a href="{{ path('newsgroups_blogs') }}" title="Blogs">Blogs</a>
                            </div>
                        </div>
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content">
                                <a href="{{ path('newsgroups_colunas') }}" title="Colunas">Colunas</a>
                            </div>
                        </div>
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content">
                                <a href="{{ path('municipios') }}" title="Municípios">Municípios</a>
                            </div>
                        </div>
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content">
                                <a href="{{ path('newsgroup_colunas_feed', {'id' : 20, 'friendlyNewsgroup': 'arimateia-azevedo'}) }}" title="Coluna do Arimatéia Azevedo">Coluna do Arimatéia Azevedo</a>
                            </div>
                        </div>
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content">
                                <a href="{{ path('map') }}" title="Sobre o Portal AZ">Sobre o Portal AZ</a>
                            </div>
                        </div>
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content">
                                <a href="{{ path('commercial') }}" title="Anuncie no Portal AZ">Anuncie no Portal AZ</a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr class="paz-edt--bar">
                </div>
            </div>
        </div>

{% endblock %}