{% extends 'FrontBundle::base.html.twig' %}

{% block container %}
    <!-- Breadcrumb -->
    <div class="paz-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol>
                        <li class="active">Editorias</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- 1° Large leaderboard -->
        {% if bannerTopoPagina != null %}
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" >
                    <a class="paz-ad--leaderboard" href="{% if bannerTopoPagina.link != null%}{{ bannerTopoPagina.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
                </div>
            </div>
        {% endif %}
        <!-- Header -->
        <header class="row" style="margin-top: 50px;">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2 class="paz-editorial--header">Editorias</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href=" {{ path('editorials') }} " class="paz-btn--coverage" title="Conheça nossos Editoriais">
                    Conheça nossas Editorias </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="paz-editorial--bar">
            </div>
        </header>
        <div class="row">

                {% for editoria in editorias %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                        <div class="paz-blog--item paz-theme--blog">
                            <figure class="paz-blog--avatar">
                                <a href="{{ path('editorial_feed', {'id' : editoria.id, 'friendlyEditorial': editoria.friendlyEditorial}) }}">
                                    <img class="img-responsive" src="{{ vich_uploader_asset(editoria,'imageFile') }}" alt="{{ editoria.title }}">
                                </a>
                            </figure>
                            <h3 class="text-center"><a href="{{ path('editorial_feed', {'id' : editoria.id, 'friendlyEditorial': editoria.friendlyEditorial}) }}" title="{{ editoria.title }}">{{ editoria.title }}</a></h3>
                            <p>{{ editoria.description }}</p>
                            <a class="paz-btn--readmore" href="{{ path('editorial_feed', {'id' : editoria.id, 'friendlyEditorial': editoria.friendlyEditorial}) }}">Veja mais<span></span></a>
                        </div>
                    </div>
                {% endfor %}

        </div>
        {% if bannerTopoEditoria5 != null %}
            <!--  Super billboard -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                <a class="paz-ad--super-billboard" href="{% if bannerTopoEditoria5.link != null%}{{ bannerTopoEditoria5.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria5,'imageFile') }}" alt="Publicidade"></a>
            </div>
        {% endif %}
    </div>
{% endblock %}