{% extends 'FrontBundle::base.html.twig' %}

{% block container %}

      <div class="row">
         <div align="center" class="col-md-6"  style="margin-top: 300px;">
            <a href="http://divulga.tse.jus.br/index.html">
            <img src="http://www.tse.jus.br/temas/eleicoes_2018/imagens/icones_eleicoes/logo-eleicoes-2018.png" style="max-height: 150px;">
            <br>
            Acompanhe a apuração
            </a>
         </div>
         <div align="center" class="col-md-6" style="margin-top: 300px;">
            <a href="http://www.portalaz.com.br/index">
            <img src="http://www.projetos.dex.net.br/geral/portalaz-logo.png" style="max-height: 150px;">
            <br>
            Acesse o portal
            </a>
         </div>
      </div>



{% endblock %}