<!doctype html>
<html lang="pt-BR">
   
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=1190">
      <title>Portal AZ - Informação de verdade</title>
      <meta name="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
      <meta name="keywords" content="Teresina, Portal AZ, portal, az, notícias, Piauí, internet, colunas, Arimateia, Azevedo, blog, politica, esportes, jornal, entrevista, entretenimento, concursos, policia, promoção, festas">
      <!-- Facebook OpenGraph -->
      <meta property="fb:app_id" content="436298566450701">
      <meta property="og:type" content="website">
      <meta property="og:url" content="http://www.portalaz.com.br/">
      <meta property="og:title" content="Portal AZ - Informação de verdade">
      <meta property="og:image" content="../../176.58.97.153/paz-2015/images/portalaz-logo.html">
      <meta property="og:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
      <meta property="og:site_name" content="Portal AZ">
      <meta property="og:locale" content="pt_BR">
      <!-- Twitter Card -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@portalaz">
      <meta name="twitter:title" content="Portal AZ - Informação de verdade">
      <meta name="twitter:image" content="../../176.58.97.153/paz-2015/images/portalaz-logo.html">
      <meta name="twitter:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
      <!-- Google+ -->
      <meta itemprop="name" content="Portal AZ - Informação de verdade">
      <meta itemprop="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
      <meta itemprop="image" content="../../176.58.97.153/paz-2015/images/portalaz-logo.html">
      <!-- Add to homescreen -->
      <link rel="manifest" href="manifest.json">
      <!-- Homescreen on Chrome <39 no Android -->
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="application-name" content="Portal AZ">
      <link rel="icon" sizes="192x192" href="{{ asset('front/images/touch/chrome-touch-icon-192x192.png') }}">
      <!-- Safari homepage on iOS -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="Portal AZ">
      <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
      <!-- Tile icon to Win8 (144x144 + cor) -->
      <meta name="msapplication-TileImage" content="{{ asset('front/images/touch/ms-touch-icon-144x144-precomposed.png') }}">
      <meta name="msapplication-TileColor" content="#007AFF">
      <meta name="theme-color" content="#007AFF">
      <!-- Styles -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
      <!--
         font-family: 'Lato', sans-serif;
         font-family: 'Open Sans', sans-serif;
         font-family: 'Roboto', sans-serif;
      -->
      <script src="https://use.fontawesome.com/d5fef78d7d.js"></script>
      <!-- Scripts -->
      <script src="scripts/modernizr.js"></script>
   </head>
   <body style="background-color: #00aff0;">

      <div align="center" style="margin-top: 10%"><img src="{{ asset('front/images/icone-manutencao.png') }}"></div>
      <div align="center" style="margin-top: 50px;">
         <p style="color: #ffffff; font-family: 'Roboto', sans-serif; font-size: 25px;">Nosso portal está passando por mudanças.<br>Em breve, você terá um acesso mais rápido e intuitivo.<br>PORTAL AZ: <strong>INFORMAÇÃO DE VERDADE</strong></p>
      </div>
      <div align="center" style="margin-top: 50px;">
         <p style="color: #ffffff; font-family: 'Roboto', sans-serif;"><a href="https://www.facebook.com/PortalAZ/" style="color: white; text-decoration: none !important;"><i class="fa fa-fw fa-facebook"></i> Facebook</a></p>
         <p style="color: #ffffff; font-family: 'Roboto', sans-serif;"><a href="https://www.instagram.com/portalaz/?hl=pt-br" style="color: white; text-decoration: none !important;"><i class="fa fa-fw fa-instagram"></i> Instagram</a></p>
      </div>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147080192-1"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147080192-1');
      </script>

   </body>

</html>
