<!doctype html>
<html lang="pt-BR">
   
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">
    <!-- Homescreen on Chrome <39 no Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Portal AZ">
    <link rel="icon" sizes="192x192" href="{{ asset('front/images/touch/chrome-touch-icon-192x192.png') }}">
    <!-- Safari homepage on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Portal AZ">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <!-- Tile icon to Win8 (144x144 + cor) -->
    <meta name="msapplication-TileImage" content="{{ asset('front/images/touch/ms-touch-icon-144x144-precomposed.png') }}">
    <meta name="msapplication-TileColor" content="#007AFF">
    <meta name="theme-color" content="#007AFF">
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('front/styles/main.css') }}">
    <link rel="stylesheet" href="{{ asset('front/styles/mod.css') }}">
    <link rel="stylesheet" href="{{ asset('front/styles/dex.css') }}">

</head>
    <body style="padding: 50 50 50 50 !important;">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ article.content|replace({'<input' : '<img class=\"img-resposive\" ', 'height' : 'max-height', '<img':'<img class=\"img-resposive\" '})|raw }}
          </div>
        </div>
      </div>    
     
    </body>

</html>
