{% extends 'FrontBundle::base.html.twig' %}

{% block title %}<title>{{ article.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ article.content|slice(0,50)}}...">{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ article.keywords }}">{% endblock %}
{% block facebook_opengraph %}
    <meta property="fb:app_id" content="436298566450701">
    <meta property="og:type" content="{{ article.content|slice(0,50)}}...">
    <meta property="og:url" content="http://www.portalaz.com.br/publicacao/{{ article.id }}">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:image" content="{{ vich_uploader_asset(article,'imageFile') }}">
    <meta property="og:description" content="{{ article.content|slice(0,50)}}...">
    <meta property="og:site_name" content="Portal AZ">
    <meta property="og:locale" content="pt_BR">
    <meta property="article:published_time" content="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i:s') }}+03:00">
    <meta property="article:modified_time" content="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i:s') }}+03:00">
{% endblock %}
{% block twitter_card %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@portalaz">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.content|slice(0,50)}}">
    <meta name="twitter:creator" content="@{{ article.author }}">
    <meta name="twitter:image" content="{{ vich_uploader_asset(article,'imageFile') }}">
{% endblock %}
{% block google_plus %}
    <meta itemprop="name" content="{{ article.title }}">
    <meta itemprop="description" content="{{ article.content|slice(0,50)}}...">
    <meta itemprop="image" content="{{ vich_uploader_asset(article,'imageFile') }}">
{% endblock %}

{% block container %}
    <!-- Breadcrumb -->
    <div class="paz-breadcrumb" style="margin-top: -1px;">
        <div class="paz-grid--container">
            <div class="paz-line">
                <div class="paz-st-10">
                    <ol>
                        <li><a href="{{ path('municipios') }}">Municipios</a></li>
                        <li><a href="{{ path(('municipios_feed'), {'id' : city.id, 'friendlyCity': city.friendlyCity}) }} "> {{ city.name }}</a></li>
                        <li class="active">{{ article.title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="paz-main-content" style="margin-top: 150px;">
    <!-- Main content -->
    <div class="paz-grid--container">
        <!-- 1° Large leaderboard -->
        {% if bannerTopoPagina != null %}
            <div class="row" style="margin-top: 100px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" >
                    <a class="paz-ad--leaderboard" href="{% if bannerTopoPagina.link != null%}{{ bannerTopoPagina.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
                </div>
            </div>
        {% endif %}
        <main class="paz-line" style="margin-top: 50px;">
            <article class="paz-st-7">
                <header class="paz-main-header--internal">
                    <h1 class="paz-headline--internal">{{ article.title }}</h1>
                    <div class="paz-published-info">
                        <span class="paz-byline-author">Por <b>{{ article.author }}</b></span>
                        <span class="paz-byline-locale">do Portal AZ</span>
                        <span class="paz-byline-time"><time datetime="{{ year }}-{{ month }}-{{ day }} {{ time }}">{{ day }} de {{ month }} de {{ year }}, {{ time }}</time></span>
                        <div class="paz-status--social paz-right">
                            <span class="paz-icon--arrow"></span>
                            <a href="#" class="paz-icon--social-fb"></a>
                            <a href="#" class="paz-icon--social-tw"></a>
                            <a href="#" class="paz-icon--social-gp"></a>
                        </div>
                    </div>
                </header>
                <div class="paz-line paz-article--text">
                    <div class="paz-st-8 paz-st-offset-1">
                        <p>{{ article.content|raw }}</p>
                        {% if article.credit %}<p class="paz-article--source">Fonte: <a href="{{ article.origin }}" title="{{ article.credit }}">{{ article.credit }}</a></p>{% endif %}
                    </div>
                </div>
                <div class="paz-article--nav">
                    {% if prev != null %}<a href="
                           {{ path('municipios_article', {'articleId' : prev.id, 'id': city.id, 'friendlyCity': prev.city.friendlyCity, 'friendly': prev.friendly}) }}
                        " class="paz-news--prev"><span></span>{{ prev.title }}</a>{% else %}<a class="paz-news--prev"></a>{% endif %}
                    {% if next != null %}<a href="
                           {{ path('municipios_article', {'articleId' : next.id, 'id': city.id, 'friendlyCity': next.city.friendlyCity, 'friendly': next.friendly}) }}
                        " class="paz-news--next"><span></span>{{ next.title }}</a>{% else %}<a class="paz-news--next"></a>{% endif %}
                </div>
            </article>
            <!-- Widget bar -->
            <div class="paz-st-3 paz-widgetCol">
                <aside class="paz-widgetCol--box paz-widgetCol--th10">
                    <header class="paz-widgetCol--header">
                        <h3><span>Postagens</span><br>Recentes</h3>
                    </header>
                    {% for latestArticle in latestArticles %}
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content">
                                <a href="
                                {{ path('municipios_article', {'id' : latestArticle.city.id, 'friendlyCity': latestArticle.city.friendlyCity, 'articleId': latestArticle.id, 'friendly': latestArticle.friendly}) }}
                           " title="{{ latestArticle.title }}">
                                    {% if latestArticle.ImageName %}<div class="paz-widgetCol--content-img"><img src="{{ vich_uploader_asset(latestArticle,'imageFile') }}" alt="{{ latestArticle.title }}"></div>{% endif %}
                                    {{ latestArticle.title }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </aside>
            </div>
        </main>
        <!--  Most read -->
        <section class="paz-line">
            <h2 class="paz-sec--header"> <span class="paz-sec--header-tt">Mais lidas desta cidade</span> </h2>
            {% for mostRead in mostReads %}
                <div class="paz-st-2">
                    <article class="paz-callOut--box paz-end paz-hglt--stand paz-internal--box">
                        <div class="paz--top-read-hit">
                            <span>{{ loop.index }}</span>
                        </div>
                        <h2 class="paz-highlight paz-cover--above">
                            <a href=" {{ path('municipios_article', {'id' : mostRead.city.id, 'articleId': mostRead.id, 'friendlyCity': mostRead.city.friendlyCity, 'friendly': mostRead.friendly}) }} " title="{{ mostRead.title }}">
                                <span class="paz-hglt--subject">{{ mostRead.hat }}</span>
                                <span class="paz-hglt--landscape-md">
                        <img src="{{ vich_uploader_asset(mostRead,'imageFile') }}" alt="{{ mostRead.title }}">
                        </span>
                            </a>
                            <a href=" {{ path('municipios_article', {'id' : mostRead.city.id, 'articleId': mostRead.id, 'friendlyCity': mostRead.city.friendlyCity, 'friendly': mostRead.friendly}) }} " title="{{ mostRead.title }}">
                                <span>{{ mostRead.title }}</span>
                            </a>
                        </h2>
                    </article>
                </div>
            {% endfor %}
            <div class="paz-st-10">
                <hr class="paz-edt--bar">
            </div>
        </section>
        <!--  1° Billboard -->
        {% if bannerTopoEditoria5 != null %}
            <!--  Super billboard -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                <a class="paz-ad--super-billboard" href="{% if bannerTopoEditoria5.link != null%}{{ bannerTopoEditoria5.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria5,'imageFile') }}" alt="Publicidade"></a>
            </div>
        {% endif %}
    </div>
{% endblock %}