{% extends 'FrontBundle::base.html.twig' %}

{% block title %}<title>{{ newsgroup.groupName }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ newsgroup.description|slice(0,50)}}...">{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ newsgroup.description }}">{% endblock %}
{% block facebook_opengraph %}
   <meta property="fb:app_id" content="436298566450701">
   <meta property="og:type" content="{{ newsgroup.description|slice(0,50)}}...">
   <meta property="og:url" content="http://www.portalaz.com.br/newsgroup/{{ newsgroup.id }}">
   <meta property="og:title" content="{{ newsgroup.groupName }}">
   <meta property="og:image" content="{{ vich_uploader_asset(newsgroup,'imageFile') }}">
   <meta property="og:description" content="{{ newsgroup.description|slice(0,50)}}...">
   <meta property="og:site_name" content="Portal AZ">
   <meta property="og:locale" content="pt_BR">
   <meta property="article:published_time" content="{{ "now"|date('Y-m-d') }}T{{ "now"|date('H:i:s') }}+03:00">
   <meta property="article:modified_time" content="{{ "now"|date('Y-m-d') }}T{{ "now"|date('H:i:s') }}+03:00">
{% endblock %}
{% block twitter_card %}
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="@portalaz">
   <meta name="twitter:title" content="{{ newsgroup.groupName }}">
   <meta name="twitter:description" content="{{ newsgroup.description|slice(0,50)}}">
   <meta name="twitter:creator" content="@{{ newsgroup.ownerName }}">
   <meta name="twitter:image" content="{{ vich_uploader_asset(newsgroup,'imageFile') }}">
{% endblock %}
{% block google_plus %}
   <meta itemprop="name" content="{{ newsgroup.groupName }}">
   <meta itemprop="description" content="{{ newsgroup.description|slice(0,50)}}...">
   <meta itemprop="image" content="{{ vich_uploader_asset(newsgroup,'imageFile') }}">
{% endblock %}

{% block container %}

    <div class="paz-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol>
                        <li><a href="
                            {% if kind == 'blogs' %}{{ path('newsgroups_blogs') }}{% endif %}
                            {% if kind == 'colunas' %}{{ path('newsgroups_colunas') }}{% endif %}
                            ">
                            {% if kind == 'blogs' %}Blogs{% endif %}
                            {% if kind == 'colunas' %}Colunas{% endif %}
                            </a></li>
                        <li class="active">{{ newsgroup.groupName }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        {% if bannerTopoPagina != null %}
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" >
                    <a class="paz-ad--leaderboard" href="{% if bannerTopoPagina.link != null%}{{ bannerTopoPagina.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
                </div>
            </div>
        {% endif %}

        <header class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paz-mgt--60">
                <h2 class="paz-blog--header">
                    <figure class="paz-blog--avatar-tt">
                        <img class="img-responsive" src="{{ vich_uploader_asset(newsgroup,'imageFile') }}" alt="{{ newsgroup.groupName }}">
                    </figure>
                    {{ newsgroup.groupName }}
                </h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paz-mgt--60"><span class="paz-btn--info">
                {% if kind == 'blogs' %}Destaques desse Blog{% endif %}
                {% if kind == 'colunas' %}Destaques dessa Coluna{% endif %}
            </span></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="paz-editorial--bar">
            </div>
        </header>
        <div class="row paz-mgb--60">
            {% for mostRead in mostReads %}
            <div class="col-lg col-md-4 col-sm-6 col-xs-12">
                <article class="paz-callOut--box paz-end paz-hglt--stand paz-internal--box">
                    <div class="paz--top-read-hit">
                        <span>{{ loop.index }}</span>
                    </div>
                    <h2 class="paz-highlight paz-cover--above">
                        <a href="
                        {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly' : mostRead.friendly}) }}{% endif %}
                        {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly' : mostRead.friendly}) }}{% endif %}
                        " title="{{ mostRead.title }}">
                            <span class="paz-hglt--subject">{{ mostRead.hat }}</span>
                            <span class="paz-hglt--landscape-md">
                      <img src="{{ vich_uploader_asset(mostRead,'imageFile') }}" alt="{{ mostRead.title }}">
                      </span>
                        </a>
                        <a href="
                            {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly' : mostRead.friendly}) }}{% endif %}
                            {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly' : mostRead.friendly}) }}{% endif %}
                        " title="{{ mostRead.title }}">
                            <span>{{ mostRead.title }}</span>
                        </a>
                    </h2>
                </article>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 paz-list">
                <h2 class="paz-sec--header paz-lower"> <span class="paz-sec--header-tt">Feed de notícias</span> </h2>
                <div class="paz-line">
                    <div class="paz-feed-container paz-st-9 paz-st-offset">
                        {% for article in articles %}
                        <div class="paz-feed-container paz-callOut--box paz-hglt--stand paz-cover--side {% if article.ImageName != null %}paz-Photo{% endif %}">
                            <div class="paz-date--display">
                                <span class="paz-list--day">{{ article.date|date('d') }}</span>
                                <span class="paz-list--date">
                                    {% if article.date|date('m') == 01 %}Jan{% endif %}
                                    {% if article.date|date('m') == 02 %}Fev{% endif %}
                                    {% if article.date|date('m') == 03 %}Mar{% endif %}
                                    {% if article.date|date('m') == 04 %}Abr{% endif %}
                                    {% if article.date|date('m') == 05 %}Mai{% endif %}
                                    {% if article.date|date('m') == 06 %}Jun{% endif %}
                                    {% if article.date|date('m') == 07 %}Jul{% endif %}
                                    {% if article.date|date('m') == 08 %}Ago{% endif %}
                                    {% if article.date|date('m') == 09 %}Set{% endif %}
                                    {% if article.date|date('m') == 10 %}Out{% endif %}
                                    {% if article.date|date('m') == 11 %}Nov{% endif %}
                                    {% if article.date|date('m') == 12 %}Dez{% endif %}
                                    , {{ article.date|date('Y') }}</span>
                            </div>
                            {% if article.ImageName != null %}
                            <figure class="paz-hglt--landscape-md">
                                <a href="
                                    {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}{% endif %}
                                    {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}{% endif %}
                                " title="{{ article.title }}">
                                    <img class="img-responsive" src="{{ vich_uploader_asset(article,'imageFile') }}" alt="{{ article.title }}">
                                </a>
                            </figure>
                            {% endif %}
                            <div class="paz-feed-container paz-hglt--comp-md">
                                <h2 class="paz-highlight">
                                    <a href="
                                        {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}{% endif %}
                                        {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}{% endif %}
                                    " title="{{ article.title }}"> <span class="paz-hglt--subject">{{ article.hat }}</span> <span>{{ article.title }}</span> </a> </h2>
                                <footer class="paz-status--bar">
                                    <div class="paz-status--social">
                                        <div class="paz-share--text" style="position: initial;">COMPARTILHAR</div>
                                        {% if kind == 'blogs' %}
                                            <!-- Sharingbutton Facebook --> 
                                            <a class="paz-icon--social-fb" onclick="showShareModal('https://facebook.com/sharer/sharer.php?u={{ url('newsgroup_blogs_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}')"></a>
                                            <!-- Sharingbutton Twitter -->
                                            <a class="paz-icon--social-tw" onclick="showShareModal('https://twitter.com/intent/tweet/?text=Diga sua opinião...&amp;url={{ url('newsgroup_blogs_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}')"></a>
                                            <!-- Sharingbutton Whatsapp -->
                                            <a class="paz-icon--social-wa" onclick="showShareModal('https://wa.me/?text={{ url('newsgroup_blogs_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}')"></a>
                                        {% endif %}
                                        {% if kind == 'colunas' %}
                                            <!-- Sharingbutton Facebook --> 
                                            <a class="paz-icon--social-fb" onclick="showShareModal('https://facebook.com/sharer/sharer.php?u={{ url('newsgroup_colunas_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}')"></a>
                                            <!-- Sharingbutton Twitter -->
                                            <a class="paz-icon--social-tw" onclick="showShareModal('https://twitter.com/intent/tweet/?text=Diga sua opinião...&amp;url={{ url('newsgroup_colunas_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}')"></a>
                                            <!-- Sharingbutton Whatsapp -->
                                            <a class="paz-icon--social-wa" onclick="showShareModal('https://wa.me/?text={ url('newsgroup_blogs_article', {'articleId' : article.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': article.friendly}) }}')"></a>
                                        {% endif %}
                                    </div>
                                </footer>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% if hits > 1 %}
                <ul class="paz-pagination">

                    {{ form_start(filter_form, { 'attr': {'role': 'form'} }) }}

                        <div class="form-group col-sm-6" style="display: none;">
                            {{ form_label(filter_form.page, "Page", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.page) }}
                            <div class="controls">
                                {{ form_widget(filter_form.page, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-1" style="display: none;">
                            <input id="frontbundle_feed_blog_submit" type="submit" value="Enviar" class="btn btn-success" style="margin-top: 22px;"/>
                        </div>

                    {{ form_end(filter_form) }}

                    {% if hits > 1 %}
                    {% if hits <= 10 %}
                        {% for i in range(1,  hits ) %}
                            <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% if page <= 10 %}
                            {% for i in range(1,  10 ) %}
                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                            {% endfor %}
                            <li class="paz-list--next"><a id="paginador" href="#" onclick="paginar(event, 11)"></a></li>
                        {% else %}

                            {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                            <li class="paz-list--prev {#paz-list--disable#}"><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"></a></li>

                            {% set inicio = voltar + 10 %}
                            {% set fim = voltar + 19 %}

                            {% set acabou = false %}
                            {% for i in range(inicio, fim) %}
                                {% if i <= hits %}
                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                {% else %}
                                    {% set acabou = true %}
                                {% endif %}
                            {% endfor %}

                            {% if acabou == false %}
                                {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                <li class="paz-list--next"><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"></a></li>
                            {% endif %}

                        {% endif %}
                    {% endif %}
                {% endif %}
                </ul>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  paz-widgetCol paz-right">
                <aside class="paz-widgetCol--box paz-widgetCol--th8 paz-related">
                    <header class="paz-widgetCol--header">
                        <h3><span>Conheça nossos</span><br> Blogs</h3>
                    </header>
                    {% for blogDestaque in blogsDestaque %}
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content paz-related--blog-hd">
                                <a href="{{ path('newsgroup_blogs_feed', {'id' : blogDestaque.id, 'friendlyNewsgroup': blogDestaque.friendlyNewsgroup}) }}" title="{{ blogDestaque.groupName }}">
                                    <span>{{ blogDestaque.groupName }}</span>
                                    <img src="{{ vich_uploader_asset(blogDestaque,'imageFile2') }}" alt="{{ blogDestaque.groupName }}">
                                </a>
                            </div>
                            <div class="paz-widgetCol--content paz-related--content">{{ blogDestaque.description }}</div>
                        </div>
                    {% endfor %}
                </aside>
                {#          BANNERS         #}
                {##<aside class="paz-adInner--container paz-ad--312">
                    <h6 class="hidden">Publicidade</h6>
                    <div class="paz-ad--self-adv"><img src="{{ asset('front//images/whatsapp.png')}}" alt="Publicidade"></div>
                </aside>#}
                <aside class="paz-widgetCol--box paz-widgetCol--th9 paz-related">
                    <header class="paz-widgetCol--header">
                        <h3><span>Conheça nossas</span><br> Colunas</h3>
                    </header>
                    {% for colunaDestaque in colunasDestaque %}
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content paz-related--column-hd">
                                <a href="{{ path('newsgroup_colunas_feed', {'id' : colunaDestaque.id, 'friendlyNewsgroup': colunaDestaque.friendlyNewsgroup}) }}" title="{{ colunaDestaque.groupName }}">
                                    <span>{{ colunaDestaque.groupName }}</span>
                                    <img src="{{ vich_uploader_asset(colunaDestaque,'imageFile2') }}" alt="{{ colunaDestaque.groupName }}">
                                </a>
                            </div>
                            <div class="paz-widgetCol--content paz-related--content">{{ colunaDestaque.description }}</div>
                        </div>
                    {% endfor %}
                </aside>
            </div>
        </div>
        <!-- Bar -->
        <hr class="paz-edt--bar">
        {% if bannerTopoEditoria5 != null %}
            <!--  Super billboard -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
               <a class="paz-ad--super-billboard" href="{% if bannerTopoEditoria5.link != null%}{{ bannerTopoEditoria5.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria5,'imageFile') }}" alt="Publicidade"></a>
            </div>
        {% endif %}
    </div>

<script>
        function paginar(event, i) {
            event.preventDefault();
            document.getElementById("frontbundle_feed_blog_page").value = i;
            $('#frontbundle_feed_blog_submit').click();
        }

        function filtrar(event) {
            event.preventDefault();
            document.getElementById("frontbundle_feed_blog_page").value = 1;
            $('#frontbundle_feed_blog_submit').click();
        }
    </script>
{% endblock %}