{% extends 'FrontBundle::base.html.twig' %}

{% block title %}<title>{{ article.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ article.content|slice(0,200)|striptags }}...">{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ article.keywords }}">{% endblock %}
{% block facebook_opengraph %}
    <meta property="fb:app_id" content="1823327114478396" />
   <meta property="og:type" content="website">
   <meta property="og:url" content="{{app.request.uri}}">
   <meta property="og:title" content="{{ article.title }}">
   <meta property="og:image" content="{{ vich_uploader_asset(article,'imageFile') }}">
   <meta property="og:description" content="{{ article.content|slice(0,200)|striptags }}...">
   <meta property="og:site_name" content="Portal AZ">
   <meta property="og:locale" content="pt_BR">
   <meta property="article:published_time" content="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i:s') }}+03:00">
   <meta property="article:modified_time" content="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i:s') }}+03:00">
{% endblock %}
{% block twitter_card %}
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="@portalaz">
   <meta name="twitter:title" content="{{ article.title }}">
   <meta name="twitter:description" content="{{ article.content|slice(0,200)|striptags }}">
   <meta name="twitter:creator" content="@{{ article.author }}">
   <meta name="twitter:image" content="{{ vich_uploader_asset(article,'imageFile') }}">
{% endblock %}
{% block google_plus %}
   <meta itemprop="name" content="{{ article.title }}">
   <meta itemprop="description" content="{{ article.content|slice(0,200)|striptags }}...">
   <meta itemprop="image" content="{{ vich_uploader_asset(article,'imageFile') }}">
{% endblock %}
{% block styles %}
   <link rel="stylesheet" href="{{ asset('front/styles/fixes.css') }}">
{% endblock %}

{% block container %}
    <div  {% if newsgroup.ownerName == 'Arimatéia Azevedo' %}
            class="block-screen"
            {% endif %}>
      <div class="paz-breadcrumb">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ol>
                     <li><a href="
                           {% if kind == 'blogs' %}{{ path('newsgroups_blogs') }}{% endif %}
                           {% if kind == 'colunas' %}{{ path('newsgroups_colunas') }}{% endif %}
                        ">
                        {% if kind == 'blogs' %}Blogs{% endif %}
                        {% if kind == 'colunas' %}Colunas{% endif %}
                        </a></li>
                     <li><a href="
                           {% if kind == 'blogs' %}{{ path('newsgroup_blogs_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup}) }}{% endif %}
                           {% if kind == 'colunas' %}{{ path('newsgroup_colunas_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup}) }}{% endif %}
                        ">{{ newsgroup.groupName }}</a></li>
                     <li class="active">{{ article.title }}</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <!-- Content -->
      <div class="container" style="margin-top: 50px;">

            <!-- 1° Large leaderboard -->
            {% if bannerTopoPagina != null %}
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center">
                  <a class="paz-ad--leaderboard" href="{% if bannerTopoPagina.link != null%}{{ bannerTopoPagina.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
               </div>
            </div>
            {% endif %}
            <!-- Article -->
            <aside class="paz-cover-header paz-cover--blog">
               <div class="row">
                  <img class="d-none d-sm-none d-md-block d-lg-block d-xl-block paz-cover--img img-responsive" src="{{ vich_uploader_asset(newsgroup,'imageFile') }}" alt="{{ newsgroup.groupName }}">
                  <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block paz-cover-header--overlay"></div>
                  <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block col-lg-9 col-md-9 col-sm-12 col-xs-12">
                     <div class="paz-blog--details">
                        <h1><a href="
                              {% if kind == 'blogs' %}{{ path('newsgroup_blogs_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup}) }}{% endif %}
                              {% if kind == 'colunas' %}{{ path('newsgroup_colunas_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup}) }}{% endif %}
                           " title="{{ newsgroup.groupName }}">{{ newsgroup.groupName }}</a></h1>
                        {#<ul class="paz-cover-header--list">
                           <li><span class="paz-icon--blog-star"></span>Desde 01.01.2000</li>
                           <li><span class="paz-icon--blog-doc"></span>33.456 Postagens</li>
                           <li><span class="paz-icon--blog-cm"></span>457.437 Comentários</li>
                        </ul>#}
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                     <div class="paz-blog--info">
                        <figure class="paz-blog--avatar">
                           <a href="
                              {% if kind == 'blogs' %}{{ path('newsgroup_blogs_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup}) }}{% endif %}
                              {% if kind == 'colunas' %}{{ path('newsgroup_colunas_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup}) }}{% endif %}
                           "><img class="img-responsive" src="{{ vich_uploader_asset(newsgroup,'imageFile2') }}" alt="{{ newsgroup.groupName }}"></a>
                        </figure>
                        <h3><a href="{{ path('newsgroup_blogs_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup}) }}" title="Mélange de Tout">{{ newsgroup.ownerName }}</a></h3>
                        {% if newsgroup.description %}<span>{{ newsgroup.description }}</span>{% endif %}
                        {#<div class="paz-blog--social">
                           <a href="#" class="paz-icon--social-fb"></a>
                           <a href="#" class="paz-icon--social-tw"></a>
                           <a href="#" class="paz-icon--social-ig"></a>
                           <a href="#" class="paz-icon--social-pt"></a>
                           <a href="#" class="paz-icon--social-em"></a>
                           <a href="#" class="paz-icon--social-wa paz-tooltip--left paz-tooltip--icon" data-paz-tooltip="86 99981-8563"></a>
                        </div>#}
                     </div>
                  </div>
               </div>
            </aside>
            <div class="row">
               <article class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <header class="paz-main-header--internal">
                     <h1 class="paz-headline--internal">{{ article.title }}</h1>
                     <div class="paz-published-info">
                        <span class="paz-byline-author">Por <b>{{ article.author }}</b></span>
                        <span class="paz-byline-locale">do Portal AZ</span>
                        <span class="paz-byline-time"><time datetime="{{ year }}-{{ month }}-{{ day }} {{ time }}">{{ day }} de {{ month }} de {{ year }}, {{ time }}</time></span>
                        <div class="paz-status--social paz-right">
                           <span class="paz-icon--arrow"></span>
                          <!-- Sharingbutton Facebook --> 
                          <a class="paz-icon--social-fb" onclick="showShareModal('https://facebook.com/sharer/sharer.php?u=http://www.portalaz.com.br{{ app.request.pathinfo }}')"></a>
                          <!-- Sharingbutton Twitter -->
                          <a class="paz-icon--social-tw" onclick="showShareModal('https://twitter.com/intent/tweet/?text=Diga sua opinião...&amp;url=http://www.portalaz.com.br{{ app.request.pathinfo }}')"></a>
                          <!-- Sharingbutton Whatsapp -->
                          <a class="paz-icon--social-wa" onclick="showShareModal('https://wa.me/?text=http://www.portalaz.com.br{{ app.request.pathinfo }}')"></a>       
                        </div>
                     </div>
                  </header>
                  <div class="paz-article--text">
                     <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            {{ article.content|raw }}
                            {% if article.credit %}<p class="paz-article--source">Fonte: <a href="{{ article.origin }}" title="{{ article.credit }}">{{ article.credit }}</a></p>{% endif %}
                        </div>
                     </div>
                     <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            {#<figure class="paz-article--photo-large">
                               <img src="../images/article-9.jpg" alt="AC/DC na noite de premiação do Grammys 2015">
                               <figcaption>
                                  <span class="paz-article--legend-photo">Descrição da foto do artigo fica aqui</span>
                                  <span class="paz-article--author-photo">Autoria da foto</span>
                               </figcaption>
                            </figure>#}
                            {{ article.content|replace({'<input' : '<img class=\"img-resposive img-container\" ', '<img':'<img class=\"img-resposive\" '})|raw }}
                            {% if article.credit %}<p class="paz-article--source">Fonte: <a href="{{ article.origin }}" title="{{ article.credit }}">{{ article.credit }}</a></p>{% endif %}
                        </div>
                     </div>
                  </div>
                  <div class="paz-article--nav">
                     {% if prev != null %}<a href="
                           {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : prev.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup,  'friendly': prev.friendly}) }}{% endif %}
                           {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : prev.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': prev.friendly}) }}{% endif %}
                        " class="paz-news--prev"><span></span>{{ prev.title }}</a>{% else %}<a class="paz-news--prev"></a>{% endif %}
                     {% if next != null %}<a href="
                           {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : next.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': next.friendly}) }}{% endif %}
                           {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : next.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': next.friendly}) }}{% endif %}
                        " class="paz-news--next"><span></span>{{ next.title }}</a>{% else %}<a class="paz-news--next"></a>{% endif %}
                  </div>
                  <hr>
                  <div class="fb-comments" data-width="100%" data-numposts="10" data-href="{{app.request.uri}}"></div>
               </article>
               <!-- Widget bar -->
               <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 paz-widgetCol">
                  {#<aside class="paz-adInner--container paz-ad--300">
                     <h6 class="hidden">Publicidade</h6>
                     <a href="#" class="paz-ad--medium-rectangle"><img src="../images/advt/300x250-Levis.gif" alt="Publicidade"></a>
                  </aside>#}
                  <aside class="paz-widgetCol--box paz-widgetCol--th10">
                     <header class="paz-widgetCol--header">
                        <h3><span>Postagens</span><br>Recentes</h3>
                     </header>
                     {% for lastestArticle in lastestArticles %}
                     <div class="paz-widgetGol--wrap">
                        <div class="paz-widgetCol--content">
                           <a href="
                                 {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : lastestArticle.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': lastestArticle.friendly}) }}{% endif %}
                                {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : lastestArticle.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': lastestArticle.friendly}) }}{% endif %}
                           " title="{{ lastestArticle.title }}">
                              {% if lastestArticle.ImageName %}<div class="paz-widgetCol--content-img"><img src="{{ vich_uploader_asset(lastestArticle,'imageFile') }}" alt="{{ lastestArticle.title }}"></div>{% endif %}
                              {{ lastestArticle.title }}
                           </a>
                        </div>
                     </div>
                     {% endfor %}
                  </aside>
               </div>
            </div>
            <!--  Most read -->
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h2 class="paz-sec--header"> <span class="paz-sec--header-tt">Mais lidas desse blog</span> </h2>
               </div>
               {% for mostRead in mostReads %}
               <div class="col-lg col-md-4 col-sm-6 col-xs-12">
                  <article class="paz-callOut--box paz-end paz-hglt--stand paz-internal--box">
                     <div class="paz--top-read-hit">
                        <span>{{ loop.index }}</span>
                     </div>
                     <h2 class="paz-highlight paz-cover--above">
                        <a href="
                           {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': mostRead.friendly}) }}{% endif %}
                           {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': mostRead.friendly}) }}{% endif %}
                        " title="{{ mostRead.title }}">
                        <span class="paz-hglt--subject">{{ mostRead.hat }}</span>
                        <span class="paz-hglt--landscape-md">
                        <img src="{{ vich_uploader_asset(mostRead,'imageFile') }}" alt="{{ mostRead.title }}">
                        </span>
                        </a>
                        <a href="
                           {% if kind == 'blogs' %}{{ path('newsgroup_blogs_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': mostRead.friendly}) }}{% endif %}
                           {% if kind == 'colunas' %}{{ path('newsgroup_colunas_article', {'articleId' : mostRead.id, 'newsgroupId': newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, 'friendly': mostRead.friendly}) }}{% endif %}
                        " title="{{ mostRead.title }}">
                        <span>{{ mostRead.title }}</span>
                        </a>
                     </h2>
                  </article>
               </div>
               {% endfor %}
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr class="paz-edt--bar">
               </div>
            </div>
            <!--  1° Billboard -->
            {% if bannerTopoEditoria1 != null %}
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                  <a class="paz-ad--leaderboard" href="{% if bannerTopoEditoria1.link != null%}{{ bannerTopoEditoria1.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria1,'imageFile') }}" alt="Publicidade"></a>
               </div>
            {% endif %}
            <!-- Menu supplementary -->
            {#<nav class="paz-menu--supp">
               <h6 class="hidden">Menu complementar</h6>
               <a href="#" title="Sobre o Portal AZ">Sobre o Portal AZ</a>
               <a href="../map/index.html" title="Conheça o portal de 'A' a 'Z'">Conheça o portal de 'A' a 'Z'</a>
               <a href="../commercial/index.html" title="Anuncie no Portal AZ">Anuncie no Portal AZ</a>
               <a href="http://www.portalaz.com.br/atom.xml" title="RSS">RSS</a>
               <a href="../contact/index.html" title="Contato">Contato</a>
            </nav>#}
      </div>
    </div>

<script>
    function preventCopy(selector){
        const elem = document.querySelector(selector);
        const voidFunction = function(e){ return false; }
        const events = [
            'onmousedown',
            'onselect',
            'oncopy',
            'oncut'
        ];

        // disable events
        events.forEach(function(ev){
            elem[ev] = voidFunction
        });

        const copyCut = ['oncopy', 'oncut']
        if(elem !== document.body){
            // disable copy and cut of body
            copyCut.forEach(function(ev){
                document.body[ev] = voidFunction
            });
        }
    }

    preventCopy('.row article')
</script>

<style>
    .paz-paywall {
        opacity: 0;
        position: absolute;
        width: 41.5rem;
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem 1.75rem 1rem;
        z-index: 1035;
        box-sizing: border-box;
        font-family: "Adelle", sans-serif;
        -webkit-box-shadow: -3px 6px 30px 12px rgba(0,0,0,0.16);
        -moz-box-shadow: -3px 6px 30px 12px rgba(0,0,0,0.16);
        box-shadow: -3px 6px 30px 12px rgba(0,0,0,0.16);
        transition: opacity 1s;
    }

    .paz-paywall b {
        color: #168DFD;
    }

    .paz-paywall-container {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 470px;
    }

    .paz-paywall-image img {
        width: 66px;
        margin: auto;
    }

    .paz-paywall-header {
        margin: 1rem 0rem 1.25rem 0rem;
        color: #393939;
        text-align: center;
        font-weight: normal;
        font-family: "Adelle", sans-serif;
        font-size: 1rem;
    }

    .paz-paywall-separator {
        background-color: #1C589B;
        width: 100%;
        border-radius: 4px;
        height: 2px;
        margin: auto;
    }

    .paz-paywall-overlay {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #FFFFFF;
        opacity: 0.9;
        z-index: 1030;
        overflow: hidden;
        height: 100vh;
    }

    .paz-paywall-noShow { display: none; }

    .paywall-login-box {
        width: 88%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .paywall-login-box span {
        color: #3679C3;
        font-size: 1.2rem;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
    }

    .paywall-login-box-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .paywall-login-box-inputs input {
        border: solid 2px #BFBFBF99;
        height: 48px;
        width: 100%;
        padding-left: 0.3rem;
    }

    .paywall-login-box-inputs input:first-child {
        margin-bottom: 1rem;
        margin-top: 1.85rem;
    }

    .paywall-login-box a {
        align-self: baseline;
        color: #3679C3;
        margin-top: 0.3rem;
    }

    .paywall-login-box button {
        margin-top: 1rem;
        background-color: transparent;
        border: solid 1px#3679C3;
        border-radius: 4px;
        padding: 0.8rem 2.5rem;
        color:#3679C3;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        transition: all 0.3s;
    }

    .paywall-login-box button:hover {
        background-color: #3679C3;
        color: white;
    }

   .paywall-subscribe-box {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .paywall-subscribe-box span {
        color: #3679C3;
        font-size: 1.2rem;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
   }

   .paywall-subscribe-box p {
       text-align: center;
       color: #393939;
       opacity: 0.9;
       margin: 1.2rem;
   }

   .paywall-subscribe-box button {
        width: 14rem;
        background-color: #3679C3;
        border: none;
        text-transform: capitalize;
        color: white;
        padding: 1rem 2rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        transition: all 0.3s;
   }

   .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .error-label-span {
        color: white !important;
        font-size: 1rem !important;
        margin-top: 1rem !important;
        background-color: #c0392b;
        padding: 0.1rem !important;
        border-radius: 2px;
    }

    @media screen and (max-width: 768px){
        .paz-paywall {
            width: 100%;
            padding: 2rem 1rem;
        }

        .paywall-login-box {
            width: 100%;
        }

        .paywall-login-box span {
            margin-top: 0;
        }

        .paywall-subscribe-box p {
            margin: 1rem 0rem;
        }

        .paywall-subscribe-box button {
            width: auto;
            height: auto;
        }

        .paz-paywall-header {
            margin: 1rem 0rem 1rem 0rem;
        }

        .paywall-login-box {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .paywall-login-box button {
            margin-top: 1rem;
        }        

        .paywall-subscribe-box span {
            margin-top: 1rem;
        }

        .paz-paywall-column {
            display: none;
        }
        .paz-paywall-image img {
            width: 80px;
        }
        .paz-paywall-header h4 {
            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: 1px;
        }
        .paz-paywall-separator {
            width: 100%;
        }
    }
</style>
<script>
    /** Add a paywall to the body and hide some elements
     * @param {string} sampleText - A sample text of article
     */
    function addPaywall(sampleText){
        var body = document.body;
        var container = body.querySelectorAll('.container')[1];
        var rows = container.querySelectorAll('.row');

        // Getting the row of article content
        var thirdRow = rows[2];
        thirdRow.classList.add('paz-paywall-row')
        var textArticle = thirdRow.querySelector('.paz-article--text');

        // Hidding the articleNav
        var articleNav = thirdRow.querySelector('.paz-article--nav')
        articleNav.setAttribute('style', 'display: none');

        // Getting the column
        var column = thirdRow.querySelector('.paz-widgetCol')
        column.classList.add('paz-paywall-column')

        // Replacing the original content of article by the sample text
        var contentDesktop = textArticle.querySelector('div');
        var contentMobile = textArticle.querySelector('div:nth-of-type(2)');
        var sampleTemplate = sampleText;

        // Criando o a tag p
        var newP = document.createElement('p');
        newP.setAttribute('style', 'text-align:justify');
        newP.innerHTML = sampleTemplate;
        contentDesktop.querySelector('div').innerHTML = '';
        contentDesktop.querySelector('div').appendChild(newP);
        contentMobile.querySelector('div').innerHTML = '';
        contentMobile.querySelector('div').appendChild(newP.cloneNode(true));

        // Hidding the last row element of container
        // Recomended articles
        var lastRow = rows[rows.length - 1];
        lastRow.setAttribute('style', 'display: none');

        // Creating the paywall ==============================
        var paywall = document.createElement('div');
        paywall.setAttribute('class', 'paz-paywall');
        paywall.innerHTML = "\
            <div class='paz-paywall-container'>\
                <div class='paz-paywall-image'>\
                    <img src='/front/images/paywall/padlock.png' />\
                </div>\
                <h4 class='paz-paywall-header'>\
                    Este conteúdo é exclusivo para assinantes\
                </h4>\
                <div class='paz-paywall-separator'></div>\
                <form class='login-form' action='{{ path( 'client_security_login_check', { 'redirectUrl': app.request.uri } ) }}' method='POST'>\
                    <div class='paywall-login-box'>\
                        <span>Entre com seu e-mail e senha</span>\
                            {% if error != null  %}\
                                <span class='error-label-span'>{{error.messageKey|trans(error.messageData, 'security')}}</span>\
                            {% endif %}\
                            <div class='paywall-login-box-inputs'>\
                                <input name='_email' type='email' placeholder='E-mail'/>\
                                <input name='_password' type='password' placeholder='Senha'/>\
                            </div>\
                            <a href={{ path('forgot_password') }}>Esqueceu a senha?</a>\
                            <button>Entrar</button>\
                    </div>\
                </form>\
                <div class='paz-paywall-separator'></div>\
                <div class='paywall-subscribe-box'>\
                    <span>Vire um assinante agora!</span>\
                    <p>Planos mensais a partir de <strong>R$ 9,99 / mês.</strong></p>\
                    <a href={{ path('new_client') }}>\
                        <button>Assinar Agora!</button>\
                    </a>\
                </div>\
            </div>\
        ";

        var overlay = document.createElement('div');
        overlay.setAttribute('class', 'paz-paywall-overlay paz-paywall-noShow')

        // The supreme helper to get the total offsetTop
        function getOffsetTop(el){
            var offsetTopSum = el.offsetTop
            var current = el.offsetParent
            while(current !== null){
                offsetTopSum += current.offsetTop;
                current = current.offsetParent
            }
            return offsetTopSum;
        }

        function getHeightFromChildren(children, range){
            var begin = range[0] ? range[0] : 0;
            var end = range[1] ? range[1] : children.length;
            var sum = 0;
            for(var i = begin; i < end; i++){
                var style = getComputedStyle(children[i]);
                sum += children[i].offsetHeight + parseInt(style.marginTop) + parseInt(style.marginBottom);
            }
            return sum;
        }

        function getContentHeight(container){
            var children = container.children;
            return getHeightFromChildren(children, []);
        }

        function setContainerHeight(){
            var variant =
                getHeightFromChildren(container.children, [0, 2]) +
                getContentHeight(thirdRow.querySelector('article'));

            container.style.height = (variant + paywall.offsetHeight) + 'px';
            overlay.style.height = container.offsetHeight + 'px';
        }

        // Helper to set the ideal top position of paywall
        function setTopPosition(){
            var totalOffset =
                getOffsetTop(container) +
                getHeightFromChildren(container.children, [0, 2]) +
                getContentHeight(thirdRow.querySelector('article'));
            var paywallStyle = "top: " + totalOffset + "px";
            paywall.setAttribute('style', paywallStyle);
        }

  
        function onStickyScroll(){
            var adjustment = screen.width / 2;

            var offsetTop =
                getOffsetTop(container) +
                getHeightFromChildren(container.children, [0, 2]) -
                adjustment;
                

            if(offsetTop < document.documentElement.scrollTop) {
                overlay.classList.remove('paz-paywall-noShow')
                window.removeEventListener('scroll', onStickyScroll)
                var contentContainer = body.querySelectorAll('.block-screen')[0];
                overlay.style.height = '100vh';
                overlay.style.overflow = 'hidden';
                contentContainer.style.height = '100vh';
                contentContainer.style.overflow = 'hidden';
                paywall.setAttribute('style', 'opacity: 1');
            }
        }

        // First call
        onStickyScroll()

        // Adding the paywall and overlay to the body
        body.appendChild(overlay);
        body.appendChild(paywall);

        // EVENTS ====================================================

        // Hidding the footer
        window.addEventListener('DOMContentLoaded', function(){
            var containerFluid = body.querySelector('.container-fluid');
            containerFluid.setAttribute('style', 'display: none;');
            setContainerHeight();
            // setTopPosition();
        });

        // Setting the paywall top position for each resize event
        window.addEventListener('resize', function(){
            setContainerHeight();
            // setTopPosition();
        })

        // Listening the scroll
        window.addEventListener('scroll', onStickyScroll)
    }

    var textSample = "{{ freeContent|raw|default('') }}"

    var paywallTrigger = {{ payWallTrigger|json_encode }}

    if(paywallTrigger) {
        addPaywall(textSample);
    }
</script>
{% endblock %}