{% extends 'FrontBundle::base.html.twig' %}

{% block container %}
<!-- Breadcrumb -->
    <div class="paz-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol>
                        <li class="active">{{ kind|capitalize }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

<!-- Content -->
<div class="container">
    <!-- Main content -->

        <!-- 1° Large leaderboard -->
        {% if bannerTopoPagina != null %}
         <div class="row" style="margin-top: 50px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" >
               <a class="paz-ad--leaderboard" href="{% if bannerTopoPagina.link != null%}{{ bannerTopoPagina.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
            </div>
         </div>
         {% endif %}
        <!-- Header -->
        <header class="row" style="margin-top: 50px;">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2 class="paz-editorial--header">{{ kind|capitalize }}</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><a href="
                {% if kind == 'blogs' %}{{ path('newsgroups_colunas', {'kind': 'colunas'}) }}{% endif %}
                {% if kind == 'colunas' %}{{ path('newsgroups_blogs', {'kind': 'blogs'}) }}{% endif %} 
                " class="paz-btn--coverage" title="
                {% if kind == 'blogs' %}Conheça nossas Colunas{% endif %}
                {% if kind == 'colunas' %}Conheça nossos Blogs{% endif %} 
                ">
                {% if kind == 'blogs' %}Conheça nossas Colunas{% endif %}
                {% if kind == 'colunas' %}Conheça nossos Blogs{% endif %} 
                </a></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="paz-editorial--bar">
            </div>
        </header>
        <main class="row">

                {% for newsgroup in newsgroups %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="paz-blog--item paz-theme--blog">
                        <figure class="paz-blog--avatar">
                            <a href="
                            {% if kind == 'blogs' %}{{ path('newsgroup_blogs_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, }) }}{% endif %}
                            {% if kind == 'colunas' %}{{ path('newsgroup_colunas_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup,}) }}{% endif %}
                            "><img src="{{ vich_uploader_asset(newsgroup,'imageFile2') }}" alt="{{ newsgroup.groupName }}"></a>
                        </figure>
                        <h3 class="text-center"><a href="
                            {% if kind == 'blogs' %}{{ path('newsgroup_blogs_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, }) }}{% endif %}
                            {% if kind == 'colunas' %}{{ path('newsgroup_colunas_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup,}) }}{% endif %}
                            " title="{{ newsgroup.groupName }}">{{ newsgroup.groupName }}</a></h3>
                        <p>{{ newsgroup.description }}</p>
                        <a class="paz-btn--readmore" href="
                            {% if kind == 'blogs' %}{{ path('newsgroup_blogs_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup, }) }}{% endif %}
                            {% if kind == 'colunas' %}{{ path('newsgroup_colunas_feed', {'id' : newsgroup.id, 'friendlyNewsgroup': newsgroup.friendlyNewsgroup,}) }}{% endif %}
                        ">Veja mais<span></span></a>
                    </div>
                </div>
                {% endfor %}


        </main>
        {% if bannerTopoEditoria5 != null %}
            <!--  Super billboard -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
               <a class="paz-ad--super-billboard" href="{% if bannerTopoEditoria5.link != null%}{{ bannerTopoEditoria5.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria5,'imageFile') }}" alt="Publicidade"></a>
            </div>
        {% endif %}
        <!-- Menu supplementary -->
        {#<nav class="paz-menu--supp">
            <h6 class="hidden">Menu complementar</h6>
            <a href="#" title="Sobre o Portal AZ">Sobre o Portal AZ</a>
            <a href="../map/index.html" title="Conheça o portal de 'A' a 'Z'">Conheça o portal de 'A' a 'Z'</a>
            <a href="../commercial/index.html" title="Anuncie no Portal AZ">Anuncie no Portal AZ</a>
            <a href="http://www.portalaz.com.br/atom.xml" title="RSS">RSS</a>
            <a href="../contact/index.html" title="Contato">Contato</a>
        </nav>#}
</div>

{% endblock %}