{{ form_start(search_form, { attr: { class: "form-inline my-2 my-lg-0" } }) }}
    {{ form_widget(search_form.search_query, { attr: { class: "form-control mr-sm-2" } }) }}
    {{ form_widget(search_form.send, { attr: { class: "btn btn-outline-primary my-2 my-sm-0" } }) }}
{{ form_end(search_form) }}