{% extends 'FrontBundle::base.html.twig' %}

{% block container %}


    <div class="paz-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li class="active">Buscar por: {{ search_term }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
            <!-- 1° Large leaderboard -->
            {% if bannerTopoPagina != null %}
                <div class="row" style="margin-top: 50px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" >
                        <a class="paz-ad--leaderboard" href="{% if bannerTopoPagina.link != null%}{{ bannerTopoPagina.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
                    </div>
                </div>
            {% endif %}

                <div class="row">
                    <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12 paz-list">
                        <h2 class="paz-sec--header paz-lower"> <span class="paz-sec--header-tt">Resultados ao buscar: {{ search_term }}</span> </h2>
                        <div class="paz-line">
                            <div class="paz-st-9 paz-st-offset">
                                {% for article in articles %}
                                    
                                    <div class="paz-callOut--box paz-hglt--stand paz-cover--side paz-Photo">
                                        <div class="paz-date--display">
                                            <span class="paz-list--day">{{ article[0].date|date('d') }}</span>
                                            <span class="paz-list--date">
                                        {% if article[0].date|date('m') == 01 %}Jan{% endif %}
                                                {% if article[0].date|date('m') == 02 %}Fev{% endif %}
                                                {% if article[0].date|date('m') == 03 %}Mar{% endif %}
                                                {% if article[0].date|date('m') == 04 %}Abr{% endif %}
                                                {% if article[0].date|date('m') == 05 %}Mai{% endif %}
                                                {% if article[0].date|date('m') == 06 %}Jun{% endif %}
                                                {% if article[0].date|date('m') == 07 %}Jul{% endif %}
                                                {% if article[0].date|date('m') == 08 %}Ago{% endif %}
                                                {% if article[0].date|date('m') == 09 %}Set{% endif %}
                                                {% if article[0].date|date('m') == 10 %}Out{% endif %}
                                                {% if article[0].date|date('m') == 11 %}Nov{% endif %}
                                                {% if article[0].date|date('m') == 12 %}Dez{% endif %}
                                                , {{ article[0].date|date('Y') }}</span>
                                            </span>
                                        </div>
                                        {% if article[0].ImageName != null %}
                                        <figure class="paz-hglt--landscape-md">
                                            <a href="
                                                http://www.portalaz.com.br/publicacao/{{ article[0].id }}"
                                            >
                                                <img class="img-responsive" src="{{ vich_uploader_asset(article[0],'imageFile') }}" alt="{{ article[0].title }}">
                                            </a>
                                        </figure>
                                        {% endif %}
                                        <div class="paz-hglt--comp-md">
                                            <h2 class="paz-highlight"> <a href="http://www.portalaz.com.br/publicacao/{{ article[0].id }}"> <span class="paz-hglt--subject">{{ article[0].hat }}</span> <span>{{ article[0].title }}</span> </a> </h2>
                                            <footer class="paz-status--bar">
                                                <div class="paz-status--social">
                                                    <div class="paz-share--text">COMPARTILHAR</div>
                                                        <span class="paz-icon--arrow"></span>
                                                        <!-- Sharingbutton Facebook --> 
                                                        <a class="paz-icon--social-fb" onclick="showShareModal('https://facebook.com/sharer/sharer.php?u=http://www.portalaz.com.br/publicacao/{{ article[0].id }}')"></a>
                                                        <!-- Sharingbutton Twitter -->
                                                        <a class="paz-icon--social-tw" onclick="showShareModal('https://twitter.com/intent/tweet/?text=Diga sua opinião...&amp;url=http://www.portalaz.com.br/publicacao/{{ article[0].id }}')"></a>
                                                        <!-- Sharingbutton Whatsapp -->
                                                        <a class="paz-icon--social-wa" onclick="showShareModal('https://wa.me/?text=http://www.portalaz.com.br/publicacao/{{ article[0].id }}')"></a>
                                                    </div>
                                                <!--<div class="paz-status--info"> <span class="paz-icon--social-cm paz-tooltip--left" data-paz-tooltip="Entre os mais comentados"></span> </div>-->
                                            </footer>
                                        </div>
                                    </div>
                                {%  endfor %}
                            </div>
                        </div>
                        {% if hits > 1 %}
                            <ul class="paz-pagination">

                                {{ form_start(filter_form, { 'attr': {'role': 'form'} }) }}

                                <div class="form-group col-sm-6" style="display: none;">
                                    <div class="controls">
                                        {{ form_widget(filter_form.page, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_widget(filter_form.search_query, { 'attr': { 'value': search_term } }) }}
                                    </div>
                                </div>

                                <div class="form-group col-sm-1" style="display: none;">
                                    {{ form_widget(filter_form.send) }}
                                </div>

                                {{ form_end(filter_form) }}

                                {% if hits > 1 %}
                                    {% if hits <= 10 %}
                                        {% for i in range(1,  hits ) %}
                                            <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                        {% endfor %}
                                    {% else %}
                                        {% if page <= 10 %}
                                            {% for i in range(1,  10 ) %}
                                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                            {% endfor %}
                                            <li class="paz-list--next"><a id="paginador" href="#" onclick="paginar(event, 11)"></a></li>
                                        {% else %}

                                            {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                                            <li class="paz-list--prev {#paz-list--disable#}"><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"></a></li>

                                            {% set inicio = voltar + 10 %}
                                            {% set fim = voltar + 19 %}

                                            {% set acabou = false %}
                                            {% for i in range(inicio, fim) %}
                                                {% if i <= hits %}
                                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                                {% else %}
                                                    {% set acabou = true %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if acabou == false %}
                                                {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                                <li class="paz-list--next"><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"></a></li>
                                            {% endif %}

                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </ul>
                        {% endif %}
                    </section>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 paz-widgetCol paz-right">
                        <aside class="paz-widgetCol--box paz-widgetCol--th3 paz-related">
                            <header class="paz-widgetCol--header">
                                <h3><span>Outros</span><br> Editoriais</h3>
                            </header>
                            {% for lastOne in lastOnes %}
                                <div class="paz-widgetGol--wrap">
                                    <div class="paz-widgetCol--content">
                                        <a href="{{ path('article01', { 'id': lastOne.id, 'friendlyEditorial': lastOne.editorial.friendlyEditorial, 'friendly': lastOne.friendly})  }}" title="{{ lastOne.title }}">
                                            <span class="paz-hglt--subject">{{ lastOne.editorial.name }}</span>
                                            <div class="paz-widgetCol--content-img"><img class="img-responsive" src="{{ vich_uploader_asset(lastOne,'imageFile') }}" alt="{{ lastOne.title }}"></div>
                                            {{ lastOne.title }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </aside>
                    </div>
                </div>
            <!-- Bar -->
            <hr class="paz-edt--bar">
            <!--  1° Billboard -->
            {% if bannerTopoEditoria5 != null %}
                <!--  Super billboard -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                    <a class="paz-ad--super-billboard" href="{% if bannerTopoEditoria5.link != null%}{{ bannerTopoEditoria5.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria5,'imageFile') }}" alt="Publicidade"></a>
                </div>
            {% endif %}
    </div>

    <!-- Main search -->
    <div id="paz-search" class="paz-search">
        <form>
            <input type="search" placeholder="Busque no Portal AZ">
        </form>
    </div>

    <script>
        function paginar(event, i) {
            event.preventDefault();
            document.getElementById("form_page").value = i;
            $('#form_send').click();
        }

        function filtrar(event) {
            event.preventDefault();
            document.getElementById("frontbundle_feed_blog_page").value = 1;
            $('#frontbundle_feed_blog_submit').click();
        }
    </script>

{% endblock %}
