{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base-front.html.twig' %}

{% block container %}

    <!--======= BANNER =========-->
    <section class="sub-banner">
        <div class="overlay">
            <div class="container">
                <h2>ACESSE SUA CONTA</h2>
            </div>
        </div>
    </section>

    <div class="container" style="margin-bottom: 100px; margin-top: 30px;">

        <div class="col-md-6">
            <div>
                <br>
                <h4 class="title">Não tenho cadastro</h4>
                <br>
                <h5>Crie o seu cadastro</h5>
                <div class="lists">
                    <ul>
                        <li><br></li>
                        <li><i class="fa fa-check"></i> Receba promoções e ofertas exclusivas</li>
                        <li><i class="fa fa-check"></i> Guarde endereços para os próximos pedidos</li>
                        <li><i class="fa fa-check"></i> Agilize suas compras</li>
                    </ul>
                </div>
                <br>
                <div class="form-group" style="margin-top: 52px;">
                        <a href="{{ path('registro') }}"><button class="btn botao">Criar cadastro</button></a>
                </div>
            </div>
        </div>
        <style>
            .controle {
                height: 50px;
                border: 1px solid #e9eaee;
                box-shadow: none;
                border-radius: 0px;
            }

            .botao {
                height: 50px;
                display: inline-block;
                margin-top: 0px;
            }
        </style>
        <div class="col-md-6">
            <div>
                <br>
                <h4 class="title">Já sou cadastrado</h4>
                <div class="form">

                    {% if error %}
                        {#<div align="center"><br>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                        <div align="center"><br>Erro ao efetuar login. Confira seu usuário e senha!</div>
                    {% endif %}

                    <!-- Login  form (not working)-->
                    <form action="{{ path('fos_user_security_check') }}" method="post" role="form" class="form-horizontal">

                        <br><br>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group text-center">
                            {#<label class="control-label col-md-3" for="username">Usuário</label>#}
                            <div class="col-md-8">
                                <input type="text" class="form-control controle" id="username" name="_username" placeholder="Usuário" value="{{ last_username }}" required autofocus>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            {#<label class="control-label col-md-3" for="password">Senha</label>#}
                            <div class="col-md-8">
                                <input type="password" class="form-control controle" id="password" name="_password" placeholder="Senha" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="checkbox-inline" for="remember_me" >
                                    <input class="btn" type="checkbox" id="remember_me" name="_remember_me" checked> Lembrar de mim
                                </label>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="form-group">
                            <!-- Buttons -->
                            <div class="col-md-8">
                                <button type="submit" class="btn botao">Entrar</button>
                                <span class="pull-right" style="margin-top: 15px;"> <a href="{{ path('esqueci_senha') }}">Esqueci minha senha</a></span>
                                {#<button type="reset" class="btn btn-default">Resetar</button>#}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div> <!-- /container -->

{% endblock %}