{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="DEX Simples Admin" />
    <meta name="author" content="DEX Soluções" />
    <title>{% block title %}Portal AZ{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('back/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/css/veneto-admin.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/css/plugins/demo.css') }}" />
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/x-icon" href="{{ asset('back/images/favicon.png') }}" />
</head>
<body class="body-sign-in">
<div class="container">



    {#<div class="navbar-brand-group col-md-12 text-center" style="font-size: 40px;">
        <span class="bold">The Ofertas</span> Admin
    </div>#}

    {% if error %}
        <div align="center"><br>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="panel panel-default form-container">
        <div class="panel-body">

            <div align="center">
                <br>
                <img src="{{ asset('back/images/logo-portalaz.png') }}" class="img-responsive" alt="" align="middle" style="max-height: 100px;" />
                <br><br>
            </div>

            <form action="{{ path('admin_login_check') }}" method="post" role="form">

                <h3 class="text-center margin-xl-bottom">Bem vindo! Efetue login.</h3>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group text-center">
                    <label class="sr-only" for="username">Usuário</label>
                    <input type="text" class="form-control input-lg" id="username" placeholder="Usuário" name="_username" value="{{ last_username }}" required autofocus>
                </div>
                <div class="form-group text-center">
                    <label class="sr-only" for="password">Senha</label>
                    <input type="password" class="form-control input-lg" id="password" placeholder="Senha" name="_password" required>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline" for="remember_me" >
                            <input type="checkbox" id="remember_me" name="_remember_me" checked> Lembrar de mim
                    </label>
                </div>
                <!--<a href="#" class="btn btn-primary btn-block btn-lg">ENTRAR</a>-->

                <button class="btn btn-lg btn-primary btn-block col-lg-12" type="submit" name="login">ENTRAR</button>

            </form>
        </div>
        <div class="panel-body text-center">
            <div class="margin-bottom">
                <!--<a class="text-muted text-underline" href="javascript:;">Esqueceu a senha?</a>-->
            </div>
            <div>
                <!--Não tem uma conta? <a class="text-primary-dark" href="pages-sign-up.html">Cadastre-se aqui!</a>-->
                Não tem uma conta? Fale com o suporte!<br><br>
                {#<i class="fa fa-fw fa-phone"></i> +55 86 9 9994-5388<br>
                <i class="fa fa-fw fa-whatsapp"></i>  +55 86 9 9994-5388<br>#}
            </div>
        </div>
    </div>
</div> <!-- /container -->

{% block javascripts %}
    <script src="{{ asset('back/js/jquery.min.js') }}"></script>
    <script src="{{ asset('back/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>