{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaourgente %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Redação</a></li>
            <li class="active"><a href="javascript:;">Notícias Urgentes</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Notícias Urgentes</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('urgente_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar nova noticia urgente</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-12">
                            {{ form_label(form.title, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.title) }}
                            <div class="controls">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.subtitle) }}
                            <div class="controls">
                                {{ form_widget(form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.link, "Link", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.link) }}
                            <div class="controls">
                                {{ form_widget(form.link, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.startDate, "Data de Início", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.startDate) }}
                            <div class="controls">
                                {{ form_widget(form.startDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.endDate, "Data de Término", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.endDate) }}
                            <div class="controls">
                                {{ form_widget(form.endDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.newTab, "Abrir em outra página?", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.newTab) }}
                            <div class="controls">
                                {{ form_widget(form.newTab, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}