{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaourgente %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Redação</a></li>
            <li class="active"><a href="javascript:;">Notícias Urgentes</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Notícias Urgentes</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('urgente_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('urgente_edit', { 'id': urgent.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('urgente_new') }}" class="btn btn-primary">Nova noticia urgente</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Noticia urgente cadastrada</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="title">Título</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="title" placeholder="{{ urgent.title }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="subtitle">Subtítulo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subtitle" placeholder="{{ urgent.subtitle }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="link">Link</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="description" placeholder="{{ urgent.link }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="startDate">Data de Inicio</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="startDate" placeholder="{{ urgent.startDate |date('d/m/Y') }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="endDate">Data de Término</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="endDate" placeholder="{{ urgent.endDate |date('d/m/Y') }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <label class="control-label" for="newTab">Abrir em outra página?</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="newTab" {% if urgent.newTab == true %}checked{% endif %} disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12"></div>
                        {% if urgent.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(urgent,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}