{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{#{{ 'resetting.email.subject'|trans }}#}
Redefinir senha
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{#{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
Olá {{ user.username }}!

Clique no link a seguir para redefinir sua senha:
{{ confirmationUrl }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
