{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="DEX Simples Admin" />
    <meta name="author" content="DEX Soluções" />
    <title>{% block title %}The Ofertas{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/veneto-admin.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/plugins/demo.css') }}" />
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body class="body-sign-in">
<div class="container">

    <br><br><br>

    <div class="navbar-brand-group col-md-12 text-center" style="font-size: 40px;">
        <span class="bold">The Ofertas - </span> Redefinir Senha
    </div>

    <div class="panel panel-default form-container">
        <div class="panel-body">
            <br><br>
            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="fos_user_resetting_reset">
                <div class="form-group">
                    {{ form_label(form.plainPassword.first, "Nova senha") }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second, "Confirme a nova senha") }}
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_rest(form) }}
                <div>
                    <input type="submit" class="btn btn-primary" value="Redefinir" />
                </div>
            </form>
            <br><br><br>
        </div>
        <div class="panel-body text-center">
            <div class="margin-bottom">
                <!--<a class="text-muted text-underline" href="javascript:;">Esqueceu a senha?</a>-->
            </div>
            <div>
                <!--Não tem uma conta? <a class="text-primary-dark" href="pages-sign-up.html">Cadastre-se aqui!</a>-->
                Está com problemas? Contate o suporte!<br><br>
                {#<i class="fa fa-fw fa-phone"></i> +55 86 9 9994-5388<br>
                <i class="fa fa-fw fa-whatsapp"></i>  +55 86 9 9994-5388<br>#}
            </div>
        </div>
    </div>

</div> <!-- /container -->

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>

