{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastroeditorial %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Editorias</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Editorias</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('editorial_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar nova editoria</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        {#<div class="form-group col-lg-2">
                            {{ form_label(form.botao, "Tipo do botão", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.botao) }}
                            <div class="controls">
                                {{ form_widget(form.botao, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>#}

                        <div class="form-group col-lg-4">
                            {{ form_label(form.name, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.name) }}
                            <div class="controls">
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.title) }}
                            <div class="controls">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.description, "Descrição", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.description) }}
                            <div class="controls">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.canComment, "Pode Comentar", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.canComment) }}
                            <div class="controls">
                                {{ form_widget(form.canComment, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.featured, "Destaque", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.featured) }}
                            <div class="controls">
                                {{ form_widget(form.featured, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.status) }}
                            <div class="controls">
                                {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.partner, "Correspondente", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.partner) }}
                            <div class="controls">
                                {{ form_widget(form.partner, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}