{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastroeditorial %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Editorias</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Editorias</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('editorial_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('editorial_edit', { 'id': editorial.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('editorial_new') }}" class="btn btn-primary">Nova Editoria</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Editoria</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="name">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="name" placeholder="{{ editorial.name }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label" for="title">Título</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="title" placeholder="{{ editorial.title }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="description">Descrição</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="description" placeholder="{{ editorial.description }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="canComment">Permitir Comentários</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="canComment" placeholder="{% if editorial.canComment == true %}SIM{% else %}NÃO{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="featured">Destaque</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="featured" placeholder="{% if editorial.featured == true %}SIM{% else %}NÃO{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="status">Status</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="status" placeholder="{% if editorial.status == true %}ATIVO{% else %}INATIVO{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="partner">Correspondente</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="partner" placeholder="{% if editorial.partner == true %}SIM{% else %}NÃO{% endif %}" disabled>
                            </div>
                        </div>

                        {% if editorial.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(editorial,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}