<!doctype html>
<html lang="pt-BR">
   
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1190">#}
    {% block title %}<title>Portal AZ - Informação de verdade</title>{% endblock %}
    {% block description %}<meta name="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">{% endblock %}
    {% block keywords %}<meta name="keywords" content="Teresina, Portal AZ, portal, az, notícias, Piauí, internet, colunas, Arimateia, Azevedo, blog, politica, esportes, jornal, entrevista, entretenimento, concursos, policia, promoção, festas">{% endblock %}

    {% block facebook_opengraph %}
        <meta property="fb:app_id" content="436298566450701">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.portalaz.com.br/">
        <meta property="og:title" content="Portal AZ - Informação de verdade">
        <meta property="og:image" content="{{ asset('front/images/portalaz-logo.png') }}">
        <meta property="og:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
        <meta property="og:site_name" content="Portal AZ">
        <meta property="og:locale" content="pt_BR">
    {% endblock %}
    {% block twitter_card %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@portalaz">
        <meta name="twitter:title" content="Portal AZ - Informação de verdade">
        <meta name="twitter:image" content="{{ asset('front/images/portalaz-logo.png') }}">
        <meta name="twitter:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
    {% endblock %}
    {% block google_plus %}
        <meta itemprop="name" content="Portal AZ - Informação de verdade">
        <meta itemprop="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
        <meta itemprop="image" content="{{ asset('front/images/portalaz-logo.png') }}">
    {% endblock %}

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">
    <!-- Homescreen on Chrome <39 no Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Portal AZ">
    <link rel="icon" sizes="192x192" href="{{ asset('front/images/touch/chrome-touch-icon-192x192.png') }}">
    <!-- Safari homepage on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Portal AZ">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <!-- Tile icon to Win8 (144x144 + cor) -->
    <meta name="msapplication-TileImage" content="{{ asset('front/images/touch/ms-touch-icon-144x144-precomposed.png') }}">
    <meta name="msapplication-TileColor" content="#007AFF">
    <meta name="theme-color" content="#007AFF">
    <!-- Styles -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('front/styles/main.css') }}">
    {#<link rel="stylesheet" href="{{ asset('front/styles/mod.css') }}">#}
    <link rel="stylesheet" href="{{ asset('front/styles/dex.css') }}">
    <link rel="stylesheet" href="{{ asset('front/styles/card.css') }}">
    <link rel="stylesheet" href="{{ asset('front/styles/register.css') }}">
    <!-- Scripts -->
    <script src="{{ asset('front/scripts/modernizr.js') }}"></script>
    <script src="{{ asset('front/scripts/vue.js') }}"></script>
    <script src="{{ asset('front/scripts/profile.components.vue.js') }}" ></script>
    {{ include('ClientBundle:Auth:_creditCardFormJavascript.html.twig') }}
</head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark justify-content-center" style="background-color: rgba(0,0,0,.78);">
            <a class="d-block d-sm-block navbar-brand mx-2 mx-lg-2 py-4" href="{{ path('home') }}">
                <img class="img-responsive" src="{{ asset('front/images/portalaz-logo.png') }}" style="max-height: 60px;">
            </a>
            </div>
        </nav>

        {% block container %}{% endblock %}

        <div class="container-fluid" style="margin-top: 20px;">
            <ul class="nav justify-content-between register-progress-wrapper">
                {%  set base_class = 'p-1 text-center rounded-circle nav-item border border-primary d-block m-auto' %}
                {%  set labels = ["Plano", "Pagamento", "Resumo"] %}

                {% for s in 0..2 %}
                  <li>
                    {% if s == 1 %}
                        {% set href = 'credit-card-info' %}
                    {% else %}
                        {% set href = 'step-' ~ s %}    
                    {% endif %}
                    <a class="{{ base_class ~ " register-step" }}" style="width: 36px; height: 36px; line-height: 24px;" href="{{ '#' ~ href }}">
                      {{ s + 1 }}
                    </a>
                    <span class="text-primary"> {{ labels[s] }} </span>
                  </li>
                {% endfor %}
            </ul>

            <div class="d-flex flex-column align-items-center" style="margin-top: 50px;">

                {% block formsElements %}

                {% if error|default(false) %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}

                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                

                <form class="form-inline flex-column align-items-center my-2 my-lg-0 js-checkout-form" method="POST">

                <div class="d-inline-block register-form-wrapper my-4" id="step-0">
                    <div class="register-title">
                        <h5>Escolha seu plano</h5>
                    </div>
                    {% for plan in plans %}
                        <div class="register-plan-card">
                            <input name="plan" type="radio" value="{{ plan.pagSeguroCode }}" id="plan-{{ plan.id }}" >
                            <label for="plan-{{ plan.id }}">
                                <div class="{{ plan.recommended ? 'register-plan-recomended' : 'register-plan-no-recomended' }}">
                                    <span> RECOMENDADO </span>
                                </div>
                                <div class="register-plan-card-label" id="plan-label"> {{ plan.getLabel() }} </div>
                                <div class="register-plan-card-price" id="plan-ammount"> R$ <span>{{ plan.ammountPerPayment|replace({ '.':',' }) }}</span><span class='plan-apostrophe'>/{{ plan.getPeriodicity() }}</span></div>
                                <div class="register-plan-card-note" id="plan-details"> *{{ plan.details }} </div>
                                <div class="register-plan-card-bottom card-bottom-gradient-{{ loop.index }} "> </div>
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-inline-block register-form-wrapper my-4" id="credit-card-info"> 
                    <div class="register-title">
                        <h5>Preencha os dados do cartão</h5>
                    </div>
                    <div class="card-wrapper">
                    </div>
                    <div class="form-group">
                        <label>{{ "Número do cartão" }}</label>
                        <input name="card_number" type="text" id="card_number"/>
                    </div>
                    <div class="form-group">
                        <label>Nome impresso</label>
                        <input name="card_name" type="text" id="card_name"/>
                    </div>
                    <div class="form-group">
                        <label>Data de Nascimento</label>
                        <input name="card_holders_dob" type="text" id="card_holders_dob" placeholder="_ _ /_ _ /_ _ _ _"/>
                    </div>
                    <div class="form-group">
                        <label>CPF</label>
                        <input name="card_holders_cpf" type="text" id="card_holders_cpf">
                    </div>
                    <div class="form-group">
                        <label>Data de validade</label>
                        <input name="card_date" type="text" id="card_date" placeholder="_ _ / _ _ _ _"/>
                    </div>
                    <div class="form-group">
                        <label>Código de segurança (CVV)</label>
                        <input name="card_cvc" type="text" id="card_cvc"/>
                    </div>

                </div>

                <div class="register-separator">
                </div>

                <div class="register-submit">
                    <div>
                        <button id="client_submit" type="submit" name="client[submit]">
                            <div class="lds-ellipsis" style="display: none" id="loading-dots">
                                <div></div><div></div><div></div><div></div>
                            </div>
                            <span id="button-submit-text">Cadastrar</span>
                        </button>
                    </div>
                </div>
            </form>

                {% endblock %}
            </div>

            <div class="row paz-footer--main justify-content-center">
                <div class="col-md-5" align="center">
                    <div align="center">
                        <img class="img-responsive" src="{{ asset('front/images/portalaz.svg') }}" style="max-height: 95px; max-width: 300px;">
                    </div>
                    <ul class="nav justify-content-center" style="margin-top: 20px;">
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-fb" href="https://www.facebook.com/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-tw" href="https://twitter.com/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-ig" href="http://instagr.am/portalaz/"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled paz-icon--social-yt" href="https://www.youtube.com/user/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled paz-icon--social-wa paz-tooltip--left paz-tooltip--icon" data-paz-tooltip="86 99981-8563" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 paz-rights">© Portal AZ 2000 - 2019 Todos os direitos reservados</div>
            </div>
        </div>



        {% block scripts %}
        <script src="{{ asset('front/scripts/card.js') }}"></script>
        <script>
                var card = new Card({
                form: 'form', // *required*
                container: '.card-wrapper', // *required*
                formSelectors: {
                    numberInput: 'input[name="card_number"]',
                    expiryInput: 'input[name="card_date"]',
                    cvcInput: 'input[name="card_cvc"]',
                    nameInput: 'input[name="card_name"]'
                },
                width: 280, // optional — default 350px
                formatting: true, // optional - default true
                messages: {
                    validDate: 'valid\ndate', // optional - default 'valid\nthru'
                    monthYear: 'mm/yyyy', // optional - default 'month/year'
                },
                placeholders: {
                    number: '•••• •••• •••• ••••',
                    name: 'Full Name',
                    expiry: '••/••',
                    cvc: '•••'
                },
                masks: {
                    cardNumber: '•' // optional - mask card number
                },
                debug: false // optional - default false
            });
        </script>
        <script>

            // Controlling the Radio Set of Plans
            var planInputs = Array.from(document.querySelectorAll("input[name=plan]"));
            planInputs.forEach(function(el, r){                
                el.addEventListener('click', function(e){
                    for(var i = 0; i < planInputs.length; i++){
                        var radio = planInputs[i];
                        radio.classList.remove('plan-disabled');
                        if(el.value !== radio.value){
                            radio.classList.add('plan-disabled');
                        }
                    }
                })
            })

            function checkRadioInputs(radios){
                for(var i = 0; i < radios.length; i++){
                    if(radios[i].checked) return true;
                }
                return false;
            }
            // ==================================================================

            // names - a list of input name
            function getInputsByName(names){
                var list = [], el;
                for(var i = 0; i < names.length; i++){
                    el = document.querySelector("input[name='" + names[i] + "']");
                    if(el !== null){
                        list.push(el)
                    }
                }
                return list;
            }

            var creditCardInputs = getInputsByName([
                'card_number',
                'card_name',
                'card_date',
                'card_cvc'
            ])

            var registerStepElems = Array.from(document.getElementsByClassName('register-step'));

            var stepStates = [0, 0, 0];

            var buttonSubmit = document.querySelector("button[type=submit]")

            function isValidTextInput(el){
                return el.value.length > 0
            }

            function checkAllTextInputs(inputList){
                for(var i = 0; i < inputList.length; i++){
                    if(!isValidTextInput(inputList[i])){
                        return false;
                    }
                }
                return true;
            }


            function setStepState(states, i, bool){
                states[i] = bool ? 1 : 0;
            }

            function handleActiveSubmitButton(states, button){
               var status = false;
               for(var i = 0; i < states.length - 1; i++){
                    if(states[i] == 0) status = true;
               }
               button.disabled = status;
            }

            function applyStylesOnStepBar(states, stepElems){
                var activedIndex = stepStates.length;
                for(var i = 0; i < stepStates.length; i++){
                    if(stepStates[i] == 0){
                        stepElems[i].classList.add('register-step-active');
                        stepElems[i].innerHTML = "" + (i + 1);
                        activedIndex = i;
                        break;
                    }
                    else{
                        stepElems[i].classList.add('register-step-active');
                        stepElems[i].innerHTML = "&#10004;";
                    }
                }
                for(var i = activedIndex + 1; i < stepStates.length; i++){
                   stepElems[i].classList.remove('register-step-active');
                   stepElems[i].innerHTML = "" + (i + 1);
                }
            }

            applyStylesOnStepBar(stepStates, registerStepElems)
            handleActiveSubmitButton(stepStates, buttonSubmit)

            var groups = [
                {
                    key: 'plan',
                    list: planInputs,
                    checker: checkRadioInputs
                },
                {
                    key: 'credit',
                    list: creditCardInputs,
                    checker: checkAllTextInputs
                }
            ]

            // Adding listeners to groups
            groups.forEach(function(group, index){
                var list = group.list;
                var key = group.key;
                var checker = group.checker;

                list.forEach(function(el){
                    var eventName = 'change';
                    if(key == 'plan') eventName = 'click';
                    el.addEventListener(eventName, function(){
                        var bool = checker(list);
                        setStepState(stepStates, index, bool);
                        applyStylesOnStepBar(stepStates, registerStepElems);
                        handleActiveSubmitButton(stepStates, buttonSubmit)
                    })
                })
            })


            </script>

        {% endblock %}
        {#<script src="{{ asset('front/scripts/jquery.js') }}"></script>#}
        {#<script src="{{ asset('front/scripts/jquery.mobile.custom.min.js') }}"></script>#}
        {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('front/scripts/slider.js') }}"></script>
        <script src="{{ asset('front/scripts/carousel.js') }}"></script>
        <script src="{{ asset('front/scripts/main.js') }}"></script>
        <script src="{{ asset('front/scripts/jquery.mask.min.js') }}"></script>
        <script src="{{ asset('front/scripts/utils.js') }}"></script>
        <script>
            function transformCPFValue(value){
                var separatorList = [[3, '.'], [3, '.'], [3, '-'], [2, '']];
                var clean = value.replace(/[^\d]/g, "").substr(0, 11);
                var value2 = "";
                var index = 0;
                for(var i = 0; i < separatorList.length; i++){
                var separator = separatorList[i][1];
                var len = separatorList[i][0];
                value2 += clean.substr(index, len);
                index += len;
                if(clean.length > index) value2 += separator;
                else break;
                }
                return value2;
            }

            function cpfMask(e){
                var value = e.target.value
                e.target.value = transformCPFValue(value);
            }

            var inputCPFCard = document.querySelector('input[name="card_holders_cpf"]')
            inputCPFCard.onkeyup = cpfMask;
            inputCPFCard.placeholder = "000.000.000-00";
        </script>
        <script>
            // Mascarás
            $('#card_holders_dob').mask('00/00/0000');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147080192-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147080192-1');
        </script>

    </body>

</html>