<script>
    function previewFeature(){
        var featureForm = document.getElementById('feature-form');
        var path = "{{ path('feature_preview') }}";
        console.log(path)
        featureForm.action = path;
        featureForm.setAttribute('target', '_blank');
        setTimeout(remove, 2000);
        featureForm.submit();
    }   

     function remove(){
        var featureForm = document.getElementById('feature-form');
        featureForm.removeAttribute('action');
        featureForm.removeAttribute('target');
    } 
</script>