{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaofeature %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Cadastro</a></li>
                <li class="active"><a href="javascript:;">Destaques</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Destaques</h2>
        </div>

        <div class="container-fluid-md">
            {{ form_start(delete_form) }}
            <a href="{{ path('feature_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
            <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
            <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
            
            {{ form_end(delete_form) }}
        </div>

        {{ form_start(edit_form, { 'attr': {'role': 'form', 'id': 'feature-form'} }) }}
        <input type="submit"  value="Visualizar"  class="btn btn-primary" onclick="previewFeature()" style="margin: 2rem;"/>

        <div class="container-fluid-md"><br><br></div>

        {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Editar o destaque</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-lg-6">
                            {{ form_label(edit_form.location, "Localização", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.location) }}
                            <div class="controls">
                                {{ form_widget(edit_form.location, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-1">
                            {{ form_label(edit_form.enabled, "Ativo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.enabled) }}
                            <div class="controls">
                                {{ form_widget(edit_form.enabled, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(edit_form.scheduled, "Agendado", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.scheduled) }}
                            <div class="controls">
                                {{ form_widget(edit_form.scheduled, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(edit_form.scheduledTo, "Agendado para", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.scheduledTo) }}
                            <div class="controls">
                                {{ form_widget(edit_form.scheduledTo, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12" style="display: none">
                            {{ form_label(edit_form.article, "Publicação", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.article) }}
                            <div class="controls">
                                {{ form_widget(edit_form.article, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            <label class="control-label">Publicação</label>
                            <div class="controls">
                                <input id="search-article" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.articleTitle, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.articleTitle) }}
                            <div class="controls">
                                {{ form_widget(edit_form.articleTitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.articleSubtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.articleSubtitle) }}
                            <div class="controls">
                                {{ form_widget(edit_form.articleSubtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(edit_form.articleHat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.articleHat) }}
                            <div class="controls">
                                {{ form_widget(edit_form.articleHat, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Imagem de destaque</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile, "Imagem 1", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageSubtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageSubtitle) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageSubtitle, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageCredit, "Crédito", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageCredit) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageCredit, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageDescription, "Descrição", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageDescription) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageDescription, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            {% if feature.imageName %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(feature,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
        {{ form_end(edit_form) }}

        <div class="container-fluid-md"><br><br></div>

    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/js/jquery.easy-autocomplete.js') }}"></script> 
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#search-article').val($('#backbundle_feature_article option:selected').text())
        });
    </script>
    <script>
        var articles = JSON.parse('{{ articleList|json_encode|e('js') }}')
        var articlesObj = eval('(' + articles + ')');
        var options = {

            data: articlesObj,

            getValue: "title",

            list: {	
                match: {
                    enabled: true
                },
                onSelectItemEvent: function() {
                    var value = $('#search-article').getSelectedItemData().id;

                    $("#backbundle_feature_article").val(value).trigger("change");
                }
            },

            theme: "square",
        };

        $("#search-article").easyAutocomplete(options);
    </script>
    {{ include('BackBundle:Feature:_previewFeatureScript.html.twig') }}
{% endblock %}