{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaofeature %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Destaques</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Destaques</h2>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Filtros</h4>
                        <div class="panel-options">
                            <a id="collapse" href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            {#<a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>#}
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter_form, { 'attr': {'role': 'form'} }) }}

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.article, "Publicação", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.article) }}
                            <div class="controls">
                                {{ form_widget(filter_form.article, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.title) }}
                            <div class="controls">
                                {{ form_widget(filter_form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.subtitle) }}
                            <div class="controls">
                                {{ form_widget(filter_form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.hat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.hat) }}
                            <div class="controls">
                                {{ form_widget(filter_form.hat, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.enabled, "Ativo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.enabled) }}
                            <div class="controls">
                                {{ form_widget(filter_form.enabled, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.scheduled, "Agendado", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.scheduled) }}
                            <div class="controls">
                                {{ form_widget(filter_form.scheduled, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.startdate, "Data Inicial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.startdate) }}
                            <div class="controls">
                                {{ form_widget(filter_form.startdate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.enddate, "Data Final", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.enddate) }}
                            <div class="controls">
                                {{ form_widget(filter_form.enddate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.location, "Localização", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.location) }}
                            <div class="controls">
                                {{ form_widget(filter_form.location, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6" style="display: none;">
                            {{ form_label(filter_form.page, "Page", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.page) }}
                            <div class="controls">
                                {{ form_widget(filter_form.page, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-1">
                            <a class="btn btn-success" onclick="filtrar(event)" style="margin-top: 22px;">Filtrar</a>
                        </div>

                        <div class="form-group col-sm-1" style="display: none;">
                            <input id="backbundle_feature_filter_submit" type="submit" value="Enviar" class="btn btn-success" style="margin-top: 22px;"/>
                        </div>

                        {{ form_end(filter_form) }}
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('feature_new') }}" class="btn btn-primary">
            Novo Destaque
        </a>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Artigos cadastrados</h4>

                <div class="panel-options">
                    <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                    <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                    <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="20%">LOCALIZAÇÃO</th>
                        <th width="50%">TÍTULO</th>
                        <th width="20%">AGENDAMENTO</th>
                        <th width="10%">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for feature in features %}
                        <tr>
                            <td>{{ feature.location}}</td>
                            <td>{% if feature.articleTitle != null %}{{ feature.articleTitle }}{% else %} {% if feature.article != null%} {{feature.article.title}} {% endif %} {% endif %}</td>
                            <td>{% if feature.scheduledTo %}{{ feature.scheduledTo|date('d/m/Y') }}{% endif %}</td>
                            <td>
                                <a href="{{ path('feature_show', { 'id': feature.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                &nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="{{ path('feature_edit', { 'id': feature.id }) }}" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="text-center">
            <ul class="pagination">
                {% if hits > 1 %}
                    {% if hits <= 10 %}
                        {% for i in range(1,  hits ) %}
                            <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% if page <= 10 %}
                            {% for i in range(1,  10 ) %}
                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                            {% endfor %}
                            <li><a id="paginador" href="#" onclick="paginar(event, 11)"> > </a></li>
                        {% else %}

                            {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                            <li><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"> < </a></li>

                            {% set inicio = voltar + 10 %}
                            {% set fim = voltar + 19 %}

                            {% set acabou = false %}
                            {% for i in range(inicio, fim) %}
                                {% if i <= hits %}
                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                {% else %}
                                    {% set acabou = true %}
                                {% endif %}
                            {% endfor %}

                            {% if acabou == false %}
                                {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                <li><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"> > </a></li>
                            {% endif %}

                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>

        <div class="container-fluid-md"><br><br></div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $('#collapse').click();
        });

        function paginar(event, i) {
            event.preventDefault();
            document.getElementById("backbundle_feature_filter_page").value = i;
            $('#backbundle_feature_filter_submit').click();
        }

        function filtrar(event) {
            event.preventDefault();
            document.getElementById("backbundle_feature_filter_page").value = 1;
            $('#backbundle_feature_filter_submit').click();
        }
    </script>
{% endblock %}