{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaofeature %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Destaques</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Destaques</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('feature_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar novo destaque</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-6">
                            {{ form_label(form.location, "Localização", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.location) }}
                            <div class="controls">
                                {{ form_widget(form.location, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-1">
                            {{ form_label(form.enabled, "Ativo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.enabled) }}
                            <div class="controls">
                                {{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.scheduled, "Agendado", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.scheduled) }}
                            <div class="controls">
                                {{ form_widget(form.scheduled, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            {{ form_label(form.scheduledTo, "Agendado para", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.scheduledTo) }}
                            <div class="controls">
                                {{ form_widget(form.scheduledTo, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12" style="display: none">
                            {{ form_label(form.article, "Publicação", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.article) }}
                            <div class="controls">
                                {{ form_widget(form.article, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            <label class="control-label">Publicação</label>
                            <div class="controls">
                                <input id="search-article" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.articleTitle, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.articleTitle) }}
                            <div class="controls">
                                {{ form_widget(form.articleTitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.articleSubtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.articleSubtitle) }}
                            <div class="controls">
                                {{ form_widget(form.articleSubtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.articleHat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.articleHat) }}
                            <div class="controls">
                                {{ form_widget(form.articleHat, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Imagem de destaque</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem 1", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageSubtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageSubtitle) }}
                            <div class="controls">
                                {{ form_widget(form.imageSubtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageCredit, "Crédito", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageCredit) }}
                            <div class="controls">
                                {{ form_widget(form.imageCredit, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageDescription, "Descrição", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageDescription) }}
                            <div class="controls">
                                {{ form_widget(form.imageDescription, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Using jQuery with a CDN -->
    <script src="{{ asset('back/js/jquery.easy-autocomplete.js') }}"></script> 
    <script>
        var articles = JSON.parse('{{ articleList|json_encode|e('js') }}')
        var articlesObj = eval('(' + articles + ')');
        var options = {

            data: articlesObj,

            getValue: "title",

            list: {	
                match: {
                    enabled: true
                },
                onSelectItemEvent: function() {
                    var value = $('#search-article').getSelectedItemData().id;

                    $("#backbundle_feature_article").val(value).trigger("change");
                }
            },

            theme: "square",
        };

        $("#search-article").easyAutocomplete(options);
    </script>
    <script src="{{ asset('back/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('backbundle_article[content]');
    </script>
{% endblock %}