{% extends 'BackBundle:Feature:base.html.twig' %}

{% block container %}
    <div class="container" style="margin-top: 100px;">
        {% if bannerTopoPagina != null %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center">
                <a class="paz-ad--leaderboard"><img class="img-responsive" src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
                </div>
            </div>
        {% endif %}

        {% for urgente in urgentes %}
            {% if urgente.title != null %}
                <div class="row text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center" style="margin-top: 40px; padding-top: 10px; background-color: #118ef8;">
                        <a {% if urgente.newTab == true %} target="_blank" {% else %} target="_self" {% endif %} class="paz-ad--leaderboard" href="{% if urgente.link != null%}{{ urgente.link }}{% else %}#{% endif %}"><h1 style="color:black; padding-bottom: 8px; font-size: 45px ; font-weight: 600; line-height: 40px;"><span style="color: #ffffff; line-height: 60px;">{{  urgente.title }}</span></h1></a>
                    </div>
            {% endif %}
            {% if urgente.imageName != null %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 40px;">
                        <a {% if urgente.newTab == true %} target="_blank" {% else %} target="_self" {% endif %} class="paz-ad--leaderboard" href="{% if urgente.link != null%}{{ urgente.link }}{% else %}#{% endif %}"><img class="img-responsive" src="{{ vich_uploader_asset(urgente,'imageFile') }}" alt="Urgente"></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
         
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"> {# 1a coluna #}

                {% if principal1 != null %}
                    <article class="paz-callOut--box paz-hglt--main">
                        <h1 class="paz-headline--main">
                            <a href="
                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: principal1} only %}"> <span class="paz-hglt--subject">{% if principal1.articleHat != null %}{{ principal1.articleHat }}{% else %}{{ principal1.article.hat }}{% endif %}</span> <span>{% if principal1.articleTitle != null %}{{ principal1.articleTitle }}{% else %}{{ principal1.article.title }}{% endif %}</span> </a>
                        </h1>
                        <h4>
                            {% if principal1.articleSubtitle != null %}{{ principal1.articleSubtitle }}{% else %}{{ principal1.article.subtitle }}{% endif %}
                        </h4>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: featureComFoto1} %}
                    </article>
                {% endif %}

                {% if principal2 != null %}
                    <article class="paz-callOut--box paz-hglt--main">
                        <h2 class="paz-highlight--main">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: principal2} only %}"> <span class="paz-hglt--subject">{% if principal2.articleHat != null %}{{ principal2.articleHat }}{% else %}{{ principal2.article.hat }}{% endif %}</span> <span>{% if principal2.articleTitle != null %}{{ principal2.articleTitle }}{% else %}{{ principal2.article.title }}{% endif %}</span> </a>
                        </h2>
                        <h4>
                            {% if principal2.articleSubtitle != null %}{{ principal2.articleSubtitle }}{% else %}{{ principal2.article.subtitle }}{% endif %}
                        </h4>
                        <!--<p class="paz-highlight--subinfo">A partir desta quarta-feira (01), os consumidores devem exigir o cadastro do seu CPF na nota ou cupom fiscal</p>-->
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: principal2} %}
                    </article>
                {% endif %}

                <div class="row paz-callOut--box">
                    {% if secundario1 != null %}
                        <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--stand">
                            <h2 class="paz-highlight"> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: secundario1} only %}"> <span class="paz-hglt--subject">{% if secundario1.articleHat != null %}{{ secundario1.articleHat }}{% else %}{{ secundario1.article.hat }}{% endif %}</span> <span>{% if secundario1.articleTitle != null %}{{ secundario1.articleTitle }}{% else %}{{ secundario1.article.title }}{% endif %}</span> </a> </h2>

                            {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: secundario1} %}
                        </article>
                    {% endif %}

                    {% if secundario2 != null %}
                        <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--stand">
                                <h2 class="paz-highlight"> <a href="
                                    {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: secundario2} only %}"> <span class="paz-hglt--subject">{% if secundario2.articleHat != null %}{{ secundario2.articleHat }}{% else %}{{ secundario2.article.hat }}{% endif %}</span> <span>{% if secundario2.articleTitle != null %}{{ secundario2.articleTitle }}{% else %}{{ secundario2.article.title }}{% endif %}</span> </a> </h2>
                                {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: secundario2} %}
                        </article>
                    {% endif %}
                </div>

                {% if secundario3ComFoto != null %}
                    <article class="row paz-callOut--box paz-hglt--stand paz-cover--side paz-end">
                        <figure class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--landscape-md"><a href="
                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: secundario3ComFoto} only %}"><img class="img-responsive" src="{% if secundario3ComFoto.imageName != null %}{{ vich_uploader_asset(secundario3ComFoto,'imageFile') }}{% else %}{{ vich_uploader_asset(secundario3ComFoto.article,'imageFile') }}{% endif %}" alt="{% if secundario3ComFoto.articleTitle != null %}{{ secundario3ComFoto.articleTitle }}{% else %}{{ secundario3ComFoto.article.title }}{% endif %}"></a>
                        </figure>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--comp-md">
                                <h2 class="paz-highlight"> <a href="
                                    {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: secundario3ComFoto} only %}"> <span class="paz-hglt--subject">{% if secundario3ComFoto.articleHat != null %}{{ secundario3ComFoto.articleHat }}{% else %}{{ secundario3ComFoto.article.hat }}{% endif %}</span> <span>{% if secundario3ComFoto.articleTitle != null %}{{ secundario3ComFoto.articleTitle }}{% else %}{{ secundario3ComFoto.article.title }}{% endif %}</span> </a> </h2>
                            {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: secundario3ComFoto} %}
                        </div>
                    </article>
                {% endif %}
            </div>


            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="paz-slider--container">
                   <div class="portalaz-slider paz-slider--theme" id="pazslider">
                      {% for slide in slides %}
                         <article class="paz-slide" data-delay="10" data-parallax="10">
                            <img class="img-responsive" src="{{ asset('front/images/blank.gif') }}" data-src="{{ vich_uploader_asset(slide,'imageFile') }}" alt="{{ slide.subtitle}}">
                            <a href="
                               {% if slide.article != null %}
                                  {% if slide.article.newsgroup != null %}
                                     {% if slide.article.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : slide.article.id, 'newsgroupId': slide.article.newsgroup.id, 'friendlyNewsgroup': slide.article.newsgroup.friendlyNewsgroup, 'friendly': slide.article.friendly}) }}{% endif %}
                                     {% if slide.article.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : slide.article.id, 'newsgroupId': slide.article.newsgroup.id, 'friendlyNewsgroup': slide.article.newsgroup.friendlyNewsgroup, 'friendly': slide.article.friendly}) }}{% endif %}
                                  {% elseif slide.article.city != null  %}
                                     {{ path('municipios_article', {'articleId' : slide.article.id, 'friendlyCity': slide.article.city.friendlyCity, 'id': slide.article.city.id, 'friendly' : slide.article.friendly}) }}
                                  {% elseif slide.article.editorial != null %}
                                     {{ path('article01', {'id': slide.article.id, 'friendlyEditorial' : slide.article.editorial.friendlyEditorial, 'friendly' : slide.article.friendly}) }}
                                  {% else %}
                                     {#{{ path('article01', { 'id': slide.article.id, 'friendlyEditorial' : slide.article.editorial.friendlyEditorial, 'friendly' : slide.article.friendly }) }}#}
                                     {{ path('article01', { 'id': slide.article.id, 'friendlyEditorial' : 'geral', 'friendly' : slide.article.friendly }) }}
                                  {% endif %}
                               {% elseif slide.ariArticle != null %}
                                  {{ path('ariArticle', { 'id': slide.ariArticle.id , 'friendly' : slide.article.friendly}) }}
                               {% else %}
                                  {{ slide.link }}
                               {% endif %}
                               " title="{{ slide.subtitle}}">
                            </a>
                            <span class="paz-layer paz-slide--gradient"></span>
                            <div class="paz-layer paz-slide--info" data-effect="bottom(short)" data-duration="400" data-delay="600">
                               <h2>{{ slide.title}}</h2>
                               <p>{{ slide.subtitle}}</p>
                            </div>
                         </article>
                      {% endfor %}
                   </div>
                </div>

                <div class="paz-line paz-callOut--box">
                   {% if featureComFoto1 != null %}
                      <article class="paz-st-5 paz-hglt--stand">
                         <h2 class="paz-highlight paz-cover--above">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: featureComFoto1} only %}"> <span class="paz-hglt--subject">{% if featureComFoto1.articleHat != null %}{{ featureComFoto1.articleHat }}{% else %}{{ featureComFoto1.article.hat }}{% endif %}</span> <span class="paz-hglt--landscape-md"> <img class="img-responsive" src="{% if featureComFoto1.imageName != null %}{{ vich_uploader_asset(featureComFoto1,'imageFile') }}{% else %}{{ vich_uploader_asset(featureComFoto1.article,'imageFile') }}{% endif %}" alt="{% if featureComFoto1.articleTitle != null %}{{ featureComFoto1.articleTitle }}{% else %}{{ featureComFoto1.article.title }}{% endif %}"> </span>
                            </a>
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: featureComFoto1} only %}"> <span>{% if featureComFoto1.articleTitle != null %}{{ featureComFoto1.articleTitle }}{% else %}{{ featureComFoto1.article.title }}{% endif %}</span>
                            </a>
                         </h2>
                            {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: featureComFoto1} %}
                      </article>
                   {% endif %}

                   {% if featureComFoto2 != null %}
                      <article class="paz-st-5 paz-hglt--stand">
                         <h2 class="paz-highlight paz-cover--above">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: featureComFoto2} only %}"> <span class="paz-hglt--subject">{% if featureComFoto2.articleHat != null %}{{ featureComFoto2.articleHat }}{% else %}{{ featureComFoto2.article.hat }}{% endif %}</span> <span class="paz-hglt--landscape-md"> <img class="img-responsive" src="{% if featureComFoto2.imageName != null %}{{ vich_uploader_asset(featureComFoto2,'imageFile') }}{% else %}{{ vich_uploader_asset(featureComFoto2.article,'imageFile') }}{% endif %}" alt="{% if featureComFoto2.articleTitle != null %}{{ featureComFoto2.articleTitle }}{% else %}{{ featureComFoto2.article.title }}{% endif %}"> </span>
                            </a>
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: featureComFoto2} only %}"> <span>{% if featureComFoto2.articleTitle != null %}{{ featureComFoto2.articleTitle }}{% else %}{{ featureComFoto2.article.title }}{% endif %}</span>
                            </a>
                         </h2>

                         {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: featureComFoto2} %}
                      </article>
                   {% endif %}
                </div>

                <div class="paz-line paz-callOut--box paz-end">
                   {% if featureSemFoto1 != null %}
                      <article class="paz-st-5 paz-hglt--stand">
                         <h2 class="paz-highlight">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: featureSemFoto1} only %}"> <span class="paz-hglt--subject">{% if featureSemFoto1.articleHat != null %}{{ featureSemFoto1.articleHat }}{% else %}{{ featureSemFoto1.article.hat }}{% endif %}</span> <span>{% if featureSemFoto1.articleTitle != null %}{{ featureSemFoto1.articleTitle }}{% else %}{{ featureSemFoto1.article.title }}{% endif %}</span>
                            </a>
                         </h2>

                         {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: featureSemFoto1} %}
                      </article>
                   {% endif %}

                   {% if featureSemFoto2 != null %}
                      <article class="paz-st-5 paz-hglt--stand">
                         <h2 class="paz-highlight"> <a href="
                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: featureSemFoto2} only %}"> <span class="paz-hglt--subject">{% if featureSemFoto2.articleHat != null %}{{ featureSemFoto2.articleHat }}{% else %}{{ featureSemFoto2.article.hat }}{% endif %}</span> <span>{% if featureSemFoto2.articleTitle != null %}{{ featureSemFoto2.articleTitle }}{% else %}{{ featureSemFoto2.article.title }}{% endif %}</span> </a>
                         </h2>

                         {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: featureSemFoto2} %}
                   {% endif %}
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 paz-widgetCol"> {# 3a coluna#}
                <aside class="paz-widgetCol--box paz-widgetCol--th1 paz-weather">
                   <header class="paz-widgetCol--header">
                      <h3><span class="paz-title--small" style="font-size: 1.1rem; font-weight: bold;">{{ dayOfWeek }}, {{ day }} de {{ month }} de {{ year }} </span><br>Teresina, PI</h3>
                   </header>
                   <div class="paz-widgetCol--content paz-align--bottom">
                      <div class="paz-icon--weather-clear-day"></div>
                      <div class="paz-weather--info">36.2°</div>
                      <div class="paz-clock">{{ time }}</div>
                   </div>
                </aside>
                <aside class="paz-widgetCol--box paz-widgetCol--th2">
                   <header class="paz-widgetCol--header">
                      <h3>
                         <span>Coberturas em</span>
                         <br>Destaque
                      </h3>
                   </header>
                   <div class="paz-carousel paz-carousel--theme" id="pazcarousel">
                      {% for coverFeature in coverFeatures %}
                         <div class="paz-slide" data-delay="4">
                            <div class="paz-widgetCol--content"> {{ coverFeature.title }} <a class="paz-btn--readmore" href="
                               {% if coverFeature.newsgroup != null %}
                                  {% if coverFeature.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : coverFeature.id, 'newsgroupId': coverFeature.newsgroup.id, 'friendlyNewsgroup': coverFeature.newsgroup.friendlyNewsgroup, 'friendly': coverFeature.friendly}) }}{% endif %}
                                  {% if coverFeature.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : coverFeature.id, 'newsgroupId': coverFeature.newsgroup.id, 'friendlyNewsgroup': coverFeature.newsgroup.friendlyNewsgroup, 'friendly': coverFeature.friendly}) }}{% endif %}
                               {% elseif coverFeature.city != null  %}
                                  {{ path('municipios_article', {'articleId' : coverFeature.id, 'friendlyCity': coverFeature.city.friendlyCity, 'id': coverFeature.city.id, 'friendly': coverFeature.friendly}) }}
                               {% elseif coverFeature.editorial != null %}
                                  {{ path('article01', {'id': coverFeature.id, 'friendlyEditorial' : coverFeature.editorial.friendlyEditorial, 'friendly' : coverFeature.friendly}) }}
                               {% else %}
                                  {{ path('article01', { 'id': coverFeature.id, 'friendlyEditorial' : coverFeature.editorial.friendlyEditorial, 'friendly' : coverFeature.friendly }) }}
                               {% endif %}
                               ">ver cobertura <span></span> <br><br><br></a>
                            </div>
                         </div>
                      {% endfor %}
                   </div>
                </aside>
                {% if bannerDestaque != null %}
                   <aside class="paz-adInner--container paz-ad--200" style="margin-top: 30px; min-width: 200px !important;">
                      <h6 class="hidden">Publicidade</h6>
                      <a href="{% if bannerDestaque.link != null%}{{ bannerDestaque.link }}{% else %}#{% endif %}" class="paz-ad--vertical-rectangle"><img class="img-responsive" src="{{ vich_uploader_asset(bannerDestaque,'imageFile') }}" alt="Publicidade"></a>
                   </aside>
                {% endif %}
            </div>
        </div>
        
    </div>


    <div class="container">
        <div class="row">
            {% if bannerNossosDestaques != null %}
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 d-none d-sm-none d-md-block d-lg-block d-xl-block">
            {% else %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none d-sm-none d-md-block d-lg-block d-xl-block">
            {% endif %}    
                <div class="row paz-ourHighlights" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <h2>Nossos Destaques</h2>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div id="ourhighlights">
                            {% for groupDestaque in groupsDestaque %}
                                <div class="paz-slide">
                                    <figure class="paz-ourHighlights--avatar"> <a href="
                                        {% if groupDestaque.kind == 'Blog' %}{{ path('newsgroup_blogs_feed', {'id' : groupDestaque.id, 'friendlyNewsgroup' : groupDestaque.friendlyNewsgroup}) }}{% endif %}
                                        {% if groupDestaque.kind == 'Coluna' %}{{ path('newsgroup_colunas_feed', {'id' : groupDestaque.id, 'friendlyNewsgroup' : groupDestaque.friendlyNewsgroup}) }}{% endif %}
                                    " title="{{ groupDestaque.groupName }}<"><img src="{{ vich_uploader_asset(groupDestaque,'imageFile2') }}" alt="{{ groupDestaque.groupName }}<"></a>
                                    </figure>
                                    <div class="paz-ourHighlights--info">
                                        <span>{{ groupDestaque.groupName }}</span>
                                        <p>{{ groupDestaque.description }}</p>
                                        <a class="paz-btn--readmore" href="#">Continue lendo <span></span></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% if bannerNossosDestaques != null %}
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a class="paz-ad--medium-rectangle" href="{% if bannerNossosDestaques.link != null%}{{ bannerNossosDestaques.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerNossosDestaques,'imageFile') }}" alt="Publicidade"></a>
                </div>
            {% endif %}                
        </div>
    </div>

    <div class="container d-block d-sm-block d-md-none d-lg-none d-xl-none">
        <div class="row">
            {% if bannerNossosDestaques != null %}
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            {% else %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% endif %}    
                <div class="row paz-ourHighlights" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <h2>Nossos Destaques</h2>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div id="ourhighlights2">
                            {% for groupDestaque in groupsDestaque %}
                                <div class="paz-slide">
                                    <figure class="paz-ourHighlights--avatar"> <a href="
                                        {% if groupDestaque.kind == 'Blog' %}{{ path('newsgroup_blogs_feed', {'id' : groupDestaque.id, 'friendlyNewsgroup' : groupDestaque.friendlyNewsgroup}) }}{% endif %}
                                        {% if groupDestaque.kind == 'Coluna' %}{{ path('newsgroup_colunas_feed', {'id' : groupDestaque.id, 'friendlyNewsgroup' : groupDestaque.friendlyNewsgroup}) }}{% endif %}
                                    " title="{{ groupDestaque.groupName }}<"><img src="{{ vich_uploader_asset(groupDestaque,'imageFile2') }}" alt="{{ groupDestaque.groupName }}<"></a>
                                    </figure>
                                    <div class="paz-ourHighlights--info">
                                        <span>{{ groupDestaque.groupName }}</span>
                                        <p>{{ groupDestaque.description }}</p>
                                        <a class="paz-btn--readmore" href="#">Continue lendo <span></span></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% if bannerNossosDestaques != null %}
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a class="paz-ad--medium-rectangle" href="{% if bannerNossosDestaques.link != null%}{{ bannerNossosDestaques.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerNossosDestaques,'imageFile') }}" alt="Publicidade"></a>
                </div>
            {% endif %}                
        </div>
    </div>

    {% if bannerTopoEditoria1 != null %}
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                    <a class="paz-ad--leaderboard" href="{% if bannerTopoEditoria1.link != null%}{{ bannerTopoEditoria1.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria1,'imageFile') }}" alt="Publicidade"></a>
                </div>
            </div>
        </div>
    {% endif %}    


    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <h2 class="paz-edt--header"> <span class="paz-edt--header-tt">Política <a class="paz-btn--readmore" href="{{ path('editorial_feed', {'id' : 3, 'friendlyEditorial' : 'politica'}) }}">Ver editoria <span></span></a> </span> </h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {% if politicaPrincipal != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-headline--edt">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaPrincipal} only %}">
                                <span class="paz-hglt--subject">{% if politicaPrincipal.articleHat != null %}{{ politicaPrincipal.articleHat }}{% else %}{{ politicaPrincipal.article.hat }}{% endif %}</span>
                                <span>{% if politicaPrincipal.articleTitle != null %}{{ politicaPrincipal.articleTitle }}{% else %}{{ politicaPrincipal.article.title }}{% endif %}</span>
                            </a>
                        </h2>
                        <p class="paz-highlight--subinfo">{% if politicaPrincipal.articleSubtitle != null %}{{ politicaPrincipal.articleSubtitle }}{% else %}{{ politicaPrincipal.article.subtitle }}{% endif %}</p>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: politicaPrincipal} %}
                    </article>
                {% endif %}
                {% if politicaSecundario != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaSecundario} only %}"> <span class="paz-hglt--subject">{% if politicaSecundario.articleHat != null %}{{ politicaSecundario.articleHat }}{% else %}{{ politicaSecundario.article.hat }}{% endif %}</span> <span>{% if politicaSecundario.articleTitle != null %}{{ politicaSecundario.articleTitle }}{% else %}{{ politicaSecundario.article.title }}{% endif %}</span>
                            </a>
                        </h2>
                        <h4 class="paz-headline--sub"><a href="{% if politicaSecundario.article.newsgroup != null %}
                                   {% if politicaSecundario.article.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : politicaSecundario.article.id, 'newsgroupId': politicaSecundario.article.newsgroup.id, 'friendlyNewsgroup': politicaSecundario.article.newsgroup.friendlyNewsgroup, 'friendly' : politicaSecundario.article.friendly}) }}{% endif %}
                                   {% if politicaSecundario.article.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : politicaSecundario.article.id, 'newsgroupId': politicaSecundario.article.newsgroup.id, 'friendlyNewsgroup': politicaSecundario.article.newsgroup.friendlyNewsgroup, 'friendly' : politicaSecundario.article.friendly}) }}{% endif %}
                                {% elseif politicaSecundario.article.city != null  %}
                                   {{ path('municipios_article', {'articleId' : politicaSecundario.article.id, 'friendlyCity': politicaSecundario.article.city.friendlyCity, 'id': politicaSecundario.article.city.id, 'friendly' : politicaSecundario.article.friendly}) }}
                                {% elseif politicaSecundario.article.editorial != null %}
                                   {{ path('article01', {'id': politicaSecundario.article.id, 'friendlyEditorial' : politicaSecundario.article.editorial.friendlyEditorial, 'friendly' : politicaSecundario.article.friendly}) }}
                                {% else %}
                                   {{ path('article01', { 'id': politicaSecundario.article.id, 'friendlyEditorial' : 'geral', 'friendly' : politicaSecundario.article.friendly }) }}
                                {% endif %}" title="{% if politicaSecundario.articleSubtitle != null %}{{ politicaSecundario.articleSubtitle }}{% else %}{{ politicaSecundario.article.subtitle }}{% endif %}">{% if politicaSecundario.articleSubtitle != null %}{{ politicaSecundario.articleSubtitle }}{% else %}{{ politicaSecundario.article.subtitle }}{% endif %}</a></h4>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: politicaSecundario} %}
                    </article>
                {% endif %}
                <div class="paz-line paz-callOut--box paz-end">
                    {% if politicaTerciario1 != null %}
                        <article class="paz-st-5 paz-hglt--stand">
                            <h2 class="paz-highlight"> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaTerciario1} only %}"> <span class="paz-hglt--subject">{% if politicaTerciario1.articleHat != null %}{{ politicaTerciario1.articleHat }}{% else %}{{ politicaTerciario1.article.hat }}{% endif %}</span> <span>{% if politicaTerciario1.articleTitle != null %}{{ politicaTerciario1.articleTitle }}{% else %}{{ politicaTerciario1.article.title }}{% endif %}</span> </a> </h2>
                            {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: politicaTerciario1} %}
                        </article>
                    {% endif %}
                    {% if politicaTerciario2 != null %}
                        <article class="paz-st-5 paz-hglt--stand">
                            <h2 class="paz-highlight"> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaTerciario2} only %}"> <span class="paz-hglt--subject">{% if politicaTerciario2.articleHat != null %}{{ politicaTerciario2.articleHat }}{% else %}{{ politicaTerciario2.article.hat }}{% endif %}</span> <span>{% if politicaTerciario2.articleTitle != null %}{{ politicaTerciario2.articleTitle }}{% else %}{{ politicaTerciario2.article.title }}{% endif %}</span> </a> </h2>
                            {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: politicaTerciario2} %}
                        </article>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% if politicaFoto1 != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight paz-cover--above">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaFoto1} only %}"> <span class="paz-hglt--subject">{% if politicaFoto1.articleHat != null %}{{ politicaFoto1.articleHat }}{% else %}{{ politicaFoto1.article.hat }}{% endif %}</span> <span class="paz-hglt--landscape-md"><div align="center"><img class="img-responsive" src="{{ vich_uploader_asset(politicaFoto1,'imageFile') }}" alt="{% if politicaFoto1.articleTitle != null %}{{ politicaFoto1.articleTitle }}{% else %}{{ politicaFoto1.article.title }}{% endif %}"></div></span>
                            </a>
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaFoto1} only %}"> <span>{% if politicaFoto1.articleTitle != null %}{{ politicaFoto1.articleTitle }}{% else %}{{ politicaFoto1.article.title }}{% endif %}</span>
                            </a>
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: politicaFoto1} %}
                    </article>
                {% endif %}
                {% if politicaFoto2 != null %}
                    <article class="paz-callOut--box paz-hglt--stand paz-end">
                        <h2 class="paz-highlight paz-cover--above">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaFoto2} only %}"> <span class="paz-hglt--subject">{% if politicaFoto2.articleHat != null %}{{ politicaFoto2.articleHat }}{% else %}{{ politicaFoto2.article.hat }}{% endif %}</span> <span class="paz-hglt--landscape-md"> <img class="img-responsive" src="{{ vich_uploader_asset(politicaFoto2,'imageFile') }}" alt="{% if politicaFoto2.articleTitle != null %}{{ politicaFoto2.articleTitle }}{% else %}{{ politicaFoto2.article.title }}{% endif %}"> </span>
                            </a>
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: politicaFoto2} only %}"> <span>{% if politicaFoto2.articleTitle != null %}{{ politicaFoto2.articleTitle }}{% else %}{{ politicaFoto2.article.title }}{% endif %}</span>
                            </a>
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: politicaFoto2} %}
                    </article>
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {% if policitaFrase1 != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: policitaFrase1} only %}"> <span class="paz-hglt--subject">{% if policitaFrase1.articleHat != null %}{{ policitaFrase1.articleHat }}{% else %}{{ policitaFrase1.article.hat }}{% endif %}</span> <span>{% if policitaFrase1.articleTitle != null %}{{ policitaFrase1.articleTitle }}{% else %}{{ policitaFrase1.article.title }}{% endif %}</span>
                            </a>
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: policitaFrase1} %}
                    </article>
                {% endif %}
                {% if policitaFrase2 != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: policitaFrase2} only %}"> <span class="paz-hglt--subject">{% if policitaFrase2.articleHat != null %}{{ policitaFrase2.articleHat }}{% else %}{{ policitaFrase2.article.hat }}{% endif %}</span> <span>{% if policitaFrase2.articleTitle != null %}{{ policitaFrase2.articleTitle }}{% else %}{{ policitaFrase2.article.title }}{% endif %}</span>
                            </a>
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: policitaFrase2} %}
                    </article>
                {% endif %}
                {% if bannerEditoria1 != null %}
                    <div align="center" style="margin-top: 50px; margin-bottom: 50px;">
                        <a href="{% if bannerEditoria1.link != null%}{{ bannerEditoria1.link }}{% else %}#{% endif %}" class="paz-ad--medium-rectangle pontilhado"><img class="img-responsive" src="{{ vich_uploader_asset(bannerEditoria1,'imageFile') }}" alt="Publicidade"></a>
                    </div>
                {% endif %}
            </div>
            <!-- Widget bar -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 paz-widgetCol">
                {% if maisLidaPolitica != null %}
                    <aside class="paz-widgetCol--box paz-widgetCol--th2">
                        <header class="paz-widgetCol--header">
                            <h3><span>Mais lida </span><br>Em Política</h3>
                        </header>
                        <div class="paz-widgetCol--content">
                            <a href="
                                {% if maisLidaPolitica.newsgroup != null %}
                                   {% if maisLidaPolitica.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : maisLidaPolitica.id, 'newsgroupId': maisLidaPolitica.newsgroup.id, 'friendlyNewsgroup': maisLidaPolitica.article.newsgroup.friendlyNewsgroup, 'friendly' : maisLidaPolitica.friendly}) }}{% endif %}
                                   {% if maisLidaPolitica.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : maisLidaPolitica.id, 'newsgroupId': maisLidaPolitica.newsgroup.id, 'friendlyNewsgroup': maisLidaPolitica.article.newsgroup.friendlyNewsgroup, 'friendly' : maisLidaPolitica.friendly}) }}{% endif %}
                                {% elseif maisLidaPolitica.city != null  %}
                                   {{ path('municipios_article', {'articleId' : maisLidaPolitica.id, 'friendlyCity': maisLidaPolitica.city.friendlyCity, 'id': maisLidaPolitica.city.id, 'friendly' : maisLidaPolitica.friendly}) }}
                                {% elseif maisLidaPolitica.editorial != null %}
                                   {{ path('article01', {'id': maisLidaPolitica.id, 'friendlyEditorial' : maisLidaPolitica.editorial.friendlyEditorial, 'friendly' : maisLidaPolitica.friendly}) }}
                                {% else %}
                                   {{ path('article01', { 'id': maisLidaPolitica.id, 'friendlyEditorial' : maisLidaPolitica.editorial.friendlyEditorial, 'friendly' : maisLidaPolitica.friendly }) }}
                                {% endif %}
                                " title="{{ maisLidaPolitica.title }}">{{ maisLidaPolitica.title }}
                            </a>
                        </div>
                    </aside>
                {% endif %}
                <aside class="paz-widgetCol--box paz-widgetCol--th3 paz-related">
                    <header class="paz-widgetCol--header">
                        <h3><span>Conteúdo</span><br> Relacionado</h3>
                    </header>
                    {% for relacionadaPolitica in relacionadasPolitica %}
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content paz-related--blog-hd"> <a href="
                       {% if relacionadaPolitica.newsgroup != null %}
                       {% if relacionadaPolitica.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : relacionadaPolitica.id, 'newsgroupId': relacionadaPolitica.newsgroup.id, 'friendlyNewsgroup': relacionadaPoliticanewsgroup.newsgroup.friendlyNewsgroup, 'friendly' : relacionadaPolitica.friendly}) }}{% endif %}
                       {% if relacionadaPolitica..newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : relacionadaPolitica.id, 'newsgroupId': relacionadaPoliticanewsgroup.id, 'friendlyNewsgroup': relacionadaPoliticanewsgroup.newsgroup.friendlyNewsgroup, 'friendly' : relacionadaPolitica.friendly}) }}{% endif %}
                    {% elseif relacionadaPolitica.city != null  %}
                       {{ path('municipios_article', {'articleId' : relacionadaPolitica.id, 'friendlyCity': relacionadaPolitica.city.friendlyCity, 'id': relacionadaPolitica.city.id, 'friendly' : relacionadaPolitica.friendly}) }}
                    {% elseif relacionadaPolitica.editorial != null %}
                       {{ path('article01', {'id': relacionadaPolitica.id, 'friendlyEditorial' : relacionadaPolitica.editorial.friendlyEditorial, 'friendly' : relacionadaPolitica.friendly}) }}
                    {% else %}
                       {{ path('article01', { 'id': relacionadaPolitica.id, 'friendlyEditorial' : relacionadaPolitica.editorial.friendlyEditorial, 'friendly' : relacionadaPolitica.friendly }) }}
                    {% endif %}
                       " title="{{ relacionadaPolitica.hat }}"> <span>{{ relacionadaPolitica.hat }}</span> <img class="img-responsive" src="{{ vich_uploader_asset(relacionadaPolitica,'imageFile') }}" alt="{{ relacionadaPolitica.hat }}"> </a> </div>
                            <div class="paz-widgetCol--content paz-related--content">{{ relacionadaPolitica.title }} [...]</div>
                        </div>
                    {% endfor %}
                </aside>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="paz-edt--bar">
            </div>
        </div>
    </div>

    <div class="container d-none d-sm-none d-md-block d-lg-block d-xl-block" style="margin-top: 10px;">
        <div class="row">
            <!-- Our Blogs -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="paz-negative--wrap paz-negative--blog">
                    <h2 class="paz-negative--header"> 
                        <span class="paz-edt--header-tt">Nossos Blogs 
                            <a class="paz-btn--readmore" href="{{ path('newsgroups_blogs') }}">Veja todos <span></span></a> 
                        </span>
                    </h2>
                    <div class="paz-content--carousel paz-cr--blog">
                        {% for blog in blogs %}
                            <div class="paz-cr--item">
                                <figure class="paz-cr--avatar">
                                    <a href="{{ path('newsgroup_blogs_feed', {'id' : blog.id, 'friendlyNewsgroup' : blog.friendlyNewsgroup}) }}" title="{{ blog.groupName }}"><img src="{{ vich_uploader_asset(blog,'imageFile2') }}" alt="{{ blog.groupName }}"></a>
                                </figure>
                                <a class="paz-cr--info" href="{{ path('newsgroup_blogs_feed', { 'id' : blog.id, 'friendlyNewsgroup' : blog.friendlyNewsgroup }) }}" title="{{ blog.groupName }}">{{ blog.groupName }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <footer class="paz-negative--footer"></footer>
                </div>
            </div>
            {% if bannerTopoEditoria2 != null %}
                <!--  1° Billboard -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                    <a class="paz-ad--billboard" href="{% if bannerTopoEditoria2.link != null%}{{ bannerTopoEditoria2.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria2,'imageFile') }}" alt="Publicidade"></a>
                </div>
            {% endif %}
        </div>
    </div>
 
    <div class="container" style="margin-top: 50px;">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <h2 class="paz-edt--header"> <span class="paz-edt--header-tt">Entretê <a class="paz-btn--readmore" href="{{ path('editorial_feed', {'id' : 14, 'friendlyEditorial': 'entretenimento'}) }}">Ver editoria <span></span></a> </span> </h2>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                
                <div class="row">
                    {% if entretePrincipal != null %}
                        <article class="paz-callOut--box paz-hglt--stand paz-cover--side" style="margin-left: 0px !important; margin-right: 0px !important;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <figure class="paz-hglt--landscape-lg" style="margin-left: 0px !important; margin-right: 0px !important;">
                                        <a href="
                                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entretePrincipal} only %}"> <img class="img-responsive" src="{% if entretePrincipal.imageName != null %}{{ vich_uploader_asset(entretePrincipal,'imageFile') }}{% else %}{{ vich_uploader_asset(entretePrincipal.article,'imageFile') }}{% endif %}" alt="{% if entretePrincipal.articleTitle != null %}{{ entretePrincipal.articleTitle }}{% else %}{{ entretePrincipal.article.title }}{% endif %}">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="paz-hglt--comp-lg" style="margin-left: 0px !important; margin-right: 0px !important;">
                                        <h2 class="paz-headline--edt">
                                            <a href="
                                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entretePrincipal} only %}"> <span class="paz-hglt--subject">{% if entretePrincipal.articleHat != null %}{{ entretePrincipal.articleHat }}{% else %}{{ entretePrincipal.article.hat }}{% endif %}</span> <span>{% if entretePrincipal.articleTitle != null %}{{ entretePrincipal.articleTitle }}{% else %}{{ entretePrincipal.article.title }}{% endif %}</span>
                                            </a>
                                        </h2>
                                        <p class="paz-highlight--subinfo">{% if entretePrincipal.articleSubtitle != null %}{{ entretePrincipal.articleSubtitle }}{% else %}{{ entretePrincipal.article.Subtitle }}{% endif %}</p>
                                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: entretePrincipal} %}
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left: -15px; margin-right: -15px;">
                        {% if entreteSlide != null %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <article class="paz-callOut--box paz-hglt--stand paz-cover--side">
                                    <figure class="paz-hglt--landscape-lg">
                                        <a href="
                                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteSlide} only %}"> <span class="paz-hglt--subject">{% if entreteSlide.articleHat != null %}{{ entreteSlide.articleHat }}{% else %}{{ entreteSlide.article.hat }}{% endif %}</span> <span class="paz-hglt--widescreen"> <img class="img-responsive" src="{% if entreteSlide.imageName != null %}{{ vich_uploader_asset(entreteSlide,'imageFile') }}{% else %}{{ vich_uploader_asset(entreteSlide.article,'imageFile') }}{% endif %}" alt="{% if entreteSlide.articleTitle != null %}{{ entreteSlide.articleTitle }}{% else %}{{ entreteSlide.article.title }}{% endif %}"> </span>
                                        </a>
                                        <a href="
                                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteSlide} only %}" style="color: #000000; margin-top: 5px;"> <span>{% if entreteSlide.articleTitle != null %}{{ entreteSlide.articleTitle }}{% else %}{{ entreteSlide.article.title }}{% endif %}</span>
                                        </a>
                                    </figure>
                                    {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: entreteSlide} %}
                                </article>
                            </div>
                        {% endif %}
                

                        {% if bannerEditoria2 != null %}
                            <div align="center" style="margin-bottom: 30px;">
                                <a href="{% if bannerEditoria2.link != null%}{{ bannerEditoria2.link }}{% else %}#{% endif %}" class="pontilhado"><img class="img-responsive" src="{{ vich_uploader_asset(bannerEditoria2,'imageFile') }}" alt="Publicidade"></a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% if entreteFotoPequena != null %}
                            <article class="paz-callOut--box paz-hglt--stand paz-cover--side">
                                <div class="row" style="margin-right: -30px;">
                                    <figure class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--portrait-sm">
                                        <a href="
                                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFotoPequena} only %}"><img class="img-responsive" src="{% if entreteFotoPequena.imageName != null %}{{ vich_uploader_asset(entreteFotoPequena,'imageFile') }}{% else %}{{ vich_uploader_asset(entreteFotoPequena.article,'imageFile') }}{% endif %}" alt="{% if entreteFotoPequena.articleTitle != null %}{{ entreteFotoPequena.articleTitle }}{% else %}{{ entreteFotoPequena.article.title }}{% endif %}">
                                        </a>
                                    </figure>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--comp-short">
                                        <h2 class="paz-highlight">
                                            <a href="
                                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFotoPequena} only %}"> <span class="paz-hglt--subject">{% if entreteFotoPequena.articleHat != null %}{{ entreteFotoPequena.articleHat }}{% else %}{{ entreteFotoPequena.article.hat }}{% endif %}</span> <span>{% if entreteFotoPequena.articleTitle != null %}{{ entreteFotoPequena.articleTitle }}{% else %}{{ entreteFotoPequena.article.title }}{% endif %}</span>
                                            </a>
                                        </h2>
                                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: entreteFotoPequena} %}
                                    </div>
                                </div>
                            </article>
                        {% endif %}

                        {% if entreteFrase != null %}
                            <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paz-callOut--box paz-hglt--stand">
                                <h2 class="paz-highlight">
                                    <a href="
                                        {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFrase} only %}"> <span class="paz-hglt--subject">{% if entreteSlide.articleHat != null %}{{ entreteSlide.articleHat }}{% else %}{{ entreteSlide.article.hat }}{% endif %}</span> <span>{% if entreteSlide.articleTitle != null %}{{ entreteSlide.articleTitle }}{% else %}{{ entreteSlide.article.title }}{% endif %}</span>
                                    </a>
                                </h2>
                                {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: entreteFrase} %}
                            </article>
                        {% endif %}

                            {% if entreteFoto3 != null %}
                                <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12  paz-callOut--box paz-hglt--stand paz-cover--side paz-end">
                                    <div class="row" style="margin-right: -30px;">
                                    <figure class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--portrait-md">
                                        <a href="
                                            {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFoto3} only %}"><img class="img-responsive" src="{% if entreteFoto3.imageName != null %}{{ vich_uploader_asset(entreteFoto3,'imageFile') }}{% else %}{{ vich_uploader_asset(entreteFoto3.article,'imageFile') }}{% endif %}" alt="{% if entreteFoto3.articleTitle != null %}{{ entreteFoto3.articleTitle }}{% else %}{{ entreteFoto3.article.title }}{% endif %}">
                                        </a>
                                    </figure>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paz-hglt--comp-tall">
                                        <h2 class="paz-highlight">
                                            <a href="
                                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFoto3} only %}"> <span class="paz-hglt--subject">{% if entreteFoto3.articleHat != null %}{{ entreteFoto3.articleHat }}{% else %}{{ entreteFoto3.article.hat }}{% endif %}</span> <span>{% if entreteFoto3.articleTitle != null %}{{ entreteFoto3.articleTitle }}{% else %}{{ entreteFoto3.article.title }}{% endif %}</span>
                                            </a>
                                        </h2>
                                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: entreteFoto3} %}
                                    </div>
                                    </div>
                                </article>
                            {% endif %}
                    </div>
                </div>

   
  

            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% if entreteFoto1 != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight paz-cover--above"> <a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFoto1} only %}"> <span class="paz-hglt--subject">{% if entreteFoto1.articleHat != null %}{{ entreteFoto1.articleHat }}{% else %}{{ entreteFoto1.article.hat }}{% endif %}</span> <span class="paz-hglt--square"> <img class="img-responsive" src="{% if entreteFoto1.imageName != null %}{{ vich_uploader_asset(entreteFoto1,'imageFile') }}{% else %}{{ vich_uploader_asset(entreteFoto1.article,'imageFile') }}{% endif %}" alt="{% if entreteFoto1.articleTitle != null %}{{ entreteFoto1.articleTitle }}{% else %}{{ entreteFoto1.article.title }}{% endif %}"> </span> </a> 
                            <a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFoto1} only %}"> <span>{% if entreteFoto1.articleTitle != null %}{{ entreteFoto1.articleTitle }}{% else %}{{ entreteFoto1.article.title }}{% endif %}</span> </a> </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: entreteFoto1} %}
                    </article>
                {% endif %}
                {% if entreteFoto2 != null %}
                    <article class="paz-callOut--box paz-hglt--stand paz-end">
                        <h2 class="paz-highlight paz-cover--above">
                            <a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFoto2} only %}">
                                <span class="paz-hglt--subject">{% if entreteFoto2.articleHat != null %}{{ entreteFoto2.articleHat }}{% else %}{{ entreteFoto2.article.hat }}{% endif %}</span>
                                <span class="paz-hglt--portrait-lg">
                    <img class="img-responsive" src="{% if entreteFoto2.imageName != null %}{{ vich_uploader_asset(entreteFoto2,'imageFile') }}{% else %}{{ vich_uploader_asset(entreteFoto2.article,'imageFile') }}{% endif %}" alt="{% if entreteFoto2.articleTitle != null %}{{ entreteFoto2.articleTitle }}{% else %}{{ entreteFoto2.article.title }}{% endif %}">
                    </span>
                            </a>
                            <a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: entreteFoto2} only %}">
                                <span>{% if entreteFoto2.articleTitle != null %}{{ entreteFoto2.articleTitle }}{% else %}{{ entreteFoto2.article.title }}{% endif %}</span>
                            </a>
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: entreteFoto2} %}
                    </article>
                {% endif %}
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 paz-widgetCol">
                    <aside class="paz-widgetCol--box paz-widgetCol--th2">
                        <header class="paz-widgetCol--header">
                            <h3><span>Mais lida </span><br>Em Entretê</h3>
                        </header>
                        {% if maisLidaEntretenimento != null %}
                            <div class="paz-widgetCol--content">
                                <a href="
                        {% if maisLidaEntretenimento.newsgroup != null %}
                              {% if maisLidaEntretenimento.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : maisLidaEntretenimento.id, 'newsgroupId': maisLidaEntretenimento.newsgroup.id, 'friendlyNewsgroup': maisLidaEntretenimento.article.newsgroup.friendlyNewsgroup, 'friendly' : maisLidaEntretenimento.friendly}) }}{% endif %}
                              {% if maisLidaEntretenimento.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : maisLidaEntretenimento.id, 'newsgroupId': maisLidaEntretenimento.newsgroup.id, 'friendlyNewsgroup': maisLidaEntretenimento.article.newsgroup.friendlyNewsgroup, 'friendly' : maisLidaEntretenimento.friendly}) }}{% endif %}
                           {% elseif maisLidaEntretenimento.city != null  %}
                              {{ path('municipios_article', {'articleId' : maisLidaEntretenimento.id, 'friendlyCity': maisLidaEntretenimento.article.city.friendlyCity, 'id': maisLidaEntretenimento.city.id, 'friendly' : maisLidaEntretenimento.friendly}) }}
                           {% elseif maisLidaEntretenimento.editorial != null %}
                              {{ path('article01', {'id': maisLidaEntretenimento.id, 'friendlyEditorial' : maisLidaEntretenimento.editorial.friendlyEditorial, 'friendly' : maisLidaEntretenimento.friendly}) }}
                           {% else %}
                              {{ path('article01', { 'id': maisLidaEntretenimento.id, 'friendlyEditorial' : maisLidaEntretenimento.editorial.friendlyEditorial, 'friendly' : maisLidaEntretenimento.friendly }) }}
                           {% endif %}
                        " title="{{ maisLidaEntretenimento.title }}">
                                    <div class="paz-widgetCol--content-img">
                                        <img class="img-responsive" src="{% if maisLidaEntretenimento.imageName != null %}{{ vich_uploader_asset(maisLidaEntretenimento,'imageFile') }}{% else %}{{ vich_uploader_asset(maisLidaEntretenimento.article,'imageFile') }}{% endif %}" alt="{% if maisLidaEntretenimento.title != null %}{{ maisLidaEntretenimento.title}}{% else %}{{ maisLidaEntretenimento.title }}{% endif %}">
                                    </div>
                                    {{ maisLidaEntretenimento.title }}
                                </a>
                            </div>
                        {% endif %}
                    </aside>
                    <aside class="paz-widgetCol--box paz-widgetCol--th3 paz-related">
                        <header class="paz-widgetCol--header">
                            <h3><span>Conteúdo</span><br> Relacionado</h3>
                        </header>
                        {% for relacionadaEntretenimento in relacionadasEntretenimento %}
                            <div class="paz-widgetGol--wrap">
                                <div class="paz-widgetCol--content paz-related--blog-hd"> <a href="
                           {% if relacionadaEntretenimento.newsgroup != null %}
                              {% if relacionadaEntretenimento.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : relacionadaEntretenimento.id, 'newsgroupId': relacionadaEntretenimento.article.newsgroup.id, 'friendlyNewsgroup': relacionadaEntretenimento.article.newsgroup.friendlyNewsgroup, 'friendly' : relacionadaEntretenimento.friendly}) }}{% endif %}
                              {% if relacionadaEntretenimento.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : relacionadaEntretenimento.id, 'newsgroupId': relacionadaEntretenimento.article.newsgroup.id, 'friendlyNewsgroup': relacionadaEntretenimento.article.newsgroup.friendlyNewsgroup, 'friendly' : relacionadaEntretenimento.friendly}) }}{% endif %}
                           {% elseif relacionadaEntretenimento.city != null  %}
                              {{ path('municipios_article', {'articleId' : relacionadaEntretenimento.id, 'friendlyCity': relacionadaEntretenimento.city.friendlyCity, 'id': relacionadaEntretenimento.city.id, 'friendly' : relacionadaEntretenimento.friendly}) }}
                           {% elseif relacionadaEntretenimento.editorial != null %}
                              {{ path('article01', {'id': relacionadaEntretenimento.id, 'friendlyEditorial' : relacionadaEntretenimento.editorial.friendlyEditorial,'friendly' : relacionadaEntretenimento.friendly}) }}
                           {% else %}
                              {{ path('article01', { 'id': relacionadaEntretenimento.id, 'friendlyEditorial' : relacionadaEntretenimento.editorial.friendlyEditorial, 'friendly' : relacionadaEntretenimento.friendly }) }}
                           {% endif %}
                        " title="{{ relacionadaEntretenimento.hat }}"> <span>{{ relacionadaEntretenimento.hat }}</span> <img class="img-responsive" src="{{ vich_uploader_asset(relacionadaEntretenimento,'imageFile') }}" alt="{{ relacionadaEntretenimento.hat }}"> </a> </div>
                                <div class="paz-widgetCol--content paz-related--content">{{ relacionadaEntretenimento.title }} [...]</div>
                            </div>
                        {% endfor %}
                    </aside>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr class="paz-edt--bar">
                </div>
            </div>

        </div>
    </div>

    <div class="container d-none d-sm-none d-md-block d-lg-block d-xl-block" style="margin-top: 10px;">
        <div class="row">
            <!-- Our Coluns -->
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="paz-negative--wrap paz-negative--column">
                    <h2 class="paz-negative--header"> <span class="paz-edt--header-tt">Nossas Colunas <a class="paz-btn--readmore" href="{{ path('newsgroups_colunas') }}">Veja todas <span></span></a> </span> </h2>
                    <div class="paz-content--carousel paz-cr--column">
                        {% for coluna in colunas %}
                            <div class="paz-cr--item">
                                <figure class="paz-cr--avatar">
                                    <a href="{{ path('newsgroup_colunas_feed', { 'id' : coluna.id, 'friendlyNewsgroup' : coluna.friendlyNewsgroup }) }}" title="{{ coluna.groupName }}"><img src="{{ vich_uploader_asset(coluna,'imageFile2') }}" alt="{{ coluna.groupName }}"></a>
                                </figure>
                                <a class="paz-cr--info" href="{{ path('newsgroup_colunas_feed', { 'id' : coluna.id, 'friendlyNewsgroup' : coluna.friendlyNewsgroup }) }}" title="{{ coluna.groupName }}">{{ coluna.groupName }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <footer class="paz-negative--footer"></footer>
                </div>
            </section>
            {% if bannerTopoEditoria3 != null %}
                <!--  2° Billboard -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                    <a class="paz-ad--billboard" href="{% if bannerTopoEditoria3.link != null%}{{ bannerTopoEditoria3.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria3,'imageFile') }}" alt="Publicidade"></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <h2 class="paz-edt--header"> <span class="paz-edt--header-tt">Esportes <a class="paz-btn--readmore" href="{{ path('editorial_feed', {'id' : 15, 'friendlyEditorial': 'az-esporte'}) }}">Ver editoria <span></span></a> </span> </h2>
            </div>    
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {% if esportePrincipal != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-headline--edt"> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esportePrincipal} only %}"> <span class="paz-hglt--subject">{% if esportePrincipal.articleHat != null %}{{ esportePrincipal.articleHat }}{% else %}{{ esportePrincipal.article.hat }}{% endif %}</span> <span>{% if esportePrincipal.articleTitle != null %}{{ esportePrincipal.articleTitle }}{% else %}{{ esportePrincipal.article.title }}{% endif %}</span> 
                            </a> 
                        </h2>
                        {#<h4 class="paz-headline--sub"><a href="{{ path('article01', { 'id': esportePrincipal.article.id }) }}" title="{% if esportePrincipal.articleSubtitle != null %}{{ esportePrincipal.articleSubtitle }}{% else %}{{ esportePrincipal.article.subtitle }}{% endif %}">{% if esportePrincipal.articleSubtitle != null %}{{ esportePrincipal.articleSubtitle }}{% else %}{{ esportePrincipal.article.subtitle }}{% endif %}</a></h4>#}
                         {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: esportePrincipal} %}
                    </article>
                {% endif %}
                {% if esporteSecundarioFoto != null %}
                    <article class="paz-callOut--box paz-hglt--stand paz-cover--side">
                        <figure class="paz-hglt--portrait-sm">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteSecundarioFoto} only %}"><img class="img-responsive" src="{% if esporteSecundarioFoto.imageName != null %}{{ vich_uploader_asset(esporteSecundarioFoto,'imageFile') }}{% else %}{{ vich_uploader_asset(esporteSecundarioFoto.article,'imageFile') }}{% endif %}" alt="{% if esporteSecundarioFoto.articleTitle != null %}{{ esporteSecundarioFoto.articleTitle }}{% else %}{{ esporteSecundarioFoto.article.title }}{% endif %}">
                            </a>
                        </figure>
                        <div class="paz-hglt--comp-short">
                            <h2 class="paz-highlight">
                                <a href="
                                    {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteSecundarioFoto} only %}"> <span class="paz-hglt--subject">{% if esporteSecundarioFoto.articleHat != null %}{{ esporteSecundarioFoto.articleHat }}{% else %}{{ esporteSecundarioFoto.article.hat }}{% endif %}</span> <span>{% if esporteSecundarioFoto.articleTitle != null %}{{ esporteSecundarioFoto.articleTitle }}{% else %}{{ esporteSecundarioFoto.article.title }}{% endif %}</span> 
                                </a>
                            </h2>
                            {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: esporteSecundarioFoto} %}
                        </div>
                    </article>
                {% endif %}
                    {% if bannerEditoria3 != null %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                            <a href="{% if bannerEditoria3.link != null%}{{ bannerEditoria3.link }}{% else %}#{% endif %}" class="paz-ad--large-rectangle"><img class="img-responsive" src="{{ vich_uploader_asset(bannerEditoria3,'imageFile') }}" alt="Publicidade"></a>
                        </div>
                    {% endif %}
            </div>    
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {% if esporteFotoHorizontal1 != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight paz-cover--above"> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoHorizontal1} only %}"> <span class="paz-hglt--subject">{% if esporteFotoHorizontal1.articleHat != null %}{{ esporteFotoHorizontal1.articleHat }}{% else %}{{ esporteFotoHorizontal1.article.hat }}{% endif %}</span> <span class="paz-hglt--widescreen"> <img class="img-responsive" src="{% if esporteFotoHorizontal1.imageName != null %}{{ vich_uploader_asset(esporteFotoHorizontal1,'imageFile') }}{% else %}{{ vich_uploader_asset(esporteFotoHorizontal1.article,'imageFile') }}{% endif %}" alt="{% if esporteFotoHorizontal1.articleTitle != null %}{{ esporteFotoHorizontal1.articleTitle }}{% else %}{{ esporteFotoHorizontal1.article.title }}{% endif %}"> </span> 
                            </a> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoHorizontal1} only %}"> <span>{% if esporteFotoHorizontal1.articleTitle != null %}{{ esporteFotoHorizontal1.articleTitle }}{% else %}{{ esporteFotoHorizontal1.article.title }}{% endif %}</span> 
                            </a> 
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: esporteFotoHorizontal1} %}
                    </article>
                {% endif %}
                {% if esporteFrase != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight">
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFrase} only %}"> <span class="paz-hglt--subject">{% if esporteFrase.articleHat != null %}{{ esporteFrase.articleHat }}{% else %}{{ esporteFrase.article.hat }}{% endif %}</span> <span>{% if esporteFrase.articleTitle != null %}{{ esporteFrase.articleTitle }}{% else %}{{ esporteFrase.article.title }}{% endif %}</span> 
                            </a> 
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: esporteFrase} %}
                    </article>
                {% endif %}
                {% if esporteFotoHorizontal2 != null %}
                    <article class="paz-callOut--box paz-hglt--stand paz-end">
                        <h2 class="paz-highlight paz-cover--above"> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoHorizontal2} only %}"> <span class="paz-hglt--subject">{% if esporteFotoHorizontal2.articleHat != null %}{{ esporteFotoHorizontal2.articleHat }}{% else %}{{ esporteFotoHorizontal2.article.hat }}{% endif %}</span> <span class="paz-hglt--widescreen"> <img class="img-responsive" src="{% if esporteFotoHorizontal2.imageName != null %}{{ vich_uploader_asset(esporteFotoHorizontal2,'imageFile') }}{% else %}{{ vich_uploader_asset(esporteFotoHorizontal2.article,'imageFile') }}{% endif %}" alt="{% if esporteFotoHorizontal2.articleTitle != null %}{{ esporteFotoHorizontal2.articleTitle }}{% else %}{{ esporteFotoHorizontal2.article.title }}{% endif %}"> </span> 
                            </a> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoHorizontal2} only %}"> <span>{% if esporteFotoHorizontal2.articleTitle != null %}{{ esporteFotoHorizontal2.articleTitle }}{% else %}{{ esporteFotoHorizontal2.article.title }}{% endif %}</span> 
                            </a> 
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: esporteFotoHorizontal2} %}
                    </article>
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% if esporteFotoGrande != null %}
                    <article class="paz-callOut--box paz-hglt--stand">
                        <h2 class="paz-highlight paz-cover--above"> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoGrande} only %}"> <span class="paz-hglt--subject">{% if esporteFotoGrande.articleHat != null %}{{ esporteFotoGrande.articleHat }}{% else %}{{ esporteFotoGrande.article.hat }}{% endif %}</span> <span class="paz-hglt--square"> <img class="img-responsive" src="{% if esporteFotoGrande.imageName != null %}{{ vich_uploader_asset(esporteFotoGrande,'imageFile') }}{% else %}{{ vich_uploader_asset(esporteFotoGrande.article,'imageFile') }}{% endif %}" alt="{% if esporteFotoGrande.articleTitle != null %}{{ esporteFotoGrande.articleTitle }}{% else %}{{ esporteFotoGrande.article.title }}{% endif %}"> </span> 
                            </a> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoGrande} only %}"> <span>{% if esporteFotoGrande.articleTitle != null %}{{ esporteFotoGrande.articleTitle }}{% else %}{{ esporteFotoGrande.article.title }}{% endif %}</span> 
                            </a> 
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: esporteFotoGrande} %}
                    </article>
                {% endif %}
                {% if esporteFotoPequena != null %}
                    <article class="paz-callOut--box paz-hglt--stand paz-end">
                        <h2 class="paz-highlight paz-cover--above"> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoPequena} only %}"> <span class="paz-hglt--subject">{% if esporteFotoPequena.articleHat != null %}{{ esporteFotoPequena.articleHat }}{% else %}{{ esporteFotoPequena.article.hat }}{% endif %}</span> <span class="paz-hglt--landscape-md"> <img class="img-responsive" src="{% if esporteFotoPequena.imageName != null %}{{ vich_uploader_asset(esporteFotoPequena,'imageFile') }}{% else %}{{ vich_uploader_asset(esporteFotoPequena.article,'imageFile') }}{% endif %}" alt="{% if esporteFotoPequena.articleTitle != null %}{{ esporteFotoPequena.articleTitle }}{% else %}{{ esporteFotoPequena.article.title }}{% endif %}"> </span>
                            </a> 
                            <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: esporteFotoPequena} only %}"> <span>{% if esporteFotoPequena.articleTitle != null %}{{ esporteFotoPequena.articleTitle }}{% else %}{{ esporteFotoPequena.article.title }}{% endif %}</span> 
                            </a> 
                        </h2>
                        {% include 'FrontBundle:Default/main:compartilhar.html.twig' with {news: esporteFotoPequena} %}
                    </article>
                {% endif %}
            </div>
            <!-- Widget bar -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <aside class="paz-widgetCol--box paz-widgetCol--th2">
                    <header class="paz-widgetCol--header">
                        <h3><span>Mais lida </span><br>Em Esportes</h3>
                    </header>
                    {% if maisLidaEsporte != null %}
                        <div class="paz-widgetCol--content">
                            <a href="
                                {% if maisLidaEsporte.newsgroup != null %}
                                    {% if maisLidaEsporte.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : maisLidaEsporte.id, 'newsgroupId': maisLidaEsporte.newsgroup.id, 'friendlyNewsgroup': maisLidaEsporte.newsgroup.friendlyNewsgroup, 'friendly' : maisLidaEsporte.friendly}) }}{% endif %}
                                    {% if maisLidaEsporte.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : maisLidaEsporte.id, 'newsgroupId': maisLidaEsporte.newsgroup.id, 'friendlyNewsgroup': maisLidaEsporte.newsgroup.friendlyNewsgroup, 'friendly' : maisLidaEsporte.friendly}) }}{% endif %}
                                {% elseif maisLidaEsporte.city != null  %}
                                    {{ path('municipios_article', {'articleId' : maisLidaEsporte.id, 'friendlyCity': maisLidaEsporte.city.friendlyCity, 'id': maisLidaEsporte.city.id, 'friendly' : maisLidaEsporte.friendly}) }}
                                {% elseif maisLidaEsporte.editorial != null %}
                                    {{ path('article01', {'id': maisLidaEsporte.id, 'friendlyEditorial' : maisLidaEsporte.editorial.friendlyEditorial, 'friendly' : maisLidaEsporte.friendly}) }}
                                {% else %}
                                    {{ path('article01', { 'id': maisLidaEsporte.id, 'friendlyEditorial' : maisLidaEsporte.editorial.friendlyEditorial, 'friendly' : maisLidaEsporte.friendly }) }}
                                {% endif %}
                                " title="{{ maisLidaEsporte.title }}">
                                <div class="paz-widgetCol--content-img">
                                    <img class="img-responsive" src="{% if maisLidaEsporte.imageName != null %}{{ vich_uploader_asset(maisLidaEsporte,'imageFile') }}{% else %}{{ vich_uploader_asset(maisLidaEsporte.article,'imageFile') }}{% endif %}" alt="{% if maisLidaEsporte.title != null %}{{ maisLidaEsporte.title}}{% else %}{{ maisLidaEsporte.title }}{% endif %}">
                                </div>
                                {{ maisLidaEsporte.title }}
                            </a>
                        </div>
                    {% endif %}
                </aside>
                <aside class="paz-widgetCol--box paz-widgetCol--th3 paz-related">
                    <header class="paz-widgetCol--header">
                        <h3><span>Conteúdo</span><br> Relacionado</h3>
                    </header>
                    {% for relacionadaEsporte in relacionadasEsporte %}
                        <div class="paz-widgetGol--wrap">
                            <div class="paz-widgetCol--content paz-related--blog-hd"> 
                                <a href="
                                    {% if relacionadaEsporte.newsgroup != null %}
                                       {% if relacionadaEsporte.newsgroup.kind == 'Blog' %}{{ path('newsgroup_blogs_article', {'articleId' : relacionadaEsporte.id, 'newsgroupId': relacionadaEsporte.newsgroup.id, 'friendlyNewsgroup': relacionadaEsporte.newsgroup.friendlyNewsgroup, 'friendly' : relacionadaEsporte.friendly}) }}{% endif %}
                                       {% if relacionadaEsporte.newsgroup.kind == 'Coluna' %}{{ path('newsgroup_colunas_article', {'articleId' : relacionadaEsporte.id, 'newsgroupId': relacionadaEsporte.newsgroup.id, 'friendlyNewsgroup': relacionadaEsporte.newsgroup.friendlyNewsgroup, 'friendly' : relacionadaEsporte.friendly}) }}{% endif %}
                                    {% elseif relacionadaEsporte.city != null  %}
                                       {{ path('municipios_article', {'articleId' : relacionadaEsporte.id, 'friendlyCity': relacionadaEsporte.city.friendlyCity, 'id': relacionadaEsporte.city.id, 'friendly' : relacionadaEsporte.friendly}) }}
                                    {% elseif relacionadaEsporte.editorial != null %}
                                       {{ path('article01', {'id': relacionadaEsporte.id, 'friendlyEditorial' : relacionadaEsporte.editorial.friendlyEditorial, 'friendly' : relacionadaEsporte.friendly}) }}
                                    {% else %}
                                        {{ path('article01', { 'id': relacionadaEsporte.id, 'friendlyEditorial' : relacionadaEsporte.editorial.friendlyEditorial, 'friendly' : relacionadaEsporte.friendly }) }}
                                    {% endif %}
                                    " title="{{ relacionadaEsporte.title }}"> <span>{{ relacionadaEsporte.hat }}</span> <img class="img-responsive" src="{{ vich_uploader_asset(relacionadaEsporte,'imageFile') }}" alt="{{ relacionadaEsporte.hat }}"> 
                                </a> 
                            </div>
                            <div class="paz-widgetCol--content paz-related--content">{{ relacionadaEsporte.title }} [...]</div>
                        </div>
                    {% endfor %}
                </aside>
            </div>
            <div class="paz-st-10">
                <hr class="paz-edt--bar">
            </div>
        </div>
    </div>  

    <div class="container d-none d-sm-none d-md-block d-lg-block d-xl-block" style="margin-top: 50px;">
        <div class="row">
            <!-- Cartaz -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="paz-negative--wrap paz-negative--cartaz">
                    <h2 class="paz-negative--header"> <span class="paz-edt--header-tt">Teresina em Cartaz <a class="paz-btn--readmore" href="#fakelink">Veja todos <span></span></a> </span> </h2>
                    <div class="paz-content--carousel paz-cr--cartaz">
                        {% for culture in cultures  %}
                            <div class="paz-cr--item">
                                <figure class="paz-cartaz">
                                    <img class="paz-cartaz--front" src="{{ vich_uploader_asset(culture,'imageFile') }}" alt="{{ culture.title }}">
                                    <figcaption class="paz-cartaz--back">
                                        <span class="paz-cartaz--heading">{{ culture.title }}</span>
                                        {% if culture.description != null %}
                                            <ul class="paz-cartaz--headlining">
                                                <li class="paz-cartaz--title">Atrações:</li>
                                                <li>{{ culture.description }}</li>
                                            </ul>
                                        {% endif %}
                                        {% if culture.date != null %}
                                            <div class="paz-cartaz--wrap">
                                                <span class="paz-cartaz--title">Data e hora:</span>
                                                <span class="paz-cartaz--info">{{ culture.date|date('d') }} de
                                                    {% if culture.date|date('m') == 01 %} janeiro {% endif %}
                                                    {% if culture.date|date('m') == 02 %} fevereiro {% endif %}
                                                    {% if culture.date|date('m') == 03 %} março {% endif %}
                                                    {% if culture.date|date('m') == 04 %} abril {% endif %}
                                                    {% if culture.date|date('m') == 05 %} maio {% endif %}
                                                    {% if culture.date|date('m') == 06 %} junho {% endif %}
                                                    {% if culture.date|date('m') == 07 %} julho {% endif %}
                                                    {% if culture.date|date('m') == 08 %} agosto {% endif %}
                                                    {% if culture.date|date('m') == 09 %} setembro {% endif %}
                                                    {% if culture.date|date('m') == 10 %} outubro {% endif %}
                                                    {% if culture.date|date('m') == 11 %} novembro {% endif %}
                                                    {% if culture.date|date('m') == 12 %} dezembro {% endif %}
                                                    , {{ culture.date|date('H:i') }}h</span>
                                            </div>
                                        {% endif %}
                                        {% if culture.place != null %}
                                            <div class="paz-cartaz--wrap">
                                                <span class="paz-cartaz--title">Local:</span>
                                                <span class="paz-cartaz--info">{{ culture.place }}</span>
                                            </div>
                                        {% endif %}
                                        {% if culture.phone != null %}
                                            <div class="paz-cartaz--wrap">
                                                <span class="paz-cartaz--title">Informações:</span>
                                                <span class="paz-cartaz--info">{{ culture.phone }}</span>
                                            </div>
                                        {% endif %}
                                        {% if culture.phone != null %}
                                            <div class="paz-cartaz--wrap">
                                                <span class="paz-cartaz--title">Links:</span>
                                                <span class="paz-cartaz--info"><a href="{{ culture.link }}" target="blank" title="Visite o site do evento">Visite o site do evento</a></span>
                                                <!--<span class="paz-cartaz--info"><a href="https://www.google.com.br/maps/dir/''/café+del+mar/data=!4m5!4m4!1m0!1m2!1m1!1s0x78e3a1f2b2c76b1:0xf1c09e80fdfc0752?sa=X&amp;ved=0CIABEPUXMA5qFQoTCKHRv9CSmsgCFceHkAodki0PcQ" target="blank" title="Saiba como chegar">Saiba como chegar</a></span>-->
                                            </div>
                                        {% endif %}
                                    </figcaption>
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                    <footer class="paz-negative--footer"></footer>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <h2 class="paz-edt--header">
                    <span class="paz-edt--header-tt">
                        Municípios
                        <a class="paz-btn--readmore" href="{{ path('municipios') }}">Ver editoria <span></span></a>
                    </span>
                </h2>
            </div>    
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    {% if municipioPrincipal != null %}
                        <article class="paz-callOut--box paz-hglt--stand">
                            <h2 class="paz-headline--edt"> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioPrincipal} only %}"> <span class="paz-hglt--subject">{% if municipioPrincipal.article.city != null %}{{ municipioPrincipal.article.city.name }}{% endif %}</span> <span>{% if municipioPrincipal.articleTitle != null %}{{ municipioPrincipal.articleTitle }}{% else %}{{ municipioPrincipal.article.title }}{% endif %}</span> </a> </h2>
                            </article>
                    {% endif %}
                    {% if municipioFoto1 != null %}
                        <article class="paz-callOut--box paz-hglt--stand paz-cover--side">
                            <figure class="paz-hglt--portrait-sm"><a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFoto1} only %}
                         "><img class="img-responsive" src="{% if municipioFoto1.imageName != null %}{{ vich_uploader_asset(municipioFoto1,'imageFile') }}{% else %}{{ vich_uploader_asset(municipioFoto1.article,'imageFile') }}{% endif %}" alt="{% if municipioFoto1.articleTitle != null %}{{ municipioFoto1.articleTitle }}{% else %}{{ municipioFoto1.article.title }}{% endif %}"></a></figure>
                            <div class="paz-hglt--comp-short">
                                <h2 class="paz-highlight"> <a href="
                                    {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFoto1} only %}"> <span class="paz-hglt--subject">{% if municipioFoto1.articleHat != null %}{{ municipioFoto1.articleHat }}{% else %}{{ municipioFoto1.article.hat }}{% endif %}</span> <span>{% if municipioFoto1.articleTitle != null %}{{ municipioFoto1.articleTitle }}{% else %}{{ municipioFoto1.article.title }}{% endif %}</span> </a> </h2>
                                </div>
                        </article>
                    {% endif %}
                    {% if municipioFoto2 != null %}
                        <article class="paz-callOut--box paz-hglt--stand paz-cover--side paz-end">
                            <figure class="paz-hglt--portrait-sm"><a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFoto2} only %}
                         "><img class="img-responsive" src="{% if municipioFoto2.imageName != null %}{{ vich_uploader_asset(municipioFoto2,'imageFile') }}{% else %}{{ vich_uploader_asset(municipioFoto2.article,'imageFile') }}{% endif %}" alt="{% if municipioFoto2.articleTitle != null %}{{ municipioFoto2.articleTitle }}{% else %}{{ municipioFoto2.article.title }}{% endif %}"></a></figure>
                            <div class="paz-hglt--comp-short">
                                <h2 class="paz-highlight"> <a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFoto2} only %}
                             "> <span class="paz-hglt--subject">{% if municipioFoto2.articleHat != null %}{{ municipioFoto2.articleHat }}{% else %}{{ municipioFoto2.article.hat }}{% endif %}</span> <span>{% if municipioFoto2.articleTitle != null %}{{ municipioFoto2.articleTitle }}{% else %}{{ municipioFoto2.article.title }}{% endif %}</span> </a> </h2>
                             </div>
                        </article>
                    {% endif %}
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    {% if municipioFrase1 != null %}
                        <article class="paz-callOut--box paz-hglt--stand">
                            <h2 class="paz-highlight"> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFrase1} only %}"> <span class="paz-hglt--subject">{% if municipioFrase1.articleHat != null %}{{ municipioFrase1.articleHat }}{% else %}{{ municipioFrase1.article.hat }}{% endif %}</span> <span>{% if municipioFrase1.articleTitle != null %}{{ municipioFrase1.articleTitle }}{% else %}{{ municipioFrase1.article.title }}{% endif %}</span> </a> </h2>
                        </article>
                    {% endif %}
                    {% if municipioFrase2 != null %}
                        <article class="paz-callOut--box paz-hglt--stand">
                            <h2 class="paz-highlight"> <a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFrase2} only %}
                         "> <span class="paz-hglt--subject">{% if municipioFrase2.articleHat != null %}{{ municipioFrase2.articleHat }}{% else %}{{ municipioFrase2.article.hat }}{% endif %}</span> <span>{% if municipioFrase2.articleTitle != null %}{{ municipioFrase2.articleTitle }}{% else %}{{ municipioFrase2.article.title }}{% endif %}</span> </a> </h2>
                        </article>
                    {% endif %}
                    {% if municipioFotoHorizontal != null %}
                        <article class="paz-callOut--box paz-hglt--stand paz-end">
                            <h2 class="paz-highlight paz-cover--above"> <a href="{% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFotoHorizontal} only %}
                         "> <span class="paz-hglt--subject">{% if municipioFotoHorizontal.articleHat != null %}{{ municipioFotoHorizontal.articleHat }}{% else %}{{ municipioFotoHorizontal.article.hat }}{% endif %}</span> <span class="paz-hglt--widescreen"> <img class="img-responsive" src="{% if municipioFotoHorizontal.imageName != null %}{{ vich_uploader_asset(municipioFotoHorizontal,'imageFile') }}{% else %}{{ vich_uploader_asset(municipioFotoHorizontal.article,'imageFile') }}{% endif %}" alt="{% if municipioFotoHorizontal.articleTitle != null %}{{ municipioFotoHorizontal.articleTitle }}{% else %}{{ municipioFotoHorizontal.article.title }}{% endif %}"> </span> </a> <a href="
                         {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFotoHorizontal} only %}"> <span>{% if municipioFotoHorizontal.articleTitle != null %}{{ municipioFotoHorizontal.articleTitle }}{% else %}{{ municipioFotoHorizontal.article.title }}{% endif %}</span> </a> </h2>
                        </article>
                    {% endif %}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    {% if municipioFotoGrande != null %}
                        <article class="paz-callOut--box paz-hglt--stand">
                            <h2 class="paz-highlight paz-cover--above"> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFotoGrande} only %}"> <span class="paz-hglt--subject">{% if municipioFotoGrande.articleHat != null %}{{ municipioFotoGrande.articleHat }}{% else %}{{ municipioFotoGrande.article.hat }}{% endif %}</span> <span class="paz-hglt--square"> <img class="img-responsive" src="{% if municipioFotoGrande.imageName != null %}{{ vich_uploader_asset(municipioFotoGrande,'imageFile') }}{% else %}{{ vich_uploader_asset(municipioFotoGrande.article,'imageFile') }}{% endif %}" alt="{% if municipioFotoGrande.articleTitle != null %}{{ municipioFotoGrande.articleTitle }}{% else %}{{ municipioFotoGrande.article.title }}{% endif %}"> </span> </a> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFotoGrande} only %}"> <span>{% if municipioFotoGrande.articleTitle != null %}{{ municipioFotoGrande.articleTitle }}{% else %}{{ municipioFotoGrande.article.title }}{% endif %}</span> </a> </h2>
                        </article>
                    {% endif %}
                    {% if municipioFraseCurta != null %}
                        <article class="paz-callOut--box paz-hglt--stand paz-end">
                            <h2 class="paz-highlight"> <a href="
                                {% include 'FrontBundle:Default/main:linkNoticia.html.twig' with {news: municipioFraseCurta} only %}"> <span class="paz-hglt--subject">Assunto em questão</span> <span>{% if municipioFraseCurta.articleTitle != null %}{{ municipioFraseCurta.articleTitle }}{% else %}{{ municipioFraseCurta.article.title }}{% endif %}</span> </a> </h2>
                        </article>
                    {% endif %}
            </div>
                <!-- Widget bar -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <aside class="paz-widgetCol--box paz-widgetCol--th4 paz-related">
                        <header class="paz-widgetCol--header">
                            <h3><span>Nossos </span><br><small>Correspondentes</small></h3>
                        </header>
                        {% for partnerArticle in partnerArticles %}
                            <div class="paz-widgetGol--wrap">
                                <div class="paz-widgetCol--content paz-related--city-hd"> <a href="#" title="{{ partnerArticle.editorial.name }}"> <span>{{ partnerArticle.editorial.name }}</span> <img class="img-responsive" src="{{ vich_uploader_asset(partnerArticle.editorial,'imageFile') }}" alt="{{ partnerArticle.editorial.name }}"> </a> </div>
                                <div class="paz-widgetCol--content paz-related--content">{{ partnerArticle.title }}[...]</div>
                            </div>
                        {% endfor %}
                    </aside>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="paz-edt--bar">
            </div>

            {% if bannerTopoEditoria5 != null %}
                <!--  Super billboard -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
                    <a class="paz-ad--super-billboard" href="{% if bannerTopoEditoria5.link != null%}{{ bannerTopoEditoria5.link }}{% else %}#{% endif %}"><img class="img-responsive" src="{{ vich_uploader_asset(bannerTopoEditoria5,'imageFile') }}" alt="Publicidade"></a>
                </div>
            {% endif %}
            
        </div>
    </div>

{% endblock %}