{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaofeature %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Destaques</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Destaques</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('feature_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('feature_edit', { 'id': feature.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('feature_new') }}" class="btn btn-primary">Novo Destaque</a>
        {{ form_end(delete_form) }}

    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Destaque cadastrada</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="location">Localização</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="location" placeholder="{{ feature.location }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="enabled">Ativo</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="enabled" {% if feature.enabled == true %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="control-label" for="scheduled">Agendado</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="scheduled" {% if feature.scheduled == true %}checked{% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="scheduledTo">Agendado para</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="scheduledTo" placeholder="{{ feature.scheduledTo|date('d/m/Y H:i:s') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="article">Publicação</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="article" placeholder="{{ feature.article }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="articleTitle">Título</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="articleTitle" placeholder="{{ feature.articleTitle }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="articleSubtitle">Subtítulo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="articleSubtitle" placeholder="{{ feature.articleSubtitle }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="articleHat">Chapéu</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="articleHat" placeholder="{{ feature.articleHat }}" disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Imagens</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            {% if feature.imageName %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(feature,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-md-12">
                                <label class="control-label" for="imageSubtitle">Subtítulo</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="imageSubtitle" placeholder="{{ feature.imageSubtitle }}" disabled>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label" for="imageCredit">Crédito</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="articleSubtitle" placeholder="{{ feature.imageCredit }}" disabled>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label" for="imageDescription">Descrição</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="imageDescription" placeholder="{{ feature.imageDescription }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="container-fluid-md"><br><br></div>

{% endblock %}