{% extends 'BackBundle::base.html.twig' %}

{% block media %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block mediadocument %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Documentos</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Documentos</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('document_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('document_edit', { 'id': document.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('document_new') }}" class="btn btn-primary">Novo documento</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Documentos cadastrados</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="description">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="description" placeholder="{{ document.description }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="credit">Créditos</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="credit" placeholder="{{ document.credit }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="status">Pode publicar?</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="status" placeholder="{% if document.status == true %}SIM{% else %}NÃO{% endif %}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12"></div>
                        {% if document.imageName %}
                            <div class="col-lg-12">
                                <label class="control-label" for="status">Arquivo</label>
                                <div class="controls">
                                    <a href="{{ vich_uploader_asset(document,'imageFile') }}" class="btn btn-warning">Visualizar arquivo</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}