{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block ariarticle %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Cadastro</a></li>
                <li class="active"><a href="javascript:;">Arimatéia Azevedo</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Arimatéia Azevedo</h2>
        </div>

        <div class="container-fluid-md">
            {{ form_start(delete_form) }}
            <a href="{{ path('ariarticle_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
            <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
            <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
            {{ form_end(delete_form) }}
        </div>

        <div class="container-fluid-md"><br><br></div>

        {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Editar a publicação</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-lg-6">
                                {{ form_label(edit_form.date, "Data", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.date) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.date, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.title) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.subtitle) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                {{ form_label(edit_form.hat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.hat) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.hat, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.firstContainPartI, "Primária Parte I", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.firstContainPartI) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.firstContainPartI, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12" style="display: none;">
                                {{ form_label(edit_form.firstContainPartIi, "Primária Parte II", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.firstContainPartIi) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.firstContainPartIi, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile) }}
                                </div>
                            </div>

                            {% if ariArticle.imageName %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(ariArticle,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.subtitleImage, "Legenda", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.subtitleImage) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.subtitleImage, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.secondContainPartI, "Secundária Parte I", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.secondContainPartI) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.secondContainPartI, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12" style="display: none;">
                                {{ form_label(edit_form.secondContainPartIi, "Secundária Parte II", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.secondContainPartIi) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.secondContainPartIi, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.pingpongTitle, "Título do Ping Pong", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.pingpongTitle) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.pingpongTitle, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.pingpongContain, "Ping Pong", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.pingpongContain) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.pingpongContain, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.expressContain, "Expressas", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.expressContain) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.expressContain, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                {{ form_label(edit_form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.status) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.status, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
        {{ form_end(edit_form) }}

        <div class="container-fluid-md"><br><br></div>

    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('backbundle_ariarticle[firstContainPartI]');
        CKEDITOR.replace('backbundle_ariarticle[firstContainPartIi]');
        CKEDITOR.replace('backbundle_ariarticle[secondContainPartI]');
        CKEDITOR.replace('backbundle_ariarticle[secondContainPartIi]');
        CKEDITOR.replace('backbundle_ariarticle[pingpongContain]');
        CKEDITOR.replace('backbundle_ariarticle[expressContain]');
    </script>
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
{% endblock %}