{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaoariarticle %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Arimatéia Azevedo</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Arimatéia Azevedo</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('ariarticle_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar nova publicação</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        {#<div class="form-group col-lg-2">
                            {{ form_label(form.botao, "Tipo do botão", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.botao) }}
                            <div class="controls">
                                {{ form_widget(form.botao, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>#}
                        <div class="form-group col-lg-6">
                            {{ form_label(form.date, "Data", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.date) }}
                            <div class="controls">
                                {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.title) }}
                            <div class="controls">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.subtitle) }}
                            <div class="controls">
                                {{ form_widget(form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.hat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.hat) }}
                            <div class="controls">
                                {{ form_widget(form.hat, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.firstContainPartI, "Parte I", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.firstContainPartI) }}
                            <div class="controls">
                                {{ form_widget(form.firstContainPartI, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12" style="display: none;">
                            {{ form_label(form.firstContainPartIi, "Primária Parte II", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.firstContainPartIi) }}
                            <div class="controls">
                                {{ form_widget(form.firstContainPartIi, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.subtitleImage, "Legenda", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.subtitleImage) }}
                            <div class="controls">
                                {{ form_widget(form.subtitleImage, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.secondContainPartI, "Parte II", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.secondContainPartI) }}
                            <div class="controls">
                                {{ form_widget(form.secondContainPartI, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12" style="display: none;">
                            {{ form_label(form.secondContainPartIi, "Secundária Parte II", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.secondContainPartIi) }}
                            <div class="controls">
                                {{ form_widget(form.secondContainPartIi, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.pingpongTitle, "Título do Ping Pong", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.pingpongTitle) }}
                            <div class="controls">
                                {{ form_widget(form.pingpongTitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.pingpongContain, "Ping Pong", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.pingpongContain) }}
                            <div class="controls">
                                {{ form_widget(form.pingpongContain, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.expressContain, "Expressas", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.expressContain) }}
                            <div class="controls">
                                {{ form_widget(form.expressContain, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.status) }}
                            <div class="controls">
                                {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('backbundle_ariarticle[firstContainPartI]');
        CKEDITOR.replace('backbundle_ariarticle[firstContainPartIi]');
        CKEDITOR.replace('backbundle_ariarticle[secondContainPartI]');
        CKEDITOR.replace('backbundle_ariarticle[secondContainPartIi]');
        CKEDITOR.replace('backbundle_ariarticle[pingpongContain]');
        CKEDITOR.replace('backbundle_ariarticle[expressContain]');
    </script>
{% endblock %}