{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaoariarticle %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Arimatéia Azevedo</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Arimatéia Azevedo</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('ariarticle_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('ariarticle_edit', { 'id': ariArticle.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('ariarticle_new') }}" class="btn btn-primary">Nova publicação</a>
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Publicação cadastrada</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-3">
                            <label class="control-label" for="date">Data</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="date" placeholder="{{ ariArticle.date|date('d/m/Y H:i:s') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-9">
                            <label class="control-label" for="title">Título</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="title" placeholder="{{ ariArticle.title }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="subtitle">Subtítulo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subtitle" placeholder="{{ ariArticle.subtitle }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="hat">Chapéu</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="hat" placeholder="{{ ariArticle.hat }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="firstContainPartI">Parte I</label>
                            <div class="controls">
                                {{ ariArticle.firstContainPartI|raw }}
                            </div>
                        </div>

                        <div class="form-group col-md-12" style="display: none;">
                            <label class="control-label" for="firsContainPartIi">Primária Parte II</label>
                            <div class="controls">
                                {{ ariArticle.firstContainPartIi|raw }}
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="hat">Imagem</label>
                        </div>    
                        {% if ariArticle.imageName %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(ariArticle,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                            <div class="form-group col-md-12"><br><br></div>
                        {% endif %}

                        <div class="form-group col-md-12">
                            <label class="control-label" for="hat">Legenda</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="hat" placeholder="{{ ariArticle.subtitleImage }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="secondContainPartI">Parte II</label>
                            <div class="controls">
                                {{ ariArticle.secondContainPartI|raw }}
                            </div>
                        </div>

                        <div class="form-group col-md-12" style="display: none;">
                            <label class="control-label" for="secondContainPartIi">Secundária Parte II</label>
                            <div class="controls">
                                {{ ariArticle.secondContainPartIi|raw }}
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="pingpongTitle">Título do Ping Pong</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="pingpongTitle" placeholder="{{ ariArticle.pingpongTitle }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="pingpongContain">Ping Pong</label>
                            <div class="controls">
                                {{ ariArticle.pingpongContain|raw }}
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="expressContain">Expressas</label>
                            <div class="controls">
                                {{ ariArticle.expressContain|raw }}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="status">Status</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="status" placeholder="{{ ariArticle.status }}" disabled>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}