{% extends 'base.html.twig' %}

{% block app %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block apppush %}
    <li class="active open">
{% endblock %}

{% block container %}


    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Aplicativo</a></li>
            <li class="active"><a href="javascript:;">Enviar Push</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Enviar Push</h2>
    </div>

    <div class="container-fluid-md">
        <a href="{{ path('push_new') }}" class="btn btn-primary">
            Novo Push
        </a>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Pushes enviados</h4>

                <div class="panel-options">
                    <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                    <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                    <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {#<th width="20%">ID</th>#}
                        <th width="10%">DATA</th>
                        <th width="90%">DESCRIÇÃO</th>
                        <th width="10%">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for push in pushes %}
                        <tr>
                            {#<td><a href="{{ path('push_show', { 'id': categoriaProduto.id }) }}">{{ categoriaProduto.id }}</a></td>#}
                            <td>{{ push.data|date('d-m-Y') }}</td>
                            <td>{{ push.descricao }}</td>
                            <td>
                                <a href="{{ path('push_show', { 'id': push.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                {#&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="{{ path('push_edit', { 'id': push.id }) }}" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center">
        <ul class="pagination">
            {% if hits > 1 %}
                {% for i in range(1,  hits ) %}
                    <li class="{% if page == i %} active {% endif %}"><a href="{{ path('push_index', { 'page': i }) }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}
