{% extends 'base.html.twig' %}

{% block app %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block apppush %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Aplicativo</a></li>
            <li class="active"><a href="javascript:;">Enviar Push</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Enviar Push</h2>
    </div>

    <div class="container-fluid-md">
        <a href="{{ path('push_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        {#{{ form_start(delete_form) }}
        <a href="{{ path('push_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('push_edit', { 'id': push.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        {{ form_end(delete_form) }}#}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Push enviado - Código: {{ push.id }}</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label class="control-label" for="descricao">Descrição</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="descricao" placeholder="{{ push.descricao }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="control-label" for="data">Data</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="data" placeholder="{{ push.data|date('d-m-Y') }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}
