{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastrosocial %}
<li class="active open">
    {% endblock %}


    {% block container %}


    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Redes Sociais</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Redes Sociais</h2>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Filtros</h4>
                        <div class="panel-options">
                            <a id="collapse" href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            {#<a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>#}
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter_form, { 'attr': {'role': 'form'} }) }}

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.description, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.description) }}
                            <div class="controls">
                                {{ form_widget(filter_form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6" style="display: none;">
                            {{ form_label(filter_form.page, "Page", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.page) }}
                            <div class="controls">
                                {{ form_widget(filter_form.page, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-1">
                            <a class="btn btn-success" onclick="filtrar(event)" style="margin-top: 22px;">Filtrar</a>
                        </div>

                        <div class="form-group col-sm-1" style="display: none;">
                            <input id="backbundle_social_filter_submit" type="submit" value="Enviar" class="btn btn-success" style="margin-top: 22px;"/>
                        </div>

                        {{ form_end(filter_form) }}
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('social_new') }}" class="btn btn-primary">Nova rede social</a>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Redes sociais cadastradas</h4>

                <div class="panel-options">
                    <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                    <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                    <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="20%">IMAGEM</th>
                        <th width="70%">NOME</th>
                        <th width="10%">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for social in socials %}
                        <tr>
                            <td>{% if social.imageName %}
                                    <div class="col-lg-12">
                                        <img src="{{ vich_uploader_asset(social,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                    </div>
                                {% endif %}</td>
                            <td>{{ social.description }}</td>
                            <td>
                                <a href="{{ path('social_show', { 'id': social.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                &nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="{{ path('social_edit', { 'id': social.id }) }}" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="text-center">
            <ul class="pagination">
                {% if hits > 1 %}
                    {% if hits <= 10 %}
                        {% for i in range(1,  hits ) %}
                            <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% if page <= 10 %}
                            {% for i in range(1,  10 ) %}
                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                            {% endfor %}
                            <li><a id="paginador" href="#" onclick="paginar(event, 11)"> > </a></li>
                        {% else %}

                            {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                            <li><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"> < </a></li>

                            {% set inicio = voltar + 10 %}
                            {% set fim = voltar + 19 %}

                            {% set acabou = false %}
                            {% for i in range(inicio, fim) %}
                                {% if i <= hits %}
                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                {% else %}
                                    {% set acabou = true %}
                                {% endif %}
                            {% endfor %}

                            {% if acabou == false %}
                                {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                <li><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"> > </a></li>
                            {% endif %}

                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>

        <div class="container-fluid-md"><br><br></div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script>
            jQuery(document).ready(function() {
                $('#collapse').click();
            });

            function paginar(event, i) {
                event.preventDefault();
                document.getElementById("backbundle_social_filter_page").value = i;
                $('#backbundle_social_filter_submit').click();
            }

            function filtrar(event) {
                event.preventDefault();
                document.getElementById("backbundle_social_filter_page").value = 1;
                $('#backbundle_social_filter_submit').click();
            }
        </script>
{% endblock %}