{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastrosocial %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Redes Sociais</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Redes Sociais</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('social_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('social_edit', { 'id': social.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('social_new') }}" class="btn btn-primary">Nova rede social</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Rede Social cadastrada</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="description">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="description" placeholder="{{ social.description }}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12"></div>
                        {% if social.imageFile %}
                            <div class="col-lg-12">
                                <img src="{{ vich_uploader_asset(social,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}