<script>
    function previewArticle(){
        var articleForm = document.getElementById('article-form');
        var path = "{{ path('article_preview') }}";
        articleForm.action = path;
        articleForm.setAttribute('target', '_blank');
        setTimeout(remove, 2000);
        articleForm.submit();
    }   

    function remove(){
        var articleForm = document.getElementById('article-form');
        articleForm.removeAttribute('action');
        articleForm.removeAttribute('target');
    }
</script>