{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaoarticle %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Cadastro</a></li>
                <li class="active"><a href="javascript:;">Publicações</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Publicações</h2>
        </div>

        <div class="container-fluid-md">
            {{ form_start(delete_form) }}
                <a href="{{ path('article_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
                <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
                <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
            {{ form_end(delete_form) }}
        </div>

        {{ form_start(edit_form, { 'attr': {'role': 'form', 'id': 'article-form'} }) }}
        <input type="submit" value="Visualizar" class="btn btn-dark" onclick="previewArticle()" style="margin: 2rem;"/>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Editar a publicação</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-lg-4">
                                {{ form_label(edit_form.date, "Data", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.date) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.date, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                {{ form_label(edit_form.publishedAt, "Publicar em", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.publishedAt) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.publishedAt, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-2">
                                {{ form_label(edit_form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.status) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.status, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-2">
                            {{ form_label(edit_form.coverFeature, "Cobertura de Destaque", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.coverFeature) }}
                            <div class="controls">
                                {{ form_widget(edit_form.coverFeature, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.title) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.subtitle) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.hat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.hat) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.hat, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.author, "Autor", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.author) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.author, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.origin, "Fonte", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.origin) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.origin, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.credit, "Crédito", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.credit) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.credit, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.content, "Conteúdo", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.content) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.content, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                {{ form_label(edit_form.editorial, "Editoria", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.editorial) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.editorial, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                {{ form_label(edit_form.city, "Cidade", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.city) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.newsgroup, "Grupo de notícias", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.newsgroup) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.newsgroup, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-6" style="display: none;">
                                {{ form_label(edit_form.location, "Destaque", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.location) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.location, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                            {{ form_label(edit_form.keywords, "Palavras-chave", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(edit_form.keywords) }}
                            <div class="controls">
                                {{ form_widget(edit_form.keywords, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <strong>{{ form_label(edit_form.locked, "Conteúdo para assinantes?", {'label_attr': {'class':'control-label', 'style': 'font-weight: bold'}}) }}</strong>
                            {{ form_errors(edit_form.locked) }}
                            <div class="form-check form-check-inline">
                                <div style="display: flex; align-items: end;">
                                    {{ form_widget(edit_form.locked, { 'attr': {'class': 'form-check-input', 'style': 'width: 30px; height: 30px'} }) }}
                                    <label class="form-check-label" for="backbundle_article_locked" style="margin-left: 0.5rem">Sim</label>
                                </div>
                            </div>
                        </div>

                        <div class="controls" style="display: none">
                            {{ form_widget(edit_form.freeContent, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div class="form-group col-lg-12" style="display: none" id="free-content-preview-container">
                            {{ form_label(edit_form.freeContent, "Conteúdo visivel", {'label_attr': {'class':'control-label', 'style': 'font-weight: bold'}}) }}
                            {{ form_errors(edit_form.freeContent) }}
                            <div class="controls preview-area">
                                <div id="free-content-preview">
                                    {{ article.freeContent|raw }}
                                </div>
                                <hr></hr>
                                <div class="lines-count">
                                    <span><strong>Caractéres:</strong><span id="char-count"> {{ article.freeContent|raw|length }}</span></span>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Imagens</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile, "Imagem 1", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile) }}
                                </div>
                            </div>

                            {% if article.imageName %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile2, "Imagem 2", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile2) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile2) }}
                                </div>
                            </div>

                            {% if article.imageName2 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile2') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile3, "Imagem 3", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile3) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile3) }}
                                </div>
                            </div>

                            {% if article.imageName3 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile3') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile4, "Imagem 4", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile4) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile4) }}
                                </div>
                            </div>

                            {% if article.imageName4 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile4') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}


                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile5, "Imagem 5", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile5) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile5) }}
                                </div>
                            </div>

                            {% if article.imageName5 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile5') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile6, "Imagem 6", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile6) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile6) }}
                                </div>
                            </div>

                            {% if article.imageName6 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile6') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile7, "Imagem 7", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile7) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile7) }}
                                </div>
                            </div>

                            {% if article.imageName7 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile7') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile8, "Imagem 8", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile8) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile8) }}
                                </div>
                            </div>

                            {% if article.imageName8 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile8') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile9, "Imagem 9", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile9) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile9) }}
                                </div>
                            </div>

                            {% if article.imageName9 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile9') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.imageFile10, "Imagem 10", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.imageFile10) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.imageFile10) }}
                                </div>
                            </div>

                            {% if article.imageName10 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile10') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
        {{ form_end(edit_form) }}

        <div class="container-fluid-md"><br><br></div>

    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('back/ckfinder/ckfinder.js') }}"></script>
    <script>
        var editor = CKEDITOR.replace('backbundle_article[content]', {
            //'extraPlugins' : 'imageuploader'
            filebrowserBrowseUrl: "{{ asset('back/ckfinder/ckfinder.html') }}",
            filebrowserImageBrowseUrl: "{{ asset('back/ckfinder/ckfinder.html?type=Images') }}",
            filebrowserFlashBrowseUrl: "{{ asset('back/ckfinder/ckfinder.html?type=Flash') }}",
            filebrowserUploadUrl: "{{ asset('back/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files') }}",
            filebrowserImageUploadUrl: "{{ asset('back/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images') }}",
            filebrowserFlashUploadUrl: "{{ asset('back/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash') }}"
        });
        //CKFinder.setupCKEditor( editor, null, { type: 'Files', currentFolder: 'http://localhost/portalaz-website/web/app_dev.php/../arquivos/' } );
    </script>
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
    <script>
        // Script para as ações relacionadas à seleção do conteudo para assinantes
        var checkbox = document.getElementById('backbundle_article_locked');
        checkbox.addEventListener('change', (event) => {
            var freeContent = document.getElementById('free-content-preview-container');
            if(event.target.checked){
                freeContent.style.display = 'block';
            } else {
                freeContent.style.display = 'none';
            }
        })
    </script>
    <script>
        // Script para carregar a informação salva no banco no campo da Imagem
        window.addEventListener('load', function() {
            // Capturando o valor do checkbox de locked content
            var checkbox = document.getElementById('backbundle_article_locked');
            if(checkbox.checked) {
                document.getElementById('free-content-preview-container').style.display = 'block';
            }
        })
    </script>
    {{ include('BackBundle:Article:_ckeditor_freeContent.html.twig') }}
    {{ include('BackBundle:Article:_previewArticleScript.html.twig') }}
{% endblock %}