{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaoarticle %}
<li class="active open">
    {% endblock %}


    {% block container %}


    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Publicações</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Publicações</h2>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Filtros</h4>
                        <div class="panel-options">
                            <a id="collapse" href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            {#<a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>#}
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter_form, { 'attr': {'role': 'form'} }) }}

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.title, "Título do artigo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.title) }}
                            <div class="controls">
                                {{ form_widget(filter_form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.subtitle, "Subtítulo do artigo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.subtitle) }}
                            <div class="controls">
                                {{ form_widget(filter_form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.hat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.hat) }}
                            <div class="controls">
                                {{ form_widget(filter_form.hat, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.author, "Autor", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.author) }}
                            <div class="controls">
                                {{ form_widget(filter_form.author, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.origin, "Origem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.origin) }}
                            <div class="controls">
                                {{ form_widget(filter_form.origin, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.keywords, "Keywords", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.keywords) }}
                            <div class="controls">
                                {{ form_widget(filter_form.keywords, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.content, "Conteúdo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.content) }}
                            <div class="controls">
                                {{ form_widget(filter_form.content, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.credit, "Crédito", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.credit) }}
                            <div class="controls">
                                {{ form_widget(filter_form.credit, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.startdate, "Data Inicial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.startdate) }}
                            <div class="controls">
                                {{ form_widget(filter_form.startdate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.enddate, "Data Final", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.enddate) }}
                            <div class="controls">
                                {{ form_widget(filter_form.enddate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.publishedAt1, "Data Inicial de Postagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.publishedAt1) }}
                            <div class="controls">
                                {{ form_widget(filter_form.publishedAt1, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.publishedAt2, "Data Final de Postagem", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.publishedAt2) }}
                            <div class="controls">
                                {{ form_widget(filter_form.publishedAt2, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.status) }}
                            <div class="controls">
                                {{ form_widget(filter_form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.coverFeature, "Em destaque", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.coverFeature) }}
                            <div class="controls">
                                {{ form_widget(filter_form.coverFeature, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.newsgroup, "Grupo de Noticias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.newsgroup) }}
                            <div class="controls">
                                {{ form_widget(filter_form.newsgroup, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.editorial, "Editorial", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.editorial) }}
                            <div class="controls">
                                {{ form_widget(filter_form.editorial, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(filter_form.city, "Cidade", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.city) }}
                            <div class="controls">
                                {{ form_widget(filter_form.city, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-6" style="display: none;">
                            {{ form_label(filter_form.page, "Page", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(filter_form.page) }}
                            <div class="controls">
                                {{ form_widget(filter_form.page, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-sm-1">
                            <a class="btn btn-success" onclick="filtrar(event)" style="margin-top: 22px;">Filtrar</a>
                        </div>

                        <div class="form-group col-sm-1" style="display: none;">
                            <input id="backbundle_articles_filter_submit" type="submit" value="Enviar" class="btn btn-success" style="margin-top: 22px;"/>
                        </div>

                        {{ form_end(filter_form) }}
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('article_new') }}" class="btn btn-primary">Nova publicação</a>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Publicações cadastradas</h4>

                <div class="panel-options">
                    <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                    <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                    <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="20%">Título</th>
                        <th width="20%">Autor</th>
                        {% if order == 'DESC' %}
                                {% set order = 'ASC' %}
                            {% else %}
                                {% set order = 'DESC' %}
                        {% endif %}
                        <th width="10%">Total de Visitas<a style="margin-left: 0.5rem;" href="{{ path('article_index', { 'field':'visitorNumberWeb', 'ord':order }) }}"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                        <th width="20%">Grupo de notícias</th>
                        <th width="10%">Publicado em</th>
                        <th width="10%">Status</th>
                        <th width="10%">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td>{{ article.author }}</td>
                            <td>{{ article.visitorNumberWeb }}</td>
                            {% if article.newsgroup != null %}
                                <td>{{ article.newsgroup }}</td>
                            {% elseif article.editorial %}
                                <td>{{ article.editorial }}</td>
                            {% elseif article.city != null %}
                                <td>Munícipios</td>
                            {% else %}
                                <td>Sem Categoria</td>
                            {% endif %}
                            <td>{{ article.publishedAt|date('d/m/Y') }}</td>
                            <td>{{ article.status }}</td>
                            <td>
                                <a href="{{ path('article_show', { 'id': article.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                &nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="{{ path('article_edit', { 'id': article.id }) }}" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div class="container-fluid-md">
            <div class="text-center">
                <ul class="pagination">
                    {% if hits > 1 %}
                        {% if hits <= 10 %}
                            {% for i in range(1,  hits ) %}
                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% if page <= 10 %}
                                {% for i in range(1,  10 ) %}
                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                {% endfor %}
                                <li><a id="paginador" href="#" onclick="paginar(event, 11)"> > </a></li>
                            {% else %}

                                {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                                <li><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"> < </a></li>

                                {% set inicio = voltar + 10 %}
                                {% set fim = voltar + 19 %}

                                {% set acabou = false %}
                                {% for i in range(inicio, fim) %}
                                    {% if i <= hits %}
                                        <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                    {% else %}
                                        {% set acabou = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if acabou == false %}
                                    {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                    <li><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"> > </a></li>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid-md"><br><br></div>
        </div>

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $('#collapse').click();
        });

        function paginar(event, i) {
            event.preventDefault();
            document.getElementById("backbundle_articles_filter_page").value = i;
            $('#backbundle_articles_filter_submit').click();
        }

        function filtrar(event) {
            event.preventDefault();
            document.getElementById("backbundle_articles_filter_page").value = 1;
            $('#backbundle_articles_filter_submit').click();
        }
    </script>
{% endblock %}