{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaoarticle %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Publicações</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Publicações</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form', 'id': 'article-form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('article_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
        <input type="submit" value="Visualizar" class="btn btn-dark" onclick="previewArticle()"/>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar nova publicação</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        {#<div class="form-group col-lg-2">
                            {{ form_label(form.botao, "Tipo do botão", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.botao) }}
                            <div class="controls">
                                {{ form_widget(form.botao, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>#}
                        <div class="form-group col-lg-4">
                            {{ form_label(form.date, "Data", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.date) }}
                            <div class="controls">
                                {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.publishedAt, "Publicar em", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.publishedAt) }}
                            <div class="controls">
                                {{ form_widget(form.publishedAt, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.status, "Status", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.status) }}
                            <div class="controls">
                                {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.coverFeature, "Cobertura de Destaque", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.coverFeature) }}
                            <div class="controls">
                                {{ form_widget(form.coverFeature, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.title, "Título", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.title) }}
                            <div class="controls">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.subtitle, "Subtítulo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.subtitle) }}
                            <div class="controls">
                                {{ form_widget(form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.hat, "Chapéu", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.hat) }}
                            <div class="controls">
                                {{ form_widget(form.hat, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.author, "Autor", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.author) }}
                            <div class="controls">
                                {{ form_widget(form.author, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.origin, "Fonte", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.origin) }}
                            <div class="controls">
                                {{ form_widget(form.origin, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.credit, "Crédito", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.credit) }}
                            <div class="controls">
                                {{ form_widget(form.credit, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.content, "Conteúdo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.content) }}
                            <div class="controls">
                                {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(form.editorial, "Editoria", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.editorial) }}
                            <div class="controls">
                                {{ form_widget(form.editorial, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(form.city, "Cidade", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.city) }}
                            <div class="controls">
                                {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.newsgroup, "Grupo de notícias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.newsgroup) }}
                            <div class="controls">
                                {{ form_widget(form.newsgroup, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6" style="display: none;">
                            {{ form_label(form.location, "Destaque", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.location) }}
                            <div class="controls">
                                {{ form_widget(form.location, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.keywords, "Palavras-chave", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.keywords) }}
                            <div class="controls">
                                {{ form_widget(form.keywords, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <strong>{{ form_label(form.locked, "Conteúdo para assinantes?", {'label_attr': {'class':'control-label', 'style': 'font-weight: bold'}}) }}</strong>
                            {{ form_errors(form.locked) }}
                            <div class="form-check form-check-inline">
                                <div style="display: flex; align-items: end;">
                                    {{ form_widget(form.locked, { 'attr': {'class': 'form-check-input', 'style': 'width: 30px; height: 30px'} }) }}
                                    <label class="form-check-label" for="backbundle_article_locked" style="margin-left: 0.5rem">Sim</label>
                                </div>
                            </div>
                        </div>

                            <div class="controls" style="display: none">
                                {{ form_widget(form.freeContent, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                        <div class="form-group col-lg-12" style="display: none" id="free-content-preview-container">
                            {{ form_label(form.freeContent, "Conteúdo visivel", {'label_attr': {'class':'control-label', 'style': 'font-weight: bold'}}) }}
                            {{ form_errors(form.freeContent) }}
                            <div class="controls preview-area">
                                <div id="free-content-preview"></div>
                                <hr></hr>
                                <div class="lines-count">
                                    <span><strong>Caractéres:</strong><span id="char-count"> 0</span></span>
                                </div>
                            </div>
                        </div>
    

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Imagens</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile, "Imagem 1", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile2, "Imagem 2", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile2) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile2) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile3, "Imagem 3", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile3) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile3) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile4, "Imagem 4", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile4) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile4) }}
                            </div>
                        </div>


                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile5, "Imagem 5", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile5) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile5) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile6, "Imagem 6", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile6) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile6) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile7, "Imagem 7", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile7) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile7) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile8, "Imagem 8", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile8) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile8) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile9, "Imagem 9", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile9) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile9) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            {{ form_label(form.imageFile10, "Imagem 10", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.imageFile10) }}
                            <div class="controls">
                                {{ form_widget(form.imageFile10) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('back/ckfinder/ckfinder.js') }}"></script>
    <script>
        var editor = CKEDITOR.replace('backbundle_article[content]', {
            //'extraPlugins' : 'imageuploader'
            filebrowserBrowseUrl: "{{ asset('back/ckfinder/ckfinder.html') }}",
            filebrowserImageBrowseUrl: "{{ asset('back/ckfinder/ckfinder.html?type=Images') }}",
            filebrowserFlashBrowseUrl: "{{ asset('back/ckfinder/ckfinder.html?type=Flash') }}",
            filebrowserUploadUrl: "{{ asset('back/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files') }}",
            filebrowserImageUploadUrl: "{{ asset('back/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images') }}",
            filebrowserFlashUploadUrl: "{{ asset('back/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash') }}"
        });
        //CKFinder.setupCKEditor( editor, null, { type: 'Files', currentFolder: 'http://localhost/portalaz-website/web/app_dev.php/../arquivos/' } );
    </script>
    <script>
        // Script para as ações relacionadas à seleção do conteudo para assinantes
        var checkbox = document.getElementById('backbundle_article_locked');
        checkbox.addEventListener('change', (event) => {
            var freeContent = document.getElementById('free-content-preview-container');
            if(event.target.checked){
                freeContent.style.display = 'block';
            } else {
                freeContent.style.display = 'none';
            }
        })
    </script>

    {{ include('BackBundle:Article:_ckeditor_freeContent.html.twig') }}
    {{ include('BackBundle:Article:_previewArticleScript.html.twig') }}
{% endblock %}