{% extends 'BackBundle:Article:base.html.twig' %}

{% block title %}<title>{{ article.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ article.content|slice(0,50)}}...">{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ article.keywords }}">{% endblock %}
{% block facebook_opengraph %}
   <meta property="fb:app_id" content="436298566450701">
   <meta property="og:type" content="{{ article.content|slice(0,50)}}...">
   <meta property="og:url" content="http://www.portalaz.com.br/publicacao/{{ article.id }}">
   <meta property="og:title" content="{{ article.title }}">
   <meta property="og:image" content="{{ vich_uploader_asset(article,'imageFile') }}">
   <meta property="og:description" content="{{ article.content|slice(0,50)}}...">
   <meta property="og:site_name" content="Portal AZ">
   <meta property="og:locale" content="pt_BR">
   <meta property="article:published_time" content="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i:s') }}+03:00">
   <meta property="article:modified_time" content="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i:s') }}+03:00">
{% endblock %}
{% block twitter_card %}
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="@portalaz">
   <meta name="twitter:title" content="{{ article.title }}">
   <meta name="twitter:description" content="{{ article.content|slice(0,50)}}">
   <meta name="twitter:creator" content="@{{ article.author }}">
   <meta name="twitter:image" content="{{ vich_uploader_asset(article,'imageFile') }}">
{% endblock %}
{% block google_plus %}
   <meta itemprop="name" content="{{ article.title }}">
   <meta itemprop="description" content="{{ article.content|slice(0,50)}}...">
   <meta itemprop="image" content="{{ vich_uploader_asset(article,'imageFile') }}">
{% endblock %}
      
{% block container %}

      <div class="paz-breadcrumb">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ol>
                     {% if article.editorial != null %}
                        <li>
                           <a href="{{ path('editorials') }}{% endif %}">{% if article.editorial != null %}Editorias</a>
                        </li>
                     {% endif %}
                     {% if article.editorial != null %}
                        <li>
                           <a href="{{ path('editorial_feed', {'id' : article.editorial.id, 'friendlyEditorial': article.editorial.friendlyEditorial}) }}">{{ article.editorial.title }}</a>
                        </li>
                     {% endif %}
                     <li class="active">{{ article.title }}</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>


      <div class="container" style="margin-top: 50px;">
            <!-- 1° Large leaderboard -->
            {% if bannerTopoPagina != null %}
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center">
                  <a class="paz-ad--leaderboard" href="{% if bannerTopoPagina.link != null%}{{ bannerTopoPagina.link }}{% else %}#{% endif %}"><img class="img-responsive" src="{{ vich_uploader_asset(bannerTopoPagina,'imageFile') }}" alt="Publicidade"></a>
               </div>
            </div>
            {% endif %}
            <!-- Article -->
            <main class="row" style="margin-top: 50px;">
               <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <header class="paz-main-header--internal">
                     <h1 class="paz-headline--internal">{{ article.title }}</h1>
                     <h2 class="paz-headline--internal-summary">{{ article.subtitle }}</h2>
                     <div class="paz-published-info">
                        <span class="paz-byline-author">Por <b>{{ article.author }}</b></span>
                        <span class="paz-byline-locale">{% if article.city != null %}do Portal AZ em {{ article.city }}{% endif %}</span>
                        <span><time datetime="{{ year }}-{{ month }}-{{ day }} {{ time }}">{{ day }} de {{ month }} de {{ year }}, {{ time }}</time></span>
                        <div class="paz-status--social paz-right"> 
                           <span class="paz-icon--arrow"></span>
                           <!-- Sharingbutton Facebook --> 
                           <a class="paz-icon--social-fb" onclick="showShareModal('https://facebook.com/sharer/sharer.php?u=http://www.portalaz.com.br/publicacao/{{ article.id }}')"></a>
                           <!-- Sharingbutton Twitter -->
                           <a class="paz-icon--social-tw" onclick="showShareModal('https://twitter.com/intent/tweet/?text=Diga sua opinião...&amp;url=http://www.portalaz.com.br/publicacao/{{ article.id }}')"></a>
                           <!-- Sharingbutton Whatsapp -->
                           <a class="paz-icon--social-wa" onclick="showShareModal('https://wa.me/?text=http://www.portalaz.com.br/publicacao/{{ article.id }}')"></a>                            
                        </div>
                     </div>
                  </header>
                  <div class="paz-article--text">
                     <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
                         <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            {{ article.content|raw }}
                            {% if article.credit %}<p class="paz-article--source">Fonte: <a href="{{ article.origin }}" title="{{ article.credit }}">{{ article.credit }}</a></p>{% endif %}
                         </div>
                     </div>
                      <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                              {{ article.content|replace({'<input' : '<img class=\"img-resposive\" ', 'width' : 'max-width', '<img':'<img class=\"img-resposive\" '})|raw }}
                              {% if article.credit %}<p class="paz-article--source">Fonte: <a href="{{ article.origin }}" title="{{ article.credit }}">{{ article.credit }}</a></p>{% endif %}
                          </div>
                      </div>
                  </div>
                  {#<div class="paz-article--nav">
                     <a href="04.html" class="paz-news--prev"><span></span>PF prende 2 homens passando cola pelo celular no Enem</a>
                     <a href="02.html" class="paz-news--next"><span></span>Municípios têm até sábado para informar dados do programa</a>
                  </div>}#
               </article>
               {#<!-- Widget bar -->
               <div class="paz-st-3 paz-widgetCol">
                  <aside class="paz-widgetCol--box paz-widgetCol--th4">
                     <header class="paz-widgetCol--header">
                        <h3><span>Matérias</span><br>Relacionadas</h3>
                     </header>
                     <div class="paz-widgetGol--wrap">
                        <div class="paz-widgetCol--content">
                           <a href="#" title="Enquanto você dormia saiu o novo trailer de 'Star Wars: O Despertar da Força'">
                              <div class="paz-widgetCol--content-img"><img src="../images/hglt-28.jpg" alt="Enquanto você dormia saiu o novo trailer de ‘Star Wars: O Despertar da Força’"></div>
                              Enquanto você dormia saiu o novo trailer de ‘Star Wars: O Despertar da Força’
                           </a>
                        </div>
                     </div>
                     <div class="paz-widgetGol--wrap">
                        <div class="paz-widgetCol--content">
                           <a href="#" title="Há 26 anos, ‘De Volta para o Futuro 2’ via 2015; no dia 21 de outubro">
                              <div class="paz-widgetCol--content-img"><img src="../images/hglt-29.jpg" alt="Há 26 anos, ‘De Volta para o Futuro 2’ via 2015; no dia 21 de outubro"></div>
                              Há 26 anos, ‘De Volta para o Futuro 2’ via 2015; no dia 21 de outubro
                           </a>
                        </div>
                     </div>
                  </aside>
                  <aside class="paz-adInner--container paz-ad--300">
                     <h6 class="hidden">Publicidade</h6>
                     <a href="#" class="paz-ad--medium-rectangle"><img src="../images/advt/300x250-Levis.gif" alt="Publicidade"></a>
                  </aside>
                  <aside class="paz-widgetCol--box paz-widgetCol--th7">
                     <header class="paz-widgetCol--header">
                        <h3><span>Agora na</span><br>Página Principal</h3>
                     </header>
                     <div class="paz-widgetGol--wrap">
                        <div class="paz-widgetCol--content">
                           <a href="#" title="‘Nunca quero ganhar uma coisa daquelas’ diz Johnny Depp sobre Oscar">
                              <div class="paz-widgetCol--content-img"><img src="../images/hglt-30.jpg" alt="‘Nunca quero ganhar uma coisa daquelas’ diz Johnny Depp sobre Oscar"></div>
                              ‘Nunca quero ganhar uma coisa daquelas’ diz Johnny Depp sobre Oscar
                           </a>
                        </div>
                     </div>
                  </aside>
                  <aside class="paz-adInner--container paz-ad--300">
                     <h6 class="hidden">Publicidade</h6>
                     <a href="#" class="paz-ad--half-page"><img src="../images/advt/300x600-Dafiti.jpg" alt="Publicidade"></a>
                  </aside>
                  <aside class="paz-widgetCol--box paz-widgetCol--th3 paz-related">
                     <header class="paz-widgetCol--header">
                        <h3><span>Conteúdo</span><br> Relacionado</h3>
                     </header>
                     <div class="paz-widgetGol--wrap">
                        <div class="paz-widgetCol--content paz-related--blog-hd">
                           <a href="#" title="Algum blog sobre política">
                           <span>Algum blog sobre política</span>
                           <img src="../images/id/id-8.jpg" alt="Algum blog sobre política">
                           </a>
                        </div>
                        <div class="paz-widgetCol--content paz-related--content">Lei que prevê execução toda fiscal administrativa será reformada. Autem soluta inventore [...]</div>
                     </div>
                     <div class="paz-widgetGol--wrap">
                        <div class="paz-widgetCol--content paz-related--column-hd">
                           <a href="#" title="Alguma coluna sobre política">
                           <span>Alguma coluna sobre política</span>
                           <img src="../images/id/id-17.jpg" alt="Alguma coluna sobre política">
                           </a>
                        </div>
                        <div class="paz-widgetCol--content paz-related--content">Lorem ipsum dolor sit amet, consectetur. Non error maxime veniam  elit [...]</div>
                     </div>
                     <div class="paz-widgetGol--wrap">
                        <div class="paz-widgetCol--content paz-related--blog-hd">
                           <a href="#" title="Algum blog sobre política">
                           <span>Algum blog sobre política</span>
                           <img src="../images/id/id-13.jpg" alt="Algum blog sobre política">
                           </a>
                        </div>
                        <div class="paz-widgetCol--content paz-related--content">Lei que prevê execução toda fiscal administrativa será reformada. Autem soluta inventore [...]</div>
                     </div>
                  </aside>
                  <aside class="paz-adInner--container paz-ad--312 paz-end">
                     <h6 class="hidden">Publicidade</h6>
                     <div class="paz-ad--self-adv"><img src="../images/whatsapp.png" alt="Publicidade"></div>
                  </aside>
               </div>#}
            </main>
            <!--  Most read -->
            {#<section class="paz-line">
               <h2 class="paz-sec--header"> <span class="paz-sec--header-tt">Mais lidas nesse momento</span> </h2>
               <div class="paz-st-2">
                  <article class="paz-callOut--box paz-end paz-hglt--stand paz-internal--box">
                     <div class="paz--top-read-hit">
                        <span>1</span>
                     </div>
                     <h2 class="paz-highlight paz-cover--above">
                        <a href="#" title="Nucepe divulga resultado do processo seletivo da SEFAZ">
                        <span class="paz-hglt--subject">Assunto em questão</span>
                        <span class="paz-hglt--landscape-md">
                        <img src="../images/hglt-1.jpg" alt="Nucepe divulga resultado do processo seletivo da SEFAZ">
                        </span>
                        </a>
                        <a href="#" title="Nucepe divulga resultado do processo seletivo da SEFAZ">
                        <span>Nucepe divulga resultado do processo seletivo da SEFAZ</span>
                        </a>
                     </h2>
                  </article>
               </div>
               <div class="paz-st-2">
                  <article class="paz-callOut--box paz-end paz-hglt--stand paz-internal--box">
                     <div class="paz--top-read-hit">
                        <span>2</span>
                     </div>
                     <h2 class="paz-highlight paz-cover--above">
                        <a href="#" title="Sem dinheiro há 15 anos e nunca foi tão feliz!">
                        <span class="paz-hglt--subject">Assunto em questão</span>
                        <span class="paz-hglt--landscape-md">
                        <img src="../images/hglt-3.jpg" alt="Sem dinheiro há 15 anos e nunca foi tão feliz!">
                        </span>
                        </a>
                        <a href="#" title="Sem dinheiro há 15 anos e nunca foi tão feliz!">
                        <span>Sem dinheiro há 15 anos e nunca foi tão feliz!</span>
                        </a>
                     </h2>
                  </article>
               </div>
               <div class="paz-st-2">
                  <article class="paz-callOut--box paz-hglt--stand paz-internal--box paz-end">
                     <div class="paz--top-read-hit">
                        <span>3</span>
                     </div>
                     <h2 class="paz-highlight paz-cover--above">
                        <a href="#" title="Nizan diz que Dirceu prestou consultoria econômica à empresa">
                        <span class="paz-hglt--subject">Assunto em questão</span>
                        </a>
                        <a href="#" title="Nizan diz que Dirceu prestou consultoria econômica à empresa">
                        <span>Nizan diz que Dirceu prestou consultoria econômica à empresa</span>
                        <span class="paz-mostread--subinfo">Declaração de Cunha foi dada antes da missa que precedeu o enterro do ex-prefeito do Rio</span>
                        </a>
                     </h2>
                  </article>
               </div>
               <div class="paz-st-2">
                  <article class="paz-callOut--box paz-end paz-hglt--stand paz-internal--box">
                     <div class="paz--top-read-hit">
                        <span>4</span>
                     </div>
                     <h2 class="paz-highlight paz-cover--above">
                        <a href="#" title="Arrecadação cai e Estados recorrem a malabarismos">
                        <span class="paz-hglt--subject">Assunto em questão</span>
                        <span class="paz-hglt--landscape-md">
                        <img src="../images/hglt-5.jpg" alt="Arrecadação cai e Estados recorrem a malabarismos">
                        </span>
                        </a>
                        <a href="#" title="Arrecadação cai e Estados recorrem a malabarismos">
                        <span>Arrecadação cai e Estados recorrem a malabarismos</span>
                        </a>
                     </h2>
                  </article>
               </div>
               <div class="paz-st-2">
                  <article class="paz-callOut--box paz-end paz-hglt--stand paz-internal--box">
                     <div class="paz--top-read-hit">
                        <span>5</span>
                     </div>
                     <h2 class="paz-highlight paz-cover--above">
                        <a href="#" title="Bethe se irrita com postura “assassina” de Ronda, terá vingança">
                        <span class="paz-hglt--subject">Assunto em questão</span>
                        <span class="paz-hglt--landscape-md">
                        <img src="../images/hglt-17.jpg" alt="Bethe se irrita com postura “assassina” de Ronda, terá vingança">
                        </span>
                        </a>
                        <a href="#" title="Bethe se irrita com postura “assassina” de Ronda, terá vingança">
                        <span>Bethe se irrita com postura “assassina” de Ronda, terá vingança</span>
                        </a>
                     </h2>
                  </article>
               </div>
               <div class="paz-st-10">
                  <hr class="paz-edt--bar">
               </div>
            </section>#}
            <!--  1° Billboard -->
            {% if bannerTopoEditoria1 != null %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pontilhado" align="center" style="margin-top: 50px;">
               <a class="paz-ad--leaderboard" href="{% if bannerTopoEditoria1.link != null%}{{ bannerTopoEditoria1.link }}{% else %}#{% endif %}"><img src="{{ vich_uploader_asset(bannerTopoEditoria1,'imageFile') }}" alt="Publicidade"></a>
            </div>
            {% endif %}
            <!-- Menu supplementary -->
            {#<nav class="paz-menu--supp">
               <h6 class="hidden">Menu complementar</h6>
               <a href="#" title="Sobre o Portal AZ">Sobre o Portal AZ</a>
               <a href="../map/index.html" title="Conheça o portal de 'A' a 'Z'">Conheça o portal de 'A' a 'Z'</a>
               <a href="../commercial/index.html" title="Anuncie no Portal AZ">Anuncie no Portal AZ</a>
               <a href="http://www.portalaz.com.br/atom.xml" title="RSS">RSS</a>
               <a href="../contact/index.html" title="Contato">Contato</a>
            </nav>#}
      </div>
{% endblock %}
{% block javascript %}
{% endblock %}