{% extends 'BackBundle::base.html.twig' %}

{% block redacao %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block redacaoarticle %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Publicações</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Publicações</h2>
    </div>

    <div class="container-fluid-md">
        {{ form_start(delete_form) }}
        <a href="{{ path('article_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-warning">Editar</a>
        <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
        <a href="{{ path('article_new') }}" class="btn btn-primary">Nova publicação</a>        
        {{ form_end(delete_form) }}
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Publicação cadastrada</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="date">Data</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="date" placeholder="{{ article.date|date('d/m/Y H:i:s') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="date">Publicar em</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="date" placeholder="{{ article.publishedAt|date('d/m/Y H:i:s') }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label class="control-label" for="status">Status</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="status" placeholder="{{ article.status }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label class="control-label" for="coverFeature">Cobertura em destaque</label>
                            <div class="controls">
                                <input type="checkbox" class="form-control" id="coverFeature" {% if article.coverFeature %} checked {% endif %} disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="title">Título</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="title" placeholder="{{ article.title }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="subtitle">Subtítulo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="subtitle" placeholder="{{ article.subtitle }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="hat">Chapéu</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="hat" placeholder="{{ article.hat }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="author">Autor</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="author" placeholder="{{ article.author }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="origin">Fonte</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="origin" placeholder="{{ article.origin }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="credit">Crédito</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="credit" placeholder="{{ article.credit }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="content">Conteúdo</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="content" placeholder="{{ article.content }}" disabled style="display: none;">
                                <br><br>
                                {{ article.content|raw }}
                                <br>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="editorial">Editorial</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="editorial" placeholder="{{ article.editorial }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="city">Cidade</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="city" placeholder="{{ article.city }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="newsgroup">Grupo de notícias</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="newsgroup" placeholder="{{ article.newsgroup }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-6" style="display: none;">
                            <label class="control-label" for="location">Destaque</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="location" placeholder="{{ article.location }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="keywords">Palavras-chave</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="keywords" placeholder="{{ article.keywords }}" disabled>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label class="control-label" for="keywords">Conteúdo para assinantes?</label>
                            <div class="form-check form-check-inline">
                                <div style="display: flex; align-items: end;">
                                    <input type="checkbox" class="form-control" id="backbundle_article_locked" {% if article.locked %} checked {% endif %} disabled>
                                    <label class="form-check-label" for="backbundle_article_locked" style="margin-left: 0.5rem">Sim</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12" style="display: none" id="free-content-preview-container">
                                <label class="control-label" for="keywords">Conteúdo visivel</label>
                            <div class="controls preview-area">
                                <div id="free-content-preview">
                                    {{ article.freeContent|raw }}
                                </div>
                                <hr></hr>
                                <div class="lines-count">
                                    <span><strong>Caractéres:</strong><span id="char-count"> {{ article.freeContent|raw|length }}</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Imagens</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            {% if article.imageName %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName2 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile2') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName3 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile3') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName4 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile4') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName5 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile5') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName6 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile6') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName7 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile7') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName8 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile8') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName9 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile9') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                            {% if article.imageName10 %}
                                <div class="col-lg-12">
                                    <img src="{{ vich_uploader_asset(article,'imageFile10') }}" class="img-responsive" alt="" align="middle" style="max-width: 400px; max-height: 400px;" />
                                </div>
                                <div class="form-group col-md-12"><br><br></div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="container-fluid-md"><br><br></div>

    {% block javascripts %}
    {{ parent() }}
    <script>
        // Script para carregar a informação salva no banco no campo da Imagem
        window.addEventListener('load', function() {
            // Capturando o valor do checkbox de locked content
            var checkbox = document.getElementById('backbundle_article_locked');
            if(checkbox.checked) {
                document.getElementById('free-content-preview-container').style.display = 'block';
            }
        })
    </script>
    {% endblock %}

{% endblock %}