{% if news.article.newsgroup != null %}
    {% if news.article.newsgroup.kind == 'Blog' %}{% set path = path('newsgroup_blogs_article', {'articleId' : news.article.id, 'newsgroupId': news.article.newsgroup.id, 'friendlyNewsgroup': news.article.newsgroup.friendlyNewsgroup,  'friendly' : news.article.friendly}) %}{% endif %}
    {% if news.article.newsgroup.kind == 'Coluna' %}{% set path = path('newsgroup_colunas_article', {'articleId' : news.article.id, 'newsgroupId': news.article.newsgroup.id, 'friendlyNewsgroup': news.article.newsgroup.friendlyNewsgroup, 'friendly' : news.article.friendly}) %}{% endif %}
{% elseif news.article.city != null  %}
    {% set path = path('municipios_article', {'articleId' : news.article.id, 'friendlyCity': news.article.city.friendlyCity, 'id': news.article.city.id, 'friendly' : news.article.friendly}) %}
{% elseif news.article.editorial != null %}
    {% set path = path('article01', {'id': news.article.id, 'friendlyEditorial' : news.article.editorial.friendlyEditorial, 'friendly' : news.article.friendly}) %}
{% else %}
    {% set path = path('article01', { 'id': news.article.id, 'friendlyEditorial' : 'geral', 'friendly' : news.article.friendly }) %}
{% endif %}


<footer class="paz-status--bar">
    <div class="paz-status--social">
        <div class="paz-share--text">COMPARTILHAR</div>
            <span class="paz-icon--arrow"></span>
            <!-- Sharingbutton Facebook --> 
            <a class="paz-icon--social-fb" onclick="showShareModal('https://facebook.com/sharer/sharer.php?u=https://portalaz.com.br{{ path }}')"></a>
            <!-- Sharingbutton Twitter -->
            <a class="paz-icon--social-tw" onclick="showShareModal('https://twitter.com/intent/tweet/?text=Diga sua opinião...&amp;url=https://portalaz.com.br{{ path }}')"></a>
            <!-- Sharingbutton Whatsapp -->
            <a class="paz-icon--social-wa" onclick="showShareModal('https://wa.me/?text=https://portalaz.com.br{{ path }}')"></a>
        </div>
    <!--<div class="paz-status--info"> <span class="paz-icon--social-cm paz-tooltip--left" data-paz-tooltip="Entre os mais comentados"></span> </div>-->
</footer>