{% if news.article.newsgroup != null %}
    {% if news.article.newsgroup.kind == 'Blog' %}{% set path = path('newsgroup_blogs_article', {'articleId' : news.article.id, 'newsgroupId': news.article.newsgroup.id, 'friendlyNewsgroup': news.article.newsgroup.friendlyNewsgroup,  'friendly' : news.article.friendly}) %}{{ path }}{% endif %}
    {% if news.article.newsgroup.kind == 'Coluna' %}{% set path = path('newsgroup_colunas_article', {'articleId' : news.article.id, 'newsgroupId': news.article.newsgroup.id, 'friendlyNewsgroup': news.article.newsgroup.friendlyNewsgroup, 'friendly' : news.article.friendly}) %}{{ path }}{% endif %}
{% elseif news.article.city != null  %}
    {% set path = path('municipios_article', {'articleId' : news.article.id, 'friendlyCity': news.article.city.friendlyCity, 'id': news.article.city.id, 'friendly' : news.article.friendly}) %}
    {{ path }}
{% elseif news.article.editorial != null %}
    {% set path = path('article01', {'id': news.article.id, 'friendlyEditorial' : news.article.editorial.friendlyEditorial, 'friendly' : news.article.friendly}) %}
    {{ path }}
{% else %}
    {% set path = path('article01', { 'id': news.article.id, 'friendlyEditorial' : 'geral', 'friendly' : news.article.friendly }) %}
    {{ path }}
{% endif %}
" title="{% if news.articleTitle != null %}{{ news.articleTitle }}{% else %}{{ news.article.title }}{% endif %}