{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastrolocation %}
<li class="active open">
    {% endblock %}

    {% block container %}

        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Cadastro</a></li>
                <li class="active"><a href="javascript:;">Localizações</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Localizações</h2>
        </div>

        <div class="container-fluid-md">
            {{ form_start(delete_form) }}
            <a href="{{ path('location_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
            <input class="btn btn-danger" type="submit" value="Apagar" onclick="return confirm('Tem certeza?')">
            <a href="#" class="btn btn-warning" onclick="submeter();">Atualizar</a>
            {{ form_end(delete_form) }}
        </div>

        <div class="container-fluid-md"><br><br></div>

        {{ form_start(edit_form, { 'attr': {'role': 'form'} }) }}

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Editar a Localização</h4>
                            <div class="panel-options">
                                <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-lg-12">
                                {{ form_label(edit_form.description, "Localização", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.description) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} })  }}
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                {{ form_label(edit_form.type, "Tipo", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.type) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                {{ form_label(edit_form.newsgroup, "Grupo de notícias", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(edit_form.newsgroup) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.newsgroup, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input id="submit" type="submit" value="Atualizar" class="btn btn-warning" style="display: none;" />
        {{ form_end(edit_form) }}

        <div class="container-fluid-md"><br><br></div>

    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function submeter() {
            $('#submit').click();
        }
    </script>
{% endblock %}