{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastrolocation %}
<li class="active open">
    {% endblock %}


    {% block container %}


        <div class="page-subheading page-subheading-md">
            <ol class="breadcrumb">
                <li><a href="javascript:;">Administração</a></li>
                <li><a href="javascript:;">Cadastro</a></li>
                <li class="active"><a href="javascript:;">Localizações</a></li>
            </ol>
        </div>
        <div class="page-heading page-heading-md">
            <h2>Localizações</h2>
        </div>

        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Filtros</h4>
                            <div class="panel-options">
                                <a id="collapse" href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                {#<a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>#}
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ form_start(filter_form, { 'attr': {'role': 'form'} }) }}

                            <div class="form-group col-sm-6">
                                {{ form_label(filter_form.description, "Descrição", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(filter_form.description) }}
                                <div class="controls">
                                    {{ form_widget(filter_form.description, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                {{ form_label(filter_form.type, "Tipo", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(filter_form.type) }}
                                <div class="controls">
                                    {{ form_widget(filter_form.type, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                {{ form_label(filter_form.newsgroup, "Grupo de Noticias", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(filter_form.newsgroup) }}
                                <div class="controls">
                                    {{ form_widget(filter_form.newsgroup, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-sm-6" style="display: none;">
                                {{ form_label(filter_form.page, "Page", {'label_attr': {'class':'control-label'}}) }}
                                {{ form_errors(filter_form.page) }}
                                <div class="controls">
                                    {{ form_widget(filter_form.page, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <div class="form-group col-sm-1">
                                <a class="btn btn-success" onclick="filtrar(event)" style="margin-top: 22px;">Filtrar</a>
                            </div>

                            <div class="form-group col-sm-1" style="display: none;">
                                <input id="backbundle_location_filter_submit" type="submit" value="Enviar" class="btn btn-success" style="margin-top: 22px;"/>
                            </div>

                            {{ form_end(filter_form) }}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('location_new') }}" class="btn btn-primary">Nova Localização</a>
        </div>

        <div class="container-fluid-md"><br><br></div>

        <div class="container-fluid-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Localizações cadastradas</h4>

                    <div class="panel-options">
                        <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                        <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                        <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="40%">DESCRIÇÃO</th>
                            <th width="10%">TIPO</th>
                            <th width="40%">GRUPO DE NOTÍCIAS</th>
                            <th width="10%">AÇÕES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for location in locations %}
                            <tr>
                                <td>{{ location.description }}</td>
                                <td>{{ location.type }}</td>
                                <td>{{ location.newsgroup }}</td>
                                <td>
                                    <a href="{{ path('location_show', { 'id': location.id }) }}" title="Mostrar"><i class="fa fa-fw fa-search"></i></a>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <a href="{{ path('location_edit', { 'id': location.id }) }}" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="container-fluid-md">
            <div class="text-center">
                <ul class="pagination">
                    {% if hits > 1 %}
                        {% if hits <= 10 %}
                            {% for i in range(1,  hits ) %}
                                <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% if page <= 10 %}
                                {% for i in range(1,  10 ) %}
                                    <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                {% endfor %}
                                <li><a id="paginador" href="#" onclick="paginar(event, 11)"> > </a></li>
                            {% else %}

                                {% set voltar = ( ( (page // 10) - 1 ) * 10 ) + 1 %}
                                <li><a id="paginador" href="#" onclick="paginar(event, {{ voltar }})"> < </a></li>

                                {% set inicio = voltar + 10 %}
                                {% set fim = voltar + 19 %}

                                {% set acabou = false %}
                                {% for i in range(inicio, fim) %}
                                    {% if i <= hits %}
                                        <li class="{% if page == i %} active {% endif %}"><a id="paginador" href="#" onclick="paginar(event, {{ i }})">{{ i }}</a></li>
                                    {% else %}
                                        {% set acabou = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if acabou == false %}
                                    {% set adiantar = ( ( (page // 10) + 1 ) * 10 ) + 1 %}
                                    <li><a id="paginador" href="#" onclick="paginar(event, {{ adiantar }})"> > </a></li>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid-md"><br><br></div>
        </div>

        <div class="container-fluid-md"><br><br></div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            jQuery(document).ready(function() {
                $('#collapse').click();
            });

            function paginar(event, i) {
                event.preventDefault();
                document.getElementById("backbundle_location_filter_page").value = i;
                $('#backbundle_location_filter_submit').click();
            }

            function filtrar(event) {
                event.preventDefault();
                document.getElementById("backbundle_location_filter_page").value = 1;
                $('#backbundle_location_filter_submit').click();
            }
        </script>
    {% endblock %}

