{% extends 'BackBundle::base.html.twig' %}

{% block cadastro %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block cadastrolocation %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Localizações</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Localizações</h2>
    </div>
    {{ form_start(form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <a href="{{ path('location_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar nova localização</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">



                        <div class="form-group col-lg-12">
                            {{ form_label(form.description, "Descrição", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.description) }}
                            <div class="controls">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.type, "Tipo", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.type) }}
                            <div class="controls">
                                {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8">
                            {{ form_label(form.newsgroup, "Grupo de notícias", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.newsgroup) }}
                            <div class="controls">
                                {{ form_widget(form.newsgroup, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}