
.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    margin-right: 10px;
    color: #ffffff;
    /*background-color: #4f99bc;*/
}

.soc li a:hover {
    color: #ffffff;
}
.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'a';
}
.soc-twitter {
    content:'a';
    /*background-color: #4da7de;*/
    background-color: rgba(77,167,222,0.6);
}
.soc-twitter:hover {
    content:'a';
    /*background-color: #4da7de;*/
    background-color: rgba(77,167,222,1);
}
.soc-facebook:before {
    content:'b';
}
.soc-facebook {
    content:'b';
    background-color: rgba(62,91,152,0.6);
}
.soc-facebook:hover {
    content:'b';
    background-color: rgba(62,91,152,1);
}
.soc-google:before {
    content:'c';
}
.soc-google {
    content:'c';
    background-color: rgba(217,62,45,0.6);
}
.soc-google:hover {
    content:'c';
    background-color: rgba(217,62,45,1);
}
.soc-pinterest:before {
    content:'d';
}
.soc-pinterest {
    content:'d';
    background-color: rgba(201,38,25,0.6);
}
.soc-pinterest:hover {
    content:'d';
    background-color: rgba(201,38,25,1);
}
.soc-linkedin:before {
    content:'j';
}
.soc-linkedin {
    content:'j';
    background-color: rgba(21,113,183,0.6);
}
.soc-linkedin:hover {
    content:'j';
    background-color: rgba(21,113,183,1);
}
.soc-rss:before {
    content:',';
}
.soc-rss {
    content:',';
    background-color: rgba(242,97,9,0.6);
}
.soc-rss:hover {
    content:',';
    background-color: rgba(242,97,9,1);
}
.soc-instagram:before {
    content:'x';
}
.soc-instagram {
    content:'x';
    background-color: rgba(156,124,110,0.6);
}
.soc-instagram:hover {
    content:'x';
    background-color: rgba(156,124,110,1);
}
.soc-blogger:before {
    content:'A';
}
.soc-blogger {
    content:'A';
    background-color: rgba(236,102,28,0.6);
}
.soc-blogger:hover {
    content:'A';
    background-color: rgba(236,102,28,1);
}
.soc-youtube:before {
    content:'r';
}
.soc-youtube {
    content:'r';
    background-color: rgba(224,42,32,0.6);
}
.soc-youtube:hover {
    content:'r';
    background-color: rgba(224,42,32,1);
}
.soc-vimeo:before {
    content:'s';
}
.soc-vimeo {
    content:'s';
    background-color: rgba(81,181,231,0.6);
}
.soc-vimeo:hover {
    content:'s';
    background-color: rgba(81,181,231,1);
}