.activate-sub {
    background-color: #8BC34A;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 70%;
}

.deactivate-sub {
    background-color: #F44336;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 70%;
}
