<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    (function() {
    EdzLs = []; Eduzz = function(t,a,c){EdzLs.push({type:t,args:a,caller:c});if(window.edz)window.edz();}
    var s = document.createElement('script'); s.type = 'text/javascript';
    s.async = true; s.defer = true;
    s.src = 'https://sun.eduzz.com/widget/main.js';
    var x = document.getElementsByTagName('script')[0];
    if (!x) x = document.getElementsByTagName('body')[0].firstChild();
    x.parentNode.insertBefore(s, x);
    })();
</script>
</script>