<!doctype html>
<html lang="pt-BR">
   
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1190">#}
    {% block title %}<title>Portal AZ - Informação de verdade</title>{% endblock %}
    {% block description %}<meta name="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">{% endblock %}
    {% block keywords %}<meta name="keywords" content="Teresina, Portal AZ, portal, az, notícias, Piauí, internet, colunas, Arimateia, Azevedo, blog, politica, esportes, jornal, entrevista, entretenimento, concursos, policia, promoção, festas">{% endblock %}

    {% block facebook_opengraph %}
        <meta property="fb:app_id" content="436298566450701">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.portalaz.com.br/">
        <meta property="og:title" content="Portal AZ - Informação de verdade">
        <meta property="og:image" content="{{ asset('front/images/portalaz-logo.png') }}">
        <meta property="og:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
        <meta property="og:site_name" content="Portal AZ">
        <meta property="og:locale" content="pt_BR">
    {% endblock %}
    {% block twitter_card %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@portalaz">
        <meta name="twitter:title" content="Portal AZ - Informação de verdade">
        <meta name="twitter:image" content="{{ asset('front/images/portalaz-logo.png') }}">
        <meta name="twitter:description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
    {% endblock %}
    {% block google_plus %}
        <meta itemprop="name" content="Portal AZ - Informação de verdade">
        <meta itemprop="description" content="Um portal comprometido com a verdade, onde você encontra notícias sobre Teresina, Piauí, Brasil e o mundo.">
        <meta itemprop="image" content="{{ asset('front/images/portalaz-logo.png') }}">
    {% endblock %}

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">
    <!-- Homescreen on Chrome <39 no Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Portal AZ">
    <link rel="icon" sizes="192x192" href="{{ asset('front/images/touch/chrome-touch-icon-192x192.png') }}">
    <!-- Safari homepage on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Portal AZ">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <!-- Tile icon to Win8 (144x144 + cor) -->
    <meta name="msapplication-TileImage" content="{{ asset('front/images/touch/ms-touch-icon-144x144-precomposed.png') }}">
    <meta name="msapplication-TileColor" content="#007AFF">
    <meta name="theme-color" content="#007AFF">
    <!-- Styles -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('front/styles/main.css') }}">
    {#<link rel="stylesheet" href="{{ asset('front/styles/mod.css') }}">#}
    <link rel="stylesheet" href="{{ asset('front/styles/dex.css') }}">
    <link rel="stylesheet" href="{{ asset('front/styles/card.css') }}">
    <link rel="stylesheet" href="{{ asset('front/styles/register.css') }}">
    <!-- Scripts -->
    <script src="{{ asset('front/scripts/modernizr.js') }}"></script>
    <script src="{{ asset('front/scripts/vue.js') }}"></script>
    <script src="{{ asset('front/scripts/profile.components.vue.js') }}" ></script>
    {{ include('ClientBundle:Eduzz:_eduzzWidget.html.twig') }}
</head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark justify-content-center" style="background-color: rgba(0,0,0,.78);">
            <a class="d-block d-sm-block navbar-brand mx-2 mx-lg-2 py-4" href="{{ path('home') }}">
                <img class="img-responsive" src="{{ asset('front/images/portalaz-logo.png') }}" style="max-height: 60px;">
            </a>
            </div>
        </nav>

        {% block container %}{% endblock %}

        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="container-fluid" style="margin-top: 20px;">
            <div class="d-flex flex-column align-items-center" style="margin-top: 50px;">

                {% block formsElements %}

                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        O formulário contêm erros
                    </div>                    
                {% endif %}

                    <div class="alert alert-danger" style="display: none" id="error-message">
                        O formulário contêm erros
                    </div>

                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                
                <div class="form-inline flex-column align-items-center my-2 my-lg-0 js-checkout-form">

                <div class="d-inline-block register-form-wrapper my-4" id="step-1">
                    <div class="register-title">
                        <h5>Escolha seu plano</h5>
                    </div>
                    {% for plan in plans %}
                        <div class="register-plan-card">
                            <input name="plan" type="radio" value="{{ plan.eduzzCode|default('') }}" id="plan-{{ plan.id }}" >
                            <label for="plan-{{ plan.id }}">
                                <div class="{{ plan.recommended ? 'register-plan-recomended' : 'register-plan-no-recomended' }}">
                                    <span> RECOMENDADO </span>
                                </div>
                                <div class="register-plan-card-label" id="plan-label"> {{ plan.getLabel() }} </div>
                                <div class="register-plan-card-price" id="plan-ammount"> R$ <span>{{ plan.ammountPerPayment|replace({ '.':',' }) }}</span><span class='plan-apostrophe'>/{{ plan.getPeriodicity() }}</span></div>
                                <div class="register-plan-card-note" id="plan-details"> *{{ plan.details }} </div>
                                <div class="register-plan-card-bottom card-bottom-gradient-{{ loop.index }} "> </div>
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="register-separator">
                </div>

                <div class="register-submit">
                    <div>
                        <button id="client_submit" type="button" name="client[submit]" onclick="openEduzzWidget()">
                            <div class="lds-ellipsis" style="display: none" id="loading-dots">
                                <div></div><div></div><div></div><div></div>
                            </div>
                            <span id="button-submit-text">Pagar</span>
                        </button>
                    </div>
                </div>

                </div>
                {% endblock %}
            </div>

            <div class="row paz-footer--main justify-content-center">
                <div class="col-md-5" align="center">
                    <div align="center">
                        <img class="img-responsive" src="{{ asset('front/images/portalaz.svg') }}" style="max-height: 95px; max-width: 300px;">
                    </div>
                    <ul class="nav justify-content-center" style="margin-top: 20px;">
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-fb" href="https://www.facebook.com/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-tw" href="https://twitter.com/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link paz-icon--social-ig" href="http://instagr.am/portalaz/"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled paz-icon--social-yt" href="https://www.youtube.com/user/portalaz"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled paz-icon--social-wa paz-tooltip--left paz-tooltip--icon" data-paz-tooltip="86 99981-8563" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 paz-rights">© Portal AZ 2000 - 2019 Todos os direitos reservados</div>
            </div>
        </div>

        {% block scripts %}
        <script>

            // Controlling the Radio Set of Plans
            var planInputs = Array.from(document.querySelectorAll("input[name=plan]"));
            planInputs.forEach(function(el, r){                
                el.addEventListener('click', function(e){
                    for(var i = 0; i < planInputs.length; i++){
                        var radio = planInputs[i];
                        radio.classList.remove('plan-disabled');
                        if(el.value !== radio.value){
                            radio.classList.add('plan-disabled');
                        }
                    }
                })
            })

            function checkRadioInputs(radios){
                for(var i = 0; i < radios.length; i++){
                    if(radios[i].checked) return true;
                }
                return false;
            }
            // ==================================================================

            // names - a list of input name
            function getInputsByName(names){
                var list = [], el;
                for(var i = 0; i < names.length; i++){
                    el = document.querySelector("input[name='" + names[i] + "']");
                    if(el !== null){
                        list.push(el)
                    }
                }
                return list;
            }

            var stepStates = [0];

            var buttonSubmit = document.querySelector("button[id=client_submit]")

            function setStepState(states, i, bool){
                states[i] = bool ? 1 : 0;
            }

            function handleActiveSubmitButton(states, button){
               var status = false;
               for(var i = 0; i < states.length; i++){
                    if(states[i] == 0) status = true;
               }
               button.disabled = status;
            }

            handleActiveSubmitButton(stepStates, buttonSubmit)

            var groups = [
                {
                    key: 'plan',
                    list: planInputs,
                    checker: checkRadioInputs
                },
            ]

            // Adding listeners to groups
            groups.forEach(function(group, index){
                var list = group.list;
                var key = group.key;
                var checker = group.checker;

                list.forEach(function(el){
                    var eventName = 'change';
                    if(key == 'plan') eventName = 'click';
                    el.addEventListener(eventName, function(){
                        var bool = checker(list);
                        setStepState(stepStates, index, bool);
                        handleActiveSubmitButton(stepStates, buttonSubmit)
                    })
                })
            })

            </script>

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('front/scripts/slider.js') }}"></script>
        <script src="{{ asset('front/scripts/carousel.js') }}"></script>
        <script src="{{ asset('front/scripts/main.js') }}"></script>
        <script src="{{ asset('front/scripts/jquery.mask.min.js') }}"></script>
        <script src="{{ asset('front/scripts/utils.js') }}"></script>
        <script>
            function openEduzzWidget() {
                var productId = $('input[name=plan]:checked').val();

                console.log('productId >> ', productId);

                window.open(`https://sun.eduzz.com/${productId}`, '_self');  
                
                // Eduzz('Widget', { id: productId }, this);
            }
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147080192-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147080192-1');
        </script>
        
    </body>

</html>