{% extends 'ClientBundle:Eduzz:registerEduzz.html.twig' %}


{% block formsElements %}

<div class="d-inline-block register-form-wrapper my-4 register-checkout-wrapper">
    <div class="register-title">
        <div>
            <h5 style="color: #03a678;">Compra concluída com sucesso!</h5>
        </div>
    </div>

    {% set plan_index = 0 %}
    
    <div class="register-checkout-congrats">
        <p>
            Muito obrigado {{ buyer|default('') }}! você já pode acessar o conteúdo exclusivo do Portal, basta entrar com seu e-mail e senha na próxima página. 
            Você será redirecionado automaticamente, se isso não acontecer <a href="{{ redirectUrl|default(path('client_login')) }}">clique aqui</a>.
        </p>
    </div>
</div>


{% endblock %}


{% block scripts %}
<script>
    var registerStepElems = Array.from(document.getElementsByClassName('register-step'));
    var stepStates = [1, 1, 1];

    function applyStylesOnStepBar(states, stepElems){
        var activedIndex = stepStates.length;
        for(var i = 0; i < stepStates.length; i++){
            if(stepStates[i] == 0){
                stepElems[i].classList.add('register-step-active');
                stepElems[i].innerHTML = "" + (i + 1);
                activedIndex = i;
                break;
            }
            else{
                stepElems[i].classList.add('register-step-active');
                stepElems[i].innerHTML = "&#10004;";
            }
        }
        for(var i = activedIndex + 1; i < stepStates.length; i++){
        stepElems[i].classList.remove('register-step-active');
        stepElems[i].innerHTML = "" + (i + 1);
        }
    }

    applyStylesOnStepBar(stepStates, registerStepElems)

    // Redirecionando o usuário após 8 segundos
    setTimeout(function(){
        window.location.href = "{{ redirectUrl|default(path('client_login')) }}"
    }, 30000);
</script>
{% endblock %}
