{% extends 'BackBundle::base.html.twig' %}

{% block comercial %}
    <li class="nav-dropdown active open">
{% endblock %}

{% block comercialcustomer %}
    <li class="active open">
{% endblock %}

{% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Cadastro</a></li>
            <li class="active"><a href="javascript:;">Clientes</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Clientes</h2>
    </div>

    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
    <div class="container-fluid-md">
        <a href="{{ path('company_index', { 'page': 1 }) }}" class="btn btn-info">Voltar</a>
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Cadastrar novo cliente</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-lg-6">
                            {{ form_label(form.description, "Nome", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.description) }}
                            <div class="controls">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form_label(form.address, "Endereço", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.address) }}
                            <div class="controls">
                                {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.number, "Número", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.number) }}
                            <div class="controls">
                                {{ form_widget(form.number, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-5">
                            {{ form_label(form.complement, "Complemento", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.complement) }}
                            <div class="controls">
                                {{ form_widget(form.complement, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-5">
                            {{ form_label(form.neighborhood, "Bairro", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.neighborhood) }}
                            <div class="controls">
                                {{ form_widget(form.neighborhood, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.city, "Cidade", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.city) }}
                            <div class="controls">
                                {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.state, "Estado", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.state) }}
                            <div class="controls">
                                {{ form_widget(form.state, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.zip, "CEP", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.zip) }}
                            <div class="controls">
                                {{ form_widget(form.zip, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-4">
                            {{ form_label(form.email, "E-mail", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.email) }}
                            <div class="controls">
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.phone1, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.phone1) }}
                            <div class="controls">
                                {{ form_widget(form.phone1, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.phone2, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.phone2) }}
                            <div class="controls">
                                {{ form_widget(form.phone2, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            {{ form_label(form.phone3, "Telefone", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(form.phone3) }}
                            <div class="controls">
                                {{ form_widget(form.phone3, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="container-fluid-md"><br><br></div>

{% endblock %}
