<!doctype html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="DEX Soluções">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Portal AZ{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('back/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/css/veneto-admin.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/css/demo.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/css/paywall.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/css/easy-autocomplete.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/css/subscribers-admin.css') }}" />
    {% endblock %}
    {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />#}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">

    <link rel="icon" type="image/x-icon" href="{{ asset('back/images/favicon.png') }}" />

</head>
<body class="">
<header>
    <nav class="navbar navbar-default navbar-static-top no-margin" role="navigation">
        <div class="navbar-brand-group">
            <a class="navbar-sidebar-toggle navbar-link" data-sidebar-toggle>
                <i class="fa fa-lg fa-fw fa-bars"></i>
            </a>
            <a class="navbar-brand hidden-xxs" href="#">
                        <span class="sc-visible">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <span class="sc-hidden">
                            <span class="bold">Portal AZ</span> Admin
                        </span>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-nav-expanded pull-right margin-md-right">
            <!--<li class="hidden-xs">
                <form class="navbar-form">
                    <div class="navbar-search">
                        <input type="text" placeholder="Search &hellip;" class="form-control">
                        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span class="badge badge-up badge-dark badge-small">3</span>
                </a>
                <ul class="dropdown-menu dropdown-messages pull-right">
                    <li class="dropdown-title bg-inverse">New Messages</li>
                    <li class="unread">
                        <a href="javascript:;" class="message">
                            <img class="message-image img-circle" src="demo/images/avatars/1.jpg">

                            <div class="message-body">
                                <strong>Ernest Kerry</strong><br>
                                Hello, You there?<br>
                                <small class="text-muted">8 minutes ago</small>
                            </div>
                        </a>
                    </li>
                    <li class="unread">
                        <a href="javascript:;" class="message">
                            <img class="message-image img-circle" src="demo/images/avatars/3.jpg">

                            <div class="message-body">
                                <strong>Don Mark</strong><br>
                                I really appreciate your &hellip;<br>
                                <small class="text-muted">21 hours</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="message">
                            <img class="message-image img-circle" src="demo/images/avatars/8.jpg">

                            <div class="message-body">
                                <strong>Jess Ronny</strong><br>
                                Let me know when you free<br>
                                <small class="text-muted">5 days ago</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="message">
                            <img class="message-image img-circle" src="demo/images/avatars/7.jpg">

                            <div class="message-body">
                                <strong>Wilton Zeph</strong><br>
                                If there is anything else &hellip;<br>
                                <small class="text-muted">06/10/2014 5:31 pm</small>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-footer">
                        <a href="javascript:;"><i class="fa fa-share"></i> See all messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <i class="glyphicon glyphicon-globe"></i>
                    <span class="badge badge-up badge-danger badge-small">3</span>
                </a>
                <ul class="dropdown-menu dropdown-notifications pull-right">
                    <li class="dropdown-title bg-inverse">Notifications (3)</li>
                    <li>
                        <a href="javascript:;" class="notification">
                            <div class="notification-thumb pull-left">
                                <i class="fa fa-clock-o fa-2x text-info"></i>
                            </div>
                            <div class="notification-body">
                                <strong>Call with John</strong><br>
                                <small class="text-muted">8 minutes ago</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="notification">
                            <div class="notification-thumb pull-left">
                                <i class="fa fa-life-ring fa-2x text-warning"></i>
                            </div>
                            <div class="notification-body">
                                <strong>New support ticket</strong><br>
                                <small class="text-muted">21 hours ago</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="notification">
                            <div class="notification-thumb pull-left">
                                <i class="fa fa-exclamation fa-2x text-danger"></i>
                            </div>
                            <div class="notification-body">
                                <strong>Running low on space</strong><br>
                                <small class="text-muted">3 days ago</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="notification">
                            <div class="notification-thumb pull-left">
                                <i class="fa fa-user fa-2x text-muted"></i>
                            </div>
                            <div class="notification-body">
                                New customer registered<br>
                                <small class="text-muted">06/18/2014 12:31 am</small>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-footer">
                        <a href="javascript:;"><i class="fa fa-share"></i> See all notifications</a>
                    </li>
                </ul>
            </li>-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle navbar-user" href="javascript:;">
                    <!--<img class="img-circle" src="demo/images/profile.jpg">-->
                    <span class="hidden-xs">Bem vindo, {{ app.user.username }}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right-xs">
                    <li class="arrow"></li>
                    <li><a href="{{ path('buscaperfil') }}">Perfil</a></li>
                    <!--<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                    <li><a href="javascript:;">Messages</a></li>
                    <li><a href="javascript:;">Settings</a></li>-->
                    <li class="divider"></li>
                    <li><a href="{{ path('admin_logout') }}">Sair</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</header>
<div class="page-wrapper">
    <aside class="sidebar sidebar-default">
        <div class="sidebar-profile">
            <div align="center">
                <img src="{{ asset('back/images/icone.png') }}" class="img-responsive" alt="" align="middle" style="max-height: 100px;" />
            </div>
            {#<img class="img-circle profile-image" src="demo/images/profile.jpg">

            <div class="profile-body">
                <h4>Marlon Brice</h4>

                <div class="sidebar-user-links">
                    <a class="btn btn-link btn-xs" href="pages-profile.html" data-placement="bottom" data-toggle="tooltip" data-original-title="Profile"><i class="fa fa-user"></i></a>
                    <a class="btn btn-link btn-xs" href="javascript:;"       data-placement="bottom" data-toggle="tooltip" data-original-title="Messages"><i class="fa fa-envelope"></i></a>
                    <a class="btn btn-link btn-xs" href="javascript:;"       data-placement="bottom" data-toggle="tooltip" data-original-title="Settings"><i class="fa fa-cog"></i></a>
                    <a class="btn btn-link btn-xs" href="pages-sign-in.html" data-placement="bottom" data-toggle="tooltip" data-original-title="Logout"><i class="fa fa-sign-out"></i></a>
                </div>
            </div>#}
        </div>
        <nav>
            <h5 class="sidebar-header">Menu</h5>
            <ul class="nav nav-pills nav-stacked">
                {% block estatisticas %}<li>{% endblock %}
                    <a href="{{ path('bem_vindo') }}" title="Estatísticas">
                        <i class="fa fa-lg fa-fw fa-home"></i> Estatísticas
                    </a>
                </li>
                {% block seguranca %}<li class="nav-dropdown">{% endblock %}
                    <a href="#" title="Acesso">
                        <i class="fa fa-lg fa-fw fa-user"></i> Acesso
                    </a>
                    <ul class="nav-sub">
                        {% block segurancausuarios %}<li>{% endblock %}
                            <a href="{{ path('usuario_index', { 'page': 1 }) }}" title="Usuários">
                                <i class="fa fa-fw fa-caret-right"></i> Usuários
                            </a>
                        </li>
                    </ul>
                </li>
                {% block app %}<li class="nav-dropdown">{% endblock %}
                    <a href="#" title="Acesso">
                        <i class="fa fa-lg fa-fw fa-mobile"></i> Aplicativo
                    </a>
                    <ul class="nav-sub">
                        {% block appinstalacoess %}<li>{% endblock %}
                            <a href="{{ path('installation_index', { 'page': 1 }) }}" title="Instalações">
                                <i class="fa fa-fw fa-caret-right"></i> Instalações
                            </a>
                        </li>
                        {% block appusuarios %}<li>{% endblock %}
                            <a href="{{ path('usuario_index_app', { 'page': 1 }) }}" title="Usuários">
                                <i class="fa fa-fw fa-caret-right"></i> Usuários
                            </a>
                        </li>
                        {% block apppush %}<li>{% endblock %}
                            <a href="{{ path('push_index', { 'page': 1 }) }}" title="Enviar Push">
                                <i class="fa fa-fw fa-caret-right"></i> Enviar Push
                            </a>
                        </li>
                    </ul>
                </li>
                {% block assinaturas %}<li class="nav-dropdown">{% endblock %}
                    <a href="#" title="Acesso">
                        <i class="fa fa-lg fa-fw fa-users"></i> Assinaturas
                    </a>
                    <ul class="nav-sub">
                        {% block assinaturasplanos %}<li>{% endblock %}
                            <a href="{{ path('list_plans') }}" title="Planos">
                                <i class="fa fa-fw fa-caret-right"></i> Planos
                            </a>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% block assinaturasassinantes %}<li>{% endblock %}
                                <a href="{{ path('list_subscribers') }}" title="Assinantes">
                                    <i class="fa fa-fw fa-caret-right"></i> Assinantes
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {% block cadastro %}<li class="nav-dropdown">{% endblock %}
                    <a href="#" title="Cadastro">
                        <i class="fa fa-lg fa-fw fa-book"></i> Cadastro
                    </a>
                    <ul class="nav-sub">
                        {% block cadastrocity %}<li>{% endblock %}
                            <a href="{{ path('city_index') }}" title="Cidades">
                                <i class="fa fa-fw fa-caret-right"></i> Cidades
                            </a>
                        </li>
                        {% block cadastroeditorial %}<li>{% endblock %}
                            <a href="{{ path('editorial_index') }}" title="Editorias">
                                <i class="fa fa-fw fa-caret-right"></i> Editorias
                            </a>
                        </li>
                        {% block cadastronewsgroup %}<li>{% endblock %}
                            <a href="{{ path('newsgroup_index') }}" title="Grupo de Notícias">
                                <i class="fa fa-fw fa-caret-right"></i> Grupo de notícias
                            </a>
                        </li>
                        {% block cadastrosocial %}<li>{% endblock %}
                            <a href="{{ path('social_index') }}" title="Redes Sociais">
                                <i class="fa fa-fw fa-caret-right"></i> Redes sociais
                            </a>
                        </li>
                        {% block cadastrosocialgroup %}<li>{% endblock %}
                            <a href="{{ path('socialgroup_index') }}" title="Grupo de Redes Sociais">
                                <i class="fa fa-fw fa-caret-right"></i> Grupo de redes sociais
                            </a>
                        </li>
                        {% block cadastrolocation %}<li>{% endblock %}
                            <a href="{{ path('location_index') }}" title="Localizações">
                                <i class="fa fa-fw fa-caret-right"></i> Localizações
                            </a>
                        </li>
                    </ul>
                </li>
                {% block redacao %}<li class="nav-dropdown">{% endblock %}
                    <a href="#" title="Acesso">
                        <i class="fa fa-lg fa-fw fa-pencil"></i> Redação
                    </a>
                    <ul class="nav-sub">
                        {#{% block redacaoariarticle %}<li>{% endblock %}
                            <a href="{{ path('ariarticle_index') }}" title="Arimateia Azevedo">
                                <i class="fa fa-fw fa-caret-right"></i> Arimateia Azevedo
                            </a>
                        </li>#}
                        {% block redacaoarticle %}<li>{% endblock %}
                            <a href="{{ path('article_index') }}" title="Publicações">
                                <i class="fa fa-fw fa-caret-right"></i> Publicações
                            </a>
                        </li>
                        {% block redacaoschedule %}<li style="display: none;">{% endblock %}
                            <a href="{{ path('schedule_index') }}" title="Agendamento">
                                <i class="fa fa-fw fa-caret-right"></i> Agendamento
                            </a>
                        </li>
                        {% block redacaoslide %}<li>{% endblock %}
                            <a href="{{ path('slide_index') }}" title="Slides">
                                <i class="fa fa-fw fa-caret-right"></i> Slides
                            </a>
                        </li>
                        {% block redacaoculture %}<li>{% endblock %}
                            <a href="{{ path('culture_index') }}" title="Agenda Cultural">
                                <i class="fa fa-fw fa-caret-right"></i> Agenda cultural
                            </a>
                        </li>
                        {% block redacaofeature %}<li>{% endblock %}
                            <a href="{{ path('feature_index') }}" title="Destaques">
                                <i class="fa fa-fw fa-caret-right"></i> Destaques
                            </a>
                        </li>
                        {% block redacaourgente %}<li>{% endblock %}
                            <a href="{{ path('urgente_index') }}" title="Noticias Urgentes">
                                <i class="fa fa-fw fa-caret-right"></i> Noticias Urgentes
                            </a>
                        </li>
                    </ul>
                </li>
                {% block media %}<li class="nav-dropdown">{% endblock %}
                    <a href="#" title="Acesso">
                        <i class="fa fa-lg fa-fw fa-image"></i> Galeria de mídias
                    </a>
                    <ul class="nav-sub">
                        {% block mediaimage %}<li>{% endblock %}
                            <a href="{{ path('image_index') }}" title="Imagens">
                                <i class="fa fa-fw fa-caret-right"></i> Imagens
                            </a>
                        </li>
                        {% block mediadocument %}<li>{% endblock %}
                            <a href="{{ path('document_index') }}" title="Documentos">
                                <i class="fa fa-fw fa-caret-right"></i> Documentos
                            </a>
                        </li>
                    </ul>
                </li>
                {% block comercial %}<li class="nav-dropdown">{% endblock %}
                    <a href="#" title="Acesso">
                        <i class="fa fa-lg fa-fw fa-credit-card"></i> Comercial
                    </a>
                    <ul class="nav-sub">
                        {% block comercialcompany %}<li>{% endblock %}
                            <a href="{{ path('company_index', {'page' : 1}) }}" title="Agências">
                                <i class="fa fa-fw fa-caret-right"></i> Agências
                            </a>
                        </li>
                        {% block comercialcustomer %}<li>{% endblock %}
                            <a href="{{ path('customer_index', {'page' : 1}) }}" title="Cientes">
                                <i class="fa fa-fw fa-caret-right"></i> Clientes
                            </a>
                        </li>
                        {% block comercialbanner %}<li>{% endblock %}
                            <a href="{{ path('banner_index') }}" title="Banners">
                                <i class="fa fa-fw fa-caret-right"></i> Banners
                            </a>
                        </li>
                        {% block comercialadvertising %}<li>{% endblock %}
                            <a href="{{ path('advertising_index') }}" title="Veiculação">
                                <i class="fa fa-fw fa-caret-right"></i> Veiculação
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            {#<h5 class="sidebar-header">Resumo</h5>
            <ul class="sidebar-summary">
                <li>
                    <div class="mini-chart mini-chart-block">
                        <div class="chart-details">
                            <div class="chart-name">Total de Clientes</div>
                            <div class="chart-value">0</div>
                        </div>
                        <div id="mini-chart-sidebar-1" class="chart pull-right"></div>
                    </div>
                </li>
                <li>
                    <div class="mini-chart mini-chart-block">
                        <div class="chart-details">
                            <div class="chart-name">Total de Produtos</div>
                            <div class="chart-value">0</div>
                        </div>
                        <div id="mini-chart-sidebar-2" class="chart pull-right"></div>
                    </div>
                </li>
                <li>
                    <div class="mini-chart mini-chart-block">
                        <div class="chart-details">
                            <div class="chart-name">Total de Vendas</div>
                            <div class="chart-value">R$ 0,00</div>
                        </div>
                        <div id="mini-chart-sidebar-3" class="chart pull-right"></div>
                    </div>
                </li>
            </ul>#}
        </nav>
    </aside>

    <div class="page-content">
        {% block container %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.min.js"></script>
    <![endif]-->
    <script src="{{ asset('back/js/jquery.min.js') }}"></script>
    <script src="{{ asset('back/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('back/js/jquery.navgoco.js') }}"></script>
    <script src="{{ asset('back/js/main.js') }}"></script>
    <script src="{{ asset('back/js/jquery.sparkline.js') }}"></script>
    <script src="{{ asset('back/js/demo.js') }}"></script>
    <script src="{{ asset('front/scripts/jquery.mask.min.js') }}"></script>
    <script src="https://use.fontawesome.com/8ec6b22319.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="{{ asset('back/js/utils.js') }}"></script>
{% endblock %}

</body>
</html>
