{% extends 'base.html.twig' %}

{% block gateway %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block gatewayantecipacao %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Gateway</a></li>
            <li class="active"><a href="javascript:;">Antecipação</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Antecipação</h2>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Recebíveis disponíveis - Quantidade: {{ quantidade }}</h4>

                    <div class="panel-options">
                        <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                        <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                        <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="20%">Código</th>
                            <th width="20%">Data</th>
                            <th width="20%">Valor</th>
                            <th width="40%">Fatura</th>
                            <th width="10%">Parcela</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recebivel in recebivels %}
                            <tr>
                                <td>{{ recebivel['id'] }}</td>
                                <td>{{ recebivel['data'] }}</td>
                                <td>{{ recebivel['valor'] }}</td>
                                <td>{{ recebivel['fatura'] }}</td>
                                <td>{{ recebivel['parcela'] }}/{{ recebivel['parcela_total'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid-md">
        <br><br>
    </div>

{% endblock %}