{% extends 'base.html.twig' %}

{% block gateway %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block gatewayinfo %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Gateway</a></li>
            <li class="active"><a href="javascript:;">Informações</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Informações</h2>
    </div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-credit-card fa-fw"></i> Valores </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-check-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ info['saldo_disponivel'] }} </div>
                                <div>Saldo disponível</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">R$ {{ info['saldo_receber_sem_taxas']|number_format(2,',','.') }} </div>
                                <div>Saldo a receber</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-brown">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-times-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">R$ {{ info['saldo_protegido'] }}</div>
                                <div>Saldo protegido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                {#<div class="panel panel-purple">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{ info['volume_mensal']|number_format(2,',','.') }} </div>
                                <div>Volume recebido</div>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    </div>

    {% if mensagem.tipo == 'erro' %}
        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong>Erro:</strong> {{ mensagem.mensagem }}.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if mensagem.tipo == 'sucesso' %}
        <div class="container-fluid-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <strong>Sucesso:</strong> {{ mensagem.mensagem }}.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



    {{ form_start(saque_form, { 'attr': {'role': 'form'} }) }}

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Realizar Saque</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-4">
                            {{ form_label(saque_form.valor, "Valor", {'label_attr': {'class':'control-label'}}) }}
                            {{ form_errors(saque_form.valor) }}
                            <div class="controls">
                                {{ form_widget(saque_form.valor, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group col-md-1" style="margin-top: 23px;">
                            <input type="submit" value="Sacar" class="btn btn-success" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(saque_form) }}

    <div><br></div>

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Informações - {% if info['verificacao'] == true %}Conta verificada{% else %}Conta não verificada{% endif %}</h4>
                        <div class="panel-options">
                            <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-md-6">
                            <label for="responsavel">Responsável</label>
                            <input class="form-control" id="responsavel" type="text" placeholder="{{ info['responsavel'] }}" disabled>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cpf_responsavel">CPF Responsável</label>
                            <input class="form-control" id="cpf_responsavel" type="text" placeholder="{{ info['cpf_responsavel'] }}" disabled>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="tipo_pessoa">Tipo Pessoa</label>
                            <input class="form-control" id="tipo_pessoa" type="text" placeholder="{{ info['tipo_pessoa'] }}" disabled>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="banco">Banco</label>
                            <input class="form-control" id="banco" type="text" placeholder="{{ info['banco'] }}" disabled>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="agencia">Agência</label>
                            <input class="form-control" id="agencia" type="text" placeholder="{{ info['agencia'] }}" disabled>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="conta">Conta</label>
                            <input class="form-control" id="conta" type="text" placeholder="{{ info['conta'] }}" disabled>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="tipo">Tipo</label>
                            <input class="form-control" id="tipo" type="text" placeholder="{{ info['tipo_conta'] }}" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid-md">
        <br><br>
    </div>

{% endblock %}