{% extends 'base.html.twig' %}

{% block gateway %}
<li class="nav-dropdown active open">
    {% endblock %}

    {% block gatewaysaque %}
<li class="active open">
    {% endblock %}

    {% block container %}

    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb">
            <li><a href="javascript:;">Administração</a></li>
            <li><a href="javascript:;">Gateway</a></li>
            <li class="active"><a href="javascript:;">Saques</a></li>
        </ol>
    </div>
    <div class="page-heading page-heading-md">
        <h2>Saques</h2>
    </div>

    <div class="container-fluid-md"><br><br></div>

    <div class="container-fluid-md">
        <div class="table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Saques solicitados</h4>

                    <div class="panel-options">
                        <!--<a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                        <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                        <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="30%">Código</th>
                            <th width="30%">Data</th>
                            <th width="40%">Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for saque in saques %}
                            <tr>
                                <td>{{ saque.id_iugu }}</td>
                                <td>{{ saque.created_at|date('d/m/Y') }}</td>
                                <td>{{ saque.valor|number_format() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid-md">
        <br><br>
    </div>

{% endblock %}